<div class="row">
    <div class="col xs-12">
        <h1 class="header">Styles</h1>
        <h5 class="subheader thin no-margin">Easily change the look of your tables to better fit your data.</h5>
    </div>
</div>

<hr class="light" />
{% include "templates/docs/tables/styles/narrow.njk" %}

<hr class="light" />
{% include "templates/docs/tables/styles/striped.njk" %}

<hr class="light" />
{% include "templates/docs/tables/styles/bordered.njk" %}

<hr class="light" />
{% include "templates/docs/tables/styles/hoverable.njk" %}

<hr class="light" />
{% include "templates/docs/tables/styles/full_width.njk" %}

<hr class="light" />
{% include "templates/docs/tables/styles/combinations.njk" %}
