<div class="row">
    <div class="col xs-12">
        <h1 class="header">Vertical Alignment</h1>
        <h5 class="subheader thin no-margin">Easily vertically align the content within a table cell.</h5>
    </div>
    <div class="col xs-12 md-6">
		<table>
            <caption>Table Caption</caption>
            <thead>
                <tr>
                    <th>Table Header</th>
                    <th>Table Header</th>
                    <th>Table Header</th>
                    <th>Table Header</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="bg-light" style="height: 100px;"></td>
                    <td class="vertical-align-top text-center">Top</td>
                    <td class="vertical-align-middle text-center">Middle</td>
                    <td class="vertical-align-bottom text-center">Bottom</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col xs-12 md-6">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt;table&gt;
    &lt;caption&gt;Table Caption&lt;/caption&gt;
    &lt;thead&gt;
        &lt;tr&gt;
            &lt;th&gt;Table Header&lt;/th&gt;
            &lt;th&gt;Table Header&lt;/th&gt;
            &lt;th&gt;Table Header&lt;/th&gt;
            &lt;th&gt;Table Header&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
        &lt;tr&gt;
            &lt;td class="bg-light" style="height: 100px;"&gt;&lt;/td&gt;
            &lt;td class="vertical-align-top"&gt;Top&lt;/td&gt;
            &lt;td class="vertical-align-middle"&gt;Middle&lt;/td&gt;
            &lt;td class="vertical-align-bottom"&gt;Bottom&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;</code></pre>
        </div>
    </div>
</div>