<div class="row">
    <div class="col xs-12">
        <h1 class="header">Accordions</h1>
        <h5 class="subheader thin no-margin">Accordions are useful for toggling information beneath headers</h5>
    </div>
</div>

<hr class="light" />
{% include "templates/docs/accordions/base/default.njk" %}

<hr class="light" />
{% include "templates/docs/accordions/base/mutually_exclusive.njk" %}
