<div class="row">
    <div class="col xs-12">
        <h1 class="header">Components</h1>
        <h5 class="subheader thin no-margin">An in-depth discussion on the various components of the sidebar.</h5>
    </div>
</div>

<hr class="light" />
{% include "templates/docs/sidebar/components/top_navbar.njk" %}
<hr class="light" />
{% include "templates/docs/sidebar/components/sticky_region.njk" %}
<hr class="light" />
{% include "templates/docs/sidebar/components/scroll_region.njk" %}
<hr class="light" />
{% include "templates/docs/sidebar/components/main_content.njk" %}