<div class="row">
    <div class="col xs-12">
        <h1 class="header">Borders</h1>
        <h5 class="subheader thin no-margin">Utility classes to manipulate your borders</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div>
            <span class="border bg-light" style="display: inline-flex; height: 50px; width: 50px; margin: 0.2em"></span>
            <span class="border border-red bg-light" style="display: inline-flex; height: 50px; width: 50px; margin: 0.2em"></span>
            <span class="border border-orange bg-light" style="display: inline-flex; height: 50px; width: 50px; margin: 0.2em"></span>
            <span class="border border-yellow bg-light" style="display: inline-flex; height: 50px; width: 50px; margin: 0.2em"></span>
            <span class="border border-green bg-light" style="display: inline-flex; height: 50px; width: 50px; margin: 0.2em"></span>
            <span class="border border-teal bg-light" style="display: inline-flex; height: 50px; width: 50px; margin: 0.2em"></span>
            <span class="border border-blue bg-light" style="display: inline-flex; height: 50px; width: 50px; margin: 0.2em"></span>
            <span class="border border-indigo bg-light" style="display: inline-flex; height: 50px; width: 50px; margin: 0.2em"></span>
            <span class="border border-purple bg-light" style="display: inline-flex; height: 50px; width: 50px; margin: 0.2em"></span>
            <span class="border border-pink bg-light" style="display: inline-flex; height: 50px; width: 50px; margin: 0.2em"></span>
            <span class="border border-light bg-light" style="display: inline-flex; height: 50px; width: 50px; margin: 0.2em"></span>
            <span class="border border-dark bg-light" style="display: inline-flex; height: 50px; width: 50px; margin: 0.2em"></span>
            <span class="border border-black bg-light" style="display: inline-flex; height: 50px; width: 50px; margin: 0.2em"></span>
            <span class="border border-white bg-light" style="display: inline-flex; height: 50px; width: 50px; margin: 0.2em"></span>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltspan class="border border-red bg-light" style="display: inline-block; height: 50px; width: 50px; margin: 0.2em"&gt &lt/span&gt</code></pre>
        </div>
    </div>
</div>
