<div class="row">
    <div class="col xs-12">
        <h1 class="header">Borders</h1>
        <h5 class="subheader thin no-margin">A collection of classes to make styling your borders a breeze.</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div>
            <span class="border-red bg-light" style="display: inline-flex; height: 50px; width: 50px; margin: 0.2em"></span>
            <span class="border-orange bg-light" style="display: inline-flex; height: 50px; width: 50px; margin: 0.2em"></span>
            <span class="border-yellow bg-light" style="display: inline-flex; height: 50px; width: 50px; margin: 0.2em"></span>
            <span class="border-green bg-light" style="display: inline-flex; height: 50px; width: 50px; margin: 0.2em"></span>
            <span class="border-teal bg-light" style="display: inline-flex; height: 50px; width: 50px; margin: 0.2em"></span>
            <span class="border-blue bg-light" style="display: inline-flex; height: 50px; width: 50px; margin: 0.2em"></span>
            <span class="border-indigo bg-light" style="display: inline-flex; height: 50px; width: 50px; margin: 0.2em"></span>
            <span class="border-purple bg-light" style="display: inline-flex; height: 50px; width: 50px; margin: 0.2em"></span>
            <span class="border-pink bg-light" style="display: inline-flex; height: 50px; width: 50px; margin: 0.2em"></span>
            <span class="border-light bg-light" style="display: inline-flex; height: 50px; width: 50px; margin: 0.2em"></span>
            <span class="border-dark bg-light" style="display: inline-flex; height: 50px; width: 50px; margin: 0.2em"></span>
            <span class="border-black bg-light" style="display: inline-flex; height: 50px; width: 50px; margin: 0.2em"></span>
            <span class="border-white bg-light" style="display: inline-flex; height: 50px; width: 50px; margin: 0.2em"></span>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltspan class="border border-red bg-light" style="display: inline-block; height: 50px; width: 50px; margin: 0.2em"&gt &lt/span&gt</code></pre>
        </div>
    </div>
</div>
