<div class="row">
    <div class="col xs-12">
        <h1 class="header">Extended</h1>
        <h5 class="subheader thin no-margin">Additional utilities to help you fine-tune boba to your needs</h5>
    </div>
</div>

<hr class="light" />
{% include "templates/docs/borders/extended/shades.njk" %}

<hr class="light" />
{% include "templates/docs/borders/extended/hover_shades.njk" %}

<hr class="light" />
{% include "templates/docs/borders/extended/active_shades.njk" %}