<div class="row">
    <div class="col xs-12">
        <h1 class="header">Extended</h1>
        <h5 class="subheader thin no-margin">Additional utilities to help you fine-tune your borders.</h5>
        <div class="message purple m-0">
            <div class="message-header">
                <p>Compatibility</p>
            </div>
            <div class="message-body">
                <p>These classes are only included in the full version of boba.</p>
            </div>
        </div> 
    </div>
</div>

<hr class="light" />
{% include "templates/docs/borders/extended/hover.njk" %}

<hr class="light" />
{% include "templates/docs/borders/extended/active.njk" %}

<hr class="light" />
{% include "templates/docs/borders/extended/combinations.njk" %}