<div class="row">
    <div class="col xs-12">
        <h1 class="header">Shades</h1>
        <h5 class="subheader thin">Even more utilities to help you create the perfect border color.</h5>
        <div class="message purple m-0">
            <div class="message-header">
                <p>Compatibility</p>
            </div>
            <div class="message-body">
                <p>These classes are only included in the full version of boba and only work with boba's core palette colors.</p>
            </div>
        </div> 
    </div>
</div>

<hr class="light" />
{% include "templates/docs/borders/shades/shades.njk" %}

<hr class="light" />
{% include "templates/docs/borders/shades/hover_shades.njk" %}

<hr class="light" />
{% include "templates/docs/borders/shades/active_shades.njk" %}