<div class="row">
    <div class="col xs-12">
        <h1 class="header">Styles</h1>
        <h5 class="subheader thin no-margin">Classes to style your tags</h5>
    </div>
    <div class="col xs-12 col-middle">
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="7"><span class="bold">Outline Styles</span</td>
                </tr>
                <tr>
                    <td><code class="inline">.border-dotted</code></td>
                    <td>Use the <code class="inline">.border-dotted</code> class to add a dotted border to an element.</td>
                    <td class="text-center"><span class="border-dotted border-dark bg-light" style="display: inline-block; height: 50px; width: 50px; vertical-align: middle;"></span></td>
                </tr>
                <tr>
                    <td><code class="inline">.border-dashed</code></td>
                    <td>Use the <code class="inline">.border-dashed</code> class to add a dashed border to an element.</td>
                    <td class="text-center"><span class="border-dashed border-dark bg-light" style="display: inline-block; height: 50px; width: 50px; vertical-align: middle;"></span></td>
                </tr>
                <tr>
                    <td><code class="inline">.border-thick</code></td>
                    <td>Use the <code class="inline">.border-thick</code> class to add a thick border to an element.</td>
                    <td class="text-center"><span class="border-thick border-dark bg-light" style="display: inline-block; height: 50px; width: 50px; vertical-align: middle;"></span></td>
                </tr>
                <tr>
                    <td><code class="inline">.border-thin</code></td>
                    <td>Use the <code class="inline">.border-thin</code> class to add a thin border to an element.</td>
                    <td class="text-center"><span class="border-thin border-dark bg-light" style="display: inline-block; height: 50px; width: 50px; vertical-align: middle;"></span></td>
                </tr>
                <tr>
                    <td><code class="inline">.border-transparent</code></td>
                    <td>Use the <code class="inline">.border-transparent</code> class to make the border of an element transparent.</td>
                    <td class="text-center"><span class="border-transparent border-dark bg-light" style="display: inline-block; height: 50px; width: 50px; vertical-align: middle;"></span></td>
                </tr>
                <tr>
                    <td><code class="inline">.border-none</code></td>
                    <td>Use the <code class="inline">.border-none</code> class to remove the border from an element.</td>
                    <td class="text-center"><span class="border-none border-dark bg-light" style="display: inline-block; height: 50px; width: 50px; vertical-align: middle;"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
