<div class="row">
    <div class="col xs-12">
        <h1 class="header">Styles</h1>
        <h5 class="subheader thin no-margin">Classes to style your tags</h5>
    </div>
    <div class="col xs-12 col-middle">
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="3"><span class="bold">Corners</span</td>
                </tr>
                <tr>
                    <td><code class="inline">.rounded</code></td>
                    <td>Add a <code class="inline">.rounded</code> with to round the corners </td>
                    <td><span class="border rounded bg-light" style="display: inline-block; height: 50px; width: 50px;"></span></td>
                </tr>
                <tr>
                    <td><code class="inline">.circular</code></td>
                    <td>Add a <code class="inline">.circular</code> with to make a circle</td>
                    <td><span class="border circular bg-light" style="display: inline-block; height: 50px; width: 50px;"></span></td>
                </tr>
                <tr>
                    <td rowspan="5"><span class="bold">Styles</span</td>
                </tr>
                <tr>
                    <td><code class="inline">.dotted</code></td>
                    <td>Add a <code class="inline">.dotted</code> to use a dotted border</td>
                    <td><span class="border dotted bg-light" style="display: inline-block; height: 50px; width: 50px;"></span></td>
                </tr>
                <tr>
                    <td><code class="inline">.dashed</code></td>
                    <td>Add a <code class="inline">.dashed</code> to use a dashed border</td>
                    <td><span class="border dashed bg-light" style="display: inline-block; height: 50px; width: 50px;"></span></td>
                </tr>
                <tr>
                    <td><code class="inline">.thick</code></td>
                    <td>Add a <code class="inline">.thick</code> to use a thick border</td>
                    <td><span class="border thick bg-light" style="display: inline-block; height: 50px; width: 50px;"></span></td>
                </tr>
                <tr>
                    <td><code class="inline">.thin</code></td>
                    <td>Add a <code class="inline">.thin</code> to use a thin border</td>
                    <td><span class="border thin bg-light" style="display: inline-block; height: 50px; width: 50px;"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
