<div class="row">
    <div class="col xs-12">
        <h1 class="header">Styles</h1>
        <h5 class="subheader thin no-margin">Classes to style your tags</h5>
    </div>
    <div class="col xs-12 col-middle">
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="5"><span class="bold">Outline Styles</span</td>
                </tr>
                <tr>
                    <td><code class="inline">.border-dotted</code></td>
                    <td>Add the <code class="inline">.border-dotted</code> to add a dotted border to an element.</td>
                    <td><span class="border-dotted border-dark bg-light" style="display: inline-block; height: 50px; width: 50px;"></span></td>
                </tr>
                <tr>
                    <td><code class="inline">.border-dashed</code></td>
                    <td>Add the <code class="inline">.border-dashed</code> to add a dashed border to an element.</td>
                    <td><span class="border-dashed border-dark bg-light" style="display: inline-block; height: 50px; width: 50px;"></span></td>
                </tr>
                <tr>
                    <td><code class="inline">.border-thick</code></td>
                    <td>Add the <code class="inline">.border-thick</code> to add a thick border to an element.</td>
                    <td><span class="border-thick border-dark bg-light" style="display: inline-block; height: 50px; width: 50px;"></span></td>
                </tr>
                <tr>
                    <td><code class="inline">.border-thin</code></td>
                    <td>Add the <code class="inline">.border-thin</code> to add a thin border to an element.</td>
                    <td><span class="border-thin border-dark bg-light" style="display: inline-block; height: 50px; width: 50px;"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
