<div class="row">
    <div class="col xs-12">
        <h1 class="header">Code Presenter</h1>
        <h5 class="subheader thin">Make code snippets more manageable.</h5>
        <div class="message blue">
            <div class="message-header">
                <p>Clarification</p>
            </div>
            <div class="message-body">
                <p>Syntax highlighting is powered by <a href="http://prismjs.com/" target="_blank">Prism</a> using <a href="https://github.com/iFallUpHill/gulp-prism" target="_blank">gulp-prism</a>. Boba does not include code syntax highlighting.</p>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
		<div class="code-block">
            <pre class="code"><code class="language-js">console.log("Boba is great!");</code></pre>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;div class="code-block"&gt;
    &lt;pre class="code"&gt;
        &lt;code class="language-javascript"&gt;
            console.log("Boba is great!");
        &lt;/code&gt;
    &lt;/pre&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>