<div class="row">
    <div class="col xs-12">
        <h1 class="header">Inline Code</h1>
        <h5 class="subheader thin no-margin">Draw attention to code fragments using the <code class="inline">.inline</code> class</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        This is an <code class="inline">.example-class</code>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">This is an &lt;code class="inline"&gt;.example-class&lt;/code&gt;</code></pre>
        </div>
    </div>
</div>