<div class="row">
    <div class="col xs-12">
        <h1 class="header">Keyboard Input</h1>
        <h5 class="subheader thin no-margin">Highlight short user inputs and keyboard shortcuts using the <code class="inline">kbd</code> tag.</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        Save your work by pressing <kbd>Cmd/Ctrl + s</kbd>.
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">Save your work by pressing &lt;kbd&gt;Cmd/Ctrl + s&lt;/kbd&gt;.</code></pre>
        </div>
    </div>
</div>