<div class="row">
    <div class="col xs-12">
        <h1 class="header">Sample Output</h1>
        <h5 class="subheader thin no-margin">Use the <code class="inline">samp</code> tag to distinguish sample output from a program.</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <samp>This is a sample output from running a program.</samp>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;samp&gt;This is a sample output from running a program.&lt;/samp&gt;</code></pre>
        </div>
    </div>
</div>