<div class="row">
    <div class="col xs-12">
        <h1 class="header">Variables</h1>
        <h5 class="subheader thin no-margin">Use the <code class="inline">var</code> tag to make mathematical variables and expressions more distinct.</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <var>y</var> = <var>m</var><var>x</var> + <var>b</var>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;var&gt;y&lt;/var&gt; = &lt;var&gt;m&lt;/var&gt;&lt;var&gt;x&lt;/var&gt; + &lt;var&gt;b&lt;/var&gt;</code></pre>
        </div>
    </div>
</div>