<div class="row">
    <div class="col xs-12">
        <h5>1.4.0</h5>
        <ul>
            <li>Added new collapsible component that deprecates the old accordion and menu components.</li>
            <li>Added new checkbox component for forms</li>
            <li>Added new radio component for forms.</li>
            <li>Added support for color and date input types.</li>
            <li>Added hover animations to buttons and styled collapsible headers for a more salient visual cue.</li>
            <li>Added missing documentation for width and height utilities.</li>
            <li>Added new accessibility mixins for more efficient code reuse.</li>
            <li>Added margin-bottom to paragraph tags (excluding the last-child).</li>
            <li>Renamed neutral colors into tint colors.</li>
            <li>Improved accessibility of navbar and collapsible components.</li>
            <li>Improved collapsible component to better support any type of contained content.</li>
            <li>Improved scss structure of tab component for better maintainability.</li>
            <li>Fixed bug with tab classes that caused them to have unintentional padding and gaps.</li>
            <li>Fixed bug with colored tabs that prevented them from having rounded corners when active.</li>
            <li>Fixed bug with full-width tables that prevented them from growing to be full-width.</li>
            <li>Simplified spacing for most elements and components by converting to only using margin-bottom where possible.</li>
            <li>Updated navbar documentation to include example of both left-aligned and right-aligned menu items in the same navbar.</li>
            <li>Updated breadcrumb, button, navbar, and pagination documentation pages as well as the quick start template to prevent the page from jumping to the top when interacting with examples.</li>
            <li>Adjusted breadcrumb styling to have more consistent spacing and behavior and removed unused styling properties.</li>
            <li>Adjusted card padding when using the borderless footer class to maintain equal spacing between card sections.</li>
            <li>Adjusted border classes to be more consistent with framework-wide sizing.</li>
            <li>Adjusted padding and color of inline code class for better readability.</li>
            <li>Switched default line-height from 1 to 1.5.</li>
            <li>Switched to default dark background color behind light-colored examples on background, border, and text utility pages.</li>
        </ul>
    </div>
</div>
