<div class="row">
    <div class="col xs-12">
        <h5>1.4.0</h5>
        <ul>
            <li>Renamed menu component into collapsible.</li>
            <li>Improved accessibility of navbar, accordion, and collapsible components.</li>
            <li>Improved collapsible component to better support any type of contained content.</li>
            <li>Added new checkbox component for forms</li>
            <li>Added new radio component for forms.</li>
            <li>Added missing documentation for width and height utilities.</li>
        	<li>Cleaned up lists component for more consistent spacing.</li>
            <li>Adjusted border classes to be more consistent with framework-wide sizing.</li>
            <li>Switched to default dark background color behind light-colored examples on background, border, and text pages.</li>
        </ul>
    </div>
</div>
