<div class="row">
    <div class="col xs-12">
        <h4 class="header">Row Align Center</h4>
        <h6 class="subheader thin no-margin">Align all columns in a row to the vertical center of the row using the <code class="inline">.row-align-center</code> class.</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="row row-align-center" style="height:200px;">
            <div class="col xs-4">
                <div class="bg-light text-center vertical-center-content" style="height:50px; border: 1px solid #d3d3d3">
                    .col .xs-4
                </div>
            </div>
            <div class="col xs-4">
                <div class="bg-light text-center vertical-center-content" style="height:100px; border: 1px solid #d3d3d3">
                    .col .xs-4
                </div>
            </div>
            <div class="col xs-4">
                <div class="bg-light text-center vertical-center-content" style="height:150px; border: 1px solid #d3d3d3">
                    .col .xs-4
                </div>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt;div class="row row-align-center"&gt;
    &lt;div class="col xs-4"&gt;
        &lt;div class="bg-light text-center vertical-center-content"&gt;
            .col .xs-4
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="col xs-4"&gt;
        &lt;div class="bg-light text-center vertical-center-content"&gt;
            .col .xs-4
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="col xs-4"&gt;
        &lt;div class="bg-light text-center vertical-center-content"&gt;
            .col .xs-4
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>