<div class="row">
    <div class="col xs-12">
        <h4 class="header">Row Align Space Evenly</h4>
        <h6 class="subheader thin no-margin">When a row wraps, each sub-row will have equal spacing around them, including the first/last rows.</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="row row-align-space-evenly" style="height: 200px;">
            <div class="col xs-6">
                <div class="bg-light text-center vertical-center-content" style="height:50px; border: 1px solid #d3d3d3">
                    .row-align-space-evenly
                </div>
            </div>
            <div class="col xs-6">
                <div class="bg-light text-center vertical-center-content" style="height:50px; border: 1px solid #d3d3d3">
                    .row-align-space-evenly
                </div>
            </div>
            <div class="col xs-6">
                <div class="bg-light text-center vertical-center-content" style="height:50px; border: 1px solid #d3d3d3">
                    .row-align-space-evenly
                </div>
            </div>
            <div class="col xs-6">
                <div class="bg-light text-center vertical-center-content" style="height:50px; border: 1px solid #d3d3d3">
                    .row-align-space-evenly
                </div>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltdiv class="row row-align-space-evenly"&gt
    &ltdiv class="col xs-6"&gt
        &ltdiv class="bg-light text-center vertical-center-content"&gt
            .row-align-space-evenly
        &lt/div&gt
    &lt/div&gt
    &ltdiv class="col xs-6"&gt
        &ltdiv class="bg-light text-center vertical-center-content"&gt
            .row-align-space-evenly
        &lt/div&gt
    &lt/div&gt
    &ltdiv class="col xs-6"&gt
        &ltdiv class="bg-light text-center vertical-center-content"&gt
            .row-align-space-evenly
        &lt/div&gt
    &lt/div&gt
    &ltdiv class="col xs-6"&gt
        &ltdiv class="bg-light text-center vertical-center-content"&gt
            .row-align-space-evenly
        &lt/div&gt
    &lt/div&gt
&lt/div&gt</code></pre>
        </div>
    </div>
</div>