<div class="row">
    <div class="col xs-12">
        <h4 class="header">Row Align Space Between</h4>
        <h6 class="subheader thin no-margin">When a row wraps, each sub-row will have equal spacing between them and the first/last rows will be flush to the containing element.</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="row row-align-space-between" style="height: 200px;">
            <div class="col xs-6">
                <div class="bg-light text-center vertical-center-content" style="height:50px; border: 1px solid #d3d3d3">
                    <code>.row-align-space-between</code>
                </div>
            </div>
            <div class="col xs-6">
                <div class="bg-light text-center vertical-center-content" style="height:50px; border: 1px solid #d3d3d3">
                    <code>.row-align-space-between</code>
                </div>
            </div>
            <div class="col xs-6">
                <div class="bg-light text-center vertical-center-content" style="height:50px; border: 1px solid #d3d3d3">
                    <code>.row-align-space-between</code>
                </div>
            </div>
            <div class="col xs-6">
                <div class="bg-light text-center vertical-center-content" style="height:50px; border: 1px solid #d3d3d3">
                    <code>.row-align-space-between</code>
                </div>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">FILL ME IN</code></pre>
        </div>
    </div>
</div>