<div class="row">
    <div class="col xs-12">
        <h5>1.1.7</h5>
        <ul>
            <li>Changed widescreen starting width to 1280px.</li>
            <li>Improved navbar component alignment.</li>
        </ul>
    </div>
</div>