<div class="row">
    <div class="col xs-12">
        <h5>1.1.3</h5>
        <ul>
        	<li>Reworked messages and notifications to use RGB backgrounds instead of RGBA for increased consistency.</li>
        	<li>Added RGBA to RGB Sass function.</li>
        </ul>
    </div>
</div>
