// Selected by Cathy Du

$color-info: #5986E0;
$color-success: #76D37E;
$color-warning: #f9EA86;
$color-danger: #ff7e75;
$color-salient: #8d68E2;
$color-misc: #349faa;

$color-dark: #414A63;

// Todo: Select better colours for these
$color-light: white;
