$enable-shades: true;

// Selected by Cathy Du

$color-blue: #6192F4;
$color-green: #76D37E;
$color-yellow: #f9d675;
$color-red: #fc6b61;
$color-purple: #9b76f2;
$color-orange: #FFA565;
$color-teal: #20b6a5;
$color-pink: #FF9EB9;
$color-dark: #414A63;
$color-light: #EAEAEA;
$color-black: #000;
$color-white: #fff;
$color-transparent: rgba(0, 0, 0, 0);

$color-list: 	(blue, $color-blue),
				(green, $color-green),
				(yellow, $color-yellow),
				(red, $color-red),
				(purple, $color-purple),
				(orange, $color-orange),
				(teal, $color-teal),
				(pink, $color-pink),
				(dark, $color-dark),
				(light, $color-light),
				(black, $color-black),
				(white, $color-white),
				(transparent, $color-transparent);

// Color shift configuration
$lighten-1-percent: 7%;
$lighten-2-percent: 14%;
$lighten-3-percent: 21%;
$darken-1-percent: 7%;
$darken-2-percent: 14%;
$darken-3-percent: 21%;

$color-shade-list: (lighten-1, lighten-2, lighten-3, darken-1, darken-2, darken-3);

@function lighten-1($base-color) {
	@return lighten($base-color, $lighten-1-percent);
}

@function lighten-2($base-color) {
	@return lighten($base-color, $lighten-2-percent);
}

@function lighten-3($base-color) {
	@return lighten($base-color, $lighten-3-percent);
}

@function darken-1($base-color) {
	@return darken($base-color, $darken-1-percent);
}

@function darken-2($base-color) {
	@return darken($base-color, $darken-2-percent);
}

@function darken-3($base-color) {
	@return darken($base-color, $darken-3-percent);
}


@mixin generate-base-colors($attribute, $prefix, $important: null) {
	@each $colorName, $color in $color-list {
		.#{$prefix}-#{$colorName} {
			#{$attribute}: #{$color} $important;
            transition:color 0.15s ease-in-out, background 0.15s ease-in-out;

			@if $enable-shades {
				&.lighten-#{$prefix}-1 {
					#{$attribute}: lighten-1($color) $important;
				}

				&.lighten-#{$prefix}-2 {
					#{$attribute}: lighten-2($color) $important;
				}

				&.lighten-#{$prefix}-3 {
					#{$attribute}: lighten-3($color) $important;
				}

				&.darken-#{$prefix}-1 {
					#{$attribute}: darken-1($color) $important;
				}

				&.darken-#{$prefix}-2 {
					#{$attribute}: darken-2($color) $important;
				}

				&.darken-#{$prefix}-3 {
					#{$attribute}: darken-3($color) $important;
				}
			}

		}

        .#{$prefix}-hover-#{$colorName} {
            &:not(:active):hover, &:not(:active):focus {
                #{$attribute}: #{$color} $important;
                transition:color 0.15s ease-in-out, background 0.15s ease-in-out;

                @if $enable-shades {
	                &.lighten-#{$prefix}-hover-1 {
	                    #{$attribute}: lighten-1($color) $important;
	                }

	                &.lighten-#{$prefix}-hover-2 {
	                    #{$attribute}: lighten-2($color) $important;
	                }

	                &.lighten-#{$prefix}-hover-3 {
	                    #{$attribute}: lighten-3($color) $important;
	                }

	                &.darken-#{$prefix}-hover-1 {
	                    #{$attribute}: darken-1($color) $important;
	                }

	                &.darken-#{$prefix}-hover-2 {
	                    #{$attribute}: darken-2($color) $important;
	                }

	                &.darken-#{$prefix}-hover-3 {
	                    #{$attribute}: darken-3($color) $important;
	                }
	            }
            }
        }

        .#{$prefix}-active-#{$colorName} {
            &:active {
                #{$attribute}: #{$color} $important;
                transition:color 0.15s ease-in-out, background 0.15s ease-in-out;

                @if $enable-shades {
	                &.lighten-#{$prefix}-active-1 {
	                    #{$attribute}: lighten-1($color) $important;
	                }

	                &.lighten-#{$prefix}-active-2 {
	                    #{$attribute}: lighten-2($color) $important;
	                }

	                &.lighten-#{$prefix}-active-3 {
	                    #{$attribute}: lighten-3($color) $important;
	                }

	                &.darken-#{$prefix}-active-1 {
	                    #{$attribute}: darken-1($color) $important;
	                }

	                &.darken-#{$prefix}-active-2 {
	                    #{$attribute}: darken-2($color) $important;
	                }

	                &.darken-#{$prefix}-active-3 {
	                    #{$attribute}: darken-3($color) $important;
	                }
	            }
            }
        }
	}
}

@include generate-base-colors(background, bg, !important);
@include generate-base-colors(color, text, !important);
@include generate-base-colors(border-color, border, !important);

