$desktopHD: 90em;
$desktop: 70em;
$laptop: 50em;
$tablet: 30em;
$mobile: 0em;

$resolution-suffixes: xs, sm, md, lg, xl;

$resolution-dict: 	(xs, $mobile),
				 	(sm, $tablet),
				 	(md, $laptop),
				 	(lg, $desktop),
				 	(xl, $desktopHD);
