@each $suffix, $measurement in $resolution-max-dict {
	@media screen and (max-width: #{$measurement}) {
		.hide-#{$suffix} {
			display: none !important;
		}
	}
}

.hide, .hide-xl {
	display: none !important;
}

.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.no-border-radius {
	border-radius: 0 !important;
}

.no-shadow {
	box-shadow: 0 !important;
}
