$display-list:
(block),
(inline),
(inline-block),
(flex),
(inline-flex);

@each $suffix, $measurement in $resolution-max-dict {
	@media screen and (min-width: #{$measurement}) {
		.hide-after-#{$suffix} {
			display: none !important;
		}
	}
}
@each $suffix, $measurement in $resolution-min-dict {
	@media screen and (max-width: #{$measurement}) {
		.hide-until-#{$suffix} {
			display: none !important;
		}
	}
}
@each $suffix, $measurement, $nextSize in $resolution-max-dict {
	@media screen and (min-width: #{$measurement}) and (max-width: #{$nextSize}){
		.hide-#{$suffix} {
			display: none !important;
		}
	}
}

.hide {
	display: none !important;
}

@each $displaymode in $display-list {
    .display-#{$displaymode} {
        display: $displaymode !important;
    }
}

.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}