html {
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img { 
    box-sizing: content-box; 
}

p {
    margin: 0 0 1rem;

    &:last-child {
        margin-bottom: 0;
    }
}

pre {
    margin: 0;
}
