.shadow-1 {
 	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.shadow-2 {
 	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-3 {
 	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-4 {
 	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-5 {
 	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.shadow-hover-1 {
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	&:hover, &:focus {
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	}
}

.shadow-hover-2 {
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	&:hover, &:focus {
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}
}

.shadow-hover-3 {
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	&:hover, &:focus {
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	}
}

.shadow-hover-4 {
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	&:hover, &:focus {
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
}

.shadow-hover-5 {
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	&:hover, &:focus {
		box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	}
}
