<div class="row">
    <div class="col xs-12">
        <h1 class="header">Styles</h1>
        <h5 class="subheader thin">Quickly change the look of your lists with ease.</h5>
        <div class="message blue m-0">
            <div class="message-header">
                <p>Clarification</p>
            </div>
            <div class="message-body">
                <p>Although these styles work on both ordered and unordered lists, it is recommended that you use these styles only with <span class="bold">unordered lists</span> for better readability in your markup.</p> 
            </div>
        </div>
    </div>
</div>

<hr class="light" />
{% include "templates/docs/lists/styles/inverted.njk" %}

<hr class="light" />
{% include "templates/docs/lists/styles/square.njk" %}

<hr class="light" />
{% include "templates/docs/lists/styles/none.njk" %}
