<div class="row">
    <div class="col xs-12">
        <h4 class="header">Dash</h4>
    </div>
    <div class="col xs-12 md-6 col-middle">
    <nav class="breadcrumb dash-separators">
        <ul>
            <li><a href="#">Boba</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Components</a></li>
            <li class="active"><a href="#">Breadcrumbs</a></li>
        </ul>
    </nav>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltnav class="breadcrumb dash-separators"&gt
    &ltul&gt
        &ltli&gt&lta href="#"&gtBoba&lt/a&gt&lt/li&gt
        &ltli&gt&lta href="#"&gtDocumentation&lt/a&gt&lt/li&gt
        &ltli&gt&lta href="#"&gtComponents&lt/a&gt&lt/li&gt
        &ltli class="active"&gt&lta href="#"&gtBreadcrumbs&lt/a&gt&lt/li&gt
    &lt/ul&gt
&lt/nav&gt</code></pre>
        </div>
    </div>
</div>
