<div class="row">
    <div class="col xs-12">
        <h1 class="header">Sections</h1>
        <h5 class="subheader thin">A semantic way to divide different sections of content.</h5>
        <div class="message blue m-0">
            <div class="message-header">
                <p>Clarification</p>
            </div>
            <div class="message-body">
                <p>Use the semantic HTML <code class="inline">section</code> tag or the <code class="inline">.section</code> class to divide your pages into logical sections with sensible padding.</p>
                <p>Sections are best used as <span class="bold">direct</span> children of the main <code class="inline">body</code> tag and are often used to help group together related <a href="./containers.html">containers</a>.</p>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="section bg-light">
            <h3 class="no-margin text-center">Add content here.</h3>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;!-- Using the HTML section tag --&gt;
&lt;section&gt;
    &lt;!-- Content here --&gt;
&lt;/section&gt;

&lt;!-- Using the .section class --&gt;
&lt;div class="section"&gt;
    &lt;!-- Content here --&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>
