<div class="row">
    <div class="col xs-12">
        <h1 class="header">Sections</h1>
        <h5 class="subheader thin no-margin">A semantic way to divide different sections of content.</h5>
    </div>
</div>
