<div class="row">
    <div class="col xs-12">
        <h1 class="header">Colors</h1>
        <h5 class="subheader thin no-margin">Lorem Ipsum</h5>
    </div>
    <div class="col xs-12 md-6 col-middle"> 
        <div class="row gapless">
            <div class="col xs-12">
                <div class="bg-red" style="height: 50px;"></div>
            </div>
            <div class="col xs-12">
                <div class="bg-orange" style="height: 50px;"></div>
            </div>
            <div class="col xs-12">
                <div class="bg-yellow" style="height: 50px;"></div>
            </div>
            <div class="col xs-12">
                <div class="bg-green" style="height: 50px;"></div>
            </div>
            <div class="col xs-12">
                <div class="bg-teal" style="height: 50px;"></div>
            </div>
            <div class="col xs-12">
                <div class="bg-blue" style="height: 50px;"></div>
            </div>
            <div class="col xs-12">
                <div class="bg-indigo" style="height: 50px;"></div>
            </div>
            <div class="col xs-12">
                <div class="bg-purple" style="height: 50px;"></div>
            </div>
            <div class="col xs-12">
                <div class="bg-pink" style="height: 50px;"></div>
            </div>
            <div class="col xs-12">
                <div class="bg-white" style="height: 50px;"></div>
            </div>
            <div class="col xs-12">
                <div class="bg-light" style="height: 50px;"></div>
            </div>
            <div class="col xs-12">
                <div class="bg-dark" style="height: 50px;"></div>
            </div>
            <div class="col xs-12">
                <div class="bg-black" style="height: 50px;"></div>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
    </div>
</div>