<div class="row">
    <div class="col xs-12">
        <h1 class="header">Core</h1>
        <h5 class="subheader thin no-margin">Most of our components support our full core palette. Check out our <a href="/docs/text.html" target="_blank">text</a>, <a href="/docs/background.html" target="_blank">background</a>, and <a href="/docs/borders.html" target="_blank">border</a> utility classes to get started.</h5>
    </div>
    <div class="col xs-12 col-middle">
        <div>
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="10"><span class="bold">Core Colors</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.red</code></td>
                    <td class="bg-red" style="height: calc(50px - 1em); width: 100%;"></td>
                </tr>
                <tr>
                    <td><code class="inline">.orange</code></td>
                    <td class="bg-orange" style="height: calc(50px - 1em); width: 100%;"></td>
                </tr>
                <tr>
                    <td><code class="inline">.yellow</code></td>
                    <td class="bg-yellow" style="height: calc(50px - 1em); width: 100%;"></td>
                </tr>
                <tr>
                    <td><code class="inline">.green</code></td>
                    <td class="bg-green" style="height: calc(50px - 1em); width: 100%;"></td>
                </tr>
                <tr>
                    <td><code class="inline">.teal</code></td>
                    <td class="bg-teal" style="height: calc(50px - 1em); width: 100%;"></td>
                </tr>
                <tr>
                    <td><code class="inline">.blue</code></td>
                    <td class="bg-blue" style="height: calc(50px - 1em); width: 100%;"></td>
                </tr>
                <tr>
                    <td><code class="inline">.indigo</code></td>
                    <td class="bg-indigo" style="height: calc(50px - 1em); width: 100%;"></td>
                </tr>
                <tr>
                    <td><code class="inline">.purple</code></td>
                    <td class="bg-purple" style="height: calc(50px - 1em); width: 100%;"></td>
                </tr>
                <tr>
                    <td><code class="inline">.pink</code></td>
                    <td class="bg-pink" style="height: calc(50px - 1em); width: 100%;"></td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
