<div class="row">
    <div class="col xs-12">
        <h1 class="header">Extended</h1>
        <h5 class="subheader thin no-margin">For more information on how to use our extended colors, check out our <a href="/docs/text.html" target="_blank">text</a>, <a href="/docs/background.html" target="_blank">background</a>, and <a href="/docs/borders.html" target="_blank">border</a> utility classes.</h5>
    </div>
    <div class="col xs-12 col-middle">
        <div>
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="5"><span class="bold">Extended Colors</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.dark</code></td>
                    <td class="bg-dark" style="height: calc(50px - 1em); width: 100%;"></td>
                </tr>
                <tr>
                    <td><code class="inline">.light</code></td>
                    <td class="bg-light" style="height: calc(50px - 1em); width: 100%;"></td>
                </tr>
                <tr>
                    <td><code class="inline">.black</code></td>
                    <td class="bg-black" style="height: calc(50px - 1em); width: 100%;"></td>
                </tr>
                <tr>
                    <td><code class="inline">.white</code></td>
                    <td class="bg-white" style="height: calc(50px - 1em); width: 100%;"></td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
