<div class="row">
    <div class="col xs-12">
        <h1 class="header">Shades</h1>
        <h5 class="subheader thin no-margin">For more information on how to use shades, check out our <a href="/docs/text.html">text</a>, <a href="/docs/background.html">background</a>, and <a href="/docs/borders.html">border</a> utility classes.</h5>
    </div>
    <div class="col xs-12 col-middle"> 
        {% for color in global_color_list_core %}
        <div class="row gapless">
            <div class="col xs-12">
                <div class="bg-{{color}}" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-{{color}} lighten-bg-3" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-{{color}} lighten-bg-2" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-{{color}} lighten-bg-1" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-{{color}} darken-bg-1" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-{{color}} darken-bg-2" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-{{color}} darken-bg-3" style="height: 50px;"></div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>