<div class="row">
    <div class="col xs-12">
        <h1 class="header">Shades</h1>
        <h5 class="subheader thin no-margin">Lorem Ipsum</h5>
    </div>
    <div class="col xs-12 md-6 col-middle"> 
        <div class="row gapless">
            <div class="col xs-12">
                <div class="bg-red" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-red lighten-bg-3" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-red lighten-bg-2" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-red lighten-bg-1" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-red darken-bg-1" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-red darken-bg-2" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-red darken-bg-3" style="height: 50px;"></div>
            </div>
        </div>
        <div class="row gapless">
            <div class="col xs-12">
                <div class="bg-orange" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-orange lighten-bg-3" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-orange lighten-bg-2" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-orange lighten-bg-1" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-orange darken-bg-1" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-orange darken-bg-2" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-orange darken-bg-3" style="height: 50px;"></div>
            </div>
        </div>
        <div class="row gapless">
            <div class="col xs-12">
                <div class="bg-yellow" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-yellow lighten-bg-3" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-yellow lighten-bg-2" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-yellow lighten-bg-1" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-yellow darken-bg-1" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-yellow darken-bg-2" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-yellow darken-bg-3" style="height: 50px;"></div>
            </div>
        </div>
        <div class="row gapless">
            <div class="col xs-12">
                <div class="bg-green" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-green lighten-bg-3" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-green lighten-bg-2" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-green lighten-bg-1" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-green darken-bg-1" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-green darken-bg-2" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-green darken-bg-3" style="height: 50px;"></div>
            </div>
        </div>
        <div class="row gapless">
            <div class="col xs-12">
                <div class="bg-teal" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-teal lighten-bg-3" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-teal lighten-bg-2" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-teal lighten-bg-1" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-teal darken-bg-1" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-teal darken-bg-2" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-teal darken-bg-3" style="height: 50px;"></div>
            </div>
        </div>
        <div class="row gapless">
            <div class="col xs-12">
                <div class="bg-blue" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-blue lighten-bg-3" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-blue lighten-bg-2" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-blue lighten-bg-1" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-blue darken-bg-1" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-blue darken-bg-2" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-blue darken-bg-3" style="height: 50px;"></div>
            </div>
        </div>
        <div class="row gapless">
            <div class="col xs-12">
                <div class="bg-indigo" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-indigo lighten-bg-3" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-indigo lighten-bg-2" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-indigo lighten-bg-1" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-indigo darken-bg-1" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-indigo darken-bg-2" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-indigo darken-bg-3" style="height: 50px;"></div>
            </div>
        </div>
        <div class="row gapless">
            <div class="col xs-12">
                <div class="bg-purple" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-purple lighten-bg-3" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-purple lighten-bg-2" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-purple lighten-bg-1" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-purple darken-bg-1" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-purple darken-bg-2" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-purple darken-bg-3" style="height: 50px;"></div>
            </div>
        </div>
        <div class="row gapless">
            <div class="col xs-12">
                <div class="bg-pink" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-pink lighten-bg-3" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-pink lighten-bg-2" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-pink lighten-bg-1" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-pink darken-bg-1" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-pink darken-bg-2" style="height: 50px;"></div>
            </div>
            <div class="col xs-2">
                <div class="bg-pink darken-bg-3" style="height: 50px;"></div>
            </div>
        </div>
    </div>
</div>