@import '../../../helpers/colors';

@mixin default-messages-styles($colorName, $color) {
    .message-#{$colorName} {
        background: whitesmoke;

        .message-header {
            background-color: #{$color};
            color: $color-light;
        }

        .message-body {
            border: solid 1px #{$color};
            color: #{$color};
        }
    }
}

@mixin custom-messages-styles($colorName, $color) {
    .message {
        background: #{$color};

        .message-header-#{$colorName} {
            background-color: #{$color};
            color: $color-light;
        }

        .message-body-#{$colorName} {
            border: solid 1px #{$color};
            color: #{$color};
        }
    }
}
