<div class="row">
    <div class="col xs-12">
        <h1 class="header">Display</h1>
        <h5 class="subheader thin no-margin">TBD</h5>
    </div>
    <div class="col xs-12 col-middle">
        <div>
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="7"><span class="bold">Hide / Show</span</td>
                </tr>
                <tr>
                    <td><code class="inline">.hide</code></td>
                    <td>Hides a component</td>
                </tr>
                <tr>
                    <td><code class="inline">.hide-xs</code></td>
                    <td>Hides a component when breakpoint is <code class="inline">xs</code> or less</td>
                </tr>
                <tr>
                    <td><code class="inline">.hide-sm</code></td>
                    <td>Hides a component when breakpoint is <code class="inline">sm</code> or less</td>
                </tr>
                <tr>
                    <td><code class="inline">.hide-md</code></td>
                    <td>Hides a component when breakpoint is <code class="inline">md</code> or less</td>
                </tr>
                <tr>
                    <td><code class="inline">.hide-lg</code></td>
                    <td>Hides a component when breakpoint is <code class="inline">lg</code> or less</td>
                </tr>
                <tr>
                    <td><code class="inline">.hide-xl</code></td>
                    <td>Hides a component when breakpoint is <code class="inline">xl</code> or less</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
