<div class="row">
    <div class="col xs-12">
        <h1 class="header">Display</h1>
        <h5 class="subheader thin no-margin">A collections of classes to help you get the right display mode for a particular element.</h5>
    </div>
    <div class="col xs-12 col-middle">
        <div>
            <table class="bordered">
                <tbody>
                    <tr>
                        <td rowspan="6"><span class="bold">Display Modes</span</td>
                    </tr>
                    <tr>
                        <td><code class="inline">.display-block</code></td>
                        <td>Sets the display property of an element to <code class="inline">block</code>.</td>
                    </tr>
                    <tr>
                        <td><code class="inline">.display-inline</code></td>
                        <td>Sets the display property of an element to <code class="inline">inline</code>.</td>
                    </tr>
                    <tr>
                        <td><code class="inline">.display-inline-block</code></td>
                        <td>Sets the display property of an element to <code class="inline">inline-block</code>.</td>
                    </tr>
                    <tr>
                        <td><code class="inline">.display-flex</code></td>
                        <td>Sets the display property of an element to <code class="inline">flex</code>.</td>
                    </tr>
                    <tr>
                        <td><code class="inline">.display-inline-flex</code></td>
                        <td>Sets the display property of an element to <code class="inline">inline-flex</code>.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
