<div class="row">
    <div class="col xs-12">
        <h1 class="header">Hide Until</h1>
        <h5 class="subheader thin no-margin">TBD</h5>
    </div>
    <div class="col xs-12 col-middle">
        <div>
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="6"><span class="bold">Hide Until</span</td>
                </tr>
                <tr>
                    <td><code class="inline">.hide-until-xs</code></td>
                    <td>Hides a component until the <code class="inline">xs</code> breakpoint.</td>
                </tr>
                <tr>
                    <td><code class="inline">.hide-until-sm</code></td>
                    <td>Hides a component until the <code class="inline">sm</code> breakpoint.</td>
                </tr>
                <tr>
                    <td><code class="inline">.hide-until-md</code></td>
                    <td>Hides a component until the <code class="inline">md</code> breakpoint.</td>
                </tr>
                <tr>
                    <td><code class="inline">.hide-until-lg</code></td>
                    <td>Hides a component until the <code class="inline">lg</code> breakpoint.</td>
                </tr>
                <tr>
                    <td><code class="inline">.hide-until-xl</code></td>
                    <td>Hides a component until the <code class="inline">xl</code> breakpoint.</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
