<div class="row">
    <div class="col xs-12">
        <h1 class="header">Display After</h1>
        <h5 class="subheader thin no-margin">TBD</h5>
    </div>
    <div class="col xs-12 col-middle">
        <div>
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="6"><span class="bold">Hide After</span</td>
                </tr>
                <tr>
                    <td><code class="inline">.hide-after-xs</code></td>
                    <td>Hides a component after <code class="inline">xs</code> breakpoint</td>
                </tr>
                <tr>
                    <td><code class="inline">.hide-after-sm</code></td>
                    <td>Hides a component after <code class="inline">sm</code> breakpoint</td>
                </tr>
                <tr>
                    <td><code class="inline">.hide-after-md</code></td>
                    <td>Hides a component after <code class="inline">md</code> breakpoint</td>
                </tr>
                <tr>
                    <td><code class="inline">.hide-after-lg</code></td>
                    <td>Hides a component after <code class="inline">lg</code> breakpoint</td>
                </tr>
                <tr>
                    <td><code class="inline">.hide-after-xl</code></td>
                    <td>Hides a component after <code class="inline">xl</code> breakpoint</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
