<div class="row">
    <div class="col xs-12">
        <h1 class="header">Hide</h1>
        <h5 class="subheader thin no-margin">A set of classes to hide components at specific breakpoints.</h5>
    </div>
    <div class="col xs-12 col-middle">
        <div>
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="7"><span class="bold">Hide</span</td>
                </tr>
                <tr>
                    <td><code class="inline">.hide</code></td>
                    <td>Hides a component for all breakpoints.</td>
                </tr>
                <tr>
                    <td><code class="inline">.hide-xs</code></td>
                    <td>Hides a component only for the <code class="inline">xs</code> breakpoint.</td>
                </tr>
                <tr>
                    <td><code class="inline">.hide-sm</code></td>
                    <td>Hides a component only for the <code class="inline">sm</code> breakpoint.</td>
                </tr>
                <tr>
                    <td><code class="inline">.hide-md</code></td>
                    <td>Hides a component only for the <code class="inline">md</code> breakpoint.</td>
                </tr>
                <tr>
                    <td><code class="inline">.hide-lg</code></td>
                    <td>Hides a component only for the <code class="inline">lg</code> breakpoint.</td>
                </tr>
                <tr>
                    <td><code class="inline">.hide-xl</code></td>
                    <td>Hides a component only for the <code class="inline">xl</code> breakpoint.</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
