<div class="row">
    <div class="col xs-12">
        <h4 class="header">Row Direction Row (Forward)</h4>
        <h6 class="subheader thin no-margin">Default behavior for columns in a row; columns will appear in sequential order when using the <code class="inline">.row-direction-row</code> class.</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="row row-direction-row">
            <div class="col xs-3">
                <div class="bg-light text-center vertical-center-content" style="height:50px; border: 1px solid #d3d3d3">
                    1
                </div>
            </div>
            <div class="col xs-3">
                <div class="bg-light text-center vertical-center-content" style="height:50px; border: 1px solid #d3d3d3">
                    2
                </div>
            </div>
            <div class="col xs-6">
                <div class="bg-light text-center vertical-center-content" style="height:50px; border: 1px solid #d3d3d3">
                    3
                </div>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt;div class="row row-direction-row"&gt;
    &lt;div class="col xs-3"&gt;
        &lt;div class="bg-light text-center vertical-center-content"&gt;
            1
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="col xs-3"&gt;
        &lt;div class="bg-light text-center vertical-center-content"&gt;
            2
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="col xs-6"&gt;
        &lt;div class="bg-light text-center vertical-center-content"&gt;
            3
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>