<div class="row">
    <div class="col xs-12">
        <h4 class="header">Row Direction Column</h4>
        <h6 class="subheader thin no-margin">Columns will appear vertically stacked in sequential order.</h6>
        <h6 class="subheader thin no-margin">Note: Column direction will not respect specified column widths and will stretch all columns to fill one row each.</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="row row-direction-column">
            <div class="col xs-3">
                <div class="bg-light text-center vertical-center-content" style="height:50px; border: 1px solid #d3d3d3">
                    1
                </div>
            </div>
            <div class="col xs-3">
                <div class="bg-light text-center vertical-center-content" style="height:50px; border: 1px solid #d3d3d3">
                    2
                </div>
            </div>
            <div class="col xs-6">
                <div class="bg-light text-center vertical-center-content" style="height:50px; border: 1px solid #d3d3d3">
                    <code>.row-direction-column</code>
                </div>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltdiv class="row row-direction-column"&gt
    &ltdiv class="col xs-3"&gt
        &ltdiv class="bg-light text-center vertical-center-content"&gt
            1
        &lt/div&gt
    &lt/div&gt
    &ltdiv class="col xs-3"&gt
        &ltdiv class="bg-light text-center vertical-center-content"&gt
            2
        &lt/div&gt
    &lt/div&gt
    &ltdiv class="col xs-6"&gt
        &ltdiv class="bg-light text-center vertical-center-content"&gt
            &ltcode&gt.row-direction-column&lt/code&gt
        &lt/div&gt
    &lt/div&gt
&lt/div&gt</code></pre>
        </div>
    </div>
</div>