<div class="row">
    <div class="col xs-12">
        <h4 class="header">Row Direction Column</h4>
        <h6 class="subheader thin">Columns will appear vertically stacked in sequential order when using the <code class="inline">.row-direction-column</code> class.</h6>
        <div class="message blue">
            <div class="message-header">
                <p>Clarification</p>
            </div>
            <div class="message-body">
                <p>Column direction will not respect user-specified column widths. All columns will be stretched to fit one full-width column per one row.</p>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="row row-direction-column">
            <div class="col xs-3">
                <div class="bg-light text-center vertical-center-content" style="height:50px; border: 1px solid #d3d3d3">
                    1
                </div>
            </div>
            <div class="col xs-3">
                <div class="bg-light text-center vertical-center-content" style="height:50px; border: 1px solid #d3d3d3">
                    2
                </div>
            </div>
            <div class="col xs-6">
                <div class="bg-light text-center vertical-center-content" style="height:50px; border: 1px solid #d3d3d3">
                    3
                </div>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt;div class="row row-direction-column"&gt;
    &lt;div class="col xs-3"&gt;
        &lt;div class="bg-light text-center vertical-center-content"&gt;
            1
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="col xs-3"&gt;
        &lt;div class="bg-light text-center vertical-center-content"&gt;
            2
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="col xs-6"&gt;
        &lt;div class="bg-light text-center vertical-center-content"&gt;
            3
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>