<div class="row">
    <div class="col xs-12">
        <h4 class="header">Border</h4>
        <h6 class="subheader thin no-margin">Border hover effects</h6>
    </div>
    <div class="col xs-12 col-middle">
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="15"><span class="bold">Border</span</td>
                </tr>
                <tr>
                    <td colspan="3">To change border color on hover add a <code class="inline">.border-hover-{COLOR}</code> class. Colors are from boba's palette.</td>
                </tr>
                <tr>
                    <td><code class="inline">.border-hover-red</code></td>
                    <td>Add the <code class="inline">.border-hover-red</code> class to make the border red on hover.</td>
                    <td><span class="border-light border-hover-red bg-light" style="display: inline-flex; height: 50px; width: 50px;"></span></td>
                </tr>
                <tr>
                    <td><code class="inline">.border-hover-orange</code></td>
                    <td>Add the <code class="inline">.border-hover-orange</code> class to make the border orange on hover.</td>
                    <td><span class="border-light border-hover-orange bg-light" style="display: inline-flex; height: 50px; width: 50px;"></span></td>
                </tr>
                <tr>
                    <td><code class="inline">.border-hover-yellow</code></td>
                    <td>Add the <code class="inline">.border-hover-yellow</code> class to make the border yellow on hover.</td>
                    <td><span class="border-light border-hover-yellow bg-light" style="display: inline-flex; height: 50px; width: 50px;"></span></td>
                </tr>
                <tr>
                    <td><code class="inline">.border-hover-green</code></td>
                    <td>Add the <code class="inline">.border-hover-green</code> class to make the border green on hover.</td>
                    <td><span class="border-light border-hover-green bg-light" style="display: inline-flex; height: 50px; width: 50px;"></span></td>
                </tr>
                <tr>
                    <td><code class="inline">.border-hover-teal</code></td>
                    <td>Add the <code class="inline">.border-hover-teal</code> class to make the border teal on hover.</td>
                    <td><span class="border-light border-hover-teal bg-light" style="display: inline-flex; height: 50px; width: 50px;"></span></td>
                </tr>
                <tr>
                    <td><code class="inline">.border-hover-blue</code></td>
                    <td>Add the <code class="inline">.border-hover-blue</code> class to make the border blue on hover.</td>
                    <td><span class="border-light border-hover-blue bg-light" style="display: inline-flex; height: 50px; width: 50px;"></span></td>
                </tr>
                <tr>
                    <td><code class="inline">.border-hover-indigo</code></td>
                    <td>Add the <code class="inline">.border-hover-indigo</code> class to make the border indigo on hover.</td>
                    <td><span class="border-light border-hover-indigo bg-light" style="display: inline-flex; height: 50px; width: 50px;"></span></td>
                </tr>
                <tr>
                    <td><code class="inline">.border-hover-purple</code></td>
                    <td>Add the <code class="inline">.border-hover-purple</code> class to make the border purple on hover.</td>
                    <td><span class="border-light border-hover-purple bg-light" style="display: inline-flex; height: 50px; width: 50px;"></span></td>
                </tr>
                <tr>
                    <td><code class="inline">.border-hover-pink</code></td>
                    <td>Add the <code class="inline">.border-hover-pink</code> class to make the border pink on hover.</td>
                    <td><span class="border-light border-hover-pink bg-light" style="display: inline-flex; height: 50px; width: 50px;"></span></td>
                </tr>
                <tr>
                    <td><code class="inline">.border-hover-dark</code></td>
                    <td>Add the <code class="inline">.border-hover-dark</code> class to make the border dark on hover.</td>
                    <td><span class="border-light border-hover-dark bg-light" style="display: inline-flex; height: 50px; width: 50px;"></span></td>
                </tr>
                <tr>
                    <td><code class="inline">.border-hover-light</code></td>
                    <td>Add the <code class="inline">.border-hover-light</code> class to make the border light on hover.</td>
                    <td><span class="border-dark border-hover-light bg-light" style="display: inline-flex; height: 50px; width: 50px;"></span></td>
                </tr>
                <tr>
                    <td><code class="inline">.border-hover-black</code></td>
                    <td>Add the <code class="inline">.border-hover-black</code> class to make the border black on hover.</td>
                    <td><span class="border-light border-hover-black bg-light" style="display: inline-flex; height: 50px; width: 50px;"></span></td>
                </tr>
                <tr>
                    <td><code class="inline">.border-hover-white</code></td>
                    <td>Add the <code class="inline">.border-hover-white</code> class to make the border white on hover.</td>
                    <td><span class="border-dark border-hover-white bg-light" style="display: inline-flex; height: 50px; width: 50px;"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
