<div class="row">
    <div class="col xs-12 lg-4">
        <h3 class="header thin">Semi-Bold</h3>
        <h6 class="subheader thin">Make typography semi-bold</h6>
    </div>
    <div class="col xs-12 md-6 lg-4">
        <div>
            <span class="semi-bold">I'm semi-bold</span>
        </div>
    </div>
    <div class="col xs-12 md-6 lg-4 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltspan class="semi-bold"&gt I'm semi-bold &lt/span&gt</code></pre>
        </div>
    </div>
</div>
