<div class="row">
    <div class="col xs-12">
        <h4 class="header">No Bullets</h4>
        <h6 class="subheader thin">Hide your bullet points while retaining your other list styles using the <code class="inline">.no-bullets</code> class.</h6>
        <div class="message orange mt-0">
            <div class="message-header">
                <p>Tip</p>
            </div>
            <div class="message-body">
                <p>If you want to use lists without bullet points, consider using <a href="./descriptions.html">descriptions</a> instead!</p> 
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
		<ul class="no-bullets">
			<li>Option 1</li>
			<li>Option 2</li>
			<ul class="no-bullets">
				<li>Option A</li>
				<li>Option B</li>
				<li>Option C</li>
			</ul>
			<li>Option 3</li>
		</ul>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;ul class="no-bullets"&gt;
    &lt;li&gt;Option 1&lt;/li&gt;
    &lt;li&gt;Option 2&lt;/li&gt;
    &lt;ul class="no-bullets"&gt;
        &lt;li&gt;Option 4&lt;/li&gt;
        &lt;li&gt;Option 5&lt;/li&gt;
        &lt;li&gt;Option 6&lt;/li&gt;
    &lt;/ul&gt;
    &lt;li&gt;Option 3&lt;/li&gt;
&lt;/ul&gt;</code></pre>
        </div>
    </div>
</div>
