@import 'constants';

.cup {
	max-width: $desktop;
	margin: 0 auto;

	.straw {
		display: flex;
		flex-direction: column;
	  flex-wrap: wrap;
	  list-style: none;
	  margin: 0;
	  padding: 0;

		.boba {
			flex: 1;
			margin: auto;
			padding: 0.6em;
		}
	}
}

/* Alignment of 'straws' */
.straw-top {
	align-items: flex-start;
}
.straw-bottom {
	align-items: flex-end;
}
.straw-center {
	align-items: center;
}
.straw-justifyCenter {
	justify-content: center;
}
.straw-spaceAround {
	justify-content: space-around;
}

/* Alignment of 'boba' */
.boba-top {
  align-self: flex-start;
}
.boba-bottom {
  align-self: flex-end;
}
.boba-center {
  align-self: center;
}

/* 'boba' width */
@for $i from 1 through 12
	.straw > &.boba-#{$i}
    flex: none
    width: ($i / 12) * 100%
  .straw > &.boba-offset-#{$i}
    margin-left: ($i / 12) * 100%

@media screen and (min-width: $mobile) {
	.straw {
		display: flex;
		flex-direction: row;
	}
}
