@import 'constants';

.cup {
	max-width: $desktop;
	margin: 0 auto;

	.straw {
		display: flex;
		flex-direction: column;
	  flex-wrap: wrap;
	  list-style: none;
	  margin: 0;
	  padding: 0;

		.boba {
			flex: 1;
			margin: auto;
			padding: 0.6em;
		}
	}
}

/* Alignment of 'straws' */
.straw-top {
	align-items: flex-start;
}
.straw-bottom {
	align-items: flex-end;
}
.straw-center {
	align-items: center;
}
.straw-justifyCenter {
	justify-content: center;
}

/* Alignment of 'boba' */
.boba-top {
  align-self: flex-start;
}
.boba-bottom {
  align-self: flex-end;
}
.boba-center {
  align-self: center;
}
.boba-autoSize {
  flex: none;
}

/* Base classes for all media */
.straw-fit > .boba {
  flex: 1;
}
.straw-full > .boba {
  flex: 0 0 100%;
}
.straw-three-quarters > .boba {
  flex: 0 0 75%;
}
.straw-two-thirds > .boba {
  flex: 0 0 66.6667%;
}
.straw-half > .boba {
  flex: 0 0 50%
}
.straw-third > .boba {
  flex: 0 0 33.3333%
}
.straw-quarter > .boba {
  flex: 0 0 25%
}

@media screen and (min-width: $mobile) {
	.straw {
		display: flex;
		flex-direction: row;
	}
}
