@import '../helpers/constants';

.cup {
	max-width: $desktop;
	margin: 0 auto;

	.straw {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media screen and (min-width: $mobile) {
      display: flex;
  		flex-direction: row;
    }

		.boba {
      box-sizing: border-box;
      flex: 1;
      margin: 0.6em;
      padding: 0.6em;
		}
    /* 'boba' width */
    @for $i from 1 through 12 {
      .boba-#{$i} {
        @extend .boba;
        flex: 0 0 ($i / 12) * 100%;
        max-width: ($i / 12) * 100%;
      }
      .boba-offset-#{$i} {
        margin-left: ($i / 12) * 100%;
      }
    }
	}
}

/* Alignment of 'straws' */
.straw-top {
	align-items: flex-start;
}
.straw-bottom {
	align-items: flex-end;
}
.straw-center {
	align-items: center;
}
.straw-justifyCenter {
	justify-content: center;
}
.straw-spaceAround {
	justify-content: space-around;
}

/* Alignment of 'boba' */
.boba-top {
	align-self: flex-start;
}
.boba-bottom {
	align-self: flex-end;
}
.boba-center {
	align-self: center;
}
