<div class="row">
    <div class="col xs-12">
        <h4 class="header">Borderless Footer</h4>
        <h6 class="subheader thin no-margin">Remove the border around the card-footer with the <code class="inline">.borderless</code> class</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
		<div class="card">
			<div class="card-header">
				<div class="card-header-title">
					Card Component
				</div>
			</div>
			<div class="card-content">
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat containeridatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
			<div class="card-footer borderless">
				<div class="card-footer-item">
					<span>Action 1</span>
				</div>
				<div class="card-footer-item">
					<span>Action 2</span>
				</div>
			</div>
		</div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltdiv class="card"&gt
	&ltdiv class="card-header"&gt
		&ltdiv class="card-header-title"&gt
			Card Component
		&lt/div&gt
	&lt/div&gt
	&ltdiv class="card-content"&gt
		&ltp&gt
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat containeridatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		&lt/p&gt
	&lt/div&gt
	&ltdiv class="card-footer borderless"&gt
		&ltdiv class="card-footer-item"&gt
			&ltspan&gtAction 1&lt/span&gt
		&lt/div&gt
		&ltdiv class="card-footer-item"&gt
			&ltspan&gtAction 2&lt/span&gt
		&lt/div&gt
	&lt/div&gt
&lt/div&gt</code></pre>
        </div>
    </div>
</div>