<div class="row">
    <div class="col xs-12">
        <h1 class="header">Buttons</h1>
        <h5 class="subheader thin no-margin">Buttons come in all colors</h5>                        
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div>
            <button>Default</button>
            <br />
            <button class="red">Red</button>
            <button class="orange">Orange</button>
            <button class="yellow">Yellow</button>
            <button class="green">Green</button>
            <button class="teal">Teal</button>
            <button class="blue">Blue</button>
            <button class="indigo">Indigo</button>
            <button class="purple">Purple</button>
            <button class="pink">Pink</button>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltbutton class="green"&gt Green &lt/button&gt</code></pre>
        </div>
    </div>
</div>