<div class="row">
    <div class="col xs-12">
        <h1 class="header">Buttons</h1>
        <h5 class="subheader thin no-margin">Buttons come in all colors</h5>                        
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div>
            <button>Default</button>
            <br />
            {% for color in global_color_list_core %}
            <button class="{{ color }}">{{ color | capitalize }}</button>
            {% endfor %}
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt;button class="green"&gt; Green &lt;/button&gt;</code></pre>
        </div>
    </div>
</div>