<div class="row">
    <div class="col xs-12">
        <h1 class="header">Classes</h1>
        <h5 class="subheader thin no-margin">Links and inputs can be buttons as well</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div>
            <button>Default Button</button>
            <a class="button">Link Button</a>
            <input type="button" value="Input Button">
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltbutton&gt Default Button &lt/button&gt
&lta class="button"&gt Link Button &lt/a&gt
&ltinput type="button"value="Input Button"&gt</code></pre>
        </div>
    </div>
</div>