<div class="row">
    <div class="col xs-12">
        <h1 class="header">Classes</h1>
        <h5 class="subheader thin no-margin">Links and inputs can be styled to look like buttons by adding the <code class="inline">.button</code> class.</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div>
            <button>Default Button</button>
            <a class="button">Link Button</a>
            <input type="button" value="Input Button">
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;button&gt; Default Button &lt;/button&gt;
&lt;a class="button"&gt; Link Button &lt;/a&gt;
&lt;input type="button" value="Input Button"&gt;</code></pre>
        </div>
    </div>
</div>