<div class="row">
    <div class="col xs-12">
        <h1 class="header">Sizes</h1>
        <h5 class="subheader thin no-margin">Buttons can be resized.</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div>
            <button class="small mv-1">Small</button>
            <button class="mv-1">Default</button>
            <button class="medium mv-1">Medium</button>
            <button class="large mv-1">Large</button>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;button class="small"&gt; Small &lt;/button&gt;
&lt;button&gt; Default &lt;/button&gt;
&lt;button class="medium"&gt; Medium &lt;/button&gt;
&lt;button class="large"&gt; Large &lt;/button&gt;</code></pre>
        </div>
    </div>
</div>