<div class="row">
    <div class="col xs-12">
        <h1 class="header">Sizes</h1>
        <h5 class="subheader thin no-margin">Buttons can be resized</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div>
            <button class="small">Small</button>
            <button>Default</button>
            <button class="medium">Medium</button>
            <button class="large">Large</button>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltbutton class="small"&gt Small &lt/button&gt
&ltbutton&gt Default &lt/button&gt
&ltbutton class="medium"&gt Medium &lt/button&gt
&ltbutton class="large"&gt Large &lt/button&gt</code></pre>
        </div>
    </div>
</div>