<div class="row">
    <div class="col xs-12">
        <h1 class="header">States</h1>
        <h5 class="subheader thin no-margin">Buttons can be disabled</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div>
            <button disabled>Disabled</button>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;button disabled&gt; Disabled &lt;/button&gt;</code></pre>
        </div>
    </div>
</div>