<div class="row">
    <div class="col xs-12">
        <h1 class="header">Styles</h1>
        <h5 class="subheader thin no-margin">Change the look of your buttons with ease.</h5>
    </div>
</div>

<hr class="light" />
{% include "templates/docs/buttons/styles/rounded.njk" %}

<hr class="light" />
{% include "templates/docs/buttons/styles/inverted.njk" %}

<hr class="light" />
{% include "templates/docs/buttons/styles/outlined.njk" %}

<hr class="light" />
{% include "templates/docs/buttons/styles/combinations.njk" %}