<div class="row">
    <div class="col xs-12">
        <h1 class="header">Alignment</h1>
        <h5 class="subheader thin no-margin">Align your breadcrumbs using the <code class="inline">.left</code>, <code class="inline">.center</code>, and <code class="inline">.right</code> classes.</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
    <nav class="breadcrumb left">
        <ul>
            <li><a href="#">Boba</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Components</a></li>
            <li class="active"><a href="#">Left Align</a></li>
        </ul>
    </nav>
    <nav class="breadcrumb center">
        <ul>
            <li><a href="#">Boba</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Components</a></li>
            <li class="active"><a href="#">Center Align</a></li>
        </ul>
    </nav>
    <nav class="breadcrumb right">
        <ul>
            <li><a href="#">Boba</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Components</a></li>
            <li class="active"><a href="#">Right Align</a></li>
        </ul>
    </nav>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;-- Left Align --&gt;
&lt;nav class="breadcrumb left"&gt;
    &lt;ul&gt;
        &lt;li&gt;&lt;a href="#"&gt;Boba&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;Documentation&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;Components&lt;/a&gt;&lt;/li&gt;
        &lt;li class="active"&gt;&lt;a href="#"&gt;Left Align&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/nav&gt;

&lt;-- Center Align --&gt;
&lt;nav class="breadcrumb center"&gt;
    ...
&lt;/nav&gt;

&lt;-- Right Align --&gt;
&lt;nav class="breadcrumb right"&gt;
    ...
&lt;/nav&gt;</code></pre>
        </div>
    </div>
</div>
