<div class="row">
    <div class="col xs-12">
        <h1 class="header">Breadcrumbs</h1>
        <h5 class="subheader thin no-margin">Breadcrumbs to help you keep track of where you are</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
    <nav class="breadcrumb">
        <ul>
            <li><a href="#">Boba</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Components</a></li>
            <li class="active"><a href="#">Breadcrumbs</a></li>
        </ul>
    </nav>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;nav class="breadcrumb"&gt;
    &lt;ul&gt;
        &lt;li&gt;&lt;a href="#"&gt;Boba&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;Documentation&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;Components&lt;/a&gt;&lt;/li&gt;
        &lt;li class="active"&gt;&lt;a href="#"&gt;Breadcrumbs&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/nav&gt;</code></pre>
        </div>
    </div>
</div>
