<div class="row">
    <div class="col xs-12">
        <h1 class="header">Combinations</h1>
        <h5 class="subheader thin no-margin">Combine multiple classes to fully customize your breadcrumbs.</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <nav class="breadcrumb pointer-separators medium center">
            <ul>
                <li><a class="cursor-pointer">Boba</a></li>
                <li><a class="cursor-pointer">Pointers</a></li>
                <li><a class="cursor-pointer">Medium</a></li>
                <li class="active"><a class="cursor-pointer">Center Align</a></li>
            </ul>
        </nav>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;nav class="breadcrumb pointer-separators medium center"&gt;
    &lt;ul&gt;
        &lt;li&gt;&lt;a href="#"&gt;Boba&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;Pointers&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;Medium&lt;/a&gt;&lt;/li&gt;
        &lt;li class="active"&gt;&lt;a href="#"&gt;Center Align&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/nav&gt;</code></pre>
        </div>
    </div>
</div>
