<div class="row">
    <div class="col xs-12">
        <h1 class="header">Combinations</h1>
        <h5 class="subheader thin no-margin">Trick out your breadcrumbs to best suit your needs</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <nav class="breadcrumb pointer-separators medium center">
            <ul>
                <li><a href="#">Boba</a></li>
                <li><a href="#">Pointers</a></li>
                <li><a href="#">Medium</a></li>
                <li class="active"><a href="#">Center Align</a></li>
            </ul>
        </nav>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltnav class="breadcrumb pointer-separators medium center"&gt
    &ltul&gt
        &ltli&gt&lta href="#"&gtBoba&lt/a&gt&lt/li&gt
        &ltli&gt&lta href="#"&gtPointers&lt/a&gt&lt/li&gt
        &ltli&gt&lta href="#"&gtMedium&lt/a&gt&lt/li&gt
        &ltli class="active"&gt&lta href="#"&gtCenter Align&lt/a&gt&lt/li&gt
    &lt/ul&gt
&lt/nav&gt</code></pre>
        </div>
    </div>
</div>
