<div class="row">
    <div class="col xs-12">
        <h1 class="header">Styles</h1>
        <h5 class="subheader thin no-margin">Customize your separators using the <code class="inline">.{STYLE}-separators</code> classes.</h5>
    </div>
</div>

<hr class="light" />
{% include "templates/docs/breadcrumbs/styles/pointer.njk" %}

<hr class="light" />
{% include "templates/docs/breadcrumbs/styles/arrow.njk" %}

<hr class="light" />
{% include "templates/docs/breadcrumbs/styles/triangle.njk" %}

<hr class="light" />
{% include "templates/docs/breadcrumbs/styles/dash.njk" %}

<hr class="light" />
{% include "templates/docs/breadcrumbs/styles/bullet.njk" %}
