<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page_title }} | Build with Boba</title>
        <link rel="stylesheet" href="/boba.min.css">
        <link rel="stylesheet" href="/documentation.min.css">
    </head>
    <body>
        {% include "templates/core/_navbar.njk" %}

        {% block main %}
        {% endblock %}

        {% include "templates/core/_footer.njk" %}

        <script type="text/javascript" src="/documentation.min.js"></script>
    </body>
</html>
