@import 'constants';
@import 'styling';

blockquote {
    border-left: 0.3rem solid $color-dark;
	margin: 0 $blockquote-hmargin $blockquote-vmargin;
    padding: $blockquote-vpadding $blockquote-hpadding;

    &:last-child {
        margin-bottom: 0;
    }
    
    &:after {
        content: attr(author);
        display: block;
        text-align: right;
    }

    @if $include-color-palette {
        @include blockquote-colors;
    }
}
	