@import 'constants';
@import 'styling';

blockquote {
    border-left: 0.3rem solid $color-dark;
	margin: 0 $blockquote-hmargin $blockquote-vmargin;
    padding: $blockquote-vpadding $blockquote-hpadding;

    &:last-child {
        margin-bottom: 0;
    }

    .blockquote-footer {
        color: darken-3($color-light);

        &:before {
            content: "\2014 \00A0";
        }
    }

    @if $include-color-palette {
        @include blockquote-colors;
    }
}
	
