<div class="row">
    <div class="col xs-12">
        <h1 class="header">Notifications</h1>
        <h5 class="subheader thin no-margin">Notifications come in all of <a href="./colors.html">boba's colors</a>.</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="notification">
            <p>This is the default style if no styling is applied.</p>
        </div>
        {% for color in global_color_list_core %}
        <div class="notification {{ color}}">
            <p>This notification uses the <code>.{{ color}}</code> class.</p>
        </div>
        {% endfor %}
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;div class="notification green"&gt;
    &lt;p&gt;Add a &lt;code&gt;.green&lt;/code&gt; class&lt;/p&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>