<div class="row">
    <div class="col xs-12">
        <h1 class="header">Notifications</h1>
        <h5 class="subheader thin no-margin">Notifications come in all colors</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="notification">
            <p>This is the default style if no styling is applied.</p>
        </div>
        <div class="notification red">
            <p>Add a <code>.red</code> class.</p>
        </div>
        <div class="notification orange">
            <p>Add an <code>.orange</code> class.</p>
        </div>
        <div class="notification yellow">
            <p>Add a <code>.yellow</code> class.</p>
        </div>
        <div class="notification green">
            <p>Add a <code>.green</code> class.</p>
        </div>
        <div class="notification teal">
            <p>Add a <code>.teal</code> class.</p>
        </div>
        <div class="notification blue">
            <p>Add a <code>.blue</code> class.</p>
        </div>
        <div class="notification indigo">
            <p>Add an <code>.indigo</code> class.</p>
        </div>
        <div class="notification purple">
            <p>Add a <code>.purple</code> class.</p>
        </div>
        <div class="notification pink">
            <p>Add a <code>.pink</code> class.</p>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltdiv class="notification green"&gt
    &ltp&gtAdd a &ltcode&gt.green&lt/code&gt class&lt/p&gt
&lt/div&gt</code></pre>
        </div>
    </div>
</div>