<div class="row">
    <div class="col xs-12">
        <h1 class="header">Styles</h1>
        <h5 class="subheader thin no-margin">Change the look of your notifications with ease.</h5>
    </div>
</div>

<hr class="light" />
{% include "templates/docs/notifications/styles/filled.njk" %}

<hr class="light" />
{% include "templates/docs/notifications/styles/bordered.njk" %}

<hr class="light" />
{% include "templates/docs/notifications/styles/outlined.njk" %}
