<div class="row">
    <div class="col xs-12">
        <h4 class="header">Combinations</h4>
        <h6 class="subheader thin no-margin">Combine the various text helper classes to create the perfect text.</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <h5 class="text-red text-hover-green text-active-blue">Red, Hover-Green, Active-Blue</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt;h5 class="text-red text-hover-green text-active-blue"&gt; Red, Hover-Green, Active-Blue &lt;/h5&gt;</code></pre>
        </div>
    </div>
</div>