<div class="row">
    <div class="col xs-12">
        <h1 class="header">Text</h1>
        <h5 class="subheader thin no-margin">Text hover effects</h5>
    </div>
    <div class="col xs-12 col-middle">
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="15"><span class="bold">Text</span</td>
                </tr>
                <tr>
                    <td colspan="3">To change the text color on hover, add a <code class="inline">.text-hover-{COLOR}</code> class. Colors are from boba's palette.</td>
                </tr>
                <tr>
                    <td><code class="inline">.text-hover-red</code></td>
                    <td>Add the <code class="inline">.text-hover-red</code> class to make text red on hover.</td>
                    <td class="text-hover-red"><span>Hello World, I'm red on hover!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-hover-orange</code></td>
                    <td>Add the <code class="inline">.text-hover-orange</code> class to make text orange on hover.</td>
                    <td class="text-hover-orange"><span>Hello World, I'm orange on hover!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-hover-yellow</code></td>
                    <td>Add the <code class="inline">.text-hover-yellow</code> class to make text yellow on hover.</td>
                    <td class="text-hover-yellow"><span>Hello World, I'm yellow on hover!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-hover-green</code></td>
                    <td>Add the <code class="inline">.text-hover-green</code> class to make text green on hover.</td>
                    <td class="text-hover-green"><span>Hello World, I'm green on hover!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-hover-teal</code></td>
                    <td>Add the <code class="inline">.text-hover-teal</code> class to make text teal on hover.</td>
                    <td class="text-hover-teal"><span>Hello World, I'm teal on hover!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-hover-blue</code></td>
                    <td>Add the <code class="inline">.text-hover-blue</code> class to make text blue on hover.</td>
                    <td class="text-hover-blue"><span>Hello World, I'm blue on hover!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-hover-indigo</code></td>
                    <td>Add the <code class="inline">.text-hover-indigo</code> class to make text indigo on hover.</td>
                    <td class="text-hover-indigo"><span>Hello World, I'm indigo on hover!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-hover-purple</code></td>
                    <td>Add the <code class="inline">.text-hover-purple</code> class to make text purple on hover.</td>
                    <td class="text-hover-purple"><span>Hello World, I'm purple on hover!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-hover-pink</code></td>
                    <td>Add the <code class="inline">.text-hover-pink</code> class to make text pink on hover.</td>
                    <td class="text-hover-pink"><span>Hello World, I'm pink on hover!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-hover-dark</code></td>
                    <td>Add the <code class="inline">.text-hover-dark</code> class to make text dark on hover.</td>
                    <td class="text-hover-dark"><span>Hello World, I'm dark on hover!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-hover-light</code></td>
                    <td>Add the <code class="inline">.text-hover-light</code> class to make text light on hover.</td>
                    <td class="bg-hover-dark lighten-bg-hover-2 text-hover-light"><span>Hello World, I'm light on hover!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-hover-black</code></td>
                    <td>Add the <code class="inline">.text-hover-black</code> class to make text black on hover.</td>
                    <td class="text-hover-black"><span>Hello World, I'm black on hover!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-hover-white</code></td>
                    <td>Add the <code class="inline">.text-hover-white</code> class to make text white on hover.</td>
                    <td class="bg-hover-dark lighten-bg-hover-2 text-hover-white"><span>Hello World, I'm white on hover!</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
