{% set light_shades = ['lighten-text-3', 'lighten-text-2', 'lighten-text-1'] %}
{% set dark_shades = ['darken-text-1', 'darken-text-2', 'darken-text-3'] %}

<div class="row">
    <div class="col xs-12">
        <h4 class="header">Color Shades</h4>
        <h6 class="subheader thin">Further fine-tune the color of your text by adjusting its shade.</h6>
        <div class="message blue">
            <div class="message-header">
                <p>Clarification</p>
            </div>
            <div class="message-body">
                <p>These classes must be used in conjunction with a <code class="inline">.text-{COLOR}</code> class.</p>
            </div>
        </div> 
    </div>
    <div class="col xs-12 col-middle">
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="{{ (light_shades | length) + (dark_shades | length) + 3}}"><span class="bold">Color Shades</span></td>
                </tr>
                <tr>
                    <td colspan="3"><p>To change the shade of your colored text, use the <code class="inline">.lighten-text-{STEP}</code> and <code class="inline">.darken-text-{STEP}</code> classes.</p>
                    <p>There are a total of 3 steps in either direction (i.e. a total of 7 shades are available per color).</p></td>
                </tr>
                {% for shade in light_shades %}
                <tr>
                    <td class="text-center"><code class="inline">.{{ shade }}</code></td>
                    <td>Add this class to make your text {{ loop.length - loop.index + 1 }} shade{{ "s" if loop.index != 3}} lighter.</td>
                    <td class="text-red {{ shade }}"><span>I'm red text with {{ shade }}!</span></td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="text-center">Base Color</td>
                    <td>This is default text with <code class="inline">.text-red</code> for reference.</td>
                    <td class="text-red"><span>I'm the default red text!</span></td>
                </tr>
                {% for shade in dark_shades %}
                <tr>
                    <td class="text-center"><code class="inline">.{{ shade }}</code></td>
                    <td>Add this class to make your text {{ loop.index }} shade{{ "s" if loop.index != 1}} darker.</td>
                    <td class="text-red {{ shade }}"><span>I'm red text with {{ shade }}!</span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>