<div class="row">
    <div class="col xs-12">
        <h1 class="header">Changelog</h1>
        <h5 class="subheader thin no-margin">Find out what's new in the latest version of boba.</h5>
    </div>
</div>

{% include "templates/docs/changelog/versions/1.1.x/1.1.3.njk" %}
{% include "templates/docs/changelog/versions/1.1.x/1.1.0.njk" %}
{% include "templates/docs/changelog/versions/1.0.x/1.0.0.njk" %}
{% include "templates/docs/changelog/versions/0.1.x/0.1.0.njk" %}
{% include "templates/docs/changelog/versions/0.0.x/0.0.1.njk" %}
