<div class="row">
    <div class="col xs-12">
        <h4 class="header">Combinations</h4>
        <h6 class="subheader thin no-margin">Use the <code class="inline">.rounded</code> class with either the <code class="inline">.inverted</code> or <code class="inline">.outlined</code> class to create the perfect button.</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div>
            <button class="red rounded inverted">Red</button>
            <button class="green rounded outlined">Green</button>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;button class="red rounded inverted"&gt; Red &lt;/button&gt;
&lt;button class="green rounded outlined"&gt; Green &lt;/button&gt;</code></pre>
        </div>
    </div>
</div>