<div class="row">
    <div class="col xs-12">
        <h4 class="header">Outlined</h4>
        <h6 class="subheader thin no-margin">Add the <code class="inline">.outlined</code> class to make your buttons simple colored outlines.</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div>
            <button class="outlined mv-1">Default</button>
            <br />
            {% for color in global_color_list_core %}
            <button class="{{ color }} outlined mv-1">{{ color | capitalize }}</button>
            {% endfor %}
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;button class="green outlined"&gt; Green &lt;/button&gt;</code></pre>
        </div>
    </div>
</div>