<div class="row">
    <div class="col xs-12">
        <h4 class="header">Rounded</h4>
        <h6 class="subheader thin no-margin">Buttons can be pill-shaped</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div>
            <button class="rounded">Default</button>
            <br />
            {% for color in global_color_list_core %}
            <button class="{{ color }} rounded">{{ color | capitalize }}</button>
            {% endfor %}
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltbutton class="green rounded"&gt Green &lt/button&gt</code></pre>
        </div>
    </div>
</div>