<div class="row">
    <div class="col xs-12">
        <h4 class="header">Rounded</h4>
        <h6 class="subheader thin no-margin">Buttons can be pill-shaped</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div>
            <button class="rounded">Default</button>
            <br />
            <button class="red rounded">Red</button>
            <button class="orange rounded">Orange</button>
            <button class="yellow rounded">Yellow</button>
            <button class="green rounded">Green</button>
            <button class="teal rounded">Teal</button>
            <button class="blue rounded">Blue</button>
            <button class="indigo rounded">Indigo</button>
            <button class="purple rounded">Purple</button>
            <button class="pink rounded">Pink</button>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltbutton class="green rounded"&gt Green &lt/button&gt</code></pre>
        </div>
    </div>
</div>