<div class="row">
    <div class="col xs-12">
        <h4 class="header">Rounded</h4>
        <h6 class="subheader thin no-margin">Make your buttons pill-shaped using the <code class="inline">.rounded</code> class.</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div>
            <button class="rounded mv-1">Default</button>
            <br />
            {% for color in global_color_list_core %}
            <button class="{{ color }} rounded mv-1">{{ color | capitalize }}</button>
            {% endfor %}
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;button class="green rounded"&gt; Green &lt;/button&gt;</code></pre>
        </div>
    </div>
</div>