<div class="row">
    <div class="col xs-12">
        <h4 class="header">Boxed</h4>
        <h6 class="subheader thin no-margin">Active tabs will have a border around them</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div>
            <div class="tabs boxed purple">
                <ul>
                    <li class="active"><a>Purple</a></li>
                    <li><a>Tab 2</a></li>
                    <li><a>Tab 3</a></li>
                    <li><a>Tab 4</a></li>
                </ul>
            </div>
        </div>
        <div>
            <div class="tabs boxed orange">
                <ul>
                    <li class="active"><a>Orange</a></li>
                    <li><a>Tab 2</a></li>
                    <li><a>Tab 3</a></li>
                    <li><a>Tab 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt;div class="tabs boxed green"&gt;
    &lt;ul&gt;
        &lt;li class="active"&gt;&lt;a&gt;Green&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a&gt;Tab 2&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a&gt;Tab 3&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a&gt;Tab 4&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>