<div class="row">
    <div class="col xs-12">
        <h1 class="header">Colors</h1>
        <h5 class="subheader thin no-margin">Change the color of your progress bar using boba's <a href="./colors.html" class="text-blue text-hover-green">color palette</a></h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        {% for color in global_color_list_core %}
        <div class="progress">
            <div class="progress-bar {{ color }}" style="width:{{ loop.index * 10 + "%" }}">{{ color | capitalize }}</div>
        </div>
        {% if loop.index != loop.length %}
        <br />
        {% endif %}
        {% endfor %}
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt;div class="progress"&gt;
    &lt;div class="progress-bar green" style="width:50%"&gt;
        Green
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>
