<div class="row">
    <div class="col xs-12">
        <h1 class="header">Combinations</h1>
        <h5 class="subheader thin no-margin">You can combine them to create the progress bar you need</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class='progress medium'>
            <div class='progress-bar red' style='width:50%'>Red, Medium</div>
        </div>
        </br>
        <div class='progress large'>
            <div class='progress-bar outlined blue' style='width:50%'>Blue, Large, Striped</div>
        </div>
        </br>
        <div class='progress'>
            <div class='progress-bar outlined pink' style='width:30%'>Pink, Outlined</div>
            <div class='progress-bar striped green' style='width:40%'>Green, Striped</div>
            <div class='progress-bar purple' style='width:10%'>Purple</div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltdiv class="progress medium"&gt
    &ltdiv class="progress-bar striped red" style="width:50%"&gt
        Striped, Red, Medium
    &lt/div&gt
&lt/div&gt</code></pre>
        </div>
    </div>
</div>
