<div class="row">
    <div class="col xs-12">
        <h1 class="header">Progress</h1>
        <h5 class="subheader thin no-margin">Change the progress by using the CSS <code class="inline">width</code> property</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="progress">
            <div class="progress-bar" style="width:0%"></div>
        </div>
        </br>
        <div class="progress">
            <div class="progress-bar" style="width:25%">Default 25%</div>
        </div>
        </br>
        <div class="progress">
            <div class="progress-bar" style="width:50%">Default 50%</div>
        </div>
        </br>
        <div class="progress">
            <div class="progress-bar" style="width:75%">Default 75%</div>
        </div>
        </br>
        <div class="progress">
            <div class="progress-bar" style="width:100%">Default 100%</div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltdiv class="progress"&gt
    &ltdiv class="progress-bar" style="width:50%"&gt
        Default 50%
    &lt/div&gt
&lt/div&gt</code></pre>
        </div>
    </div>
</div>
