<div class="row">
    <div class="col xs-12">
        <h1 class="header">Sizes</h1>
        <h5 class="subheader thin no-margin">Progress bars can be resized.</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="progress small">
            <div class="progress-bar" style="width:25%">Small</div>
        </div>
        <br />
        <div class="progress">
            <div class="progress-bar" style="width:50%">Default</div>
        </div>
        <br />
        <div class="progress medium">
            <div class="progress-bar" style="width:75%">Medium</div>
        </div>
        <br />
        <div class="progress large">
            <div class="progress-bar" style="width:100%">Large</div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;div class="progress"&gt;
    &lt;div class="progress-bar small" style="width:50%"&gt;
        Small
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class="progress"&gt;
    &lt;div class="progress-bar" style="width:50%"&gt;
        Default
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class="progress"&gt;
    &lt;div class="progress-bar medium" style="width:50%"&gt;
        Medium
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class="progress"&gt;
    &lt;div class="progress-bar large" style="width:50%"&gt;
        Large
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>
