<div class="row">
    <div class="col xs-12">
        <h1 class="header">Stacking</h1>
        <h5 class="subheader thin no-margin">You can stack different progress bars</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class='progress'>
            <div class='progress-bar red' style='width:10%'>Music</div>
            <div class='progress-bar blue' style='width:40%'>Photos</div>
            <div class='progress-bar yellow' style='width:20%'>Apps</div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltdiv class="progress"&gt
    &ltdiv class="progress-bar red" style="width:10%"&gt
        Music
    &lt/div&gt
    &ltdiv class="progress-bar red" style="width:40%"&gt
        Photos
    &lt/div&gt
    &ltdiv class="progress-bar red" style="width:20%"&gt
        Apps
    &lt/div&gt
&lt/div&gt</code></pre>
        </div>
    </div>
</div>
