<div class="row">
    <div class="col xs-12">
        <h1 class="header">Stacking</h1>
        <h5 class="subheader thin no-margin">Stack multiple progress bars to compare related information</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="progress">
            <div class="progress-bar red" style="width:10%">Music</div>
            <div class="progress-bar blue" style="width:40%">Photos</div>
            <div class="progress-bar yellow" style="width:20%">Apps</div>
        </div>
        <br />
        <div class="progress">
            <div class="progress-bar green" style="width:15%">Ready</div>
            <div class="progress-bar striped orange" style="width:40%">Buffering</div>
            <div class="progress-bar outlined purple" style="width:25%">Blocked</div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;div class="progress"&gt;
    &lt;div class="progress-bar red" style="width:10%"&gt;
        Music
    &lt;/div&gt;
    &lt;div class="progress-bar blue" style="width:40%"&gt;
        Photos
    &lt;/div&gt;
    &lt;div class="progress-bar yellow" style="width:20%"&gt;
        Apps
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class="progress"&gt;
    &lt;div class="progress-bar green" style="width:15%"&gt;
        Ready
    &lt;/div&gt;
    &lt;div class="progress-bar striped orange" style="width:40%"&gt;
        Buffering
    &lt;/div&gt;
    &lt;div class="progress-bar outlined purple" style="width:25%"&gt;
        Blocked
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>
