<div class="row">
    <div class="col xs-12">
        <h1 class="header">Styles</h1>
        <h5 class="subheader thin no-margin">Progress bars can have different styles</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <h4>Striped</h4>
        <div class='progress'>
            <div class='progress-bar striped' style='width:50%'>Striped</div>
        </div>
        </br>
        <h4>Outlined</h4>
        <div class='progress'>
            <div class='progress-bar outlined' style='width:50%'>Outlined</div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltdiv class="progress"&gt
    &ltdiv class="progress-bar striped" style="width:50%"&gt
        Outlined
    &lt/div&gt
&lt/div&gt</code></pre>
        </div>
    </div>
</div>
