<div class="row">
    <div class="col xs-12">
        <h1 class="header">Styles</h1>
        <h5 class="subheader thin no-margin">Change the look of your progress bars with ease.</h5>
    </div>
</div>

<hr class="light" />
{% include "templates/docs/progress/styles/striped.njk" %}

<hr class="light" />
{% include "templates/docs/progress/styles/outlined.njk" %}



