<div class="row">
    <div class="col xs-12">
        <h5>1.5.1</h5>
        <ul>
            <li>Removed bottom margin on subheaders when they are the last-child.</li>
            <li>Reworked padding between sidebar sticky-region and scroll-region.</li> 
        </ul>
    </div>
</div>
