<div class="row">
    <div class="col xs-12">
        <h5>1.5.0</h5>
        <ul>
            <li>Renamed boba-core -&gt; boba-lite.</li>
            <li>Renamed boba-lite -&gt; boba.</li>
            <li>Renamed boba -&gt; boba-extended.</li>
            <li>Added version overview to the homepage.</li>
            <li>Updated feature comparison chart.</li>
            <li>Updated background, border, and text utility pages to reflect version name changes.</li>
            <li>Updated the color of color-black.</li>
            <li>Set the default color of all text to color-black.</li> 
        </ul>
    </div>
</div>
