<div class="row">
    <div class="col xs-12">
        <h5>1.5.0</h5>
        <ul>
            <li>Renamed boba-core -&gt; boba-lite.</li>
            <li>Renamed boba-lite -&gt; boba.</li>
            <li>Renamed boba -&gt; boba-extended.</li>
            <li>Added version overview to the homepage.</li>
            <li>Added new shadow helpers classes to the utilites section.</li>
            <li>Replaced box-shadow on cards with borders to improve design cohesiveness.</li>
            <li>Deprecated blockquote author attribute in favour of footer and cite tags.</li>
            <li>Updated blockquote documentation to include alignment class helpers.</li>
            <li>Updated typography subheader classes to retain a line-height of 1 for better word-wrapping.</li>
            <li>Updated feature comparison chart.</li>
            <li>Updated background, border, and text utility pages to reflect version name changes.</li>
            <li>Updated the color of color-black.</li>
            <li>Reworked background tints to be more subtle.</li>
            <li>Set the default color of all text to color-black.</li> 
        </ul>
    </div>
</div>
