@import 'styling';

.message {
    @include message-base;
    background-color: transparentBG($color-dark);

    .message-header {
        @include message-header-base;
        background-color: $color-dark;
        color: $color-white;
    }

    .message-body {
        @include message-body-base;
        border: solid 1px $color-dark;
        color: $color-dark;
    }

    @if $include-color-palette {
        @include message-colors; 
    }
}
