@import 'constants';

@mixin message-base {
    border-radius: $border-radius;
    font-size: 1em;
    &:not(:last-child) {
        margin-bottom: 1.5em;
    }
}

@mixin message-header-base {
    align-items: center;
    display: flex;
    justify-content: space-between;
    line-height: 0.5em;
    padding: 0.3em 1em;
    position: relative;
    & + .message-body {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: none;
    }
}

@mixin message-body-base {
    padding: 1em 1.25em;
}

@mixin message-colors {
    @each $colorName, $color in $color-list {
        &.#{$colorName}{
            background-color: transparentBG($color);
            border: solid 1px #{$color};

            .message-header {
                background-color: #{$color};
            }

            .message-body {
                
                color: darken-3($color);
            }
        }
    }
}
