@import 'styling';

.notification {
    @include notification-base;
    background-color: transparentBG($color-dark);
    border: solid 1px $color-dark;
    color: $color-dark;

    // Modifiers
    &.filled {
        background-color: $color-dark;
        color: $color-white;
    }

    &.outlined {
        background-color: rgba(0,0,0,0);
    }

    @if $include-color-palette {
        @include notification-colors; 
    }
}
