@import 'styling';

.notification {
    @include notification-base;

    // Modifiers
    &.filled {
        background-color: $color-dark;
        color: $color-white;
    }

    &.bordered {
        border-color: $color-dark;
    }

    &.outlined {
        border-color: $color-dark;
        background-color: rgba(0,0,0,0);
    }

    @if $include-color-palette {
        @include notification-colors; 
    }
}
