<div class="row">
    <div class="col xs-12">
        <h1 class="header">Resets</h1>
        <h5 class="subheader thin no-margin">Use these utility classes to reset any of boba's predefined styles.</h5>
    </div>
    <div class="col xs-12 col-middle">
        <div>
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="3"><span class="bold">Spacing</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.no-margin</code></td>
                    <td>Removes all margin from an element.</td>
                </tr>
                <tr>
                    <td><code class="inline">.no-padding</code></td>
                    <td>Removes all padding from an element.</td>
                </tr>

                <tr>
                    <td rowspan="2"><span class="bold">Stylistic</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.no-shadow</code></td>
                    <td>Removes all shadows from an element.</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
