<div class="row">
    <div class="col xs-12">
        <h1 class="header">Sizes</h1>
        <h5 class="subheader thin no-margin">Different sized breadcrumbs</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
    <nav class="breadcrumb small">
        <ul>
            <li><a href="#">Boba</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Components</a></li>
            <li class="is-active"><a href="#">Small Breadcrumb</a></li>
        </ul>
    </nav>
    <nav class="breadcrumb">
        <ul>
            <li><a href="#">Boba</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Components</a></li>
            <li class="is-active"><a href="#">Default Breadcrumb</a></li>
        </ul>
    </nav>
    <nav class="breadcrumb medium">
        <ul>
            <li><a href="#">Boba</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Components</a></li>
            <li class="is-active"><a href="#">Medium Breadcrumb</a></li>
        </ul>
    </nav>
    <nav class="breadcrumb large">
        <ul>
            <li><a href="#">Boba</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Components</a></li>
            <li class="is-active"><a href="#">Large Breadcrumb</a></li>
        </ul>
    </nav>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltnav class="breadcrumb medium"&gt
    &ltul&gt
        &ltli&gt&lta href="#"&gtBoba&lt/a&gt&lt/li&gt
        &ltli&gt&lta href="#"&gtDocumentation&lt/a&gt&lt/li&gt
        &ltli&gt&lta href="#"&gtComponents&lt/a&gt&lt/li&gt
        &ltli class="is-active"&gt&lta href="#"&gtBreadcrumb&lt/a&gt&lt/li&gt
    &lt/ul&gt
&lt/nav&gt</code></pre>
        </div>
    </div>
</div>
