<div class="row">
    <div class="col xs-12">
        <h1 class="header">Styles</h1>
        <h5 class="subheader thin no-margin">Different styled separators</h5>
    </div>
</div>

<hr class="light" />
{% include "templates/docs/breadcrumb/styles/pointer.njk" %}

<hr class="light" />
{% include "templates/docs/breadcrumb/styles/arrow.njk" %}

<hr class="light" />
{% include "templates/docs/breadcrumb/styles/triangle.njk" %}

<hr class="light" />
{% include "templates/docs/breadcrumb/styles/dash.njk" %}

<hr class="light" />
{% include "templates/docs/breadcrumb/styles/bullet.njk" %}
