<div class="row">
    <div class="col xs-12">
        <h4 class="header">Styled Collapsible</h4>
        <h6 class="subheader thin no-margin">Give your collapsible components a more polished look by adding the <code class="inline">.styled</code> class.</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="collapsible styled">
            <input type="checkbox" class="collapsible-toggle" id="first-styled-collapsible styled" name="collapsible-checkbox" checked />
            <label class="collapsible-header" for="first-styled-collapsible styled">
                First Collapsible
            </label>
            <div class="collapsible-body">
                <ul class="collapsible-submenu">
                    <li>Submenu Item 1</li>
                    <li>
                        <div class="collapsible styled">
                            <input type="checkbox" class="collapsible-toggle" id="first-styled-nested-collapsible styled" name="collapsible-checkbox" />
                            <label class="collapsible-header" for="first-styled-nested-collapsible styled">
                                Submenu Item 2 (Click me!)
                            </label>
                            <div class="collapsible-body">
                                <ul class="collapsible-submenu">
                                    <li>Nested Menu Item 1</li>
                                    <li>Nested Menu Item 2</li>
                                    <li>Nested Menu Item 3</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>Submenu Item 3</li>
                </ul>
            </div>
        </div>
        <div class="collapsible styled">
            <input type="checkbox" class="collapsible-toggle" id="second-styled-collapsible styled" name="collapsible-checkbox" />
            <label class="collapsible-header" for="second-styled-collapsible styled">
                Second Collapsible
            </label>
            <div class="collapsible-body">
                <h5>You can place anything inside of a collapsible component!</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a ultricies mauris. Donec posuere ultrices tortor. Aliquam fringilla tellus odio, nec vehicula mi placerat nec. Duis bibendum eget ipsum eget dapibus. Aenean sit amet dui at dolor condimentum sagittis.</p>
            </div>
        </div>
        <div class="collapsible styled">
            <input type="checkbox" class="collapsible-toggle" id="third-styled-collapsible styled" name="collapsible-checkbox" />
            <label class="collapsible-header" for="third-styled-collapsible styled">
                Third Collapsible
            </label>
            <div class="collapsible-body">
                <img class="img-responsive" src="http://placehold.it/200x100" alt="Image">
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;div class="collapsible styled"&gt;
    &lt;input type="checkbox" class="collapsible-toggle" id="first-styled-collapsible styled" name="collapsible-checkbox" checked /&gt;
    &lt;label class="collapsible-header" for="first-styled-collapsible styled"&gt;
        First Collapsible
    &lt;/label&gt;
    &lt;div class="collapsible-body"&gt;
        &lt;ul class="collapsible-submenu"&gt;
            &lt;li&gt;Submenu Item 1&lt;/li&gt;
            &lt;li&gt;
                &lt;div class="collapsible styled"&gt;
                    &lt;input type="checkbox" class="collapsible-toggle" id="first-styled-nested-collapsible styled" name="collapsible-checkbox" /&gt;
                    &lt;label class="collapsible-header" for="first-styled-nested-collapsible styled"&gt;
                        Submenu Item 2 (Click me!)
                    &lt;/label&gt;
                    &lt;div class="collapsible-body"&gt;
                        &lt;ul class="collapsible-submenu"&gt;
                            &lt;li&gt;Nested Menu Item 1&lt;/li&gt;
                            &lt;li&gt;Nested Menu Item 2&lt;/li&gt;
                            &lt;li&gt;Nested Menu Item 3&lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/li&gt;
            &lt;li&gt;Submenu Item 3&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class="collapsible styled"&gt;
    &lt;input type="checkbox" class="collapsible-toggle" id="second-styled-collapsible styled" name="collapsible-checkbox" checked /&gt;
    &lt;label class="collapsible-header" for="second-styled-collapsible styled"&gt;
        Second Collapsible
    &lt;/label&gt;
    &lt;div class="collapsible-body"&gt;
        &lt;h5&gt;You can place anything inside of a collapsible component!&lt;/h5&gt;
        &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a ultricies mauris. Donec posuere ultrices tortor. Aliquam fringilla tellus odio, nec vehicula mi placerat nec. Duis bibendum eget ipsum eget dapibus. Aenean sit amet dui at dolor condimentum sagittis.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class="collapsible styled"&gt;
    &lt;input type="checkbox" class="collapsible-toggle" id="third-styled-collapsible styled" name="collapsible-checkbox" checked /&gt;
    &lt;label class="collapsible-header" for="third-styled-collapsible styled"&gt;
        Third Collapsible
    &lt;/label&gt;
    &lt;div class="collapsible-body"&gt;
        &lt;img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=33&amp;txt=200%C3%97100&amp;w=200&amp;h=100" alt="Image"&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>
