<div class="row">
    <div class="col xs-12">
        <h4 class="header">Bordered</h4>
        <h6 class="subheader thin no-margin">Add a border around your message using <code class="inline">.bordered</code></h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="message bordered">
            <div class="message-header">
                <p>Default Message</p>
            </div>
            <div class="message-body">
                <p>Default style if <code>.bordered</code> is applied</p>
            </div>
        </div>
        <div class="message bordered red">
            <div class="message-header">
                <p>Red Message</p>
            </div>
            <div class="message-body">
                <p><code>.bordered</code> and <code>.red</code></p>
            </div>
        </div>
        <div class="message bordered green">
            <div class="message-body">
                <p>Body-only with <code>.bordered</code> and <code>.green</code></p>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltdiv class="message bordered"&gt
    &ltdiv class="message-header"&gt
        &ltp&gtDefault Message&lt/p&gt
    &lt/div&gt
    &ltdiv class="message-body"&gt
        &ltp&gtThis is the default style if &ltcode&gt.bordered&lt/code&gt is applied.&lt/p&gt
    &lt/div&gt
&lt/div&gt

&ltdiv class="message bordered red"&gt
    &ltdiv class="message-header"&gt
        &ltp&gtRed Message&lt/p&gt
    &lt/div&gt
    &ltdiv class="message-body"&gt
        &ltp&gtAdd both &ltcode&gt.bordered&lt/code&gt and &ltcode&gt.red&lt/code&gt.&lt/p&gt
    &lt/div&gt
&lt/div&gt

&ltdiv class="message bordered green"&gt
    &ltdiv class="message-body"&gt
        &ltp&gtAdd a both &ltcode&gt.bordered&lt/code&gt and &ltcode&gt.green&lt/code&gt classes and remove the message header.&lt/p&gt
    &lt/div&gt
&lt/div&gt</code></pre>
        </div>
    </div>
</div>