<div class="row">
    <div class="col xs-12">
        <h1 class="header">Margins Modifiers</h1>
        <h5 class="subheader thin no-margin">To get the perfect text spacing.</h5>
    </div>
</div>

<hr class="light" />
{% include "templates/docs/typography/margin_modifiers/default_margin.njk" %}

<hr class="light" />
{% include "templates/docs/typography/margin_modifiers/less_margin.njk" %}

<hr class="light" />
{% include "templates/docs/typography/margin_modifiers/no_margin.njk" %}

