<div class="row">
    <div class="col xs-12">
        <h1 class="header">Typography</h1>
        <h5 class="subheader thin no-margin">Handpicked fonts to make your project stand out</h5>
    </div>
</div>

<hr class="light" />
{% include "templates/docs/typography/base/headings.njk" %}

<hr class="light" />
{% include "templates/docs/typography/base/thin.njk" %}
                