<div class="row">
    <div class="col xs-12">
        <h1 class="header">Typography</h1>
        <h5 class="subheader thin">Handpicked fonts to make your project stand out.</h5>
        <div class="message blue m-0">
            <div class="message-header">
                <p>Clarification</p>
            </div>
            <div class="message-body">
                <p>Our website uses the <a href="https://fonts.google.com/specimen/Fira+Sans" target="_blank">Fira Sans</a> and <a href="https://fonts.google.com/specimen/Muli" target="_blank">Muli</a> fonts from <a href="https://fonts.google.com/" target="_blank">Google Fonts</a>.</p>
                <p>Learn more about using custom fonts in our <a href="/docs/customize.html">customization guide</a>.</p>
            </div>
        </div>
    </div>
</div>

<hr class="light" />
{% include "templates/docs/typography/base/headings.njk" %}
<hr class="light" />
{% include "templates/docs/typography/base/body.njk" %}

