<div class="row">
    <div class="col xs-12">
        <h1 class="header">Weight</h1>
        <h5 class="subheader thin no-margin">Change the weight of the fonts</h5>
    </div>
</div>

<hr class="light" />
{% include "templates/docs/typography/weight/bold.njk" %}

<hr class="light" />
{% include "templates/docs/typography/weight/semibold.njk" %}

<hr class="light" />
{% include "templates/docs/typography/weight/thin.njk" %}
