$sb-side-sticky-content-padding: 1rem 1.8rem 0;
$sb-side-scroll-content-padding: 1rem 1.8rem;
$sb-side-sticky-region-font-size: 2em;
$sb-side-navbar-toggle-padding: 1.6em 1.2em;
$sb-side-navbar-width: 14rem;
$sb-side-navbar-color: lighten($color-dark, 66%);
