<div class="row">
    <div class="col xs-12">
        <h1 class="header">Hover</h1>
        <h5 class="subheader thin no-margin">Use the hover classes to change the perceived z-depth of an element only when someone hovers/focuses on it.</h5>
    </div>
    <div class="col xs-12 col-middle">
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="7"><span class="bold">Shadow Z-Depth</span</td>
                </tr>
                <tr>
                    <td><code class="inline">No Shadow</code></td>
                    <td>For reference, this is an element with the default z-depth of 0.</td>
                    <td class="text-center"><span class="bg-light" style="display: inline-block; height: 100px; width: 100px;"></span></td>
                </tr>
                {% for shadowLevel in range(1, 6) %}
                <tr>
                    <td><code class="inline">.shadow-hover-{{shadowLevel}}</code></td>
                    <td>Add the <code class="inline">.shadow-hover-{{shadowLevel}}</code> class to an element to change its z-depth to {{shadowLevel}} on hover/focus.</td>
                    <td class="text-center"><span class="shadow-hover-{{shadowLevel}} bg-light" style="display: inline-block; height: 100px; width: 100px;"></span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
