<div class="row">
    <div class="col xs-12">
        <h1 class="header">Shadows</h1>
        <h5 class="subheader thin no-margin">Easily add a sense of depth to your components using these classes.</h5>
    </div>
    <div class="col xs-12 col-middle">
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="7"><span class="bold">Shadow Z-Depth</span</td>
                </tr>
                <tr>
                    <td><code class="inline">No Shadow</code></td>
                    <td>For reference, this is an element with the default z-depth of 0.</td>
                    <td class="text-center"><span class="bg-light" style="display: inline-block; height: 100px; width: 100px;"></span></td>
                </tr>
                <tr>
                    <td><code class="inline">.shadow-1</code></td>
                    <td>Add the <code class="inline">.shadow-1</code> class to an element to give it a z-depth of 1.</td>
                    <td class="text-center"><span class="shadow-1 bg-light" style="display: inline-block; height: 100px; width: 100px;"></span></td>
                </tr>
                <tr>
                    <td><code class="inline">.shadow-2</code></td>
                    <td>Add the <code class="inline">.shadow-2</code> class to an element to give it a z-depth of 2.</td>
                    <td class="text-center"><span class="shadow-2 bg-light" style="display: inline-block; height: 100px; width: 100px;"></span></td>
                </tr>
                <tr>
                    <td><code class="inline">.shadow-3</code></td>
                    <td>Add the <code class="inline">.shadow-3</code> class to an element to give it a z-depth of 3.</td>
                    <td class="text-center"><span class="shadow-3 bg-light" style="display: inline-block; height: 100px; width: 100px;"></span></td>
                </tr>
                <tr>
                    <td><code class="inline">.shadow-4</code></td>
                    <td>Add the <code class="inline">.shadow-4</code> class to an element to give it a z-depth of 4.</td>
                    <td class="text-center"><span class="shadow-4 bg-light" style="display: inline-block; height: 100px; width: 100px;"></span></td>
                </tr>
                <tr>
                    <td><code class="inline">.shadow-5</code></td>
                    <td>Add the <code class="inline">.shadow-5</code> class to an element to give it a z-depth of 5.</td>
                    <td class="text-center"><span class="shadow-5 bg-light" style="display: inline-block; height: 100px; width: 100px;"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
