<div class="row">
    <div class="col xs-12">
        <h1 class="header">Soft Hover</h1>
        <h5 class="subheader thin no-margin">Use the soft hover classes to add a soft shadow to an element only when someone hovers/focuses on it.</h5>
    </div>
    <div class="col xs-12 col-middle">
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="7"><span class="bold">Shadow Diffusion</span</td>
                </tr>
                <tr>
                    <td><code class="inline">No Shadow</code></td>
                    <td>For reference, this is an element with no shadow.</td>
                    <td class="text-center"><span class="bg-light" style="display: inline-block; height: 100px; width: 100px;"></span></td>
                </tr>
                {% for shadowLevel in range(1, 4) %}
                <tr>
                    <td><code class="inline">.soft-shadow-hover-{{shadowLevel}}</code></td>
                    <td>Add the <code class="inline">.soft-shadow-hover-{{shadowLevel}}</code> class to an element to change its soft shadow diffusion amount to {{shadowLevel}} on hover/focus.</td>
                    <td class="text-center"><span class="soft-shadow-hover-{{shadowLevel}} bg-light" style="display: inline-block; height: 100px; width: 100px;"></span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
