@import 'styling';
@import 'constants';

.menu {
    @include menu-base;
    .menu-label {
        background-color: $color-dark;
        color: $color-white;
    }
    ul {
        &.menu-list {
            border: 1px solid $color-dark;
            border-top: 0;

            li {
                a {
                    color: $color-dark;
                    &.active {
                        background-color: $color-dark;
                        color: $color-white;
                    }
                    &:hover {
                        background-color: darken-1($color-dark);
                        color: $color-white;
                    }
                    &:hover {
                        background-color: darken-2($color-dark);
                        color: $color-white;
                    }
                }
            }
        }
    }
    @if $include-color-palette {
        @include menu-colors;
    }
}
