@import 'styling';
@import 'constants';

.menu {
    color: $color-dark; 

    input {
        &:checked ~ {
            & .menu-body {
                max-height: $accordion-menu-max-height;
            }
        }
        &:not(:checked) ~ {
            .menu-header {
                border-radius: $border-radius;
            }
            .menu-body {
                border: none;
            }
        }
    }

	.menu-header {
        @include accordion-menu-header-base;
        background: $color-dark;
        color: white;
        padding: 0.6em $menu-header-left-offset;
        border-radius: $border-radius $border-radius 0 0;
	}

	.menu-body {
        @include accordion-menu-body-base;
        border: 1px solid $color-dark;
        border-top: 0;
        line-height: 1.25;
        border-radius: 0 0 $border-radius $border-radius;
    }

    + .menu {
        padding-top: 1em;
    }

    @if $include-color-palette {
        @include menu-colors;
    }
}

.nested-menu {
    .menu {
        .menu-header {
            border: none;
            border-radius: 0;
            background: transparent;        
            color: $color-dark;
            padding: 0;
        }

        .menu-body {
            border: none;
            border-radius: 0;

            ul {
                &.menu-list {
                    margin-bottom: 0;

                    li {
                        &:last-child, &:only-child {
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}