@import 'constants';

@mixin accordion-menu-header-base {
	display: block;
	padding: $accordion-menu-default-vpadding $accordion-menu-default-hpadding;
	cursor: pointer;
}

@mixin accordion-menu-body-base {
	margin-bottom: $accordion-menu-header-default-margin;
	overflow: hidden;
	max-height: 0;
	transition: max-height .3s ease-in-out;
	padding-left: 0;

	ul {
		&.menu-list {
            margin-top: 0;
            margin-bottom: $accordion-submenu-default-margin;
            margin-left: 0;
            padding-left: $accordion-submenu-outer-hpadding;			
			list-style: none;

			li {
				padding: $accordion-submenu-item-vpadding $accordion-submenu-item-hpadding 0;
				cursor: pointer;
				margin: 0 0 $accordion-submenu-item-default-margin;

                &:last-child, &:only-child {
                    padding-bottom: $accordion-submenu-item-vpadding;
                }
            }
		}
    }
}

@mixin menu-colors {
    @each $colorName, $color in $color-list {
        &.#{$colorName}{
            .menu-header {
                background-color: $color;
            }

            .menu-body {
                border-color: $color;
            }
        }
    }
}
