<div class="row">
    <div class="col xs-12">
        <h1 class="header">Checkboxes</h1>
        <h5 class="subheader thin">Checkboxes let users select individual form items.</h5>
        <div class="message purple m-0">
            <div class="message-header">
                <p>Compatibility</p>
            </div>
            <div class="message-body">
                <p>Be sure that the input's type is <code class="inline">checkbox</code> and that each of the input's <code class="inline">id</code>s match their label's <code class="inline">for</code>!</p>
                <p>Note that for the <code class="inline">label</code> to be displayed correctly, it must be placed directly after the <code class="inline">input</code> tag.</p>
            </div>
        </div> 
    </div>
    <div class="col xs-12 md-6 col-middle">
        <form class="form-control" action="#" method="post">
            <div class="checkbox">
                <input type="checkbox" id="example-checkbox-1" class="checkbox-input" checked>
                <label for="example-checkbox-1" class="checkbox-label">
                    First Checkbox
                </label>
            </div>
            <div class="checkbox">
                <input type="checkbox" id="example-checkbox-2" class="checkbox-input" checked>
                <label for="example-checkbox-2" class="checkbox-label">
                    Second Checkbox
                </label>
            </div>
            <div class="checkbox">
                <input type="checkbox" id="example-checkbox-3" class="checkbox-input" checked>
                <label for="example-checkbox-3" class="checkbox-label">
                    Third Checkbox
                </label>
            </div>
        </form>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;form class="form-control" action="#" method="post"&gt;
    &lt;div class="checkbox"&gt;
        &lt;input type="checkbox" id="example-checkbox-1" class="checkbox-input" checked&gt;
        &lt;label for="example-checkbox-1" class="checkbox-label"&gt;
            First Checkbox
        &lt;/label&gt;
    &lt;/div&gt;

    &lt;div class="checkbox"&gt;
        &lt;input type="checkbox" id="example-checkbox-2" class="checkbox-input" checked&gt;
        &lt;label for="example-checkbox-2" class="checkbox-label"&gt;
            Second Checkbox
        &lt;/label&gt;
    &lt;/div&gt;

    &lt;div class="checkbox"&gt;
        &lt;input type="checkbox" id="example-checkbox-3" class="checkbox-input" checked&gt;
        &lt;label for="example-checkbox-3" class="checkbox-label"&gt;
            Third Checkbox
        &lt;/label&gt;
    &lt;/div&gt;
&lt;/form&gt;</code></pre>
        </div>
    </div>
</div>
