<div class="row">
    <div class="col xs-12">
        <h1 class="header">States</h1>
        <h5 class="subheader thin no-margin">Checkboxes can be disabled using the <code class="inline">disabled</code> attribute.</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <form class="form-control" action="#" method="post">
            <div class="checkbox">
                <input type="checkbox" id="example-checkbox-checked-disabled" class="checkbox-input" checked disabled>
                <label for="example-checkbox-checked-disabled" class="checkbox-label">
                    Disabled Checked Checkbox
                </label>
            </div>
            <div class="checkbox">
                <input type="checkbox" id="example-checkbox-unchecked-disabled" class="checkbox-input" disabled>
                <label for="example-checkbox-unchecked-disabled" class="checkbox-label">
                    Disabled Unchecked Checkbox
                </label>
            </div>
        </form>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;form class="form-control" action="#" method="post"&gt;
    &lt;div class="checkbox"&gt;
        &lt;input type="checkbox" id="example-checkbox-checked-disabled" class="checkbox-input" checked disabled&gt;
        &lt;label for="example-checkbox-checked-disabled" class="checkbox-label"&gt;
            Disabled Checked Checkbox
        &lt;/label&gt;
    &lt;/div&gt;
    
    &lt;div class="checkbox"&gt;
        &lt;input type="checkbox" id="example-checkbox-unchecked-disabled" class="checkbox-input" disabled&gt;
        &lt;label for="example-checkbox-unchecked-disabled" class="checkbox-label"&gt;
            Disabled Unchecked Checkbox
        &lt;/label&gt;
    &lt;/div&gt;
&lt;/form&gt;</code></pre>
        </div>
    </div>
</div>
