<div class="row">
    <div class="col xs-12 lg-4">
        <h3 class="header thin">Hover Colors</h3>
        <h6 class="subheader thin">Change color of your typography when hovering over</h6>
    </div>
    <div class="col xs-12 md-6 lg-4">
        <div>
            <span>Default</span>
            <span class="text-hover-red">Red</span>
            <span class="text-hover-orange">Orange</span>
            <span class="text-hover-yellow">Yellow</span>
            <span class="text-hover-green">Green</span>
            <span class="text-hover-teal">Teal</span>
            <span class="text-hover-blue">Blue</span>
            <span class="text-hover-indigo">Indigo</span>
            <span class="text-hover-purple">Purple</span>
            <span class="text-hover-pink">Pink</span>
            <span class="text-hover-dark">Dark</span>
            <span class="text-hover-light">Light</span>
            <span class="text-hover-black">Black</span>
        </div>
    </div>
    <div class="col xs-12 md-6 lg-4 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltspan class="text-hover-red"&gt Red &lt/span&gt</code></pre>
        </div>
    </div>
</div>
