<div class="row">
    <div class="col xs-12 lg-4">
        <h3 class="header thin">Colors</h3>
        <h6 class="subheader thin">Change color of your typography</h6>
    </div>
    <div class="col xs-12 md-6 lg-4">
        <div>
            <span>Default</span>
            <span class="text-red">Red</span>
            <span class="text-orange">Orange</span>
            <span class="text-yellow">Yellow</span>
            <span class="text-green">Green</span>
            <span class="text-teal">Teal</span>
            <span class="text-blue">Blue</span>
            <span class="text-indigo">Indigo</span>
            <span class="text-purple">Purple</span>
            <span class="text-pink">Pink</span>
            <span class="text-dark">Dark</span>
            <span class="text-light">Light</span>
            <span class="text-black">Black</span>
        </div>
    </div>
    <div class="col xs-12 md-6 lg-4 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltspan class="text-red"&gt Red &lt/span&gt</code></pre>
        </div>
    </div>
</div>
