<div class="row">
    <div class="col xs-12">
        <h4 class="header">Rounded</h4>
        <h6 class="subheader thin no-margin">Selects can be pill-shaped.</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <form class="form-control" action="#" method="post">
            <div>
                <label for="questions">Default Rounded Select</label>
                <span class="select-icon">
                    <select class="rounded" name="">
                        <option value="Option 1">Option</option>
                        <option value="Option 2">Second Option</option>
                        <option value="Option 3">Last Option</option>
                    </select>
                </span>
            </div>
            <br />
            <div>
                <label class="text-red" for="questions">Red Rounded Select</label>
                <span class="select-icon">
                    <select class="rounded red" name="">
                        <option value="Option 1">Option</option>
                        <option value="Option 2">Second Option</option>
                        <option value="Option 3">Last Option</option>
                    </select>
                </span>
            </div>
            <br />
            <div>
                <label class="text-green" for="questions">Green Rounded Select</label>
                <span class="select-icon">
                    <select class="rounded green" name="">
                        <option value="Option 1">Option</option>
                        <option value="Option 2">Second Option</option>
                        <option value="Option 3">Last Option</option>
                    </select>
                </span>
            </div>
        </form>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;form class="form-control" action="#" method="post"&gt;
    &lt;div&gt;
        &lt;label for="questions"&gt;Default Rounded Select&lt;/label&gt;
        &lt;span class="select-icon"&gt;
            &lt;select class="rounded green" name=""&gt;
                &lt;option value="Option 1"&gt;Option&lt;/option&gt;
                &lt;option value="Option 2"&gt;Second Option&lt;/option&gt;
                &lt;option value="Option 3"&gt;Last Option&lt;/option&gt;
            &lt;/select&gt;
        &lt;/span&gt;
    &lt;/div&gt;
    &lt;br /&gt;
    &lt;div&gt;
        &lt;label for="questions"&gt;Red Rounded Select&lt;/label&gt;
        &lt;span class="select-icon"&gt;
            &lt;select class="rounded red" name=""&gt;
                ...
            &lt;/select&gt;
        &lt;/span&gt;
    &lt;/div&gt;
    &lt;br /&gt;
    &lt;div&gt;
        &lt;label for="questions"&gt;Green Rounded Select&lt;/label&gt;
        &lt;span class="select-icon"&gt;
            &lt;select class="rounded green" name=""&gt;
                ...
            &lt;/select&gt;
        &lt;/span&gt;
    &lt;/div&gt;
&lt;/form&gt;</code></pre>
        </div>
    </div>
</div>