code {
    &.inline {
        background: whitesmoke;
        padding: 0 0.3em;
    }
}

.code-block {
    max-width: 100%;
    code {
        color: $color-dark;
        background: lighten-1($color-light);
        border: 1px solid darken-1($color-light);
        border-radius: 4px;
        font-size: 90%;
        white-space: nowrap;
    }
    pre {
        overflow: auto;
        & > code {
            display: block;
            padding: 1em 1.5em;
            white-space: pre;
            direction: ltr;
            text-align: left;
            word-spacing: normal;
            word-break: normal;
            white-space: pre;
            overflow-x: auto;
        }
    }
}
