.code-block {
    code {
        color: $color-dark;
        background: lighten-1($color-light);
        border: 1px solid darken-1($color-light);
        border-radius: 4px;
        padding: .2em .5em;
        margin: 1em .2em;
        font-size: 90%;
        white-space: nowrap;
    }
    pre {
        & > code {
            display: block;
            padding: 1em 1.5em;
            white-space: pre;
        }
    }
}
