<div class="row">
    <div class="col xs-12">
        <h4 class="header">Indented</h4>
        <h6 class="subheader thin no-margin">Use the <code class="inline">.indented</code> class to indent the description definitions.</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <dl class="indented">
            <dt class="bold">Indented Term 1</dt>
            <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
            <dt class="bold">Indented Term 2</dt>
            <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
            <dt class="bold">Indented Term 3</dt>
            <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
        </dl>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;dl class="indented"&gt;
    &lt;dt class="bold"&gt;Indented Term 1&lt;/dt&gt;
    &lt;dd&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&lt;/dd&gt;

    &lt;dt class="bold"&gt;Indented Term 2&lt;/dt&gt;
    &lt;dd&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&lt;/dd&gt;
    
    &lt;dt class="bold"&gt;Indented Term 3&lt;/dt&gt;
    &lt;dd&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&lt;/dd&gt;
&lt;/dl&gt;</code></pre>
        </div>
    </div>
</div>
