// Selected by Cathy Du
// Tweaked by Jason Manson-Hing

$color-blue: #6192F4;
$color-green: #76D37E;
$color-yellow: #F9D675;
$color-red: #FC6261;
$color-purple: #9371E2;
$color-orange: #FFA565;
$color-teal: #66E4E6;
$color-pink: #fE77A6;
$color-indigo: #716FEA;
$color-dark: #414A63;
$color-light: #EAEAEA;
$color-black: #252627;
$color-white: #FFFFFF;

$color-list: 	(blue, $color-blue),
				(green, $color-green),
				(yellow, $color-yellow),
				(red, $color-red),
				(purple, $color-purple),
				(orange, $color-orange),
				(teal, $color-teal),
				(pink, $color-pink),
				(indigo, $color-indigo),
				(dark, $color-dark),
				(light, $color-light),
				(black, $color-black),
				(white, $color-white);
				
// Color shift configuration
$lighten-1-percent: 8%;
$lighten-2-percent: 16%;
$lighten-3-percent: 24%;
$darken-1-percent: 8%;
$darken-2-percent: 16%;
$darken-3-percent: 24%;
$transparent-opacity-default: 0.85;
$tint-mix-amount: 95%;

$color-shade-list: (lighten-1, lighten-2, lighten-3, darken-1, darken-2, darken-3);

@function lighten-1($base-color) {
	@return lighten($base-color, $lighten-1-percent);
}

@function lighten-2($base-color) {
	@return lighten($base-color, $lighten-2-percent);
}

@function lighten-3($base-color) {
	@return lighten($base-color, $lighten-3-percent);
}

@function darken-1($base-color) {
	@return darken($base-color, $darken-1-percent);
}

@function darken-2($base-color) {
	@return darken($base-color, $darken-2-percent);
}

@function darken-3($base-color) {
	@return darken($base-color, $darken-3-percent);
}

@function transparentBG($base-color) {
    $transparent-opacity: $transparent-opacity-default;
    @if ($base-color == $color-light) {
        $transparent-opacity: 0.65;
    }
    @return rgba-to-rgb(transparentize($base-color, $transparent-opacity));
}

@function tintBG($base-color) {
    $transparent-opacity: $transparent-opacity-default;
    $mix-amount: $tint-mix-amount;
    $light-grey: rgba-to-rgb(transparentize($color-light, 0.65));

    @if ($base-color == $color-light) {
        @return $light-grey;
    }

    @return mix($light-grey, $base-color, $tint-mix-amount);
}

@function rgba-to-rgb($rgba, $background: #fff) {
	@return mix(rgb(red($rgba), green($rgba), blue($rgba)), $background, alpha($rgba) * 100%)
}

