$base-xxl-font-size: 3.5em;
$base-xl-font-size: 3em;
$base-lg-font-size: 2.5em;
$base-md-font-size: 2em;
$base-sm-font-size: 1.5em;
$base-xs-font-size: 1em;
$base-xxs-font-size: 0.8em;

$base-font-weight-bold: 700;
$base-font-weight-semi-bold: 600;
$base-font-weight-default: 400;
$base-font-weight-light: 300;

// From https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
$base-font-family-default: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
