<div class="row">
    <div class="col xs-12">
        <h1 class="header">Footer Alignment</h1>
        <h5 class="subheader thin no-margin">By default, card-footer items are center-aligned</h5>
    </div>
</div>

<hr class="light" />
{% include "templates/docs/cards/footer_alignment/align_items_left.njk" %}

<hr class="light" />
{% include "templates/docs/cards/footer_alignment/align_items_right.njk" %}
