<div class="row">
	<div class="col xs-12">
        <h1 class="header">Modifiers</h1>
        <h5 class="subheader thin no-margin">Change the layout of your card with ease.</h5>
    </div>
</div>

<hr class="light" />
{% include "templates/docs/cards/modifiers/borderless_header.njk" %}

<hr class="light" />
{% include "templates/docs/cards/modifiers/borderless_footer.njk" %}

<hr class="light" />
{% include "templates/docs/cards/modifiers/no_top_padding.njk" %}