<div class="row">
    <div class="col xs-12">
        <h1 class="header">Alignment</h1>
        <h5 class="subheader thin no-margin">Text alignment classes</h5>
    </div>
    <div class="col xs-12 col-middle">
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="5"><span class="bold">Alignment</span</td>
                </tr>
                <tr>
                    <td colspan="3">To change text color add a <code class="inline">.text-{ALIGNMENT}</code> class.</td>
                </tr>
                <tr>
                    <td><code class="inline">.text-left</code></td>
                    <td>Add a <code class="inline">.text-left</code> with to make the text left align</td>
                    <td><div class="text-left"><span>I'm left</span></div></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-center</code></td>
                    <td>Add a <code class="inline">.text-center</code> with to make the text center align</td>
                    <td><div class="text-center"><span>I'm center</span></div></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-right</code></td>
                    <td>Add a <code class="inline">.text-right</code> with to make the text right align</td>
                    <td><div class="text-right"><span>I'm right</span></div></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
