<div class="row">
    <div class="col xs-12">
        <h1 class="header">Alignment</h1>
        <h5 class="subheader thin no-margin">Easily align your text within a containing element.</h5>
    </div>
    <div class="col xs-12 col-middle">
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="6"><span class="bold">Alignment</span</td>
                </tr>
                <tr>
                    <td colspan="3">To change your text's alignment add a <code class="inline">.text-{ALIGNMENT}</code> class.</td>
                </tr>
                <tr>
                    <td><code class="inline">.text-left</code></td>
                    <td>Add the <code class="inline">.text-left</code> class to make text left-aligned.</td>
                    <td><div class="text-left"><span>I'm left-aligned!</span></div></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-center</code></td>
                    <td>Add the <code class="inline">.text-center</code> class to make text center-aligned.</td>
                    <td><div class="text-center"><span>I'm center-aligned!</span></div></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-right</code></td>
                    <td>Add the <code class="inline">.text-right</code> class to make text right-aligned.</td>
                    <td><div class="text-right"><span>I'm right-aligned!</span></div></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-justify</code></td>
                    <td>
                        <p>
                            Add the <code class="inline">.text-justify</code> class to make text justified.
                            <br />
                            This only works when text spans more than one line.
                        </p>
                    </td>
                    <td><div class="text-justify"><span>I'm justifed!</span></div></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
