<div class="row">
    <div class="col xs-12">
        <h1 class="header">Colors</h1>
        <h5 class="subheader thin no-margin">Text color classes</h5>
    </div>
    <div class="col xs-12 col-middle">
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="15"><span class="bold">Colors</span</td>
                </tr>
                <tr>
                    <td colspan="3">To change text color add a <code class="inline">.text-{COLOR}</code> class. Colors are from boba's palette.</td>
                </tr>
                <tr>
                    <td><code class="inline">.text-red</code></td>
                    <td>Add a <code class="inline">.text-red</code> with to make the text red</td>
                    <td><span class="text-red">Hello World, I'm red</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-orange</code></td>
                    <td>Add a <code class="inline">.text-orange</code> with to make the text orange</td>
                    <td><span class="text-orange">Hello World, I'm orange</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-yellow</code></td>
                    <td>Add a <code class="inline">.text-yellow</code> with to make the text yellow</td>
                    <td><span class="text-yellow">Hello World, I'm yellow</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-green</code></td>
                    <td>Add a <code class="inline">.text-green</code> with to make the text green</td>
                    <td><span class="text-green">Hello World, I'm green</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-teal</code></td>
                    <td>Add a <code class="inline">.text-teal</code> with to make the text teal</td>
                    <td><span class="text-teal">Hello World, I'm teal</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-blue</code></td>
                    <td>Add a <code class="inline">.text-blue</code> with to make the text blue</td>
                    <td><span class="text-blue">Hello World, I'm blue</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-indigo</code></td>
                    <td>Add a <code class="inline">.text-indigo</code> with to make the text indigo</td>
                    <td><span class="text-indigo">Hello World, I'm indigo</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-purple</code></td>
                    <td>Add a <code class="inline">.text-purple</code> with to make the text purple</td>
                    <td><span class="text-purple">Hello World, I'm purple</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-pink</code></td>
                    <td>Add a <code class="inline">.text-pink</code> with to make the text pink</td>
                    <td><span class="text-pink">Hello World, I'm pink</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-dark</code></td>
                    <td>Add a <code class="inline">.text-dark</code> with to make the text dark</td>
                    <td><span class="text-dark">Hello World, I'm dark</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-light</code></td>
                    <td>Add a <code class="inline">.text-light</code> with to make the text light</td>
                    <td><span class="text-light">Hello World, I'm light</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-black</code></td>
                    <td>Add a <code class="inline">.text-black</code> with to make the text black</td>
                    <td><span class="text-black">Hello World, I'm black</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-white</code></td>
                    <td>Add a <code class="inline">.text-white</code> with to make the text white</td>
                    <td><span class="text-white">Hello World, I'm white</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
