<div class="row">
    <div class="col xs-12">
        <h1 class="header">Colors</h1>
        <h5 class="subheader thin no-margin">TBD</h5>
    </div>
</div>

<hr class="light" />
{% include "templates/docs/text/colors/colors.njk" %}

<hr class="light" />
{% include "templates/docs/text/colors/hover.njk" %}

<hr class="light" />
{% include "templates/docs/text/colors/active.njk" %}
