<div class="row">
    <div class="col xs-12">
        <h1 class="header">Extended</h1>
        <h5 class="subheader thin">Additional utilities to help you create the perfect text color.</h5>
        <div class="message blue">
            <div class="message-header">
                <p>Clarification</p>
            </div>
            <div class="message-body">
                <p>These classes are only included in the extended version of boba and only work with boba's core palette colors.</p>
            </div>
        </div> 
    </div>
</div>

<hr class="light" />
{% include "templates/docs/text/extended/shades.njk" %}

<hr class="light" />
{% include "templates/docs/text/extended/hover_shades.njk" %}

<hr class="light" />
{% include "templates/docs/text/extended/active_shades.njk" %}