<div class="row">
    <div class="col xs-12">
        <h1 class="header">Text</h1>
        <h5 class="subheader thin no-margin">A collection of classes to make styling your text a breeze.</h5>
    </div>
</div>
