<div class="row">
    <div class="col xs-12">
        <h1 class="header">Colors</h1>
        <h5 class="subheader thin no-margin">Change the outline color of your inputs using boba's <a href="./colors.html" class="text-blue text-hover-green">color palette</a></h5>
    </div>
    <div class="col xs-12 md-6">
        <form class="form-control" action="#" method="post">
            {% for color in global_color_list_core %}
            <div>
                <input class="{{ color }}" type="email" name="" value="" placeholder="{{ color }}@email.com">
            </div>
            {% if loop.index != loop.length %}
            <br />
            {% endif %}
            {% endfor %}
    	</form>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;form class="form-control" action="#" method="post"&gt;
    &lt;label for="text-green"&gt; Green &lt;/label&gt;
    &lt;input class="green" type="email" name="" value="" placeholder="example@email.com"&gt;
&lt;/form&gt;</code></pre>
        </div>
    </div>
</div>