<div class="row">
    <div class="col xs-12">
        <h1 class="header">Colors</h1>
        <h5 class="subheader thin no-margin">Change the outline color of your inputs using boba's <a href="./colors.html" class="text-blue text-hover-green">color palette</a></h5>
    </div>
    <div class="col xs-12 md-6">
        <form class="form-control" action="#" method="post">
            <div>
                <input class="red" type="email" name="" value="" placeholder="red@email.com">
            </div>
            <br />
            <div>
                <input class="orange" type="email" name="" value="" placeholder="orange@email.com">
            </div>
            <br />
            <div>
                <input class="yellow" type="email" name="" value="" placeholder="yellow@email.com">
            </div>
            <br />
            <div>
                <input class="green" type="email" name="" value="" placeholder="green@email.com">
            </div>
            <br />
            <div>
                <input class="teal" type="email" name="" value="" placeholder="teal@email.com">
            </div>
            <br />
            <div>
                <input class="blue" type="email" name="" value="" placeholder="blue@email.com">
            </div>
            <br />
            <div>
                <input class="indigo" type="email" name="" value="" placeholder="indigo@email.com">
            </div>
            <br />
            <div>
                <input class="purple" type="email" name="" value="" placeholder="purple@email.com">
            </div>
            <br />
            <div>
                <input class="pink" type="email" name="" value="" placeholder="pink@email.com">
            </div>
    	</form>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltform class="form-control" action="#" method="post"&gt
    &ltlabel for="text-green"&gt Green &lt/label&gt
    &ltinput class="green" type="email" name="" value="" placeholder="example@email.com"&gt
&lt/form&gt</code></pre>
        </div>
    </div>
</div>