<div class="row">
    <div class="col xs-12">
        <h1 class="header">Inputs</h1>
        <h5 class="subheader thin">Inputs capture small strings of text.</h5>
        <div class="message purple m-0">
            <div class="message-header">
                <p>Compatibility</p>
            </div>
            <div class="message-body">
                <p>The following type attributes are supported by inputs:</p>
                <ul class="mb-1">
                    <li><code class="inline">type="email"</code></li>
                    <li><code class="inline">type="number"</code></li>
                    <li><code class="inline">type="password"</code></li>
                    <li><code class="inline">type="search"</code></li>
                    <li><code class="inline">type="tel"</code></li>
                    <li><code class="inline">type="text"</code></li>
                    <li><code class="inline">type="url"</code></li>
                </ul>
            </div>
        </div> 
    </div>
    <div class="col xs-12 md-6 col-middle">
        <form class="form-control" action="#" method="post">
            <label for="example-default">Example</label>
            <input type="email" name="" value="" placeholder="example@email.com">
        </form>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;form class="form-control" action="#" method="post"&gt;
    &lt;label for="example-default"&gt; Example &lt;/label&gt;
    &lt;input class="green" type="email" name="" value="" placeholder="example@email.com"&gt;
&lt;/form&gt;</code></pre>
        </div>
    </div>
</div>
