<div class="row">
    <div class="col xs-12">
        <h1 class="header">Sizes</h1>
        <h5 class="subheader thin no-margin">Inputs can be resized.</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <form class="form-control" action="#" method="post">
            <div>
                <label for="email">Small Input</label>
                <input class="small" type="email" name="" value="" placeholder="example@email.com">
            </div>
            <br />
            <div>
                <label for="email">Default Input</label>
                <input type="email" name="" value="" placeholder="example@email.com">
            </div>
            <br />
            <div>
                <label for="email">Medium Input</label>
                <input class="medium" type="email" name="" value="" placeholder="example@email.com">
            </div>
            <br />
            <div>
                <label for="email">Large Input</label>
                <input class="large" type="email" name="" value="" placeholder="example@email.com">
            </div>
        </form>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;form class="form-control" action="#" method="post"&gt;
    &lt;div&gt;
        &lt;label for="email"&gt; Small Input &lt;/label&gt;
        &lt;input class="small" type="email" name="" value="" placeholder="example@email.com"&gt;
    &lt;/div&gt;
    &lt;br /&gt;
    &lt;div&gt;
        &lt;label for="email"&gt; Default Input &lt;/label&gt;
        &lt;input type="email" name="" value="" placeholder="example@email.com"&gt;
    &lt;/div&gt;
    &lt;br /&gt;
    &lt;div&gt;
        &lt;label class="" for="email"&gt; Medium Input &lt;/label&gt;
        &lt;input class="medium" type="email" name="" value="" placeholder="example@email.com"&gt;
    &lt;/div&gt;
    &lt;br /&gt;
    &lt;div&gt;
        &lt;label for="email"&gt; Large Input &lt;/label&gt;
        &lt;input class="large" type="email" name="" value="" placeholder="example@email.com"&gt;
    &lt;/div&gt;
&lt;/forms&gt;</code></pre>
        </div>
    </div>
</div>