<div class="row">
    <div class="col xs-12">
        <h1 class="header">States</h1>
        <h5 class="subheader thin no-margin">Inputs can be disabled <code class="inline">disabled</code> attribute</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <form class="form-control" action="#" method="post">
            <div>
                <label for="email">Disabled Input</label>
                <input disabled class="" type="email" name="" value="" placeholder="disabled@email.com">
            </div>
            <br />
            <div>
                <label class="text-red"for="email">Red, Rounded, Disabled Input</label>
                <input disabled class="rounded red" type="email" name="" value="" placeholder="red_disabled@email.com">
            </div>
            <br />
            <div>
                <label class="text-green"for="email">Green, Rounded, Disabled Input</label>
                <input disabled class="rounded green" type="email" name="" value="" placeholder="green_disabled@email.com">
            </div>
        </form>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt;form class="form-control" action="#" method="post"&gt;
    &lt;div&gt;
        &lt;label for="email"&gt;Disabled Input&lt;/label&gt;
        &lt;input disabled class="" type="email" name="" value="" placeholder="disabled@email.com"&gt;
    &lt;/div&gt;
    &lt;br /&gt;
    &lt;div&gt;
        &lt;label class="text-red"for="email"&Red, Rounded, Disabled Input&lt;/label&gt;
        &lt;input disabled class="rounded red" type="email" name="" value="" placeholder="red_disabled@email.com"&gt;
    &lt;/div&gt;
    &lt;br /&gt;
    &lt;div&gt;
        &lt;label class="text-green"for="email"&gt;Green, Rounded, Disabled Input&lt;/label&gt;
        &lt;input disabled class="rounded green" type="email" name="" value="" placeholder="green_disabled@email.com"&gt;
    &lt;/div&gt;
&lt;/form&gt;</code></pre>
        </div>
    </div>
</div>