<div class="row">
    <div class="col xs-12">
        <h1 class="header">Styles</h1>
        <h5 class="subheader thin no-margin">Easily change the look of your inputs to best suit your needs</h5>
    </div>
</div>

<hr class="light" />
{% include "templates/docs/inputs/styles/rounded.njk" %}

