<div class="row no-padding">
    <div class="col xs-12">
        <h1 class="header">Methods</h1>
        <h5 class="subheader thin">Four simple ways to get boba installed and production ready.</h5>
        <div class="message orange">
            <div class="message-header">
                <p>Tip</p>
            </div>
            <div class="message-body">
                <p>Learn more about the various versions of boba <a href="/docs/customize.html" target="_blank">here</a>!</p>
            </div>
        </div>     
    </div>
    <div class="col xs-12">
    	<h3 class="header no-margin">Manual Installation</h3>
        <p>Download the most recently compiled and minified version of boba of your choosing from <a href="https://github.com/iFallUpHill/boba/tree/master/dist" target="_blank">GitHub</a> and include it in your project.</p>
        <div class="row no-padding">
            <div class="col xs-12 md-8">
                <div class="code-block">
                    <pre class="code">
                        <code data-lang="bash">&ltlink rel="stylesheet" href="boba.min.css"&gt
&ltlink rel="stylesheet" href="boba-lite.min.css"&gt
&ltlink rel="stylesheet" href="boba-core.min.css"&gt</code>
                    </pre>
                </div>
            </div>
        </div>

        <h3 class="header no-margin">Using a CDN (Recommended)</h3>
        <p>Boba is hosted by both <a href="https://unpkg.com/" target="_blank">unpkg</a> and <a href="https://www.jsdelivr.com/" target="_blank">jsDelivr</a> for your convenience! Pick the version of boba that best suits your needs and include it in your project.</p>
        <div class="row no-padding">
            <div class="col xs-12 md-8">
                <div class="code-block">
                    <pre class="code">
                        <code data-lang="bash">&lt!-- unpkg--&gt
&ltlink rel="stylesheet" href="https://unpkg.com/boba@1/dist/boba.min.css"&gt
&ltlink rel="stylesheet" href="https://unpkg.com/boba@1/dist/boba-lite.min.css"&gt
&ltlink rel="stylesheet" href="https://unpkg.com/boba@1/dist/boba-core.min.css"&gt

&lt!-- jsDelivr--&gt
&ltlink rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boba@1/dist/boba.min.css"&gt
&ltlink rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boba@1/dist/boba-lite.min.css"&gt
&ltlink rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boba@1/dist/boba-core.min.css"&gt</code>
                    </pre>
                </div>
            </div>
        </div>

        <h3 class="header no-margin">Via NPM</h3>
        <div class="row no-padding">
            <div class="col xs-12 md-8">
                <div class="code-block">
                    <pre class="code">
                        <code data-lang="bash">npm install boba --save</code>
                    </pre>
                </div>
            </div>
        </div>

        <h3 class="header no-margin">Via Yarn</h3>
        <div class="row no-padding">
            <div class="col xs-12 md-8">
                <div class="code-block">
                    <pre class="code">
                        <code data-lang="bash">yarn add boba</code>
                    </pre>
                </div>
            </div>
        </div>
    </div>
</div>
