<div class="row">
    <div class="col xs-12">
        <h1 class="header">Quick Start</h1>
        <h5 class="subheader thin">Here's a simple template to help you get started with boba!</h5>
    </div>
    <div class="col xs-12">
        <nav class="navbar">
            <a href=# class="navbar-brand">boba</a>
            <input class="navbar-menu-target" type="checkbox" id="quick-start" />
            <label class="navbar-menu-toggle" for="quick-start"><span class="navbar-icon"></span></label>
            <ul class="navbar-menu-items menu-items-right">
                <li>
                    <a href=#><span>Category</span></a>
                </li>
                <li>
                    <a href=#><span>Category</span></a>
                </li>
                <li>
                    <a href=#><span>Category</span></a>
                </li>
            </ul>
        </nav>
        <div class="banner medium">
            <div class="banner-body">
                <div class="container">
                    <h1 class="header">Hello World</h1>
                    <h3 class="subheader thin">boba is the best!</h3>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col xs-12 md-4">
                    <div class="card">
                        <div class="card-header borderless">
                            <div class="card-header-title">
                                Example Card
                            </div>
                        </div>
                        <div class="card-content">
                            <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat containeridatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col xs-12 md-4">
                    <div class="card">
                        <div class="card-header borderless">
                            <div class="card-header-title">
                                Example Card
                            </div>
                        </div>
                        <div class="card-content">
                            <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat containeridatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col xs-12 md-4">
                    <div class="card">
                        <div class="card-header borderless">
                            <div class="card-header-title">
                                Example Card
                            </div>
                        </div>
                        <div class="card-content">
                            <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat containeridatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col xs-12">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt!DOCTYPE html&gt
&lthtml&gt
&lthead&gt
    &ltmeta charset="utf-8"&gt
    &ltmeta name="viewport" content="width=device-width, initial-scale=1"&gt
    &lttitle&gtBuild with Boba!&lt/title&gt
    &ltlink rel="stylesheet" href="https://unpkg.com/boba@1/dist/boba.min.css"&gt
&lt/head&gt
&ltbody&gt
    &ltnav class="navbar"&gt
        &lta href=# class="navbar-brand"&gtboba&lt/a&gt
        &ltinput class="navbar-menu-target" type="checkbox" id="quick-start" /&gt
        &ltlabel class="navbar-menu-toggle" for="quick-start"&gt&ltspan class="navbar-icon"&gt&lt/span&gt&lt/label&gt
        &ltul class="navbar-menu-items menu-items-right"&gt
            &ltli&gt
                &lta href=#&gt&ltspan&gtCategory&lt/span&gt&lt/a&gt
            &lt/li&gt
            &ltli&gt
                &lta href=#&gt&ltspan&gtCategory&lt/span&gt&lt/a&gt
            &lt/li&gt
            &ltli&gt
                &lta href=#&gt&ltspan&gtCategory&lt/span&gt&lt/a&gt
            &lt/li&gt
        &lt/ul&gt
    &lt/nav&gt
    &ltdiv class="banner medium"&gt
        &ltdiv class="banner-body"&gt
            &ltdiv class="container"&gt
                &lth1 class="header"&gtHello World&lt/h1&gt
                &lth3 class="subheader thin"&gtboba is the best!&lt/h3&gt
            &lt/div&gt
        &lt/div&gt
    &lt/div&gt
    &ltbr /&gt
    &ltbr /&gt
    &ltdiv class="container"&gt
        &ltdiv class="row"&gt
            &ltdiv class="col xs-12 md-4"&gt
                &ltdiv class="card"&gt
                    &ltdiv class="card-header borderless"&gt
                        &ltdiv class="card-header-title"&gt
                            Example Card
                        &lt/div&gt
                    &lt/div&gt
                    &ltdiv class="card-content"&gt
                        &ltp&gt
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat containeridatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        &lt/p&gt
                    &lt/div&gt
                &lt/div&gt
            &lt/div&gt
            &ltdiv class="col xs-12 md-4"&gt
                &ltdiv class="card"&gt
                    &ltdiv class="card-header borderless"&gt
                        &ltdiv class="card-header-title"&gt
                            Example Card
                        &lt/div&gt
                    &lt/div&gt
                    &ltdiv class="card-content"&gt
                        &ltp&gt
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat containeridatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        &lt/p&gt
                    &lt/div&gt
                &lt/div&gt
            &lt/div&gt
            &ltdiv class="col xs-12 md-4"&gt
                &ltdiv class="card"&gt
                    &ltdiv class="card-header borderless"&gt
                        &ltdiv class="card-header-title"&gt
                            Example Card
                        &lt/div&gt
                    &lt/div&gt
                    &ltdiv class="card-content"&gt
                        &ltp&gt
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat containeridatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        &lt/p&gt
                    &lt/div&gt
                &lt/div&gt
            &lt/div&gt
        &lt/div&gt
    &lt/div&gt
&lt/body&gt
&lt/html&gt</code></pre>
        </div>
    </div>
</div>