<div class="row">
    <div class="col xs-12">
        <h1 class="header">Quick Start</h1>
        <h5 class="subheader thin">A simple template to help you get started with boba.</h5>
    </div>
    <div class="col xs-12">
        <nav class="navbar">
            <a href="#" class="navbar-brand">boba</a>
            <input class="navbar-menu-target" type="checkbox" id="quick-start" />
            <label class="navbar-menu-toggle" for="quick-start"><span class="navbar-icon"></span></label>
            <ul class="navbar-menu-items menu-items-right">
                <li>
                    <a href=#><span>Category</span></a>
                </li>
                <li>
                    <a href=#><span>Category</span></a>
                </li>
                <li>
                    <a href=#><span>Category</span></a>
                </li>
            </ul>
        </nav>
        <div class="banner medium">
            <div class="banner-body">
                <div class="container">
                    <h1 class="header">Hello World</h1>
                    <h3 class="subheader thin">boba is the best!</h3>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col xs-12 md-4">
                    <div class="card">
                        <div class="card-header borderless">
                            <div class="card-header-title">
                                Example Card
                            </div>
                        </div>
                        <div class="card-content">
                            <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat containeridatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col xs-12 md-4">
                    <div class="card">
                        <div class="card-header borderless">
                            <div class="card-header-title">
                                Example Card
                            </div>
                        </div>
                        <div class="card-content">
                            <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat containeridatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col xs-12 md-4">
                    <div class="card">
                        <div class="card-header borderless">
                            <div class="card-header-title">
                                Example Card
                            </div>
                        </div>
                        <div class="card-content">
                            <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat containeridatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col xs-12">
        <div class="code-block">
            <pre class="code"><code class="language-html" class="language-html">&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;
    &lt;title&gt;Build with Boba!&lt;/title&gt;
    &lt;link rel="stylesheet" href="https://unpkg.com/boba@1/dist/boba.min.css"&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;nav class="navbar"&gt;
        &lt;a href="#" class="navbar-brand"&gt;boba&lt;/a&gt;
        &lt;input class="navbar-menu-target" type="checkbox" id="quick-start" /&gt;
        &lt;label class="navbar-menu-toggle" for="quick-start"&gt;&lt;span class="navbar-icon"&gt;&lt;/span&gt;&lt;/label&gt;
        &lt;ul class="navbar-menu-items menu-items-right"&gt;
            &lt;li&gt;
                &lt;a href="#"&gt;&lt;span&gt;Category&lt;/span&gt;&lt;/a&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a href="#"&gt;&lt;span&gt;Category&lt;/span&gt;&lt;/a&gt;
            &lt;/li&gt;
            &lt;li&gt;
                &lt;a href="#"&gt;&lt;span&gt;Category&lt;/span&gt;&lt;/a&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/nav&gt;
    &lt;div class="banner medium"&gt;
        &lt;div class="banner-body"&gt;
            &lt;div class="container"&gt;
                &lt;h1 class="header"&gt;Hello World&lt;/h1&gt;
                &lt;h3 class="subheader thin"&gt;boba is the best!&lt;/h3&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;br /&gt;
    &lt;br /&gt;
    &lt;div class="container"&gt;
        &lt;div class="row"&gt;
            &lt;div class="col xs-12 md-4"&gt;
                &lt;div class="card"&gt;
                    &lt;div class="card-header borderless"&gt;
                        &lt;div class="card-header-title"&gt;
                            Example Card
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class="card-content"&gt;
                        &lt;p&gt;
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat containeridatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        &lt;/p&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="col xs-12 md-4"&gt;
                &lt;div class="card"&gt;
                    &lt;div class="card-header borderless"&gt;
                        &lt;div class="card-header-title"&gt;
                            Example Card
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class="card-content"&gt;
                        &lt;p&gt;
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat containeridatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        &lt;/p&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="col xs-12 md-4"&gt;
                &lt;div class="card"&gt;
                    &lt;div class="card-header borderless"&gt;
                        &lt;div class="card-header-title"&gt;
                            Example Card
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class="card-content"&gt;
                        &lt;p&gt;
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat containeridatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        &lt;/p&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
        </div>
    </div>
</div>