<div class="row">
    <div class="col xs-12">
        <h1 class="header">Feature Comparison</h1>
        <h5 class="subheader thin">For a more complete breakdown of the various versions of boba.</h5>
    </div>
    <div class="col xs-12">
        <div>
            <table>
                <tbody>
                    <tr>
                        <td class="bold text-center"></td>
                        <td class="bold text-center bg-dark text-white">boba-lite</td>
                        <td class="bold text-center bg-blue text-white">boba</td>
                        <td class="bold text-center bg-pink text-white">boba-extended</td>
                    </tr>
                    <tr>
                        <td class="bold">Responsive</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                    </tr>
                    <tr>
                        <td class="bold">Typography</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                    </tr>
                    <tr>
                        <td class="bold">Grid System</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                    </tr>
                    <tr>
                        <td class="bold">Navigation</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                    </tr>
                    <tr>
                        <td class="bold">Components</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                    </tr>
                    <tr>
                        <td class="bold">Elements</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                    </tr>
                    <tr>
                        <td class="bold">Forms</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                    </tr>
                    <tr>
                        <td class="bold">Non-Color Utilities</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                    </tr>
                    <tr><td colspan="4">&nbsp;</td></tr>
                    <tr>
                        <td class="bold">Navigation Colors</td>
                        <td class="bold text-red text-center vertical-align-middle">✖</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                    </tr>
                    <tr>
                        <td class="bold">Components Colors</td>
                        <td class="bold text-red text-center vertical-align-middle">✖</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                    </tr>
                    <tr>
                        <td class="bold">Elements Colors</td>
                        <td class="bold text-red text-center vertical-align-middle">✖</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                    </tr>
                    <tr>
                        <td class="bold">Forms Colors</td Colors>
                        <td class="bold text-red text-center vertical-align-middle">✖</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                    </tr>
                    <tr>
                        <td class="bold">Basic Color Utilities</td Colors>
                        <td class="bold text-red text-center vertical-align-middle">✖</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                    </tr>
                    <tr>
                        <td class="bold">Background Tints</td Colors>
                        <td class="bold text-red text-center vertical-align-middle">✖</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                    </tr>
                    <tr><td colspan="4">&nbsp;</td></tr>
                    <tr>
                        <td class="bold">Extended Color Utilities</td Colors>
                        <td class="bold text-red text-center vertical-align-middle">✖</td>
                        <td class="bold text-red text-center vertical-align-middle">✖</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                    </tr>
                    <tr>
                        <td class="bold">Color Shades</td Colors>
                        <td class="bold text-red text-center vertical-align-middle">✖</td>
                        <td class="bold text-red text-center vertical-align-middle">✖</td>
                        <td class="bold text-green text-center vertical-align-middle">✔</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
