<div class="row">
	<div class="col xs-12">
		<h1 class="header">The Team</h1>
		<h5 class="subheader thin">We are a power-duo from the north.</h5>
	</div>
	<div class="col xs-12">
			<ul>
				<li><a href="https://github.com/iFallUpHill/" target="_blank">Jason Manson-Hing</a></li>
				<li><a href="https://github.com/andrewjungg/" target="_blank">Andrew Chung</a></li>
			</ul>
		</div>
	</div>
</div>