<div class="row">
	<div class="col xs-12">
		<h1 class="header">The Team</h1>
		<h5 class="subheader thin no-margin">A power-duo from the north.</h5>
	</div>
	<div class="col xs-12 sm-6">
        <div class="card">
            <div class="card-header borderless">
                <div class="card-header-title">
                    Jason Manson-Hing
                </div>
            </div>
            <div class="card-content">
                <p>
                	<i>"Why is there no boba emoji?"</i>
                </p>
            </div>
            <div class="card-footer align-items-left">
                <div class="card-footer-item">
					<a href="https://github.com/iFallUpHill/" target="_blank">GitHub</a>
				</div>
            </div>	
        </div>
    </div>
    <div class="col xs-12 sm-6">
        <div class="card">
            <div class="card-header borderless">
                <div class="card-header-title">
                    Andrew Chung
                </div>
            </div>
            <div class="card-content">
                <p>
                	<i>"Taro is my city."</i>
                </p>
            </div>
            <div class="card-footer align-items-left">
                <div class="card-footer-item">
					<a href="https://github.com/andrewjungg/" target="_blank">GitHub</a>
				</div>
            </div>	
        </div>
	</div>
</div>