<div class="row">
	<div class="col xs-12">
		<h1 class="header">Our Story</h1>
	</div>
	<div class="col xs-12">
		<p>
			<span class="text-hover-purple darken-text-hover-1 bold">Boba</span> <i>[boe-buh]</i>, also known as bubble tea, boba tea, milk tea, etc., originates from the distant land of Taiwan.
		</p>
		<br />
		<p>
			However, our story begins one spring night at 2AM in sunny San Francisco. We were deep in discussion about the many other bulky open source design frameworks available and decided that we
			deserved better. And thus boba was born — our own lightweight, modular, and CSS-only design framework took flight.
		</p>
		<br />
		<p>
			Oh, and the name? We're just huge boba fanatics. Like really, you know the saying, "<i>a boba a day keeps the doctor away</i>"? Thought so.
		</p>
	</div>
</div>
