<div class="row">
    <div class="col xs-12">
        <h1 class="header">Counter</h1>
        <h5 class="subheader thin no-margin">Counters are useful for displaying numbers with a description</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="counter">
            <div class="value">
                123,456,789
            </div>
            <div class="desc">
                Downloads
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;div class="counter"&gt;
    &lt;div class="value"&gt;
        123,456,789
    &lt;/div&gt;
    &lt;div class="desc"&gt;
        Downloads
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="counter">
            <div class="desc">
                Downloads
            </div>
            <div class="value">
                123,456,789
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;div class="counter"&gt;
    &lt;div class="desc"&gt;
        Downloads
    &lt;/div&gt;
    &lt;div class="value"&gt;
        123,456,789
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>