<div class="row">
    <div class="col xs-12">
        <h1 class="header">Sizes</h1>
        <h5 class="subheader thin no-margin">Counters can be resized to fit your need</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="counter large">
            <div class="value">
                123,456,789
            </div>
            <div class="desc">
                Large
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;div class="counter large"&gt;
    &lt;div class="value"&gt;
        123,456,789
    &lt;/div&gt;
    &lt;div class="desc"&gt;
        Large
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="counter medium">
            <div class="value">
                123,456,789
            </div>
            <div class="desc">
                Medium
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;div class="counter medium"&gt;
    &lt;div class="value"&gt;
        123,456,789
    &lt;/div&gt;
    &lt;div class="desc"&gt;
        Medium
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="counter">
            <div class="value">
                123,456,789
            </div>
            <div class="desc">
                Default
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;div class="counter"&gt;
    &lt;div class="value"&gt;
        123,456,789
    &lt;/div&gt;
    &lt;div class="desc"&gt;
        Default
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="counter small">
            <div class="value">
                123,456,789
            </div>
            <div class="desc">
                Small
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;div class="counter small"&gt;
    &lt;div class="value"&gt;
        123,456,789
    &lt;/div&gt;
    &lt;div class="desc"&gt;
        Small
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>