<div class="row">
    <div class="col xs-12">
        <h1 class="header">Helpers</h1>
        <h5 class="subheader thin no-margin">Helpers are utility classes for additional features</h5>
    </div>
    <div class="col xs-12 col-middle">
        <div>
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="7">Hide / Show</td>
                </tr>
                <tr>
                    <td><code>.hide</code></td>
                    <td>Hides component</td>
                </tr>
                <tr>
                    <td><code>.hide-xs</code></td>
                    <td>Hides component when breakpoint is <code>xs</code> or less</td>
                </tr>
                <tr>
                    <td><code>.hide-sm</code></td>
                    <td>Hides component when breakpoint is <code>sm</code> or less</td>
                </tr>
                <tr>
                    <td><code>.hide-md</code></td>
                    <td>Hides component when breakpoint is <code>md</code> or less</td>
                </tr>
                <tr>
                    <td><code>.hide-lg</code></td>
                    <td>Hides component when breakpoint is <code>lg</code> or less</td>
                </tr>
                <tr>
                    <td><code>.hide-xl</code></td>
                    <td>Hides component when breakpoint is <code>xl</code> or less</td>
                </tr>

                <tr>
                    <td rowspan="3">Spacing</td>
                </tr>
                <tr>
                    <td><code>.marginless</code></td>
                    <td>Removes all margin</td>
                </tr>
                <tr>
                    <td><code>.paddingless</code></td>
                    <td>Removes all padding</td>
                </tr>

                <tr>
                    <td rowspan="3">Other</td>
                </tr>
                <tr>
                    <td><code>.radiusless</code></td>
                    <td>Removes all radius</td>
                </tr>
                <tr>
                    <td><code>.shadowless</code></td>
                    <td>Removes all shadow</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
