<div class="row">
    <div class="col xs-12">
        <h1 class="header">Helpers</h1>
        <h5 class="subheader thin no-margin">Helpers are utility classes to easily define layouts</h5>
    </div>
    <div class="col xs-12 col-middle">
        <div>
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="7"><span class="bold">Hide / Show</span</td>
                </tr>
                <tr>
                    <td><code class="inline">.hide</code></td>
                    <td>Hides a component</td>
                </tr>
                <tr>
                    <td><code class="inline">.hide-xs</code></td>
                    <td>Hides a component when breakpoint is <code class="inline">xs</code> or less</td>
                </tr>
                <tr>
                    <td><code class="inline">.hide-sm</code></td>
                    <td>Hides a component when breakpoint is <code class="inline">sm</code> or less</td>
                </tr>
                <tr>
                    <td><code class="inline">.hide-md</code></td>
                    <td>Hides a component when breakpoint is <code class="inline">md</code> or less</td>
                </tr>
                <tr>
                    <td><code class="inline">.hide-lg</code></td>
                    <td>Hides a component when breakpoint is <code class="inline">lg</code> or less</td>
                </tr>
                <tr>
                    <td><code class="inline">.hide-xl</code></td>
                    <td>Hides a component when breakpoint is <code class="inline">xl</code> or less</td>
                </tr>

                <tr>
                    <td rowspan="3"><span class="bold">Spacing</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.no-margin</code></td>
                    <td>Removes all margin</td>
                </tr>
                <tr>
                    <td><code class="inline">.no-padding</code></td>
                    <td>Removes all padding</td>
                </tr>

                <tr>
                    <td rowspan="3"><span class="bold">Stylistic</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.no-border-radius</code></td>
                    <td>Removes all border-radii</td>
                </tr>
                <tr>
                    <td><code class="inline">.no-shadow</code></td>
                    <td>Removes all shadows</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
