<div class="row">
    <div class="col xs-12">
        <h1 class="header">HR tag</h1>
        <h5 class="subheader thin no-margin">The hr tag is used for thematic transition between content</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div>
            <div>
                <span>Default</span>
                <hr />
            </div>
            <br />
            <div>
                <span>Light</span>
                <hr class="light" />
            </div>
            <div>
                <span>Red</span>
                <hr class="red" />
            </div>
            <div>
                <span>Orange</span>
                <hr class="orange" />
            </div>
            <div>
                <span>Yellow</span>
                <hr class="yellow" />
            </div>
            <div>
                <span>Green</span>
                <hr class="green" />
            </div>
            <div>
                <span>Teal</span>
                <hr class="teal" />
            </div>
            <div>
                <span>Blue</span>
                <hr class="blue" />
            </div>
            <div>
                <span>Indigo</span>
                <hr class="indigo" />
            </div>
            <div>
                <span>Purple</span>
                <hr class="purple" />
            </div>
            <div>
                <span>Pink</span>
                <hr class="pink" />
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lthr class="green" /&gt</code></pre>
        </div>
    </div>
</div>
