<div class="row">
    <div class="col xs-12">
        <h1 class="header">Colors</h1>
        <h5 class="subheader thin no-margin">Change the colors of the menu using boba's <a href="./colors.html" class="text-blue text-hover-green">color palette</a></h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="menu red">
            <p class="menu-label">
                Food
            </p>
            <ul class="menu-list">
                <li><a>Macaroon</a></li>
                <li><a>Shaved Ice</a></li>
            </ul>
            <p class="menu-label">
                Drinks
            </p>
            <ul class="menu-list">
                <li><a>Specials</a></li>
                <li>
                    <a class="active">Milk Tea</a>
                    <ul>
                        <li><a>Classic</a></li>
                        <li><a>Taro</a></li>
                        <li><a>Jasmine</a></li>
                    </ul>
                </li>
                <li><a>Cold Brew</a></li>
                <li><a>Hot Tea</a></li>
            </ul>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltdiv class="menu red"&gt
    &ltp class="menu-label"&gt
        Food
    &lt/p&gt
    &ltul class="menu-list"&gt
        &ltli&gt&lta&gtMacaroon&lt/a&gt&lt/li&gt
        &ltli&gt&lta&gtShaved Ice&lt/a&gt&lt/li&gt
    &lt/ul&gt
    &ltp class="menu-label"&gt
        Drinks
    &lt/p&gt
    &ltul class="menu-list"&gt
        &ltli&gt&lta&gtSpecials&lt/a&gt&lt/li&gt
        &ltli&gt
            &lta class="active"&gtMilk Tea&lt/a&gt
            &ltul&gt
                &ltli&gt&lta&gtClassic&lt/a&gt&lt/li&gt
                &ltli&gt&lta&gtTaro&lt/a&gt&lt/li&gt
                &ltli&gt&lta&gtJasmine&lt/a&gt&lt/li&gt
            &lt/ul&gt
        &lt/li&gt
        &ltli&gt&lta&gtCold Brew&lt/a&gt&lt/li&gt
        &ltli&gt&lta&gtHot Tea&lt/a&gt&lt/li&gt
    &lt/ul&gt
    &lt/ul&gt
&lt/div&gt</code></pre>
        </div>
    </div>
</div>