<div class="row">
    <div class="col xs-12">
        <h1 class="header">Colors</h1>
        <h5 class="subheader thin no-margin">Change the colors of the menu using boba's <a href="./colors.html" class="text-blue text-hover-green">color palette</a></h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="menu red">
            <p class="menu-label">
                Food
            </p>
            <ul class="menu-list">
                <li><a>Macaroon</a></li>
                <li><a>Shaved Ice</a></li>
            </ul>
            <p class="menu-label">
                Drinks
            </p>
            <ul class="menu-list">
                <li><a>Specials</a></li>
                <li>
                    <a class="active">Milk Tea</a>
                    <ul>
                        <li><a>Classic</a></li>
                        <li><a>Taro</a></li>
                        <li><a>Jasmine</a></li>
                    </ul>
                </li>
                <li><a>Cold Brew</a></li>
                <li><a>Hot Tea</a></li>
            </ul>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;div class="menu red"&gt;
    &lt;p class="menu-label"&gt;
        Food
    &lt;/p&gt;
    &lt;ul class="menu-list"&gt;
        &lt;li&gt;&lt;a&gt;Macaroon&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a&gt;Shaved Ice&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
    &lt;p class="menu-label"&gt;
        Drinks
    &lt;/p&gt;
    &lt;ul class="menu-list"&gt;
        &lt;li&gt;&lt;a&gt;Specials&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;
            &lt;a class="active"&gt;Milk Tea&lt;/a&gt;
            &lt;ul&gt;
                &lt;li&gt;&lt;a&gt;Classic&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a&gt;Taro&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a&gt;Jasmine&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/li&gt;
        &lt;li&gt;&lt;a&gt;Cold Brew&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a&gt;Hot Tea&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
    &lt;/ul&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>