<div class="row">
    <div class="col xs-12">
        <h1 class="header">Menus</h1>
        <h5 class="subheader thin">Menus help group related information.</h5>
        <div class="message orange m-0">
            <div class="message-header">
                <p>Tip</p>
            </div>
            <div class="message-body">
                <p>Be sure that the input's type is <code class="inline">checkbox</code> and that each of the input's <code class="inline">id</code>s match their label's <code class="inline">for</code>!</p>
            </div>
        </div> 
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="menu">
            <input type="checkbox" id="first-menu" name="menu-checkbox" hidden checked />
            <label class="menu-header" for="first-menu">
                Food
            </label>
            <div class="menu-body">
                <ul class="menu-list">
                    <li>Macaroon</li>
                    <li>Shaved Ice</li>
                </ul>
            </div>
        </div>
        <div class="menu">
            <input type="checkbox" id="second-menu" name="menu-checkbox" hidden checked />
            <label class="menu-header" for="second-menu">
                Drinks
            </label>
            <div class="menu-body">
                <ul class="menu-list">
                    <li>Specials</li>
                    <li class="nested-menu">
                        <div class="menu">
                            <input type="checkbox" id="nested-menu" name="menu-checkbox" hidden />
                            <label class="menu-header" for="nested-menu">
                                Milk Tea (Click me!)
                            </label>
                            <div class="menu-body">
                                <ul class="menu-list">
                                    <li>Classic</li>
                                    <li>Taro</li>
                                    <li>Jasmine</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>Cold Brew</li>
                    <li>Hot Tea</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;div class="menu"&gt;
    &lt;input type="checkbox" id="first-menu" name="menu-checkbox" hidden checked /&gt;
    &lt;label class="menu-header" for="first-menu"&gt;
        Food
    &lt;/label&gt;
    &lt;div class="menu-body"&gt;
        &lt;ul class="menu-list"&gt;
            &lt;li&gt;Macaroon&lt;/li&gt;
            &lt;li&gt;Shaved Ice&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class="menu"&gt;
    &lt;input type="checkbox" id="second-menu" name="menu-checkbox" hidden checked /&gt;
    &lt;label class="menu-header" for="second-menu"&gt;
        Drinks
    &lt;/label&gt;
    &lt;div class="menu-body"&gt;
        &lt;ul class="menu-list"&gt;
            &lt;li&gt;Specials&lt;/li&gt;

            &lt;!-- Nest menus using the nested-menu class! --&gt;
            &lt;li class="nested-menu"&gt;
                &lt;div class="menu"&gt;
                    &lt;input type="checkbox" id="nested-menu" name="menu-checkbox" hidden /&gt;
                    &lt;label class="menu-header" for="nested-menu"&gt;
                        Milk Tea (Click me!)
                    &lt;/label&gt;
                    &lt;div class="menu-body"&gt;
                        &lt;ul class="menu-list"&gt;
                            &lt;li&gt;Classic&lt;/li&gt;
                            &lt;li&gt;Taro&lt;/li&gt;
                            &lt;li&gt;Jasmine&lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/li&gt;

            &lt;li&gt;Cold Brew&lt;/li&gt;
            &lt;li&gt;Hot Tea&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>