{% macro generate(active_accordion) %}

{% if active_accordion == "overview" %}
<div class="banner medium bg-indigo">
	<div class="banner-body text-left">
		<div class="container">
			<h1 class="header text-white">Overview</h1>
			<h5 class="subheader thin text-white no-margin">Learn how to <span class="bold">build your website</span> with boba!</h5>
		</div>
	</div>
</div>

{% elif active_accordion == "core" %}
<div class="banner medium bg-red">
	<div class="banner-body text-left">
		<div class="container">
			<h1 class="header text-white">Core</h1>
			<h5 class="subheader thin text-white no-margin">Learn how to <span class="bold">build your website</span> with boba!</h5>
		</div>
	</div>
</div>

{% elif active_accordion == "utilities" %}
<div class="banner medium bg-orange">
	<div class="banner-body text-left">
		<div class="container">
			<h1 class="header text-white">Utilities</h1>
			<h5 class="subheader thin text-white no-margin">Learn how to <span class="bold">build your website</span> with boba!</h5>
		</div>
	</div>
</div>

{% elif active_accordion == "layout" %}
<div class="banner medium bg-green">
	<div class="banner-body text-left">
		<div class="container">
			<h1 class="header text-white">Layout</h1>
			<h5 class="subheader thin text-white no-margin">Learn how to <span class="bold">build your website</span> with boba!</h5>
		</div>
	</div>
</div>

{% elif active_accordion == "components" %}
<div class="banner medium bg-blue">
	<div class="banner-body text-left">
		<div class="container">
			<h1 class="header text-white">Components</h1>
			<h5 class="subheader thin text-white no-margin">Learn how to <span class="bold">build your website</span> with boba!</h5>
		</div>
	</div>
</div>

{% elif active_accordion == "elements" %}
<div class="banner medium bg-purple">
	<div class="banner-body text-left">
		<div class="container">
			<h1 class="header text-white">Elements</h1>
			<h5 class="subheader thin text-white no-margin">Learn how to <span class="bold">build your website</span> with boba!</h5>
		</div>
	</div>
</div>

{% elif active_accordion == "forms" %}
<div class="banner medium bg-pink">
	<div class="banner-body text-left">
		<div class="container">
			<h1 class="header text-white">Forms</h1>
			<h5 class="subheader thin text-white no-margin">Learn how to <span class="bold">build your website</span> with boba!</h5>
		</div>
	</div>
</div>

{% else %} {# Fallback; This should never happen. #}
<div class="banner medium bg-indigo darken-bg-1">
	<div class="banner-body text-left">
		<div class="container">
			<h1 class="header text-white">Documentation</h1>
			<h5 class="subheader thin text-white no-margin">Learn how to <span class="bold">build your website</span> with boba!</h5>
		</div>
	</div>
</div>
{% endif %}

{% endmacro %}