<div class="below-fixed-nav">
    <div class="banner medium indigo darken-bg-1">
        <div class="banner-body text-left">
          <div class="container">
            <h1 class="header text-white">Documentation</h1>
            <h5 class="subheader thin text-white no-margin">Learn how to <span class="bold">build your website</span> with boba!</h5>
          </div>
        </div>
    </div>
</div>