{% macro generate(active_accordion, active_page) %}

<div class="sb-top-navbar fixed">
	<a class="sb-side-navbar-toggle" href="#boba-sidebar">
	<span class="sb-menu-icon"></span>
	</a>
</div>

<div id="boba-sidebar" class="sb-side-navbar">
	<div class="sb-side-fixed-region">
		<div class="sb-side-content">
			boba
		</div>
	</div>
	<div class="sb-side-scroll-region">
		<div class="sb-side-content">
			<div class="accordion-menu">
				<input type="checkbox" id="overview" name="accordion-checkbox" hidden {{ "checked" if active_accordion == "overview" }} />
				<label class="accordion-header {{ "bold" if active_accordion == "overview" }}" for="overview">
					Overview
				</label>
				<div class="accordion-body">
					<ul class="accordion-submenu">
						<li class="{{ "bold" if active_page == "index" }}"><a href="/docs/index.html">Docs Home</a></li>
						<li>Filler 2</li>
						<li>Filler 3</li>
					</ul>
				</div>
			</div>
			<div class="accordion-menu">
				<input type="checkbox" id="core" name="accordion-checkbox" hidden {{ "checked" if active_accordion == "core" }} />
				<label class="accordion-header {{ "bold" if active_accordion == "core" }}" for="core">
					Core
				</label>
				<div class="accordion-body">
					<ul class="accordion-submenu">
						<li class="{{ "bold" if active_page == "animations" }}"><a href="/docs/animations.html">Animations</a></li>
						<li class="{{ "bold" if active_page == "colors" }}"><a href="/docs/colors.html">Colors</a></li>
						<li class="{{ "bold" if active_page == "helpers" }}"><a href="/docs/helpers.html">Helpers</a></li>
						<li class="{{ "bold" if active_page == "typography" }}"><a href="/docs/typography.html">Typography</a></li>
					</ul>
				</div>
			</div>
			<div class="accordion-menu">
				<input type="checkbox" id="structure" name="accordion-checkbox" hidden {{ "checked" if active_accordion == "structure" }} />
				<label class="accordion-header {{ "bold" if active_accordion == "layout" }}" for="structure">
					Layout
				</label>
				<div class="accordion-body">
					<ul class="accordion-submenu">
						<li class="{{ "bold" if active_page == "dividers" }}"><a href="/docs/dividers.html">Dividers</a></li>
						<li class="{{ "bold" if active_page == "grid" }}"><a href="/docs/grid.html">Grid</a></li>
						<li class="{{ "bold" if active_page == "navbar" }}"><a href="/docs/navbar.html">Navbar</a></li>
						<li class="{{ "bold" if active_page == "sidebar" }}"><a href="/docs/sidebar.html">Sidebar</a> <span class="label small rounded red">Beta</span></li>
					</ul>
				</div>
			</div>
			<div class="accordion-menu">
				<input type="checkbox" id="components" name="accordion-checkbox" hidden {{ "checked" if active_accordion == "components" }} />
				<label class="accordion-header {{ "bold" if active_accordion == "components" }}" for="components">
					Components
				</label>
				<div class="accordion-body">
					<ul class="accordion-submenu">
						<li class="{{ "bold" if active_page == "accordions" }}"><a href="/docs/accordions.html">Accordions</a></li>
						<li class="{{ "bold" if active_page == "banners" }}"><a href="/docs/banners.html">Banners</a></li>
						<li class="{{ "bold" if active_page == "breadcrumbs" }}"><a href="/docs/breadcrumbs.html">Breadcrumbs</a></li>
						<li class="{{ "bold" if active_page == "cards" }}"><a href="/docs/cards.html">Cards</a></li>
						<li class="{{ "bold" if active_page == "menus" }}"><a href="/docs/menus.html">Menus</a></li>
						<li class="{{ "bold" if active_page == "messages" }}"><a href="/docs/messages.html">Messages</a></li>
						<li class="{{ "bold" if active_page == "notifications" }}"><a href="/docs/notifications.html">Notifications</a></li>
						<li class="{{ "bold" if active_page == "pagination" }}"><a href="/docs/pagination.html">Pagination</a></li>
						<li class="{{ "bold" if active_page == "tabs" }}"><a href="/docs/tabs.html">Tabs</a></li>
					</ul>
				</div>
			</div>
			<div class="accordion-menu">
				<input type="checkbox" id="elements" name="accordion-checkbox" hidden {{ "checked" if active_accordion == "elements" }} />
				<label class="accordion-header {{ "bold" if active_accordion == "elements" }}" for="elements">
					Elements
				</label>
				<div class="accordion-body">
					<ul class="accordion-submenu">
						<li class="{{ "bold" if active_page == "buttons" }}"><a href="/docs/buttons.html">Buttons</a></li>
						<li class="{{ "bold" if active_page == "code" }}"><a href="/docs/code.html">Code</a></li>
						<li class="{{ "bold" if active_page == "counters" }}"><a href="/docs/counters.html">Counters</a></li>
						<li class="{{ "bold" if active_page == "labels" }}"><a href="/docs/labels.html">Labels</a></li>
						<li class="{{ "bold" if active_page == "lists" }}"><a href="/docs/lists.html">Lists</a></li>
						<li class="{{ "bold" if active_page == "progress" }}"><a href="/docs/progress.html">Progress</a></li>
						<li class="{{ "bold" if active_page == "tables" }}"><a href="/docs/tables.html">Tables</a></li>
					</ul>
				</div>
			</div>
			<div class="accordion-menu">
				<input type="checkbox" id="forms" name="accordion-checkbox" hidden {{ "checked" if active_accordion == "forms" }} />
				<label class="accordion-header {{ "bold" if active_accordion == "forms" }}" for="forms">
					Forms
				</label>
				<div class="accordion-body">
					<ul class="accordion-submenu">
						<li class="{{ "bold" if active_page == "inputs" }}"><a href="/docs/inputs.html">Inputs</a></li>
						<li class="{{ "bold" if active_page == "selects" }}"><a href="/docs/selects.html">Selects</a></li>
						<li class="{{ "bold" if active_page == "textareas" }}"><a href="/docs/textareas.html">Textareas</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endmacro %}