{% macro generate(active_collapsible, active_page, version_number) %}

<div class="sb-top-navbar sticky">
	<a class="sb-side-navbar-toggle" href="#boba-sidebar">
		<span class="sb-menu-icon"></span>
	</a>
	<a class="button orange" href="./installation.html">Get boba!</a>
</div>

<div class="sb-side-navbar" id="boba-sidebar">
	<div class="sb-side-sticky-region display-flex flex-column">
		<a class="boba-branding" href="/">boba</a>
		<span class="version-tag boba-branding">Version {{ version_number }}</span>
	</div>
	<div class="sb-side-scroll-region">
		<div class="collapsible">
			<input type="checkbox" class="collapsible-toggle" id="overview" name="collapsible-checkbox" {{ "checked" if active_collapsible == "overview" }} />
			<label class="collapsible-header {{ "bold" if active_collapsible == "overview" }}" for="overview">
				Overview
			</label>
			<div class="collapsible-body">
				<ul class="collapsible-submenu">
					<li class="{{ "bold" if active_page == "index" }}"><a href="/docs/index.html">Introduction</a></li>
					<li class="{{ "bold" if active_page == "installation" }}"><a href="/docs/installation.html">Installation</a></li>
					<li class="{{ "bold" if active_page == "customize" }}"><a href="/docs/customize.html">Customize</a></li>
					<li class="{{ "bold" if active_page == "compatibility" }}"><a href="/docs/compatibility.html">Compatibility</a></li>
					<li class="{{ "bold" if active_page == "changelog" }}"><a href="/docs/changelog.html">Changelog</a></li>
				</ul>
			</div>
		</div>
		<div class="collapsible">
			<input type="checkbox" class="collapsible-toggle" id="core" name="collapsible-checkbox" {{ "checked" if active_collapsible == "core" }} />
			<label class="collapsible-header {{ "bold" if active_collapsible == "core" }}" for="core">
				Core
			</label>
			<div class="collapsible-body">
				<ul class="collapsible-submenu">
					<li class="{{ "bold" if active_page == "breakpoints" }}"><a href="/docs/breakpoints.html">Breakpoints</a></li>
					<li class="{{ "bold" if active_page == "colors" }}"><a href="/docs/colors.html">Colors</a></li>
					<li class="{{ "bold" if active_page == "typography" }}"><a href="/docs/typography.html">Typography</a></li>
				</ul>
			</div>
		</div>
		<div class="collapsible">
			<input type="checkbox" class="collapsible-toggle" id="layout" name="collapsible-checkbox" {{ "checked" if active_collapsible == "layout" }} />
			<label class="collapsible-header {{ "bold" if active_collapsible == "layout" }}" for="layout">
				Layout
			</label>
			<div class="collapsible-body">
				<ul class="collapsible-submenu">
					<li class="{{ "bold" if active_page == "grid" }}"><a href="/docs/grid.html">Grid</a></li>
					<li class="{{ "bold" if active_page == "navbar" }}"><a href="/docs/navbar.html">Navbar</a></li>
					<li class="{{ "bold" if active_page == "sidebar" }}"><a href="/docs/sidebar.html">Sidebar</a></li>
				</ul>
			</div>
		</div>
		<div class="collapsible">
			<input type="checkbox" class="collapsible-toggle" id="components" name="collapsible-checkbox" {{ "checked" if active_collapsible == "components" }} />
			<label class="collapsible-header {{ "bold" if active_collapsible == "components" }}" for="components">
				Components
			</label>
			<div class="collapsible-body">
				<ul class="collapsible-submenu">
					<li class="{{ "bold" if active_page == "banners" }}"><a href="/docs/banners.html">Banners</a></li>
					<li class="{{ "bold" if active_page == "breadcrumbs" }}"><a href="/docs/breadcrumbs.html">Breadcrumbs</a></li>
					<li class="{{ "bold" if active_page == "cards" }}"><a href="/docs/cards.html">Cards</a></li>
					<li class="{{ "bold" if active_page == "collapsible" }}"><a href="/docs/collapsible.html">Collapsible</a></li>
					<li class="{{ "bold" if active_page == "messages" }}"><a href="/docs/messages.html">Messages</a></li>
					<li class="{{ "bold" if active_page == "notifications" }}"><a href="/docs/notifications.html">Notifications</a></li>
					<li class="{{ "bold" if active_page == "pagination" }}"><a href="/docs/pagination.html">Pagination</a></li>
					<li class="{{ "bold" if active_page == "tabs" }}"><a href="/docs/tabs.html">Tabs</a></li>
					<li class="{{ "bold" if active_page == "tables" }}"><a href="/docs/tables.html">Tables</a></li>
				</ul>
			</div>
		</div>
		<div class="collapsible">
			<input type="checkbox" class="collapsible-toggle" id="elements" name="collapsible-checkbox" {{ "checked" if active_collapsible == "elements" }} />
			<label class="collapsible-header {{ "bold" if active_collapsible == "elements" }}" for="elements">
				Elements
			</label>
			<div class="collapsible-body">
				<ul class="collapsible-submenu">
					<li class="{{ "bold" if active_page == "blockquotes" }}"><a href="/docs/blockquotes.html">Blockquotes</a></li>
					<li class="{{ "bold" if active_page == "buttons" }}"><a href="/docs/buttons.html">Buttons</a></li>
					<li class="{{ "bold" if active_page == "code" }}"><a href="/docs/code.html">Code</a></li>
					<li class="{{ "bold" if active_page == "counters" }}"><a href="/docs/counters.html">Counters</a></li>
					<li class="{{ "bold" if active_page == "dividers" }}"><a href="/docs/dividers.html">Dividers</a></li>
					<li class="{{ "bold" if active_page == "labels" }}"><a href="/docs/labels.html">Labels</a></li>
					<li class="{{ "bold" if active_page == "lists" }}"><a href="/docs/lists.html">Lists</a></li>
					<li class="{{ "bold" if active_page == "progress" }}"><a href="/docs/progress.html">Progress</a></li>
				</ul>
			</div>
		</div>
		<div class="collapsible">
			<input type="checkbox" class="collapsible-toggle" id="forms" name="collapsible-checkbox" {{ "checked" if active_collapsible == "forms" }} />
			<label class="collapsible-header {{ "bold" if active_collapsible == "forms" }}" for="forms">
				Forms
			</label>
			<div class="collapsible-body">
				<ul class="collapsible-submenu">
                    <li class="{{ "bold" if active_page == "checkboxes" }}"><a href="/docs/checkboxes.html">Checkboxes</a></li>
					<li class="{{ "bold" if active_page == "inputs" }}"><a href="/docs/inputs.html">Inputs</a></li>
                    <li class="{{ "bold" if active_page == "radios" }}"><a href="/docs/radios.html">Radios</a></li>
					<li class="{{ "bold" if active_page == "selects" }}"><a href="/docs/selects.html">Selects</a></li>
					<li class="{{ "bold" if active_page == "textareas" }}"><a href="/docs/textareas.html">Textareas</a></li>
				</ul>
			</div>
		</div>
		<div class="collapsible">
			<input type="checkbox" class="collapsible-toggle" id="utilities" name="collapsible-checkbox" {{ "checked" if active_collapsible == "utilities" }} />
			<label class="collapsible-header {{ "bold" if active_collapsible == "utilities" }}" for="utilities">
				Utilities
			</label>
			<div class="collapsible-body">
				<ul class="collapsible-submenu">
					<li class="{{ "bold" if active_page == "animations" }}"><a href="/docs/animations.html">Animations</a></li>
					<li class="{{ "bold" if active_page == "background" }}"><a href="/docs/background.html">Background</a></li>
					<li class="{{ "bold" if active_page == "borders" }}"><a href="/docs/borders.html">Borders</a></li>
					<li class="{{ "bold" if active_page == "display" }}"><a href="/docs/display.html">Display</a></li>
					<li class="{{ "bold" if active_page == "flex" }}"><a href="/docs/flex.html">Flex</a></li>
					<li class="{{ "bold" if active_page == "images" }}"><a href="/docs/images.html">Images</a></li>
					<li class="{{ "bold" if active_page == "shadows" }}"><a href="/docs/shadows.html">Shadows</a></li>
					<li class="{{ "bold" if active_page == "shapes" }}"><a href="/docs/shapes.html">Shapes</a></li>
					<li class="{{ "bold" if active_page == "sizing" }}"><a href="/docs/sizing.html">Sizing</a></li>
					<li class="{{ "bold" if active_page == "spacing" }}"><a href="/docs/spacing.html">Spacing</a></li>
					<li class="{{ "bold" if active_page == "text" }}"><a href="/docs/text.html">Text</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

{% endmacro %}
