<div class="row">
	<div class="col xs-12">
		<h1 class="header">Join Labels</h1>
		<h5 class="subheader thin no-margin">Combine multiple labels into one segmented label using the <code class="inline">.join-labels</code> class.</h5>
	</div>
	<div class="col xs-12 md-6 col-middle">
		<div class="label-group">
			<div class="join-labels">
			  <span class="label outlined">build</span>
			  <span class="label blue">with</span>
			  <span class="label orange">boba</span>
			</div>
			<div class="join-labels">
			  <a class="label rounded outlined" href="#">build</a>
			  <a class="label blue" href="#">with</a>
			  <a class="label orange rounded" href="#">boba</a>
			</div>
		</div>
	</div>
	<div class="col xs-12 md-6 col-middle">
		<div class="code-block">
			<pre class="code"><code class="language-html">&lt;div class="join-labels"&gt;
	&lt;span class="label outlined"&gt;build&lt;/span&gt;
	&lt;span class="label blue"&gt;with&lt;/span&gt;
	&lt;span class="label orange"&gt;boba&lt;/span&gt;
&lt;/div&gt;

&lt;div class="join-labels"&gt;
	&lt;a class="label rounded outlined" href="#"&gt;build&lt;/a&gt;
	&lt;a class="label blue" href="#"&gt;with&lt;/a&gt;
	&lt;a class="label orange rounded" href="#"&gt;boba&lt;/a&gt;
&lt;/div&gt;</code></pre>
		</div>
	</div>
</div>