<div class="row">
	<div class="col xs-12">
		<h1 class="header">Join Labels</h1>
		<h5 class="subheader thin no-margin">Combine multiple labels using the <code class="inline">.join-labels</code> class</h5>
	</div>
	<div class="col xs-12 md-6 col-middle">
		<div class="label-group">
			<div class="join-labels">
			  <span class="label outlined">build</span>
			  <span class="label blue">with</span>
			  <span class="label orange">boba</span>
			</div>
			<div class="join-labels">
			  <span class="label rounded outlined">build</span>
			  <span class="label blue">with</span>
			  <span class="label orange rounded">boba</span>
			</div>
		</div>
	</div>
	<div class="col xs-12 md-6 col-middle">
		<div class="code-block">
			<pre class="code"><code data-lang="html">&ltdiv class="join-labels"&gt
	&ltspan class="label outlined"&gtbuild&lt/span&gt
	&ltspan class="label blue"&gtwith&lt/span&gt
	&ltspan class="label orange"&gtboba&lt/span&gt
&lt/div&gt

&ltdiv class="join-labels"&gt
	&ltspan class="label rounded outlined"&gtbuild&lt/span&gt
	&ltspan class="label blue"&gtwith&lt/span&gt
	&ltspan class="label orange rounded"&gtboba&lt/span&gt
&lt/div&gt</code></pre>
		</div>
	</div>
</div>