<div class="row">
    <div class="col xs-12">
        <h1 class="header">Labels</h1>
        <h5 class="subheader thin no-margin">Labels come in all of <a href="./colors.html">boba's colors</a>.</h5>                        
    </div>
    <div class="col xs-12 md-6 col-middle">
        <span class="label">Default</span>
        {% for color in global_color_list_core %}
        <span class="label {{ color }}">{{ color | capitalize }}</span>
        {% endfor %}
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;span class="label red"&gt; Red &lt;/span&gt;
&lt;a class="label green" href="#"&gt; Green &lt;/a&gt;</code></pre>
        </div>
    </div>
</div>