<div class="row">
	<div class="col xs-12">
		<h1 class="header">Label Groups</h1>
		<h5 class="subheader thin no-margin">Keep multiple labels grouped and equally spaced using the <code class="inline">.label-group</code> class</h5>
	</div>
	<div class="col xs-12 md-6 col-middle">
		<div class="label-group">
			<span class="label pink">Single Label</span>
			<div class="join-labels">
			  <span class="label purple">Double</span>
			  <span class="label purple outlined">Label</span>
			</div>
			<div class="join-labels">
			  <span class="label">build</span>
			  <span class="label blue">with</span>
			  <span class="label orange">boba</span>
			</div>
		</div>
	</div>
	<div class="col xs-12 md-6 col-middle">
		<div class="code-block">
			<pre class="code"><code data-lang="html">&ltdiv class="label-group"&gt
	&ltspan class="label pink"&gtSingle Label&lt/span&gt
	&ltdiv class="join-labels"&gt
		&ltspan class="label purple"&gtDouble&lt/span&gt
		&ltspan class="label purple outlined"&gtLabel&lt/span&gt
	&lt/div&gt
	&ltdiv class="join-labels"&gt
		&ltspan class="label"&gtbuild&lt/span&gt
		&ltspan class="label blue"&gtwith&lt/span&gt
		&ltspan class="label orange"&gtboba&lt/span&gt
	&lt/div&gt
&lt/div&gt</code></pre>
		</div>
	</div>
</div>