<div class="row">
    <div class="col xs-12">
        <h1 class="header">Labels</h1>
        <h5 class="subheader thin no-margin">Labels come in all colors</h5>                        
    </div>
    <div class="col xs-12 md-6 col-middle">
        <span class="label">Default</span>
        <span class="label red">Red</span>
        <span class="label orange">Orange</span>
        <span class="label yellow">Yellow</span>
        <span class="label green">Green</span>
        <span class="label teal">Teal</span>
        <span class="label blue">Blue</span>
        <span class="label indigo">Indigo</span>
        <span class="label purple">Purple</span>
        <span class="label pink">Pink</span>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltspan class="label green"&gt Green &lt/span&gt</code></pre>
        </div>
    </div>
</div>