<div class="row">
	<div class="col xs-12">
		<h1 class="header">Label Groups</h1>
		<h5 class="subheader thin no-margin">Keep multiple labels grouped and equally spaced using the <code class="inline">.label-group</code> class</h5>
	</div>
	<div class="col xs-12 md-6 col-middle">
		<div class="label-group">
			<span class="label pink">Single Label</span>
			<div class="join-labels">
			  <span class="label purple">Double</span>
			  <span class="label purple outlined">Label</span>
			</div>
			<div class="join-labels">
			  <a class="label" href="#">build</a>
			  <a class="label blue" href="#">with</a>
			  <a class="label orange" href="#">boba</a>
			</div>
		</div>
	</div>
	<div class="col xs-12 md-6 col-middle">
		<div class="code-block">
			<pre class="code"><code class="language-html">&lt;div class="label-group"&gt;
	&lt;span class="label pink"&gt;Single Label&lt;/span&gt;
	&lt;div class="join-labels"&gt;
		&lt;span class="label purple"&gt;Double&lt;/span&gt;
		&lt;span class="label purple outlined"&gt;Label&lt;/span&gt;
	&lt;/div&gt;
	&lt;div class="join-labels"&gt;
		&lt;a class="label" href="#"&gt;build&lt;/a&gt;
		&lt;a class="label blue" href="#"&gt;with&lt;/a&gt;
		&lt;a class="label orange" href="#"&gt;boba&lt;/a&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
		</div>
	</div>
</div>