<div class="row">
    <div class="col xs-12">
        <h1 class="header">Sizes</h1>
        <h5 class="subheader thin no-margin">Labels can be resized</h5>                        
    </div>
    <div class="col xs-12 md-6 col-middle">
        <span class="label small">Small</span>
        <span class="label">Default</span>
        <span class="label medium">Medium</span>
        <span class="label large">Large</span>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;span class="label green"&gt; Green &lt;/span&gt;</code></pre>
        </div>
    </div>
</div>