<div class="row">
    <div class="col xs-12 lg-4">
        <h3 class="header thin">Capitalized</h3>
        <h6 class="subheader thin">Capitalize the first letter of each word</h6>
    </div>
    <div class="col xs-12 md-6 lg-4">
        <div>
            <h3 class="capitalize no-margin">Example header</h3>
            <p class="capitalize">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
    <div class="col xs-12 md-6 lg-4 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;h3 class="capitalize"&gt; Example header &lt;/h3&gt;</code></pre>
        </div>
    </div>
</div>