<div class="row">
    <div class="col xs-12 lg-4">
        <h3 class="header thin">Lowercase</h3>
        <h6 class="subheader thin">Make every letter lowercase</h6>
    </div>
    <div class="col xs-12 md-6 lg-4">
        <div>
            <h3 class="lowercase no-margin">Example Header</h3>
            <p class="lowercase">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
    <div class="col xs-12 md-6 lg-4 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lth3 class="lowercase"&gt Example header &lt/h3&gt</code></pre>
        </div>
    </div>
</div>