@import 'constants';
@import 'styling';

.form-control {

    label {
        display: block;
        font-size: 0.95em;
        margin-bottom: 0.3em;
    }
    input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], select, textarea {
        @include form-component-base;
        background-color: $color-white;
        border: 1px solid $color-dark;
        &::placeholder {
            color: $color-dark;
        }
        &[disabled] {
            color: $color-dark;
            border-color: $color-dark;
        }
        &.filled {
          background: transparentBG($color-dark);
        }
        @each $size, $fontSize, $height, $padding in $form-size-list {
            &.#{$size} {
                height: $height;
                padding: 0 $padding;
                font-size: $fontSize;
            }
        }
        @if $include-color-palette {
            @include form-colors;
        }
    }

    input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], select {
        &.rounded {
            border-radius: $rounded-border-radius;
        }
    }

    textarea {
        min-height: 4em;
    }

    .select-icon {
        @include select-icon-base;
        &::after {
            border: 1px solid $color-dark;
            border-right: 0;
            border-top: 0;
        }
    }
}
