$border-radius: $base-border-radius-default;
$rounded-border-radius: 9999px;

$form-font-size-default: 1em;
$form-height-default: 2.4em;
$form-padding-default: 0.3rem 1rem;
$form-text-area-padding: 0.75rem 1rem;

$clickable-background-transition: background 0.15s ease-in-out;
$clickable-border-transition: border 0.15s ease-in-out;
$clickable-color-transition: color 0.15s ease-in-out;
$clickable-transform-transition: transform 0.15s ease-in-out;
$clickable-input-size: 1em;
$clickable-label-offset: 0.75rem;

$switch-background-width: 2.4em;
$switch-background-height: 1.3em;

$switch-handle-size: 1em;
$switch-handle-off-offset: 0.2em;
$switch-handle-on-offset: 1.2em;

$switch-background-color: $color-default-fill;
$switch-handle-transition: left 0.15s ease-in-out;

$form-size-list: (large, $form-font-size-default + 0.4em, $form-height-default + 0.4em, $form-padding-default + 0.4em),
                  (medium, $form-font-size-default + 0.2em, $form-height-default + 0.2em, $form-padding-default + 0.2em),
                  (small, $form-font-size-default - 0.2em, $form-height-default - 0.2em, $form-padding-default - 0.2em);
