@import 'constants';

@mixin card-base {
	position: relative;
    color: $color-black;
    background-color: $color-white;
    max-width: 100%;
    margin-bottom: 1em;
    border-radius: $card-outer-border-radius;
    border: $card-border-props;
}

@mixin card-header-base {
	display: flex;
    align-items: stretch;
    border-bottom: $card-border-props;

    .card-header-title {
        display: flex;
        flex-grow: 1;
        align-items: center;
        font-weight: $base-font-weight-bold;
        padding: $card-padding-default;
    }

    .card-header-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $card-padding-default;
        cursor: pointer;
    }

    + .card-image {
        img {
            border-radius: 0;            
        }
    }
}

@mixin card-footer-base {
	display: flex;
    align-items: stretch;
    border-top: $card-border-props;

    .card-footer-item {
        display: flex;
        flex: 1 0 0;
        align-items: center;
        justify-content: center;
        padding: $card-padding-footer-items;
        &:not(:last-child) {
            border-right: $card-border-props;
        }
    }
}

@mixin borderless-card-footer {
    flex: 0 0 auto;
    padding: $card-padding-footer-items $card-padding-default;
    border-right: none;
}
