<div class="row">
    <div class="col xs-12">
        <h4 class="header">Combinations</h4>
        <h6 class="subheader thin no-margin">Use <code class="inline">.rounded</code> with <code class="inline">.outlined</code> to create the perfect label</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div>
            <span class="label red rounded outlined">Red</span>
            <a class="label green rounded outlined" href="#">Green</a>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;span class="label red rounded outlined"&gt; Red &lt;/span&gt;
&lt;a class="label green rounded outlined" href="#"&gt; Green &lt;/a&gt;</code></pre>
        </div>
    </div>
</div>