<div class="row">
    <div class="col xs-12">
        <h4 class="header">Outlined</h4>
        <h6 class="subheader thin no-margin">Your labels will be colored outlines</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <span class="label outlined">Default</span>
        {% for color in global_color_list_core %}
        <span class="label {{ color }} outlined ">{{ color | capitalize }}</span>
        {% endfor %}
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltspan class="label green outlined"&gt Green &lt/span&gt</code></pre>
        </div>
    </div>
</div>