<div class="row">
    <div class="col xs-12">
        <h4 class="header">Outlined</h4>
        <h6 class="subheader thin no-margin">Your labels will be colored outlines</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <span class="label outlined">Default</span>
        <span class="label red outlined">Red</span>
        <span class="label orange outlined">Orange</span>
        <span class="label yellow outlined">Yellow</span>
        <span class="label green outlined">Green</span>
        <span class="label teal outlined">Teal</span>
        <span class="label blue outlined">Blue</span>
        <span class="label indigo outlined">Indigo</span>
        <span class="label purple outlined">Purple</span>
        <span class="label pink outlined">Pink</span>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltspan class="label green outlined"&gt Green &lt/span&gt</code></pre>
        </div>
    </div>
</div>