<div class="row">
    <div class="col xs-12">
        <h4 class="header">Rounded</h4>
        <h6 class="subheader thin no-margin">Labels can be pill-shaped</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <span class="label rounded">Default</span>
        <span class="label red rounded">Red</span>
        <span class="label orange rounded">Orange</span>
        <span class="label yellow rounded">Yellow</span>
        <span class="label green rounded">Green</span>
        <span class="label teal rounded">Teal</span>
        <span class="label blue rounded">Blue</span>
        <span class="label indigo rounded">Indigo</span>
        <span class="label purple rounded">Purple</span>
        <span class="label pink rounded">Pink</span>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltspan class="label green rounded"&gt Green &lt/span&gt</code></pre>
        </div>
    </div>
</div>