<div class="row">
    <div class="col xs-12">
        <h4 class="header">Rounded</h4>
        <h6 class="subheader thin no-margin">Labels can be pill-shaped</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <span class="label rounded">Default</span>
        {% for color in global_color_list_core %}
        <span class="label {{ color }} rounded">{{ color | capitalize }}</span>
        {% endfor %}
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt;span class="label green rounded"&gt; Green &lt;/span&gt;</code></pre>
        </div>
    </div>
</div>