<div class="row">
    <div class="col xs-12 lg-4">
        <h3 class="header thin">Thin</h3>
        <h6 class="subheader thin">Make your typography thin.</h6>
    </div>
    <div class="col xs-12 md-6 lg-4">
        <div>
            <span class="thin">I'm thin text!</span>
        </div>
    </div>
    <div class="col xs-12 md-6 lg-4 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;span class="thin"&gt; I'm thin text! &lt;/span&gt;</code></pre>
        </div>
    </div>
</div>
