<div class="row">
    <div class="col xs-12">
        <h1 class="header">Sizing</h1>
        <h5 class="subheader thin no-margin">Painlessly adjust the relative sizing of your elements using these classes.</h5>
    </div>

    <div class="col xs-12 col-middle">
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="3"><span class="bold">Box-Sizing</span</td>
                </tr>
                <tr>
                    <td><code class="inline">.border-box</code></td>
                    <td>Applies <code class="inline">box-sizing: border-box;</code> to an element.</td>
                </tr>
                <tr>
                    <td colspan="2">Use this class to include padding and border in an element's total width and height.</td>
                </tr>
                <tr><td colspan="3" class="border-none">&nbsp;</td></tr>
                <tr>
                    <td rowspan="3"><span class="bold">Width</span</td>
                </tr>
                <tr>
                    <td><code class="inline">.w-100</code></td>
                    <td>Applies <code class="inline">width: 100%;</code> to an element.</td>
                </tr>
                <tr>
                    <td colspan="2">Use this class to force the width of an element to 100% of its parent container.</td>
                </tr>
                <tr>
                    <td rowspan="3"><span class="bold">Height</span</td>
                </tr>
                <tr>
                    <td><code class="inline">.h-100</code></td>
                    <td>Applies <code class="inline">height: 100%;</code> to an element.</td>
                </tr>
                <tr>
                    <td colspan="2">Use this class to force the height of an element to 100% of its parent container.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
