<div class="row">
    <div class="col xs-12">
        <h4 class="header">Colors</h4>
        <h6 class="subheader thin no-margin">Use any and all of boba's color palette to add a splash of color to your text.</h6>
    </div>
    <div class="col xs-12 col-middle">
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="{{ (global_color_list_core | length) + (global_color_list_base | length) + 2 }}"><span class="bold">Colors</span></td>
                </tr>
                <tr>
                    <td colspan="3">To change the color of your text, add a <code class="inline">.text-{COLOR}</code> class.</td>
                </tr>
                {% for color in global_color_list_core %}
                <tr>
                    <td><code class="inline">.text-{{ color }}</code></td>
                    <td>Add the <code class="inline">.text-{{ color }}</code> class to make your text {{ color }}.</td>
                    <td><span class="text-{{ color }}">Hello World, I'm {{ color }} text!</span></td>
                </tr>
                {% endfor %}
                {% for color in global_color_list_base %}
                <tr>
                    <td><code class="inline">.text-{{ color }}</code></td>
                    <td>Add the <code class="inline">.text-{{ color }}</code> class to make your text {{ color }}.</td>
                    <td class="{{ "bg-dark lighten-bg-2" if (color == "light") or (color == "white") }}"><span class="text-{{ color }}">Hello World, I'm {{ color }} text!</span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
