<div class="row">
    <div class="col xs-12">
        <h4 class="header">Colors</h4>
        <h6 class="subheader thin no-margin">Use any and all of boba's color palette to add a splash of color to your text.</h6>
    </div>
    <div class="col xs-12 col-middle">
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="15"><span class="bold">Colors</span</td>
                </tr>
                <tr>
                    <td colspan="3">To change text color add a <code class="inline">.text-{COLOR}</code> class. Colors are from boba's palette.</td>
                </tr>
                <tr>
                    <td><code class="inline">.text-red</code></td>
                    <td>Add a <code class="inline">.text-red</code> class to make your text red.</td>
                    <td><span class="text-red">Hello World, I'm red text!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-orange</code></td>
                    <td>Add a <code class="inline">.text-orange</code> class to make your text orange.</td>
                    <td><span class="text-orange">Hello World, I'm orange text!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-yellow</code></td>
                    <td>Add a <code class="inline">.text-yellow</code> class to make your text yellow.</td>
                    <td><span class="text-yellow">Hello World, I'm yellow text!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-green</code></td>
                    <td>Add a <code class="inline">.text-green</code> class to make your text green.</td>
                    <td><span class="text-green">Hello World, I'm green text!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-teal</code></td>
                    <td>Add a <code class="inline">.text-teal</code> class to make your text teal.</td>
                    <td><span class="text-teal">Hello World, I'm teal text!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-blue</code></td>
                    <td>Add a <code class="inline">.text-blue</code> class to make your text blue.</td>
                    <td><span class="text-blue">Hello World, I'm blue text!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-indigo</code></td>
                    <td>Add a <code class="inline">.text-indigo</code> class to make your text indigo.</td>
                    <td><span class="text-indigo">Hello World, I'm indigo text!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-purple</code></td>
                    <td>Add a <code class="inline">.text-purple</code> class to make your text purple.</td>
                    <td><span class="text-purple">Hello World, I'm purple text!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-pink</code></td>
                    <td>Add a <code class="inline">.text-pink</code> class to make your text pink.</td>
                    <td><span class="text-pink">Hello World, I'm pink text!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-dark</code></td>
                    <td>Add a <code class="inline">.text-dark</code> class to make your text dark.</td>
                    <td><span class="text-dark">Hello World, I'm dark text!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-light</code></td>
                    <td>Add a <code class="inline">.text-light</code> class to make your text light.</td>
                    <td class="bg-dark lighten-bg-2"><span class="text-light">Hello World, I'm light text!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-black</code></td>
                    <td>Add a <code class="inline">.text-black</code> class to make your text black.</td>
                    <td><span class="text-black">Hello World, I'm black text!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.text-white</code></td>
                    <td>Add a <code class="inline">.text-white</code> class to make your text white.</td>
                    <td class="bg-dark lighten-bg-2"><span class="text-white">Hello World, I'm white text!</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
