<div class="row">
    <div class="col xs-12">
        <h1 class="header">Colors</h1>
        <h5 class="subheader thin no-margin">Change the outline color of your selects using boba's <a href="./colors.html" class="text-blue text-hover-green">color palette</a></h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <form class="form-control" action="#" method="post">
            {% for color in global_color_list_core %}
            <div>
                <span class="select-icon">
                    <select class="{{ color }}" name="">
                        <option value="Option 1">{{ color | capitalize }} Select</option>
                        <option value="Option 2">Second Option</option>
                        <option value="Option 3">Last Option</option>
                    </select>
                </span>
            </div>
            {% if loop.index != loop.length %}
            <br />
            {% endif %}
            {% endfor %}
        </form>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt;form class="form-control" action="#" method="post"&gt;
    &lt;div&gt;
        &lt;label for="questions"&gt; Green Select&lt;/label&gt;
        &lt;span class="select-icon"&gt;
            &lt;select class="green" name=""&gt;
                &lt;option value="Option 1"&gt; First Option &lt;/option&gt;
                &lt;option value="Option 2"&gt; Second Option &lt;/option&gt;
                &lt;option value="Option 3"&gt; Last Option &lt;/option&gt;
            &lt;/select&gt;
        &lt;/span&gt;
    &lt;/div&gt;
&lt;/form&gt;</code></pre>
        </div>
    </div>
</div>