<div class="row">
    <div class="col xs-12">
        <h1 class="header">Colors</h1>
        <h5 class="subheader thin no-margin">Change the outline color of your selects using boba's <a href="./colors.html" class="text-blue text-hover-green">color palette</a></h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <form class="form-control" action="#" method="post">
            <div>
                <label for="questions">Default</label>
                <span class="select-icon">
                    <select class="" name="">
                        <option value="Option 1">Option</option>
                        <option value="Option 2">Second Option</option>
                        <option value="Option 3">Last Option</option>
                    </select>
                </span>
            </div>
            <br />
            <div>
                <label class="text-red" for="questions">Red Select</label>
                <span class="select-icon">
                    <select class="red" name="">
                        <option value="Option 1">Option</option>
                        <option value="Option 2">Second Option</option>
                        <option value="Option 3">Last Option</option>
                    </select>
                </span>
            </div>
            <br />
            <div>
                <label class="text-orange" for="questions">Orange Select</label>
                <span class="select-icon">
                    <select class="orange" name="">
                        <option value="Option 1">Option</option>
                        <option value="Option 2">Second Option</option>
                        <option value="Option 3">Last Option</option>
                    </select>
                </span>
            </div>
            <br />
            <div>
                <label class="text-yellow" for="questions">Yellow Select</label>
                <span class="select-icon">
                    <select class="yellow" name="">
                        <option value="Option 1">Option</option>
                        <option value="Option 2">Second Option</option>
                        <option value="Option 3">Last Option</option>
                    </select>
                </span>
            </div>
            <br />
            <div>
                <label class="text-green" for="questions">Green Select</label>
                <span class="select-icon">
                    <select class="green" name="">
                        <option value="Option 1">Option</option>
                        <option value="Option 2">Second Option</option>
                        <option value="Option 3">Last Option</option>
                    </select>
                </span>
            </div>
            <br />
            <div>
                <label class="text-teal" for="questions">Teal Select</label>
                <span class="select-icon">
                    <select class="teal" name="">
                        <option value="Option 1">Option</option>
                        <option value="Option 2">Second Option</option>
                        <option value="Option 3">Last Option</option>
                    </select>
                </span>
            </div>
            <br />
            <div>
                <label class="text-blue" for="questions">Blue Select</label>
                <span class="select-icon">
                    <select class="blue" name="">
                        <option value="Option 1">Option</option>
                        <option value="Option 2">Second Option</option>
                        <option value="Option 3">Last Option</option>
                    </select>
                </span>
            </div>
            <br />
            <div>
                <label class="text-indigo" for="questions">Indigo Select</label>
                <span class="select-icon">
                    <select class="indigo" name="">
                        <option value="Option 1">Option</option>
                        <option value="Option 2">Second Option</option>
                        <option value="Option 3">Last Option</option>
                    </select>
                </span>
            </div>
            <br />
            <div>
                <label class="text-purple" for="questions">Purple Select</label>
                <span class="select-icon">
                    <select class="purple" name="">
                        <option value="Option 1">Option</option>
                        <option value="Option 2">Second Option</option>
                        <option value="Option 3">Last Option</option>
                    </select>
                </span>
            </div>
            <br />
            <div>
                <label class="text-pink" for="questions">Pink Select</label>
                <span class="select-icon">
                    <select class="pink" name="">
                        <option value="Option 1">Option</option>
                        <option value="Option 2">Second Option</option>
                        <option value="Option 3">Last Option</option>
                    </select>
                </span>
            </div>
        </form>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltform class="form-control" action="#" method="post"&gt
    &ltdiv&gt
        &ltlabel for="questions"&gt Green &lt/label&gt
        &ltspan class="select-icon"&gt
            &ltselect class="green" name=""&gt
                &ltoption value="Option 1"&gt Action &lt/option&gt
                &ltoption value="Option 2"&gt Second Action &lt/option&gt
                &ltoption value="Option 3"&gt Last Option &lt/option&gt
            &lt/select&gt
        &lt/span&gt
    &lt/div&gt
&lt/form&gt</code></pre>
        </div>
    </div>
</div>