<div class="row">
    <div class="col xs-12">
        <h1 class="header">Selects</h1>
        <h5 class="subheader thin no-margin">Selects let users choose from predefined options.</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <form class="form-control" action="#" method="post">
            <div>
                <label for="questions">Default</label>
                <span class="select-icon">
                    <select class="" name="">
                        <option value="Option 1">Option</option>
                        <option value="Option 2">Second Option</option>
                        <option value="Option 3">Last Option</option>
                    </select>
                </span>
            </div>
        </form>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;form class="form-control" action="#" method="post"&gt;
    &lt;div&gt;
        &lt;label for="questions"&gt; Default &lt;/label&gt;
        &lt;span class="select-icon"&gt;
            &lt;select name=""&gt;
                &lt;option value="Option 1"&gt; Action &lt;/option&gt;
                &lt;option value="Option 2"&gt; Second Action &lt;/option&gt;
                &lt;option value="Option 3"&gt; Last Option &lt;/option&gt;
            &lt;/select&gt;
        &lt;/span&gt;
    &lt;/div&gt;
&lt;/form&gt;</code></pre>
        </div>
    </div>
</div>