<div class="row">
    <div class="col xs-12">
        <h1 class="header">Sizes</h1>
        <h5 class="subheader thin no-margin">Selects can be resized</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <form class="form-control" action="#" method="post">
            <div>
                <label for="questions">Small Select</label>
                <span class="select-icon">
                    <select class="small" name="">
                        <option value="Option 1">Option</option>
                        <option value="Option 2">Second Option</option>
                        <option value="Option 3">Last Option</option>
                    </select>
                </span>
            </div>
            <br />
            <div>
                <label for="questions">Default Select</label>
                <span class="select-icon">
                    <select name="">
                        <option value="Option 1">Option</option>
                        <option value="Option 2">Second Option</option>
                        <option value="Option 3">Last Option</option>
                    </select>
                </span>
            </div>
            <br />
            <div>
                <label for="questions">Medium Select</label>
                <span class="select-icon">
                    <select class="medium" name="">
                        <option value="Option 1">Option</option>
                        <option value="Option 2">Second Option</option>
                        <option value="Option 3">Last Option</option>
                    </select>
                </span>
            </div>
            <br />
            <div>
                <label for="questions">Large Select</label>
                <span class="select-icon">
                    <select class="large" name="">
                        <option value="Option 1">Option</option>
                        <option value="Option 2">Second Option</option>
                        <option value="Option 3">Last Option</option>
                    </select>
                </span>
            </div>
        </form>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt;form class="form-control" action="#" method="post"&gt;
    &lt;div&gt;
        &lt;label for="questions"&gt; Small Select &lt;/label&gt;
        &lt;span class="select-icon"&gt;
            &lt;select class="small" name=""&gt;
                &lt;option value="Option 1"&gt; Action &lt;/option&gt;
                &lt;option value="Option 2"&gt; Second Action &lt;/option&gt;
                &lt;option value="Option 3"&gt; Last Option &lt;/option&gt;
            &lt;/select&gt;
        &lt;/span&gt;
    &lt;/div&gt;
    &lt;br /&gt;
    &lt;div&gt;
        &lt;label for="questions"&gt; Default Select &lt;/label&gt;
        &lt;span class="select-icon"&gt;
            &lt;select name=""&gt;
                ...
            &lt;/select&gt;
        &lt;/span&gt;
    &lt;/div&gt;
    &lt;br /&gt;
    &lt;div&gt;
        &lt;label for="questions"&gt; Medium Select &lt;/label&gt;
        &lt;span class="select-icon"&gt;
            &lt;select class="medium" name=""&gt;
                ...
            &lt;/select&gt;
        &lt;/span&gt;
    &lt;/div&gt;
    &lt;br /&gt;
    &lt;div&gt;
        &lt;label for="questions"&gt; Large Select &lt;/label&gt;
        &lt;span class="select-icon"&gt;
            &lt;select class="large" name=""&gt;
                ...
            &lt;/select&gt;
        &lt;/span&gt;
    &lt;/div&gt;
&lt;/form&gt;</code></pre>
        </div>
    </div>
</div>