<div class="row">
    <div class="col xs-12">
        <h1 class="header">States</h1>
        <h5 class="subheader thin no-margin">Selects can be disabled using the <code class="inline">disabled</code> attribute.</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <form class="form-control" action="#" method="post">
            <div>
                <label class="select-label" for="questions">Disabled Select</label>
                <span class="select-icon">
                    <select disabled name="">
                        <option value="Option 1">Option</option>
                        <option value="Option 2">Second Option</option>
                        <option value="Option 3">Last Option</option>
                    </select>
                </span>
            </div>
            <br />
            <div>
                <label class="select-label text-red" for="questions">Red, Rounded, Disabled Select</label>
                <span class="select-icon">
                    <select disabled class="rounded red" name="">
                        <option value="Option 1">Option</option>
                        <option value="Option 2">Second Option</option>
                        <option value="Option 3">Last Option</option>
                    </select>
                </span>
            </div>
            <br />
            <div>
                <label class="select-label text-green" for="questions">Green, Rounded, Disabled Select</label>
                <span class="select-icon">
                    <select disabled class="rounded green" name="">
                        <option value="Option 1">Option</option>
                        <option value="Option 2">Second Option</option>
                        <option value="Option 3">Last Option</option>
                    </select>
                </span>
            </div>
        </form>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;form class="form-control" action="#" method="post"&gt;
    &lt;div&gt;
        &lt;label class="select-label" for="questions"&gt; Disabled Select &lt;/label&gt;
        &lt;span class="select-icon"&gt;
            &lt;select disabled name=""&gt;
                &lt;option value="Option 1"&gt; Action &lt;/option&gt;
                &lt;option value="Option 2"&gt; Second Action &lt;/option&gt;
                &lt;option value="Option 3"&gt; Last Option &lt;/option&gt;
            &lt;/select&gt;
        &lt;/span&gt;
    &lt;/div&gt;
    &lt;br /&gt;
    &lt;div&gt;
        &lt;label class="select-label" for="questions"&gt;Red, Rounded, Disabled Select&lt;/label&gt;
        &lt;span class="select-icon"&gt;
            &lt;select disabled class="rounded red" name=""&gt;
                ...
            &lt;/select&gt;
        &lt;/span&gt;
    &lt;/div&gt;
    &lt;br /&gt;
    &lt;div&gt;
        &lt;label class="select-label" for="questions"&gt;Green, Rounded, Disabled Select&lt;/label&gt;
        &lt;span class="select-icon"&gt;
            &lt;select disabled class="rounded green" name=""&gt;
                ...
            &lt;/select&gt;
        &lt;/span&gt;
    &lt;/div&gt;
&lt;/form&gt;</code></pre>
        </div>
    </div>
</div>
