<div class="row">
    <div class="col xs-12">
        <h1 class="header">Styles</h1>
        <h5 class="subheader thin no-margin">Change the look of your selects with ease</h5>
    </div>
</div>

<hr class="light" />
{% include "templates/docs/selects/styles/rounded.njk" %}