dl {
    margin: 0 0 1rem;

    > dt {
        font-weight: 700;
    }

    > dd {
        margin-left: 0;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &.indented {
        > dd {
            padding-left: 2em;
        }
    }

    &.dividers {
        > dd {
            &:not(:last-child) {
                padding-bottom: 1rem;
                border-bottom: $color-light 1px solid;
            }
        }
    }
}
