<div class="row">
    <div class="col xs-12">
        <h1 class="header">Customize</h1>
        <h5 class="subheader thin">Learn more about the different versions of boba as well as how to build your own version from the source.</h5>
    </div>
</div>
