<div class="row">
    <div class="col xs-12">
        <h1 class="header">Feature Comparison</h1>
        <h5 class="subheader thin">For a more complete breakdown of the various versions of boba.</h5>
    </div>
    <div class="col xs-12 justify-contents-center">
        <div>
            <table class="bordered">
                <tbody>
                    <tr>
                        <td class="bold text-center"></td>
                        <td class="bold text-center bg-dark text-white">boba-core</td>
                        <td class="bold text-center bg-dark text-white">boba-lite</td>
                        <td class="bold text-center bg-dark text-white">boba</td>
                    </tr>
                    <tr>
                        <td class="bold text-center">Fix Me</td>
                        <td class="bold text-white text-center bg-orange">10+</td>
                        <td class="bold text-white text-center bg-orange">10+</td>
                        <td class="bold text-white text-center bg-orange">10+</td>
                    </tr>
                    <tr>
                        <td class="bold text-center">Incomplete</td>
                        <td class="bold text-white text-center bg-green">Last 2</td>
                        <td class="bold text-white text-center bg-green">Last 2</td>
                        <td class="bold text-white text-center bg-green">Last 2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
