<div class="row">
    <div class="col xs-12">
        <h1 class="header">Versions</h1>
        <h5 class="subheader thin">A quick summary of the various versions of boba.</h5>
    </div>
    <div class="col xs-12 md-4 col-top">
        <div class="message m-0">
            <div class="message-header">
                <p><span class="bold">boba-core</span> (~8 KB gzip)</p>
            </div>
            <div class="message-body">
                <p>The most basic version of boba. Components do not have colored variations and no color utilities are included. Use this version if you want to use boba but have your own color palette in mind.</p>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-4 col-top">
        <div class="message blue m-0">
            <div class="message-header">
                <p><span class="bold">boba-lite</span> (~20 KB gzip)</p>
            </div>
            <div class="message-body">
                <p>A slimmed down version of boba. Components have color variations and basic color utilities are included. Use this version if you want to use boba's color palette as we envisioned it.</p>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-4 col-top">
        <div class="message pink m-0">
            <div class="message-header">
                <p><span class="bold">boba</span> (~27 KB gzip)</p>
            </div>
            <div class="message-body">
                <p>The most complete version of boba. Components have color variations and all color utilities are included. Use this version for the most built-in flexibility when customizing boba's color palette.</p>
            </div>
        </div>
    </div>
</div>
