$border-radius: $base-border-radius-default;

$collapsible-max-height: 30em;
$collapsible-default-vpadding: 0.25em;
$collapsible-default-margin: 0 0 0.25rem;
$collapsible-header-default-margin: 0;
$collapsible-submenu-item-padding: 0;
$collapsible-submenu-outer-hpadding: 1.25em;
$collapsible-submenu-default-body-padding: 0.25em;
$collapsible-submenu-default-margin: 0em;
$collapsible-submenu-item-default-margin: 0.25em;

$collapsible-styled-header-padding: 0.6rem 0 0.6rem 1rem;
$collapsible-styled-body-padding: 1.25rem 1.75rem;
