<div class="row">
    <div class="col xs-12">
        <h5>1.6.0</h5>
        <ul>
            <li>Changed counter description class name from desc to description.</li>
            <li>Added new description list component.</li>
            <li>Added new bullet styles to list component.</li>
            <li>Added new hover classes for depth shadow utilities.</li>
            <li>Added new soft shadow utilities with hover support.</li>
            <li>Added websites to the showcase section on the main page.</li>
            <li>Added styling to the semantic section tag to match the section class.</li>
            <li>Added documentation for the container and section classes.</li>
            <li>Updated default CSS resets to be more sensible.</li>
            <li>Updated breakpoints page to be more clear.</li>
            <li>Fixed spacing issue for images contained within cards.</li>
            <li>Fixed documentation for blockquote color classes.</li>
        </ul>
    </div>
</div>
