<div class="row">
    <div class="col xs-12">
        <h5>1.6.1</h5>
        <ul>
            <li>Updated dependencies to support Node 10.</li>
            <li>Fixed typo in documentation for adding custom fonts.</li>
        </ul>
    </div>
</div>
