<div class="row">
    <div class="col xs-12">
        <h5>1.6.0</h5>
        <ul>
            <li>Renamed counter description class name from desc -> description.</li>
            <li>Added new description list component.</li>
            <li>Added new bullet styles to list component.</li>
            <li>Added new hover classes for depth-based shadow utilities.</li>
            <li>Added new soft shadow utilities with hover support.</li>
            <li>Added new normal and italic typography helper classes.</li>
            <li>Added styling to the semantic HTML section tag to match the existing section class.</li>
            <li>Added missing documentation for the container and section classes.</li>
            <li>Added websites to the showcase section on the main landing page.</li>
            <li>Added scripts to automatically generate showcase website previews.</li>
            <li>Updated base CSS normalization to set the default box-sizing to border-box.</li>
            <li>Updated breakpoints page to be more clear.</li>
            <li>Fixed spacing issue for images contained within cards.</li>
            <li>Fixed documentation error for blockquote color classes.</li>
        </ul>
    </div>
</div>
