<div class="row">
    <div class="col xs-12">
        <h5>1.6.0</h5>
        <ul>
            <li>Added websites to the showcase section on the main page.</li>
            <li>Added hover classes for shadow utilities.</li>
            <li>Added styling to the semantic section tag to match the section class.</li>
            <li>Todo - Added documentation for the container and section classes.</li>
            <li>Updated default CSS resets to be more sensible.</li>
            <li>Fixed spacing issue for images contained within cards.</li>
        </ul>
    </div>
</div>
