<div class="row">
    <div class="col xs-12">
        <h4 class="header">Filled</h4>
        <h6 class="subheader thin no-margin">Notifications will be filled with a solid color</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="notification filled">
            <p>I'm a filled notification!</p>
        </div>
        <div class="notification blue filled">
            <p>I'm a filled, blue notification!</p>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt;div class="notification filled"&gt;
    &lt;p&gt;I'm a filled notification!&gt; class&lt;/p&gt;
&lt;/div&gt;

&lt;div class="notification blue filled"&gt;
    &lt;p&gt;I'm a filled, blue notification!&gt; class&lt;/p&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>