<div class="row">
    <div class="col xs-12">
        <h4 class="header">Outlined</h4>
        <h6 class="subheader thin no-margin">Notifications will be colored outlines</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="notification outlined">
            <p>I'm an outlined notification!</p>
        </div>
        <div class="notification red outlined">
            <p>I'm an outlined, red notification!</p>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;div class="notification outlined"&gt;
    &lt;p&gt;I'm an outlined notification!&gt; class&lt;/p&gt;
&lt;/div&gt;

&lt;div class="notification red outlined"&gt;
    &lt;p&gt;I'm an outlined, red notification!&gt; class&lt;/p&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>