<div class="row">
    <div class="col xs-12">
        <h1 class="header">Banners</h1>
        <h5 class="subheader thin">Banners help to divide content within a section in a bold way.</h5>
        <div class="message orange m-0">
            <div class="message-header">
                <p>Tip</p>
            </div>
            <div class="message-body">
                <p>Banners will always expand to the full width of their parent.</p>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="banner">
            <div class="banner-header">
                <h5>Banner Header</h5>
            </div>
            <div class="banner-body">
                <div class="container">
                    <h1 class="header">Title</h1>
                    <h2 class="subheader">Subheader</h2>
                </div>
            </div>
            <div class="banner-footer">
                <h5>Banner Footer</h5>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;div class="banner"&gt;
    &lt;div class="banner-header"&gt;
        &lt;h5&gt;Banner Header&lt;/h5&gt;
    &lt;/div&gt;

    &lt;div class="banner-body"&gt;
        &lt;div class="container"&gt;
            &lt;h1 class="header"&gt;Title&lt;/h1&gt;
            &lt;h2 class="subheader"&gt;Subheader&lt;/h2&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class="banner-footer"&gt;
        &lt;h5&gt;Banner Footer&lt;/h5&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>
