<div class="row">
    <div class="col xs-12">
        <h1 class="header">Banners</h1>
        <h5 class="subheader thin no-margin">Banners can help divide yours sections</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
      <div class="banner">
        <div class="banner-header">
        	<h5>Banner Header</h5>
        </div>
        <div class="banner-body">
			<div class="container">
				<h1 class="header">Title</h1>
				<h2 class="subheader">Subheader</h2>
			</div>
        </div>
        <div class="banner-footer">
          	<h5>Banner Footer</h5>
        </div>
      </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltdiv class="banner"&gt
	&ltdiv class="banner-header"&gt
		&lth5&gtBanner Header&lt/h5&gt
	&lt/div&gt

	&ltdiv class="banner-body"&gt
		&ltdiv class="container"&gt
			&lth1 class="header"&gtTitle&lt/h1&gt
			&lth2 class="subheader"&gtSubheader&lt/h2&gt
		&lt/div&gt
	&lt/div&gt

	&ltdiv class="banner-footer"&gt
		&lth5&gtBanner Footer&lt/h5&gt
	&lt/div&gt
&lt/div&gt</code></pre>
        </div>
    </div>
</div>