<div class="row">
    <div class="col xs-12">
        <h1 class="header">Colors</h1>
        <h5 class="subheader thin no-margin">Change the color of your banner using boba's <a href="./colors.html" class="text-blue text-hover-green">color palette</a></h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
      <div class="banner red">
        <div class="banner-header">
            <h5>Banner Header</h5>
        </div>
        <div class="banner-body">
            <div class="container">
                <h1 class="header">Red</h1>
            </div>
        </div>
        <div class="banner-footer">
            <h5>Banner Footer</h5>
        </div>
      </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltdiv class="banner red"&gt
    &ltdiv class="banner-header"&gt
        &lth5&gtBanner Header&lt/h5&gt
    &lt/div&gt

    &ltdiv class="banner-body"&gt
        &ltdiv class="container"&gt
            &lth1 class="header"&gtRed&lt/h1&gt
        &lt/div&gt
    &lt/div&gt

    &ltdiv class="banner-footer"&gt
        &lth5&gtBanner Footer&lt/h5&gt
    &lt/div&gt
&lt/div&gt</code></pre>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="banner blue">
            <div class="banner-header">
                <h5>Banner Header</h5>
            </div>
            <div class="banner-body">
                <div class="container">
                    <h1 class="header">Blue</h1>
                </div>
            </div>
            <div class="banner-footer">
                <h5>Banner Footer</h5>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltdiv class="banner blue"&gt
    &ltdiv class="banner-header"&gt
        &lth5&gtBanner Header&lt/h5&gt
    &lt/div&gt

    &ltdiv class="banner-body"&gt
        &ltdiv class="container"&gt
            &lth1 class="header"&gtBlue&lt/h1&gt
        &lt/div&gt
    &lt/div&gt

    &ltdiv class="banner-footer"&gt
    &   lth5&gtBanner Footer&lt/h5&gt
    &lt/div&gt
&lt/div&gt</code></pre>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="banner yellow">
            <div class="banner-header">
                <h5>Banner Header</h5>
            </div>
        <div class="banner-body">
            <div class="container">
                <h1 class="header">Yellow</h1>
            </div>
        </div>
        <div class="banner-footer">
            <h5>Banner Footer</h5>
        </div>
      </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltdiv class="banner yellow"&gt
    &ltdiv class="banner-header"&gt
        &lth5&gtBanner Header&lt/h5&gt
    &lt/div&gt

  &ltdiv class="banner-body"&gt
        &ltdiv class="container"&gt
            &lth1 class="header"&gtYellow&lt/h1&gt
        &lt/div&gt
  &lt/div&gt

    &ltdiv class="banner-footer"&gt
        &lth5&gtBanner Footer&lt/h5&gt
    &lt/div&gt
&lt/div&gt</code></pre>
        </div>
    </div>
</div>