<div class="row">
    <div class="col xs-12">
        <h1 class="header">Colors</h1>
        <h5 class="subheader thin no-margin">Change the color of your banner using boba's <a href="./colors.html" class="text-blue text-hover-green">color palette</a></h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
      <div class="banner bg-red">
        <div class="banner-header">
            <h5 class="text-white">Banner Header</h5>
        </div>
        <div class="banner-body">
            <div class="container">
                <h1 class="header text-white">bg-red</h1>
            </div>
        </div>
        <div class="banner-footer">
            <h5 class="text-white">Banner Footer</h5>
        </div>
      </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt;div class="banner bg-red"&gt;
    &lt;div class="banner-header"&gt;
        &lt;h5 class="text-white"&gt;Banner Header&lt;/h5&gt;
    &lt;/div&gt;

    &lt;div class="banner-body"&gt;
        &lt;div class="container"&gt;
            &lt;h1 class="header text-white"&gt;bg-red&lt;/h1&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class="banner-footer"&gt;
        &lt;h5 class="text-white"&gt;Banner Footer&lt;/h5&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="banner bg-green">
            <div class="banner-header">
                <h5 class="text-white">Banner Header</h5>
            </div>
            <div class="banner-body">
                <div class="container">
                    <h1 class="header text-white">bg-green</h1>
                </div>
            </div>
            <div class="banner-footer">
                <h5 class="text-white">Banner Footer</h5>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt;div class="banner bg-green"&gt;
    &lt;div class="banner-header"&gt;
        &lt;h5 class="text-white"&gt;Banner Header&lt;/h5&gt;
    &lt;/div&gt;

    &lt;div class="banner-body"&gt;
        &lt;div class="container"&gt;
            &lt;h1 class="header text-white"&gt;bg-green&lt;/h1&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class="banner-footer"&gt;
        &lt;h5&gt;Banner Footer&lt;/h5&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="banner bg-blue">
            <div class="banner-header">
                <h5 class="text-white">Banner Header</h5>
            </div>
        <div class="banner-body">
            <div class="container">
                <h1 class="header text-white">bg-blue</h1>
            </div>
        </div>
        <div class="banner-footer">
            <h5 class="text-white">Banner Footer</h5>
        </div>
      </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt;div class="banner bg-blue"&gt;
    &lt;div class="banner-header"&gt;
        &lt;h5 class="text-white"&gt;Banner Header&lt;/h5&gt;
    &lt;/div&gt;

  &lt;div class="banner-body"&gt;
        &lt;div class="container"&gt;
            &lt;h1 class="header text-white"&gt;bg-blue&lt;/h1&gt;
        &lt;/div&gt;
  &lt;/div&gt;

    &lt;div class="banner-footer"&gt;
        &lt;h5 class="text-white"&gt;Banner Footer&lt;/h5&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>