<div class="row">
    <div class="col xs-12">
        <h1 class="header">Sizes</h1>
        <h5 class="subheader thin no-margin">Banners come in different sizes</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="banner large">
            <div class="banner-header">
                <h5>Banner Header</h5>
            </div>
        <div class="banner-body">
            <div class="container">
                <h1 class="header">Large Banner</h1>
                <h2 class="subheader">Subheader</h2>
            </div>
        </div>
            <div class="banner-footer">
                <h5>Banner Footer</h5>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltdiv class="banner large"&gt
    &ltdiv class="banner-header"&gt
        &lth5&gtBanner Header&lt/h5&gt
    &lt/div&gt

    &ltdiv class="banner-body"&gt
        &ltdiv class="container"&gt
            &lth1 class="header"&gtLarge Banner&lt/h1&gt
            &lth2 class="subheader"&gtSubheader&lt/h2&gt
        &lt/div&gt
    &lt/div&gt

    &ltdiv class="banner-footer"&gt
        &lth5&gtBanner Footer&lt/h5&gt
    &lt/div&gt
&lt/div&gt</code></pre>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="banner medium">
            <div class="banner-header">
            <h5>Banner Header</h5>
            </div>
            <div class="banner-body">
                <div class="container">
                    <h1 class="header">Medium Banner</h1>
                    <h2 class="subheader">Subheader</h2>
                </div>
            </div>
            <div class="banner-footer">
                <h5>Banner Footer</h5>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltdiv class="banner medium"&gt
    &ltdiv class="banner-header"&gt
        &lth5&gtBanner Header&lt/h5&gt
    &lt/div&gt

    &ltdiv class="banner-body"&gt
        &ltdiv class="container"&gt
            &lth1 class="header"&gtMedium Banner&lt/h1&gt
            &lth2 class="subheader"&gtSubheader&lt/h2&gt
        &lt/div&gt
    &lt/div&gt

    &ltdiv class="banner-footer"&gt
        &lth5&gtBanner Footer&lt/h5&gt
    &lt/div&gt
&lt/div&gt</code></pre>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="banner">
            <div class="banner-header">
                <h5>Banner Header</h5>
            </div>
            <div class="banner-body">
                <div class="container">
                    <h1 class="header">Default Banner</h1>
                    <h2 class="subheader">Subheader</h2>
                </div>
            </div>
            <div class="banner-footer">
                <h5>Banner Footer</h5>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltdiv class="banner"&gt
    &ltdiv class="banner-header"&gt
        &lth5&gtBanner Header&lt/h5&gt
    &lt/div&gt

    &ltdiv class="banner-body"&gt
        &ltdiv class="container"&gt
            &lth1 class="header"&gtDefault Banner&lt/h1&gt
            &lth2 class="subheader"&gtSubheader&lt/h2&gt
        &lt/div&gt
    &lt/div&gt

    &ltdiv class="banner-footer"&gt
        &lth5&gtBanner Footer&lt/h5&gt
    &lt/div&gt
&lt/div&gt</code></pre>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="banner small">
            <div class="banner-header">
                <h5>Banner Header</h5>
            </div>
            <div class="banner-body">
                <div class="container">
                    <h1 class="header">Small Banner</h1>
                    <h2 class="subheader">Subheader</h2>
                </div>
            </div>
            <div class="banner-footer">
                <h5>Banner Footer</h5>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltdiv class="banner small"&gt
    &ltdiv class="banner-header"&gt
        &lth5&gtBanner Header&lt/h5&gt
    &lt/div&gt

    &ltdiv class="banner-body"&gt
        &ltdiv class="container"&gt
            &lth1 class="header"&gtSmall Banner&lt/h1&gt
            &lth2 class="subheader"&gtSubheader&lt/h2&gt
        &lt/div&gt
    &lt/div&gt

    &ltdiv class="banner-footer"&gt
        &lth5&gtBanner Footer&lt/h5&gt
    &lt/div&gt
&lt/div&gt</code></pre>
        </div>
    </div>
    <div class="col xs-12 md-12 col-middle">
        <div class="banner fullscreen">
            <div class="banner-header">
                <h5>Banner Header</h5>
            </div>
            <div class="banner-body">
                <div class="container">
                    <h1 class="header">Fullscreen Banner</h1>
                    <h2 class="subheader">Subheader</h2>
                </div>
            </div>
            <div class="banner-footer">
                <h5>Banner Footer</h5>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-12 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltdiv class="banner fullscreen"&gt
    &ltdiv class="banner-header"&gt
        &lth5&gtBanner Header&lt/h5&gt
    &lt/div&gt

    &ltdiv class="banner-body"&gt
        &ltdiv class="container"&gt
            &lth1 class="header"&gtFullscreen Banner&lt/h1&gt
            &lth2 class="subheader"&gtSubheader&lt/h2&gt
        &lt/div&gt
    &lt/div&gt

    &ltdiv class="banner-footer"&gt
        &lth5&gtBanner Footer&lt/h5&gt
    &lt/div&gt
&lt/div&gt</code></pre>
        </div>
    </div>
</div>