<div class="row">
    <div class="col xs-12">
        <h1 class="header">Sizes</h1>
        <h5 class="subheader thin no-margin">Banners come in different sizes</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="banner large">
            <div class="banner-header">
                <h5>Banner Header</h5>
            </div>
        <div class="banner-body">
            <div class="container">
                <h1 class="header">Large Banner</h1>
                <h2 class="subheader">Subheader</h2>
            </div>
        </div>
            <div class="banner-footer">
                <h5>Banner Footer</h5>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt;div class="banner large"&gt;
    &lt;div class="banner-header"&gt;
        &lt;h5&gt;Banner Header&lt;/h5&gt;
    &lt;/div&gt;

    &lt;div class="banner-body"&gt;
        &lt;div class="container"&gt;
            &lt;h1 class="header"&gt;Large Banner&lt;/h1&gt;
            &lt;h2 class="subheader"&gt;Subheader&lt;/h2&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class="banner-footer"&gt;
        &lt;h5&gt;Banner Footer&lt;/h5&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="banner medium">
            <div class="banner-header">
            <h5>Banner Header</h5>
            </div>
            <div class="banner-body">
                <div class="container">
                    <h1 class="header">Medium Banner</h1>
                    <h2 class="subheader">Subheader</h2>
                </div>
            </div>
            <div class="banner-footer">
                <h5>Banner Footer</h5>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt;div class="banner medium"&gt;
    &lt;div class="banner-header"&gt;
        &lt;h5&gt;Banner Header&lt;/h5&gt;
    &lt;/div&gt;

    &lt;div class="banner-body"&gt;
        &lt;div class="container"&gt;
            &lt;h1 class="header"&gt;Medium Banner&lt;/h1&gt;
            &lt;h2 class="subheader"&gt;Subheader&lt;/h2&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class="banner-footer"&gt;
        &lt;h5&gt;Banner Footer&lt;/h5&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="banner">
            <div class="banner-header">
                <h5>Banner Header</h5>
            </div>
            <div class="banner-body">
                <div class="container">
                    <h1 class="header">Default Banner</h1>
                    <h2 class="subheader">Subheader</h2>
                </div>
            </div>
            <div class="banner-footer">
                <h5>Banner Footer</h5>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt;div class="banner"&gt;
    &lt;div class="banner-header"&gt;
        &lt;h5&gt;Banner Header&lt;/h5&gt;
    &lt;/div&gt;

    &lt;div class="banner-body"&gt;
        &lt;div class="container"&gt;
            &lt;h1 class="header"&gt;Default Banner&lt;/h1&gt;
            &lt;h2 class="subheader"&gt;Subheader&lt;/h2&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class="banner-footer"&gt;
        &lt;h5&gt;Banner Footer&lt;/h5&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="banner small">
            <div class="banner-header">
                <h5>Banner Header</h5>
            </div>
            <div class="banner-body">
                <div class="container">
                    <h1 class="header">Small Banner</h1>
                    <h2 class="subheader">Subheader</h2>
                </div>
            </div>
            <div class="banner-footer">
                <h5>Banner Footer</h5>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt;div class="banner small"&gt;
    &lt;div class="banner-header"&gt;
        &lt;h5&gt;Banner Header&lt;/h5&gt;
    &lt;/div&gt;

    &lt;div class="banner-body"&gt;
        &lt;div class="container"&gt;
            &lt;h1 class="header"&gt;Small Banner&lt;/h1&gt;
            &lt;h2 class="subheader"&gt;Subheader&lt;/h2&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class="banner-footer"&gt;
        &lt;h5&gt;Banner Footer&lt;/h5&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
    <div class="col xs-12 md-12 col-middle">
        <div class="banner fullscreen">
            <div class="banner-header">
                <h5>Banner Header</h5>
            </div>
            <div class="banner-body">
                <div class="container">
                    <h1 class="header">Fullscreen Banner</h1>
                    <h2 class="subheader">Subheader</h2>
                </div>
            </div>
            <div class="banner-footer">
                <h5>Banner Footer</h5>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-12 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt;div class="banner fullscreen"&gt;
    &lt;div class="banner-header"&gt;
        &lt;h5&gt;Banner Header&lt;/h5&gt;
    &lt;/div&gt;

    &lt;div class="banner-body"&gt;
        &lt;div class="container"&gt;
            &lt;h1 class="header"&gt;Fullscreen Banner&lt;/h1&gt;
            &lt;h2 class="subheader"&gt;Subheader&lt;/h2&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class="banner-footer"&gt;
        &lt;h5&gt;Banner Footer&lt;/h5&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>