@import 'constants';
@import 'styling';

.counter {
	@include counter-base;

	+ .counter {
  		margin-left: 1.5em;
	}

	& > .value {
	  font-size: $counter-value-font-size;
	  font-family: $counter-font-family;
	  font-weight: $counter-value-font-weight;
	  line-height: $counter-value-line-height;
	  color: $color-dark;
	  text-transform: uppercase;
	  text-align: center;

	  	// Value is on top of description
		~ .desc {
			margin-top: 0rem;
		}
		
		@if $include-color-palette {
        	@include counter-colors;
    	}
	}

	& > .desc {
	  font-size: $counter-desc-font-size;
	  font-family: $counter-font-family;
	  font-weight: $counter-desc-font-weight;
	  color: $color-dark;
	  text-transform: uppercase;
	  text-align: center;

	  	// Description is on top of value
		~ .value {
			margin-top: 0em;
		}
	
		@if $include-color-palette {
	    	@include counter-colors;
		}
	}

	@each $size, $fontSize in $counter-font-sizing-list {
        &.#{$size} {
        	& > .value {
				font-size: $fontSize;
        	}
        }
    }

}