<div class="row">
    <div class="col xs-12">
        <h1 class="header">Section Dividers</h1>
        <h5 class="subheader thin no-margin">Use <code class="inline">hr</code> tags with boba's <a href="./colors.html" class="text-blue text-hover-green">color palette</a> to divide content into sections</h5>
    </div>
    <div class="col xs-6 col-middle">
        <span>Default</span>
        <hr />
    </div>
    <div class="col xs-6 col-middle">
        <span>Light</span>
        <hr class="light" />
    </div>
    {% for color in global_color_list_core %}
    <div class="col xs-4 col-middle">
        <span>{{ color | capitalize }}</span>
        <hr class="{{ color }}" />
    </div>
    {% endfor %}
    <div class="col xs-12 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lthr class="green" /&gt</code></pre>
        </div>
    </div>
</div>
