<div class="row">
    <div class="col xs-12">
        <h1 class="header">Section Dividers</h1>
        <h5 class="subheader thin no-margin">Use <code class="inline">hr</code> tags with boba's <a href="./colors.html" class="text-blue text-hover-green">color palette</a> to divide content into sections</h5>
    </div>
    <div class="col xs-6 col-middle">
        <span>Default</span>
        <hr />
    </div>
    <div class="col xs-6 col-middle">
        <span>Light</span>
        <hr class="light" />
    </div>
    <div class="col xs-4 col-middle">
        <span>Red</span>
        <hr class="red" />
    </div>
    <div class="col xs-4 col-middle">
        <span>Orange</span>
        <hr class="orange" />
    </div>
    <div class="col xs-4 col-middle">
        <span>Yellow</span>
        <hr class="yellow" />
    </div>
    <div class="col xs-4 col-middle">
        <span>Green</span>
        <hr class="green" />
    </div>
    <div class="col xs-4 col-middle">
        <span>Teal</span>
        <hr class="teal" />
    </div>
    <div class="col xs-4 col-middle">
        <span>Blue</span>
        <hr class="blue" />
    </div>
    <div class="col xs-4 col-middle">
        <span>Indigo</span>
        <hr class="indigo" />
    </div>
    <div class="col xs-4 col-middle">
        <span>Purple</span>
        <hr class="purple" />
    </div>
    <div class="col xs-4 col-middle">
        <span>Pink</span>
        <hr class="pink" />
    </div>
    <div class="col xs-12 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lthr class="green" /&gt</code></pre>
        </div>
    </div>
</div>
