<div class="row">
    <div class="col xs-12">
        <h1 class="header">Text Dividers</h1>
        <h5 class="subheader thin no-margin">Break apart sections using the <code class="inline">.text-divider</code> class.</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
      <div>
        <div class="text-divider"><h1>H1 Divider</h1></div>
        <div class="text-divider"><h2>H2 Divider</h2></div>
        <div class="text-divider"><h3>H3 Divider</h3></div>
        <div class="text-divider"><h4>H4 Divider</h4></div>
        <div class="text-divider"><h5>H5 Divider</h5></div>
        <div class="text-divider"><h6>H6 Divider</h6></div>
        <div class="text-divider">Default Divider</div>
      </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;div class="text-divider"&gt&lt;h1&gt;H1 Divider&lt;/h1&gt&lt;/div&gt;
&lt;div class="text-divider"&gt;&lt;h2&gt;H2 Divider&lt;/h2&gt;&lt;/div&gt;
&lt;div class="text-divider"&gt;&lt;h3&gt;H3 Divider&lt;/h3&gt;&lt;/div&gt;
&lt;div class="text-divider"&gt;&lt;h4&gt;H4 Divider&lt;/h4&gt;&lt;/div&gt;
&lt;div class="text-divider"&gt;&lt;h5&gt;H5 Divider&lt;/h5&gt;&lt;/div&gt;
&lt;div class="text-divider"&gt;&lt;h6&gt;H6 Divider&lt;/h6&gt;&lt;/div&gt;
&lt;div class="text-divider"&gt;Default Divider&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>