<div class="row">
    <div class="col xs-12">
        <h1 class="header">Sizes</h1>
        <h5 class="subheader thin no-margin">Switches can be resized.</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <form class="form-control" action="#" method="post">
            <div class="checkbox small">
                <input type="checkbox" id="example-checkbox-small" class="checkbox-input" checked>
                <label for="example-checkbox-small" class="checkbox-label">
                    Small Switch
                </label>
            </div>
            <div class="checkbox default">
                <input type="checkbox" id="example-checkbox-default" class="checkbox-input" checked>
                <label for="example-checkbox-default" class="checkbox-label">
                    Default Switch
                </label>
            </div>
            <div class="checkbox medium">
                <input type="checkbox" id="example-checkbox-medium" class="checkbox-input" checked>
                <label for="example-checkbox-medium" class="checkbox-label">
                    Medium Switch
                </label>
            </div>
            <div class="checkbox large">
                <input type="checkbox" id="example-checkbox-large" class="checkbox-input" checked>
                <label for="example-checkbox-large" class="checkbox-label">
                    Large Switch
                </label>
            </div>
        </form>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;form class="form-control" action="#" method="post"&gt;
    &lt;div class="checkbox small"&gt;
        &lt;input type="checkbox" id="example-checkbox-small" class="checkbox-input" checked&gt;
        &lt;label for="example-checkbox-small" class="checkbox-label"&gt;
            Small Checkbox
        &lt;/label&gt;
    &lt;/div&gt;
    
    &lt;div class="checkbox default"&gt;
        &lt;input type="checkbox" id="example-checkbox-default" class="checkbox-input" checked&gt;
        &lt;label for="example-checkbox-default" class="checkbox-label"&gt;
            Default Checkbox
        &lt;/label&gt;
    &lt;/div&gt;
    
    &lt;div class="checkbox medium"&gt;
        &lt;input type="checkbox" id="example-checkbox-medium" class="checkbox-input" checked&gt;
        &lt;label for="example-checkbox-medium" class="checkbox-label"&gt;
            Medium Checkbox
        &lt;/label&gt;
    &lt;/div&gt;
    
    &lt;div class="checkbox large"&gt;
        &lt;input type="checkbox" id="example-checkbox-large" class="checkbox-input" checked&gt;
        &lt;label for="example-checkbox-large" class="checkbox-label"&gt;
            Large Checkbox
        &lt;/label&gt;
    &lt;/div&gt;
&lt;/form&gt;</code></pre>
        </div>
    </div>
</div>