<div class="row">
    <div class="col xs-12">
        <h1 class="header">Sizes</h1>
        <h5 class="subheader thin no-margin">Switches can be resized.</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <form class="form-control" action="#" method="post">
            <div class="switch small">
                <input type="checkbox" id="example-switch-small" class="switch-input" checked>
                <label for="example-switch-small" class="switch-label">
                    Small Switch
                </label>
            </div>
            <div class="switch default">
                <input type="checkbox" id="example-switch-default" class="switch-input" checked>
                <label for="example-switch-default" class="switch-label">
                    Default Switch
                </label>
            </div>
            <div class="switch medium">
                <input type="checkbox" id="example-switch-medium" class="switch-input" checked>
                <label for="example-switch-medium" class="switch-label">
                    Medium Switch
                </label>
            </div>
            <div class="switch large">
                <input type="checkbox" id="example-switch-large" class="switch-input" checked>
                <label for="example-switch-large" class="switch-label">
                    Large Switch
                </label>
            </div>
        </form>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;form class="form-control" action="#" method="post"&gt;
    &lt;div class="switch small"&gt;
        &lt;input type="checkbox" id="example-switch-small" class="switch-input" checked&gt;
        &lt;label for="example-switch-small" class="switch-label"&gt;
            Small Switch
        &lt;/label&gt;
    &lt;/div&gt;

    &lt;div class="switch default"&gt;
        &lt;input type="checkbox" id="example-switch-default" class="switch-input" checked&gt;
        &lt;label for="example-switch-default" class="switch-label"&gt;
            Default Switch
        &lt;/label&gt;
    &lt;/div&gt;

    &lt;div class="switch medium"&gt;
        &lt;input type="checkbox" id="example-switch-medium" class="switch-input" checked&gt;
        &lt;label for="example-switch-medium" class="switch-label"&gt;
            Medium Switch
        &lt;/label&gt;
    &lt;/div&gt;
    
    &lt;div class="switch large"&gt;
        &lt;input type="checkbox" id="example-switch-large" class="switch-input" checked&gt;
        &lt;label for="example-switch-large" class="switch-label"&gt;
            Large Switch
        &lt;/label&gt;
    &lt;/div&gt;
&lt;/form&gt;</code></pre>
        </div>
    </div>
</div>