<div class="row">
    <div class="col xs-12">
        <h1 class="header">States</h1>
        <h5 class="subheader thin no-margin">Switches can be disabled using the <code class="inline">disabled</code> attribute.</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <form class="form-control" action="#" method="post">
            <div class="switch">
                <input type="checkbox" id="example-switch-checked-disabled" class="switch-input" checked disabled>
                <label for="example-switch-checked-disabled" class="switch-label">
                    Disabled Checked Switch
                </label>
            </div>
            <div class="switch">
                <input type="checkbox" id="example-switch-unchecked-disabled" class="switch-input" disabled>
                <label for="example-switch-unchecked-disabled" class="switch-label">
                    Disabled Unchecked Switch
                </label>
            </div>
        </form>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;form class="form-control" action="#" method="post"&gt;
    &lt;div class="switch"&gt;
        &lt;input type="checkbox" id="example-switch-checked-disabled" class="switch-input" checked disabled&gt;
        &lt;label for="example-switch-checked-disabled" class="switch-label"&gt;
            Disabled Checked Switch
        &lt;/label&gt;
    &lt;/div&gt;
    
    &lt;div class="switch"&gt;
        &lt;input type="checkbox" id="example-switch-unchecked-disabled" class="switch-input" disabled&gt;
        &lt;label for="example-switch-unchecked-disabled" class="switch-label"&gt;
            Disabled Unchecked Switch
        &lt;/label&gt;
    &lt;/div&gt;
&lt;/form&gt;</code></pre>
        </div>
    </div>
</div>
