<div class="row">
    <div class="col xs-12">
        <h1 class="header">Switches</h1>
        <h5 class="subheader thin">Switches let users toggle between enabled and disabled states for a particular setting or option.</h5>
        <div class="message purple m-0">
            <div class="message-header">
                <p>Compatibility</p>
            </div>
            <div class="message-body">
                <p>Be sure that the input's type is <code class="inline">checkbox</code> and that each of the input's <code class="inline">id</code>s match their label's <code class="inline">for</code>!</p>
                <p>Note that for the <code class="inline">label</code> to be displayed correctly, it must be placed directly after the <code class="inline">input</code> tag.</p>
            </div>
        </div> 
    </div>
    <div class="col xs-12 md-6 col-middle">
        <form class="form-control" action="#" method="post">
            <div class="switch">
                <input type="checkbox" id="example-switch-1" class="switch-input" checked>
                <label for="example-switch-1" class="switch-label">
                    First Switch
                </label>
            </div>
            <div class="switch">
                <input type="checkbox" id="example-switch-2" class="switch-input" checked>
                <label for="example-switch-2" class="switch-label">
                    Second Switch
                </label>
            </div>
            <div class="switch">
                <input type="checkbox" id="example-switch-3" class="switch-input">
                <label for="example-switch-3" class="switch-label">
                    Third Switch
                </label>
            </div>
        </form>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;form class="form-control" action="#" method="post"&gt;
    &lt;div class="switch"&gt;
        &lt;input type="checkbox" id="example-switch-1" class="switch-input" checked&gt;
        &lt;label for="example-switch-1" class="switch-label"&gt;
            First Switch
        &lt;/label&gt;
    &lt;/div&gt;

    &lt;div class="switch"&gt;
        &lt;input type="checkbox" id="example-switch-2" class="switch-input" checked&gt;
        &lt;label for="example-switch-2" class="switch-label"&gt;
            Second Switch
        &lt;/label&gt;
    &lt;/div&gt;

    &lt;div class="switch"&gt;
        &lt;input type="checkbox" id="example-switch-3" class="switch-input"&gt;
        &lt;label for="example-switch-3" class="switch-label"&gt;
            Third Switch
        &lt;/label&gt;
    &lt;/div&gt;
&lt;/form&gt;</code></pre>
        </div>
    </div>
</div>
