<div class="row">
    <div class="col xs-12">
        <h4 class="header">Row Justify Stretch</h4>
        <h6 class="subheader thin no-margin">Stretch all columns in a row to fill the full width of the row.</h6>
        <h6 class="subheader thin no-margin">Note: This only works for columns that do not have specified widths.</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="row row-justify-stretch">
            <div class="col">
                <div class="bg-light text-center vertical-center-content" style="height:100px; border: 1px solid #d3d3d3">
                    <code>.row-justify-stretch</code>
                </div>
            </div>
            <div class="col">
                <div class="bg-light text-center vertical-center-content" style="height:100px; border: 1px solid #d3d3d3">
                    <code>.row-justify-stretch</code>
                </div>
            </div>
            <div class="col">
                <div class="bg-light text-center vertical-center-content" style="height:100px; border: 1px solid #d3d3d3">
                    <code>.row-justify-stretch</code>
                </div>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltdiv class="row row-justify-stretch"&gt
    &ltdiv class="col"&gt
        &ltdiv class="bg-light text-center vertical-center-content"&gt
            &ltcode&gt.row-justify-stretch&lt/code&gt
        &lt/div&gt
    &lt/div&gt
    &ltdiv class="col"&gt
        &ltdiv class="bg-light text-center vertical-center-content"&gt
            &ltcode&gt.row-justify-stretch&lt/code&gt
        &lt/div&gt
    &lt/div&gt
    &ltdiv class="col"&gt
        &ltdiv class="bg-light text-center vertical-center-content"&gt
            &ltcode&gt.row-justify-stretch&lt/code&gt
        &lt/div&gt
    &lt/div&gt
&lt/div&gt</code></pre>
        </div>
    </div>
</div>