<div class="row">
    <div class="col xs-12">
        <h4 class="header">Row Justify Space Between</h4>
        <h6 class="subheader thin no-margin">By using the <code class="inline">.row-justify-space-between</code> class, each column in a row will have equal spacing between them and the first/last columns will be flush to the containing row.</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="row row-justify-space-between">
            <div class="col xs-3">
                <div class="bg-light text-center vertical-center-content" style="height:100px; border: 1px solid #d3d3d3">
                    .col .xs-3
                </div>
            </div>
            <div class="col xs-3">
                <div class="bg-light text-center vertical-center-content" style="height:100px; border: 1px solid #d3d3d3">
                    .col .xs-3
                </div>
            </div>
            <div class="col xs-3">
                <div class="bg-light text-center vertical-center-content" style="height:100px; border: 1px solid #d3d3d3">
                    .col .xs-3
                </div>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt;div class="row row-justify-space-between"&gt;
    &lt;div class="col xs-3"&gt;
        &lt;div class="bg-light text-center vertical-center-content"&gt;
            .col .xs-3
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="col xs-3"&gt;
        &lt;div class="bg-light text-center vertical-center-content"&gt;
            .col .xs-3
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="col xs-3"&gt;
        &lt;div class="bg-light text-center vertical-center-content"&gt;
            .col .xs-3
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>