<div class="row">
    <div class="col xs-12">
        <h4 class="header">Row Justify Stretch</h4>
        <h6 class="subheader thin">Stretch all columns in a row to fill the full width of the row using the <code class="inline">.row-justify-stretch</code> class.</h6>
        <div class="message blue">
            <div class="message-header">
                <p>Clarification</p>
            </div>
            <div class="message-body">
                <p>This only works for columns that do not have user-specified widths and is already the default behavior of basic <code class="inline">.col</code> elements.</p>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="row row-justify-stretch">
            <div class="col">
                <div class="bg-light text-center vertical-center-content" style="height:100px; border: 1px solid #d3d3d3">
                    .col
                </div>
            </div>
            <div class="col">
                <div class="bg-light text-center vertical-center-content" style="height:100px; border: 1px solid #d3d3d3">
                    .col
                </div>
            </div>
            <div class="col">
                <div class="bg-light text-center vertical-center-content" style="height:100px; border: 1px solid #d3d3d3">
                    .col
                </div>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;div class="row row-justify-stretch"&gt;
    &lt;div class="col"&gt;
        &lt;div class="bg-light text-center vertical-center-content"&gt;
            .col
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="col"&gt;
        &lt;div class="bg-light text-center vertical-center-content"&gt;
            .col
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="col"&gt;
        &lt;div class="bg-light text-center vertical-center-content"&gt;
            .col
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>