<div class="row">
    <div class="col xs-12">
        <h1 class="header">Collapsibles</h1>
        <h5 class="subheader thin no-margin">Collapsibles are useful for toggling information beneath headers.</h5>
    </div>
</div>

<hr class="light" />
{% include "templates/docs/collapsible/base/default.njk" %}

<hr class="light" />
{% include "templates/docs/collapsible/base/mutually_exclusive.njk" %}
