<div class="row">
    <div class="col xs-12">
        <h1 class="header">Styles</h1>
        <h5 class="subheader thin no-margin">Take your collapsible components to the next level with these classes.</h5>
    </div>
</div>

<hr class="light" />
{% include "templates/docs/collapsible/styles/styled.njk" %}
<hr class="light" />
{% include "templates/docs/collapsible/styles/colors.njk" %}

