<div class="row">
    <div class="col xs-12">
        <h1 class="header">Breakpoints</h1>
        <h5 class="subheader thin no-margin">A cheat sheet for all of boba's breakpoints.</h5>
    </div>
    <div class="col xs-12 col-middle">
        <div>
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="6"><span class="bold">Breakpoints</span></td>
                </tr>
                <tr>
                    <td><code class="inline">xs</code></td>
                    <td>"Mobile" - up to 575px.</td>
                </tr>
                <tr>
                    <td><code class="inline">sm</code></td>
                    <td>"Tablet" - between 576px and 767px.</td>
                </tr>
                <tr>
                    <td><code class="inline">md</code></td>
                    <td>"Laptop" - between 768px and 991px.</td>
                </tr>
                <tr>
                    <td><code class="inline">lg</code></td>
                    <td>"Desktop" - between 992px and 1279px.</td>
                </tr>
                <tr>
                    <td><code class="inline">xl</code></td>
                    <td>"Widescreen" - above 1280px.</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
