<div class="row">
    <div class="col xs-12">
        <h1 class="header">Breakpoints</h1>
        <h5 class="subheader thin no-margin">A cheat sheet for all of boba's breakpoints.</h5>
    </div>
    <div class="col xs-12 col-middle">
        <div>
        <table class="bordered">
            <tbody class="text-center">
                <tr>
                    <td rowspan="6"><span class="bold">Breakpoints</span></td>
                    <td><span class="bold">Class Reference</span></td>
                    <td><span class="bold">Device Designation</span></td>
                    <td><span class="bold">Minimum Width</span></td>
                    <td><span class="bold">Maximum Width</span></td>
                </tr>
                <tr>
                    <td><code class="inline">xs</code></td>
                    <td><code class="inline">Mobile</code></td>
                    <td><code class="inline">-</code></td>
                    <td><code class="inline">575px</code></td>
                </tr>
                <tr>
                    <td><code class="inline">sm</code></td>
                    <td><code class="inline">Tablet</code></td>
                    <td><code class="inline">576px</code></td>
                    <td><code class="inline">767px</code></td>
                </tr>
                <tr>
                    <td><code class="inline">md</code></td>
                    <td><code class="inline">Laptop</code></td>
                    <td><code class="inline">768px</code></td>
                    <td><code class="inline">991px</code></td>
                </tr>
                <tr>
                    <td><code class="inline">lg</code></td>
                    <td><code class="inline">Desktop</code></td>
                    <td><code class="inline">992px</code></td>
                    <td><code class="inline">1279px</code></td>
                </tr>
                <tr>
                    <td><code class="inline">xl</code></td>
                    <td><code class="inline">Widescreen</code></td>
                    <td><code class="inline">1280px</code></td>
                    <td><code class="inline">-</code></td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
