$badge-size:                           1.5em;
$badge-vertical-padding:               0.8em;
$badge-horizontal-padding:             0.6em;
$badge-background:                     $color-dark;
$badge-background-hover:               darken-1($color-dark);
$badge-color:                          $color-white;
$badge-font-size:                      $base-xxs-font-size;
$badge-border-radius:                  500px;
