@import 'constants';

@mixin badge-base {
	display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    vertical-align: middle;
    min-width: $badge-size;
    height: $badge-size;
    padding: $badge-vertical-padding $badge-horizontal-padding;
    border-radius: $badge-border-radius;
	background: $badge-background;
    color: $badge-color;
    font-size: $badge-font-size;
    line-height: $badge-size;
}

@mixin badge-colors {
	@each $colorName, $color in $color-list {
        &.#{$colorName} {
        	background: $color;

   //      	&:hover, &:focus {
			// 	background: darken-1($color);
			// }
        }
    }
}