<div class="row">
    <div class="col xs-12">
        <h1 class="header">Spacing</h1>
        <h5 class="subheader thin no-margin">TBD</h5>
    </div>
    <div class="col xs-12 col-middle">
        <div>
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="2"><span class="bold">Content Spacing</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.main-content</code></td>
                    <td>Add a comfortable amount of padding to a top-level, content-containing element.</td>
                </tr>

                <tr>
                    <td rowspan="3"><span class="bold">Spacing Resets</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.no-margin</code></td>
                    <td>Removes all margin from an element.</td>
                </tr>
                <tr>
                    <td><code class="inline">.no-padding</code></td>
                    <td>Removes all padding from an element.</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
