<div class="row">
    <div class="col xs-12">
        <h5>1.3.0</h5>
        <ul>
        	<li>Added a new blockquote element.</li>
        	<li>Applied boba's standard border-radius to the inline code class.</li>
        </ul>
    </div>
</div>