<div class="row">
    <div class="col xs-12">
        <h5>1.3.1</h5>
        <ul>
        	<li>Added new neutral background colors based on boba's original palette.</li>
            <li>Improved nesting support for accordion submenus.</li>
        	<li>Adjusted accordion padding to be more consistent.</li>
        </ul>
    </div>
</div>
