<div class="row">
    <div class="col xs-12">
        <h1 class="header">Alignment</h1>
        <h5 class="subheader thin no-margin">Alignment classes help justify your pagination</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <h4>Left (Default)</h4>
        <div class="text-left">
            <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#">1</a>
                <a class="active" href="#">2</a>
                <a href="#">3</a>
                <a href="#">&raquo;</a>
            </div>
        </div>
        <br />
        <h4>Center</h4>
        <div class="text-center">
            <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#">1</a>
                <a class="active" href="#">2</a>
                <a href="#">3</a>
                <a href="#">&raquo;</a>
            </div>
        </div>
        <br />
        <h4>Right</h4>
        <div class="text-right">
            <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#">1</a>
                <a class="active" href="#">2</a>
                <a href="#">3</a>
                <a href="#">&raquo;</a>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltdiv class="text-center"&gt
    &ltdiv class="pagination medium"&gt
        &lta href="#"&gt &laquo; &lt/a&gt
        &lta href="#"&gt 1 &lt/a&gt
        &lta class="active" href="#"&gt 2 &lt/a&gt
        &lta href="#"&gt 3 &lt/a&gt
        &lta href="#"&gt &raquo; &lt/a&gt
    &lt/div&gt
&lt/div&gt</code></pre>
        </div>
    </div>
</div>
