<div class="row">
    <div class="col xs-12">
        <h1 class="header">Pagination</h1>
        <h5 class="subheader thin no-margin">Pagination comes in all colors</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
        {% for color in global_color_list_core %}
        <div class="pagination {{ color }}">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
        {% endfor %}
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltdiv class="pagination green"&gt
    &lta href="#"&gt &laquo; &lt/a&gt
    &lta href="#"&gt 1 &lt/a&gt
    &lta class="active" href="#"&gt 2 &lt/a&gt
    &lta href="#"&gt 3 &lt/a&gt
    &lta href="#"&gt &raquo; &lt/a&gt
&lt/div&gt</code></pre>
        </div>
    </div>
</div>
