<div class="row">
    <div class="col xs-12">
        <h1 class="header">Sizes</h1>
        <h5 class="subheader thin no-margin">Pagination can be resized</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <h4>Small</h4>
        <div class="pagination small">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
        <br />
        <h4>Default</h4>
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
        <br />
        <h4>Medium</h4>
        <div class="pagination medium">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
        <br />
        <h4>Large</h4>
        <div class="pagination large">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt;div class="pagination small"&gt;
    &lt;a href="#"&gt; &laquo; &lt;/a&gt;
    &lt;a href="#"&gt; 1 &lt;/a&gt;
    &lt;a class="active" href="#"&gt; 2 &lt;/a&gt;
    &lt;a href="#"&gt; 3 &lt;/a&gt;
    &lt;a href="#"&gt; &raquo; &lt;/a&gt;
&lt;/div&gt;

&lt;div class="pagination"&gt;
    ...
&lt;/div&gt;

&lt;div class="pagination medium"&gt;
    ...
&lt;/div&gt;

&lt;div class="pagination large"&gt;
    ...
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>
