<div class="row">
    <div class="col xs-12">
        <h1 class="header">Spacing</h1>
        <h5 class="subheader thin no-margin">Use the <code class="inline">.more-spacing</code> class to spread out your pagination.</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <h4>Default</h4>
        <div class="pagination">
            <a class="cursor-pointer">&laquo;</a>
            <a class="cursor-pointer">1</a>
            <a class="cursor-pointer active">2</a>
            <a class="cursor-pointer">3</a>
            <a class="cursor-pointer">&raquo;</a>
        </div>
        <br />
        <h4>More Spacing</h4>
        <div class="pagination more-spacing">
            <a class="cursor-pointer">&laquo;</a>
            <a class="cursor-pointer">1</a>
            <a class="cursor-pointer active">2</a>
            <a class="cursor-pointer">3</a>
            <a class="cursor-pointer">&raquo;</a>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;div class="pagination more-spacing"&gt;
    &lt;a href="#"&gt; &laquo; &lt;/a&gt;
    &lt;a href="#"&gt; 1 &lt;/a&gt;
    &lt;a href="#" class="active"&gt; 2 &lt;/a&gt;
    &lt;a href="#"&gt; 3 &lt;/a&gt;
    &lt;a href="#"&gt; &raquo; &lt;/a&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>
