{% set light_shades = ['lighten-border-3', 'lighten-border-2', 'lighten-border-1'] %}
{% set dark_shades = ['darken-border-1', 'darken-border-2', 'darken-border-3'] %}

<div class="row">
    <div class="col xs-12">
        <h4 class="header">Color Shades</h4>
        <h6 class="subheader thin">Further fine-tune the color of your border by adjusting its shade.</h6>
        <div class="message blue">
            <div class="message-header">
                <p>Clarification</p>
            </div>
            <div class="message-body">
                <p>These classes must be used in conjunction with a <code class="inline">.border-{COLOR}</code> class.</p>
            </div>
        </div> 
    </div>
    <div class="col xs-12 col-middle">
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="{{ (light_shades | length) + (dark_shades | length) + 3}}"><span class="bold">Color Shades</span></td>
                </tr>
                <tr>
                    <td colspan="3"><p>To change the shade of your colored border, use the <code class="inline">.lighten-border-{STEP}</code> and <code class="inline">.darken-border-{STEP}</code> classes.</p>
                    <p>There are a total of 3 steps in either direction (i.e. a total of 7 shades are available per color).</p></td>
                </tr>
                {% for shade in light_shades %}
                <tr>
                    <td class="text-center vertical-align-middle"><code class="inline">.{{ shade }}</code></td>
                    <td class="vertical-align-middle">Add this class to make your border {{ loop.length - loop.index + 1 }} shade{{ "s" if loop.index != 3}} lighter.</td>
                    <td class="text-center vertical-align-middle"><span class="border-red {{ shade }}" style="display: inline-flex; height: 25px; width: 50px;"></span></td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="text-center vertical-align-middle">Base Color</td>
                    <td class="vertical-align-middle">This is a default border using <code class="inline">.border-red</code> for reference.</td>
                    <td class="text-center vertical-align-middle"><span class="border-red" style="display: inline-flex; height: 25px; width: 50px;"></span></td>
                </tr>
                {% for shade in dark_shades %}
                <tr>
                    <td class="text-center vertical-align-middle"><code class="inline">.{{ shade }}</code></td>
                    <td class="vertical-align-middle">Add this class to make your border {{ loop.index }} shade{{ "s" if loop.index != 1}} darker.</td>
                    <td class="text-center vertical-align-middle"><span class="border-red {{ shade }}" style="display: inline-flex; height: 25px; width: 50px;"></span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>