<div class="row">
    <div class="col xs-12">
        <h5>1.7.1</h5>
        <ul>
            <li>Improved alignment of switch handles.</li>
            <li>Fixed bug with switch handles that caused their position to be incorrectly offset in Safari.</li>
        </ul>
    </div>
</div>
