<div class="row">
    <div class="col xs-12">
        <h4 class="header">Mutually-Exclusive Collapsible</h4>
        <h6 class="subheader thin">Only one collapsible in a group can be open at a time.</h6>
        <div class="message orange m-0">
            <div class="message-header">
                <p>Tip</p>
            </div>
            <div class="message-body">
                <p>Note that once any of the collapsibles in the group are opened, one collapsible will remain open at all times.</p>
                <p>Be sure that the input's type is <code class="inline">radio</code>, that each of the input's <code class="inline">id</code>s match their label's <code class="inline">for</code>, and that each of the inputs have the same <code class="inline">name</code>!</p>
            </div>
        </div> 
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="collapsible">
            <input type="radio" class="collapsible-toggle" id="first-me-collapsible" name="collapsible-radio" checked />
            <label class="collapsible-header" for="first-me-collapsible">
                First Collapsible
            </label>
            <div class="collapsible-body">
                <ul class="collapsible-submenu">
                    <li>Submenu Item 1</li>
                    <li>
                        <div class="collapsible">
                            <input type="checkbox" class="collapsible-toggle" id="first-me-nested-collapsible" name="collapsible-checkbox" />
                            <label class="collapsible-header" for="first-me-nested-collapsible">
                                Submenu Item 2 (Click me!)
                            </label>
                            <div class="collapsible-body">
                                <ul class="collapsible-submenu">
                                    <li>Nested Menu Item 1</li>
                                    <li>Nested Menu Item 2</li>
                                    <li>Nested Menu Item 3</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>Submenu Item 3</li>
                </ul>
            </div>
        </div>
        <div class="collapsible">
            <input type="radio" class="collapsible-toggle" id="second-me-collapsible" name="collapsible-radio" />
            <label class="collapsible-header" for="second-me-collapsible">
                Second Collapsible
            </label>
            <div class="collapsible-body">
                <h5>You can place anything inside of a collapsible component!</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a ultricies mauris. Donec posuere ultrices tortor. Aliquam fringilla tellus odio, nec vehicula mi placerat nec. Duis bibendum eget ipsum eget dapibus. Aenean sit amet dui at dolor condimentum sagittis.</p>
            </div>
        </div>
        <div class="collapsible">
            <input type="radio" class="collapsible-toggle" id="third-me-collapsible" name="collapsible-radio" />
            <label class="collapsible-header" for="third-me-collapsible">
                Third Collapsible
            </label>
            <div class="collapsible-body">
                <img class="img-responsive" src="http://placehold.it/200x100" alt="Image">
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;div class="collapsible"&gt;
    &lt;input type="radio" class="collapsible-toggle" id="first-me-collapsible" name="collapsible-radio" checked /&gt;
    &lt;label class="collapsible-header" for="first-me-collapsible"&gt;
        First Collapsible
    &lt;/label&gt;
    &lt;div class="collapsible-body"&gt;
        &lt;ul class="collapsible-submenu"&gt;
            &lt;li&gt;Submenu Item 1&lt;/li&gt;
            &lt;li&gt;
                &lt;div class="collapsible"&gt;
                    &lt;input type="checkbox" class="collapsible-toggle" id="first-me-nested-collapsible" name="collapsible-checkbox" /&gt;
                    &lt;label class="collapsible-header" for="first-me-nested-collapsible"&gt;
                        Submenu Item 2 (Click me!)
                    &lt;/label&gt;
                    &lt;div class="collapsible-body"&gt;
                        &lt;ul class="collapsible-submenu"&gt;
                            &lt;li&gt;Nested Menu Item 1&lt;/li&gt;
                            &lt;li&gt;Nested Menu Item 2&lt;/li&gt;
                            &lt;li&gt;Nested Menu Item 3&lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/li&gt;
            &lt;li&gt;Submenu Item 3&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class="collapsible"&gt;
    &lt;input type="radio" class="collapsible-toggle" id="second-me-collapsible" name="collapsible-radio" /&gt;
    &lt;label class="collapsible-header" for="second-me-collapsible"&gt;
        Second Collapsible
    &lt;/label&gt;
    &lt;div class="collapsible-body"&gt;
        &lt;h5&gt;You can place anything inside of a collapsible component!&lt;/h5&gt;
        &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a ultricies mauris. Donec posuere ultrices tortor. Aliquam fringilla tellus odio, nec vehicula mi placerat nec. Duis bibendum eget ipsum eget dapibus. Aenean sit amet dui at dolor condimentum sagittis.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class="collapsible"&gt;
    &lt;input type="radio" class="collapsible-toggle" id="third-me-collapsible" name="collapsible-radio" /&gt;
    &lt;label class="collapsible-header" for="third-me-collapsible"&gt;
        Third Collapsible
    &lt;/label&gt;
    &lt;div class="collapsible-body"&gt;
        &lt;img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=33&amp;txt=200%C3%97100&amp;w=200&amp;h=100" alt="Image"&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>
