<div class="row">
    <div class="col xs-12">
        <h1 class="header">Background</h1>
        <h5 class="subheader thin no-margin">Background classes</h5>
    </div>
    <div class="col xs-12 col-middle">
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="15"><span class="bold">Colors</span</td>
                </tr>
                <tr>
                    <td colspan="3">To change background color add a <code class="inline">.bg-{COLOR}</code> class. Colors are from boba's palette.</td>
                </tr>
                <tr>
                    <td><code class="inline">.bg-red</code></td>
                    <td>Add a <code class="inline">.bg-red</code> with to make the background red</td>
                    <td><span class="bg-red">Hello World, I'm red</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.bg-orange</code></td>
                    <td>Add a <code class="inline">.bg-orange</code> with to make the background orange</td>
                    <td><span class="bg-orange">Hello World, I'm orange</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.bg-yellow</code></td>
                    <td>Add a <code class="inline">.bg-yellow</code> with to make the background yellow</td>
                    <td><span class="bg-yellow">Hello World, I'm yellow</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.bg-green</code></td>
                    <td>Add a <code class="inline">.bg-green</code> with to make the background green</td>
                    <td><span class="bg-green">Hello World, I'm green</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.bg-teal</code></td>
                    <td>Add a <code class="inline">.bg-teal</code> with to make the background teal</td>
                    <td><span class="bg-teal">Hello World, I'm teal</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.bg-blue</code></td>
                    <td>Add a <code class="inline">.bg-blue</code> with to make the background blue</td>
                    <td><span class="bg-blue">Hello World, I'm blue</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.bg-indigo</code></td>
                    <td>Add a <code class="inline">.bg-indigo</code> with to make the background indigo</td>
                    <td><span class="bg-indigo">Hello World, I'm indigo</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.bg-purple</code></td>
                    <td>Add a <code class="inline">.bg-purple</code> with to make the background purple</td>
                    <td><span class="bg-purple">Hello World, I'm purple</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.bg-pink</code></td>
                    <td>Add a <code class="inline">.bg-pink</code> with to make the background pink</td>
                    <td><span class="bg-pink">Hello World, I'm pink</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.bg-dark</code></td>
                    <td>Add a <code class="inline">.bg-dark</code> with to make the background dark</td>
                    <td><span class="bg-dark">Hello World, I'm dark</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.bg-light</code></td>
                    <td>Add a <code class="inline">.bg-light</code> with to make the background light</td>
                    <td><span class="bg-light">Hello World, I'm light</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.bg-black</code></td>
                    <td>Add a <code class="inline">.bg-black</code> with to make the background black</td>
                    <td><span class="bg-black">Hello World, I'm black</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.bg-white</code></td>
                    <td>Add a <code class="inline">.bg-white</code> with to make the background white</td>
                    <td><span class="bg-white">Hello World, I'm white</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
