<div class="row">
    <div class="col xs-12">
        <h1 class="header">Colors</h1>
        <h5 class="subheader thin no-margin">Easily add a background color to any of your elements.</h5>
    </div>
    <div class="col xs-12 col-middle">
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="15"><span class="bold">Colors</span</td>
                </tr>
                <tr>
                    <td colspan="3">To change background color add a <code class="inline">.bg-{COLOR}</code> class. Colors are from boba's palette.</td>
                </tr>
                <tr>
                    <td><code class="inline">.bg-red</code></td>
                    <td>Add the <code class="inline">.bg-red</code> class to make the background of an element red</td>
                    <td class="bg-red text-white"><span>Hello World, I have a red background!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.bg-orange</code></td>
                    <td>Add the <code class="inline">.bg-orange</code> class to make the background of an element orange</td>
                    <td class="bg-orange text-white"><span>Hello World, I have an orange background!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.bg-yellow</code></td>
                    <td>Add the <code class="inline">.bg-yellow</code> class to make the background of an element yellow</td>
                    <td class="bg-yellow text-white"><span>Hello World, I have a yellow background!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.bg-green</code></td>
                    <td>Add the <code class="inline">.bg-green</code> class to make the background of an element green</td>
                    <td class="bg-green text-white"><span>Hello World, I have a green background!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.bg-teal</code></td>
                    <td>Add the <code class="inline">.bg-teal</code> class to make the background of an element teal</td>
                    <td class="bg-teal text-white"><span>Hello World, I have a teal background!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.bg-blue</code></td>
                    <td>Add the <code class="inline">.bg-blue</code> class to make the background of an element blue</td>
                    <td class="bg-blue text-white"><span>Hello World, I have a blue background!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.bg-indigo</code></td>
                    <td>Add the <code class="inline">.bg-indigo</code> class to make the background of an element indigo</td>
                    <td class="bg-indigo text-white"><span>Hello World, I have an indigo background!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.bg-purple</code></td>
                    <td>Add the <code class="inline">.bg-purple</code> class to make the background of an element purple</td>
                    <td class="bg-purple text-white"><span>Hello World, I have a purple background!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.bg-pink</code></td>
                    <td>Add the <code class="inline">.bg-pink</code> class to make the background of an element pink</td>
                    <td class="bg-pink text-white"><span>Hello World, I have a pink background!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.bg-dark</code></td>
                    <td>Add the <code class="inline">.bg-dark</code> class to make the background of an element dark</td>
                    <td class="bg-dark text-white"><span>Hello World, I have a dark background!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.bg-light</code></td>
                    <td>Add the <code class="inline">.bg-light</code> class to make the background of an element light</td>
                    <td class="bg-light"><span>Hello World, I have a light background!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.bg-black</code></td>
                    <td>Add the <code class="inline">.bg-black</code> class to make the background of an element black</td>
                    <td class="bg-black text-white"><span>Hello World, I have a black background!</span></td>
                </tr>
                <tr>
                    <td><code class="inline">.bg-white</code></td>
                    <td>Add the <code class="inline">.bg-white</code> class to make the background of an element white</td>
                    <td class="bg-white"><span>Hello World, I have a white background!</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>