<div class="row">
    <div class="col xs-12">
        <h1 class="header">Extended</h1>
        <h5 class="subheader thin">Additional utilities to help you create the perfect background color.</h5>
        <div class="message purple m-0">
            <div class="message-header">
                <p>Compatibility</p>
            </div>
            <div class="message-body">
                <p>These classes are only included in the extended version of boba. <a href="/docs/">Learn more</a>.</p>
            </div>
        </div> 
    </div>
</div>

<hr class="light" />
{% include "templates/docs/background/extended/hover.njk" %}

<hr class="light" />
{% include "templates/docs/background/extended/active.njk" %}

<hr class="light" />
{% include "templates/docs/background/extended/combinations.njk" %}
