<div class="row">
    <div class="col xs-12">
        <h1 class="header">Neutral</h1>
        <h5 class="subheader thin">Use boba's neutral colors to add a subtle splash of color.</h5>
        <div class="message purple m-0">
            <div class="message-header">
                <p>Compatibility</p>
            </div>
            <div class="message-body">
                <p>These classes are only included in the lite and full versions of boba and do not work with our "black" or "white" colors.</p>
            </div>
        </div> 
    </div>
    <div class="col xs-12 col-middle">
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="{{ (global_color_list_core | length) + (global_color_list_base | length) + 2 }}"><span class="bold">Neutral</span</td>
                </tr>
                <tr>
                    <td colspan="3">To change the background color of an element, add a <code class="inline">.bg-neutral-{COLOR}</code> class.</td>
                </tr>
                {% for color in global_color_list_core %}
                <tr>
                    <td><code class="inline">.bg-neutral-{{ color }}</code></td>
                    <td>Add this class to make the background of an element neutral-{{ color }}.</td>
                    <td class="bg-neutral-{{ color }}"><span>My background is neutral-{{ color }}!</span></td>
                </tr>
                {% endfor %}
                {% for color in global_color_list_base %}
                {% if (color != "black" and color != "white") %}
                <tr>
                    <td><code class="inline">.bg-neutral-{{ color }}</code></td>
                    <td>Add this class to make the background of an element neutral-{{ color }}.</td>
                    <td class="bg-neutral-{{ color }}"><span>My background is neutral-{{ color }}!</span></td>
                </tr>
                {% endif %}
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>
