<div class="row">
    <div class="col xs-12">
        <h4 class="header">Mutually-Exclusive Accordion</h4>
        <h6 class="subheader thin">Only one accordion in a group can be open at a time.</h6>
        <div class="message orange m-0">
            <div class="message-header">
                <p>Tip</p>
            </div>
            <div class="message-body">
                <p>Note that once any of the accordions in the group are opened, one accordion will remain open at all times.</p>
                <br />
                <p>Be sure that the input's type is <code class="inline">radio</code>, that each of the input's <code class="inline">id</code>s match their label's <code class="inline">for</code>, and that each of the inputs have the same <code class="inline">name</code>!</p>
            </div>
        </div> 
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="accordion-menu">
            <input type="radio" id="first-me-accordion" name="accordion-radio" checked />
            <label class="accordion-header" for="first-me-accordion">
                First Accordion
            </label>
            <div class="accordion-body">
                <ul class="accordion-submenu">
                    <li>Submenu Item 1</li>
                    <li>
                        <div class="accordion-menu">
                            <input type="checkbox" id="first-me-nested-accordion" name="accordion-checkbox" />
                            <label class="accordion-header" for="first-me-nested-accordion">
                                Submenu Item 2 (Click me!)
                            </label>
                            <div class="accordion-body">
                                <ul class="accordion-submenu">
                                    <li>Nested Menu Item 1</li>
                                    <li>Nested Menu Item 2</li>
                                    <li>Nested Menu Item 3</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>Submenu Item 3</li>
                </ul>
            </div>
        </div>
        <div class="accordion-menu">
            <input type="radio" id="second-me-accordion" name="accordion-radio" />
            <label class="accordion-header" for="second-me-accordion">
                Second Accordion
            </label>
            <div class="accordion-body">
                <h5>You can place anything inside of an accordion!</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a ultricies mauris. Donec posuere ultrices tortor. Aliquam fringilla tellus odio, nec vehicula mi placerat nec. Duis bibendum eget ipsum eget dapibus. Aenean sit amet dui at dolor condimentum sagittis.</p>
            </div>
        </div>
        <div class="accordion-menu">
            <input type="radio" id="third-me-accordion" name="accordion-radio" />
            <label class="accordion-header" for="third-me-accordion">
                Third Accordion
            </label>
            <div class="accordion-body">
                <img class="img-responsive" src="http://placehold.it/200x100" alt="Image">
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;div class="accordion-menu"&gt;
    &lt;input type="radio" id="first-me-accordion" name="accordion-radio" checked /&gt;
    &lt;label class="accordion-header" for="first-me-accordion"&gt;
        First Accordion
    &lt;/label&gt;
    &lt;div class="accordion-body"&gt;
        &lt;ul class="accordion-submenu"&gt;
            &lt;li&gt;Submenu Item 1&lt;/li&gt;
            &lt;li&gt;
                &lt;div class="accordion-menu"&gt;
                    &lt;input type="checkbox" id="first-me-nested-accordion" name="accordion-checkbox" /&gt;
                    &lt;label class="accordion-header" for="first-me-nested-accordion"&gt;
                        Submenu Item 2 (Click me!)
                    &lt;/label&gt;
                    &lt;div class="accordion-body"&gt;
                        &lt;ul class="accordion-submenu"&gt;
                            &lt;li&gt;Nested Menu Item 1&lt;/li&gt;
                            &lt;li&gt;Nested Menu Item 2&lt;/li&gt;
                            &lt;li&gt;Nested Menu Item 3&lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/li&gt;
            &lt;li&gt;Submenu Item 3&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class="accordion-menu"&gt;
    &lt;input type="radio" id="second-me-accordion" name="accordion-radio" /&gt;
    &lt;label class="accordion-header" for="second-me-accordion"&gt;
        Second Accordion
    &lt;/label&gt;
    &lt;div class="accordion-body"&gt;
        &lt;h5&gt;You can place anything inside of an accordion!&lt;/h5&gt;
        &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a ultricies mauris. Donec posuere ultrices tortor. Aliquam fringilla tellus odio, nec vehicula mi placerat nec. Duis bibendum eget ipsum eget dapibus. Aenean sit amet dui at dolor condimentum sagittis.&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class="accordion-menu"&gt;
    &lt;input type="radio" id="third-me-accordion" name="accordion-radio" /&gt;
    &lt;label class="accordion-header" for="third-me-accordion"&gt;
        Third Accordion
    &lt;/label&gt;
    &lt;div class="accordion-body"&gt;
        &lt;img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=33&amp;txt=200%C3%97100&amp;w=200&amp;h=100" alt="Image"&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>
