<div class="row">
    <div class="col xs-12">
        <h1 class="header">Radios</h1>
        <h5 class="subheader thin">Radio buttons let users switch between a predefined set of options.</h5>
        <div class="message purple m-0">
            <div class="message-header">
                <p>Compatibility</p>
            </div>
            <div class="message-body">
                <p>Be sure that the input's type is <code class="inline">radio</code>, that each of the input's <code class="inline">id</code>s match their label's <code class="inline">for</code>, and that each of the inputs have the same <code class="inline">name</code>!</p>
                <p>Note that for the <code class="inline">label</code> to be displayed correctly, it must come directly after the <code class="inline">input</code> tag.</p>
            </div>
        </div> 
    </div>
    <div class="col xs-12 md-6 col-middle">
        <form class="form-control" action="#" method="post">
            <div class="radio">
                <input type="radio" id="example-radio-1" name="example-radio-1" class="radio-input" checked>
                <label for="example-radio-1" class="radio-label">
                    Radio Option 1
                </label>
            </div>
            <div class="radio">
                <input type="radio" id="example-radio-2" name="example-radio-1" class="radio-input">
                <label for="example-radio-2" class="radio-label">
                    Radio Option 2
                </label>
            </div>
            <div class="radio">
                <input type="radio" id="example-radio-3" name="example-radio-1" class="radio-input">
                <label for="example-radio-3" class="radio-label">
                    Radio Option 3
                </label>
            </div>
        </form>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;form class="form-control" action="#" method="post"&gt;
    &lt;div class="radio"&gt;
        &lt;input type="radio" id="example-radio-1" name="example-radio-1" class="radio-input" checked&gt;
        &lt;label for="example-radio-1" class="radio-label"&gt;
            Radio Option 1
        &lt;/label&gt;
    &lt;/div&gt;

    &lt;div class="radio"&gt;
        &lt;input type="radio" id="example-radio-2" name="example-radio-1" class="radio-input"&gt;
        &lt;label for="example-radio-2" class="radio-label"&gt;
            Radio Option 2
        &lt;/label&gt;
    &lt;/div&gt;
    
    &lt;div class="radio"&gt;
        &lt;input type="radio" id="example-radio-3" name="example-radio-1" class="radio-input"&gt;
        &lt;label for="example-radio-3" class="radio-label"&gt;
            Radio Option 3
        &lt;/label&gt;
    &lt;/div&gt;
&lt;/form&gt;</code></pre>
        </div>
    </div>
</div>
