<div class="row">
    <div class="col xs-12">
        <h1 class="header">Sizes</h1>
        <h5 class="subheader thin no-margin">Radio buttons can be resized.</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <form class="form-control" action="#" method="post">
            <div class="radio small">
                <input type="radio" id="example-radio-sizes-small" name="example-radio-sizes-1" class="radio-input" checked>
                <label for="example-radio-sizes-small" class="radio-label">
                    Small Radio Option
                </label>
            </div>
            <div class="radio">
                <input type="radio" id="example-radio-sizes-default" name="example-radio-sizes-1" class="radio-input">
                <label for="example-radio-sizes-default" class="radio-label">
                    Default Radio Option
                </label>
            </div>
            <div class="radio medium">
                <input type="radio" id="example-radio-sizes-medium" name="example-radio-sizes-1" class="radio-input">
                <label for="example-radio-sizes-medium" class="radio-label">
                    Medium Radio Option
                </label>
            </div>
            <div class="radio large">
                <input type="radio" id="example-radio-sizes-large" name="example-radio-sizes-1" class="radio-input">
                <label for="example-radio-sizes-large" class="radio-label">
                    Large Radio Option
                </label>
            </div>
        </form>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;button class="small"&gt; Small &lt;/button&gt;
&lt;button&gt; Default &lt;/button&gt;
&lt;button class="medium"&gt; Medium &lt;/button&gt;
&lt;button class="large"&gt; Large &lt;/button&gt;</code></pre>
        </div>
    </div>
</div>