<div class="row">
    <div class="col xs-12">
        <h1 class="header">States</h1>
        <h5 class="subheader thin no-margin">Radios can be disabled using the <code class="inline">disabled</code> attribute.</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <form class="form-control" action="#" method="post">
            <div class="radio">
                <input type="radio" id="example-radio-selected-disabled" name="example-radio-disabled" class="radio-input" checked disabled>
                <label for="example-radio-selected-disabled" class="radio-label">
                    Disabled Selected Radio
                </label>
            </div>
            <div class="radio">
                <input type="radio" id="example-radio-selected-disabled" name="example-radio-disabled" class="radio-input" disabled>
                <label for="example-radio-selected-disabled" class="radio-label">
                    Disabled Unselected Radio
                </label>
            </div>
        </form>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;form class="form-control" action="#" method="post"&gt;
    &lt;div class="radio"&gt;
        &lt;input type="radio" id="example-radio-selected-disabled" name="example-radio-disabled" class="radio-input" checked disabled&gt;
        &lt;label for="example-radio-selected-disabled" class="radio-label"&gt;
            Disabled Selected Radio
        &lt;/label&gt;
    &lt;/div&gt;

    &lt;div class="radio"&gt;
        &lt;input type="radio" id="example-radio-selected-disabled" name="example-radio-disabled" class="radio-input" disabled&gt;
        &lt;label for="example-radio-selected-disabled" class="radio-label"&gt;
            Disabled Unselected Radio
        &lt;/label&gt;
    &lt;/div&gt;
&lt;/form&gt;</code></pre>
        </div>
    </div>
</div>
