<div class="row">
    <div class="col xs-12">
        <h1 class="header">Align Items</h1>
        <h5 class="subheader thin no-margin">Control how the browser handles the positioning of elements along the perpendicular axis of their container.</h5>
    </div>
    <div class="col xs-12 col-middle">
        <div>
            <table class="bordered">
                <tbody>
                    <tr>
                        <td rowspan="4"><span class="bold">Align Items</span</td>
                    </tr>
                    <tr>
                        <td><code class="inline">.align-items-top</code></td>
                        <td>Elements align themsleves to the top of their container.</td>
                    </tr>
                    <tr>
                        <td><code class="inline">.align-items-middle</code></td>
                        <td>Elements align themsleves to the perpendicular center axis of their container.</td>
                    </tr>
                    <tr>
                        <td><code class="inline">.align-items-bottom</code></td>
                        <td>Elements align themselves to the bottom of their container.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

