<div class="row">
    <div class="col xs-12">
        <h1 class="header">Align Content</h1>
        <h5 class="subheader thin no-margin">Control how the browser handles the space between and around elements along the cross axis of their container when wrapping occurs.</h5>
    </div>
    <div class="col xs-12 col-middle">
        <div>
            <table class="bordered">
                <tbody>
                    <tr>
                        <td rowspan="8"><span class="bold">Align Content</span</td>
                    </tr>
                    <tr>
                        <td><code class="inline">.align-content-left</code></td>
                        <td>Elements are distributed from the start of the container.</td>
                    </tr>
                    <tr>
                        <td><code class="inline">.align-content-center</code></td>
                        <td>Elements are distributed about the center of the container.</td>
                    </tr>
                    <tr>
                        <td><code class="inline">.align-content-right</code></td>
                        <td>Elements are distributed from the end of the container.</td>
                    </tr>
                    <tr>
                        <td><code class="inline">.align-content-stretch</code></td>
                        <td>Elements are stretched to fill the container.</td>
                    </tr>
                    <tr>
                        <td><code class="inline">.align-content-space-around</code></td>
                        <td>Elements has the same amount of spacing on either side.</td>
                    </tr>
                    <tr>
                        <td><code class="inline">.align-content-space-between</code></td>
                        <td>Elements are spaced evenly; the first and last element are flush to the container ends.</td>
                    </tr>
                    <tr>
                        <td><code class="inline">.align-content-space-evenly</code></td>
                        <td>Elements have equal spacing around them.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
