<div class="row">
    <div class="col xs-12">
        <h1 class="header">Align Self</h1>
        <h5 class="subheader thin no-margin">Override the align-items property for a specific element within a flex container to control how the browser handles the positioning of said element along the perpendicular axis of their container.</h5>
    </div>
    <div class="col xs-12 col-middle">
        <div>
            <table class="bordered">
                <tbody>
                    <tr>
                        <td rowspan="4"><span class="bold">Align Self</span</td>
                    </tr>
                    <tr>
                        <td><code class="inline">.align-self-top</code></td>
                        <td>Elements align themsleves to the top of their container.</td>
                    </tr>
                    <tr>
                        <td><code class="inline">.align-self-middle</code></td>
                        <td>Elements align themsleves to the perpendicular center axis of their container.</td>
                    </tr>
                    <tr>
                        <td><code class="inline">.align-self-bottom</code></td>
                        <td>Elements align themselves to the bottom of their container.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

