<div class="row">
    <div class="col xs-12">
        <h1 class="header">Flex Direction</h1>
        <h5 class="subheader thin no-margin">Control how the browser places flex items within a flex container.</h5>
    </div>
    <div class="col xs-12 col-middle">
        <div>
            <table class="bordered">
                <tbody>
                    <tr>
                        <td rowspan="5"><span class="bold">Flex Direction</span</td>
                    </tr>
                    <tr>
                        <td><code class="inline">.flex-row</code></td>
                        <td>Elements are placed horizontally in chronological order.</td>
                    </tr>
                    <tr>
                        <td><code class="inline">.flex-row-reverse</code></td>
                        <td>Elements are placed horizontally in reverse-chronological order.</td>
                    </tr>
                    <tr>
                        <td><code class="inline">.flex-column</code></td>
                        <td>Elements are placed vertically in chronological order.</td>
                    </tr>
                    <tr>
                        <td><code class="inline">.flex-column-reverse</code></td>
                        <td>Elements are placed vertically in reverse-chronological order.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

