<div class="row">
    <div class="col xs-12">
        <h1 class="header">Flex Wrap</h1>
        <h5 class="subheader thin no-margin">Control if and how the browser wraps flex items within a flex container.</h5>
    </div>
    <div class="col xs-12 col-middle">
        <div>
            <table class="bordered">
                <tbody>
                    <tr>
                        <td rowspan="4"><span class="bold">Flex Wrap</span</td>
                    </tr>
                    <tr>
                        <td><code class="inline">.flex-wrap</code></td>
                        <td>Elements wrap onto new lines sequentially (i.e. top to bottom).</td>
                    </tr>
                    <tr>
                        <td><code class="inline">.flex-wrap-reverse</code></td>
                        <td>Elements wrap onto new lines above the current line (i.e. bottom to top).</td>
                    </tr>
                    <tr>
                        <td><code class="inline">.flex-no-wrap</code></td>
                        <td>Elements are forced into a single lined.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

