<div class="row">
    <div class="col xs-12">
        <h1 class="header">Flex</h1>
        <h5 class="subheader thin">Get the perfect content alignment using this set of classes.</h5>
    	<div class="message orange m-0">
            <div class="message-header">
                <p>Tip</p>
            </div>
            <div class="message-body">
                <p>Don't forget to use these classes with the <code class="inline">.display-flex</code> and <code class="inline">.display-inline-flex</code> <a href="/docs/display.html" target="_blank">display utility classes</a>.</p>
            </div>
        </div> 
    </div>
</div>
