<div class="row">
    <div class="col xs-12 lg-4">
        <h3 class="header thin">Headings</h3>
        <h6 class="subheader thin no-margin">Headings use the <i>Fira Sans</i> font by Google.</h6>
    </div>
    <div class="col xs-12 md-6 lg-4">
        <div>
            <h1 class="header">Heading 1</h1>
            <h4 class="subheader">Subheading 4</h4>
            <h2 class="header">Heading 2</h2>
            <h5 class="subheader">Subheading 5</h5>
            <h3 class="header">Heading 3</h3>
            <h6 class="subheader">Subheading 6</h6>
        </div>
    </div>
    <div class="col xs-12 md-6 lg-4 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;h1 class="header"&gt; Heading 1 &lt;/h1&gt;
&lt;h4 class="subheader"&gt; Subheading 4 &lt;/h4&gt;

&lt;h2 class="header"&gt; Heading 2 &lt;/h2&gt;
&lt;h5 class="subheader"&gt; Subheading 5 &lt;/h5&gt;

&lt;h3 class="header"&gt; Heading 3 &lt;/h3&gt;
&lt;h6 class="subheader"&gt; Subheading 6 &lt;/h6&gt;</code></pre>
        </div>
    </div>
</div>