<div class="row">
    <div class="col xs-12 lg-4">
        <h3 class="header thin">Thin</h3>
        <h6 class="subheader thin">Make headings and subheadings thinner</h6>
    </div>
    <div class="col xs-12 md-6 lg-4">
        <div>
            <h1 class="header thin">Heading 1</h1>
            <h4 class="subheader thin">Subheading 4</h4>
            <h2 class="header thin">Heading 2</h2>
            <h5 class="subheader thin">Subheading 5</h5>
            <h3 class="header thin">Heading 3</h3>
            <h6 class="subheader thin">Subheading 6</h6>
        </div>
    </div>
    <div class="col xs-12 md-6 lg-4 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lth1 class="header thin"&gt Heading 1 &lt/h1&gt
&lth4 class="subheader thin"&gt Subheading 4 &lt/h4&gt
&lth2 class="header thin"&gt Heading 2 &lt/h2&gt
&lth5 class="subheader thin"&gt Subheading 5 &lt/h5&gt
&lth3 class="header thin"&gt Heading 3 &lt/h3&gt
&lth6 class="subheader thin"&gt Subheading 6 &lt/h6&gt</code></pre>
        </div>
    </div>
</div>