<div class="row">
    <div class="col xs-12">
        <h1 class="header">Colors</h1>
        <h5 class="subheader thin no-margin">Change the outline color of your textareas using boba's <a href="./colors.html" class="text-blue text-hover-green">color palette</a></h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <form class="form-control" action="#" method="post">
            <div>
                <textarea class="red" name="name" rows="8" cols="80" placeholder="This is a red textarea!"></textarea>
            </div>
            <br />
            <div>
                <textarea class="orange" name="name" rows="8" cols="80" placeholder="This is an orange textarea!"></textarea>
            </div>
            <br />
            <div>
                <textarea class="yellow" name="name" rows="8" cols="80" placeholder="This is a yellow textarea!"></textarea>
            </div>
            <br />
            <div>
                <textarea class="green" name="name" rows="8" cols="80" placeholder="This is a green textarea!"></textarea>
            </div>
            <br />
            <div>
                <textarea class="teal" name="name" rows="8" cols="80" placeholder="This is a teal textarea!"></textarea>
            </div>
            <br />
            <div>
                <textarea class="blue" name="name" rows="8" cols="80" placeholder="This is a blue textarea!"></textarea>
            </div>
            <br />
            <div>
                <textarea class="indigo" name="name" rows="8" cols="80" placeholder="This is an indigo textarea!"></textarea>
            </div>
            <br />
            <div>
                <textarea class="purple" name="name" rows="8" cols="80" placeholder="This is a purple textarea!"></textarea>
            </div>
            <br />
            <div>
                <textarea class="pink" name="name" rows="8" cols="80" placeholder="This is a pink textarea!"></textarea>
            </div>
        </form>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltform class="form-control" action="#" method="post"&gt
    &ltdiv&gt
        &ltlabel class="text-green" for="email"&gt Green &lt/label&gt
        &lttextarea class="green" name="name" rows="8" cols="80" placeholder="This is a textarea!"&gt&lt/textarea&gt
    &lt/div&gt
&lt/form&gt</code></pre>
        </div>
    </div>
</div>