<div class="row">
    <div class="col xs-12">
        <h1 class="header">Colors</h1>
        <h5 class="subheader thin no-margin">Change the outline color of your textareas using boba's eye-catching <a href="./colors.html">color palette</a>.</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <form class="form-control" action="#" method="post">
            {% for color in global_color_list_core %}
            <div>
                <textarea class="{{ color }}" name="name" rows="8" cols="80" placeholder="This is textarea is {{ color }}!"></textarea>
            </div>
            {% if loop.index != loop.length %}
            <br />
            {% endif %}
            {% endfor %}
        </form>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;form class="form-control" action="#" method="post"&gt;
    &lt;div&gt;
        &lt;label class="text-green" for="message"&gt; Green &lt;/label&gt;
        &lt;textarea class="green" name="name" rows="8" cols="80" placeholder="This is a textarea!"&gt;&lt;/textarea&gt;
    &lt;/div&gt;
&lt;/form&gt;</code></pre>
        </div>
    </div>
</div>
