<div class="row">
    <div class="col xs-12">
        <h1 class="header">Sizes</h1>
        <h5 class="subheader thin no-margin">Textareas can be resized</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <form class="form-control" action="#" method="post">
          <div>
              <label for="message">Small Textarea</label>
              <textarea class="small" name="name" rows="8" cols="80" placeholder="This is a small textarea!"></textarea>
          </div>
          <br />
          <div>
              <label for="message">Default Textarea</label>
              <textarea name="name" rows="8" cols="80" placeholder="This is the default textarea!"></textarea>
          </div>
          <br />
          <div>
              <label for="message">Medium Textarea</label>
              <textarea class="medium" name="name" rows="8" cols="80" placeholder="This is a medium textarea!"></textarea>
          </div>
          <br />
          <div>
              <label for="message">Large Textarea</label>
              <textarea class="large" name="name" rows="8" cols="80" placeholder="This is a large textarea!"></textarea>
          </div>
        </form>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;form class="form-control" action="#" method="post"&gt;
    &lt;div&gt;
        &lt;label for="message"&gt; Small Textarea &lt;/label&gt;
        &lt;textarea class="small" name="name" rows="8" cols="80" placeholder="This is a small textarea!"&gt;&lt;/textarea&gt;
    &lt;/div&gt;
    &lt;br /&gt;
    &lt;div&gt;
        &lt;label for="message"&gt; Default Textarea &lt;/label&gt;
        &lt;textarea name="name" rows="8" cols="80" placeholder="This is the default textarea!"&gt;&lt;/textarea&gt;
    &lt;/div&gt;
    &lt;br /&gt;
    &lt;div&gt;
        &lt;label for="message"&gt; Medium Textarea &lt;/label&gt;
        &lt;textarea class="medium" name="name" rows="8" cols="80" placeholder="This is a medium textarea!"&gt;&lt;/textarea&gt;
    &lt;/div&gt;
    &lt;br /&gt;
    &lt;div&gt;
        &lt;label for="message"&gt; Large Textarea &lt;/label&gt;
        &lt;textarea class="large" name="name" rows="8" cols="80" placeholder="This is a large textarea!"&gt;&lt;/textarea&gt;
    &lt;/div&gt;
&lt;/form&gt;</code></pre>
        </div>
    </div>
</div>