<div class="row">
    <div class="col xs-12">
        <h1 class="header">States</h1>
        <h5 class="subheader thin no-margin">Forms can be disabled using the <code class="inline">disabled</code> attribute</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <form class="form-control" action="#" method="post">
            <div>
                <label for="message">Disabled Textarea</label>
                <textarea disabled name="name" rows="8" cols="80" placeholder="You can't type now!"></textarea>
            </div>
        </form>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt;form class="form-control" action="#" method="post"&gt;
    &lt;div&gt;
        &lt;label for="message"&gt; Disabled Textarea &lt;/label&gt;
        &lt;textarea disabled name="name" rows="8" cols="80" placeholder="You can't type now!"&gt;&lt;/textarea&gt;
    &lt;/div&gt;
&lt;/form&gt;</code></pre>
        </div>
    </div>
</div>