<div class="row">
    <div class="col xs-12">
        <h1 class="header">Textareas</h1>
        <h5 class="subheader thin no-margin">Textareas capture bodies of text</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <form class="form-control" action="#" method="post">
            <div>
                <label for="message">Default</label>
                <textarea name="name" rows="8" cols="80" placeholder="This is a textarea!"></textarea>
            </div>
        </form>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltform class="form-control" action="#" method="post"&gt
    &ltdiv&gt
        &ltlabel for="email"&gt Default &lt/label&gt
        &lttextarea name="name" rows="8" cols="80" placeholder="This is a textarea!"&gt&lt/textarea&gt
    &lt/div&gt
&lt/form&gt</code></pre>
        </div>
    </div>
</div>