@import '../constants/colors';

@import 'prism';
@import 'fonts';

.boba-branding {
	line-height: 1.125;
}

.version-tag {
	font-size: 0.5em;
}

.no-wrap {
	white-space: nowrap;
}

.landing-cta {
    margin: 0.2rem;
}

.cursor-pointer {
    cursor: pointer;
}
