<div class="row">
    <div class="col xs-12">
        <h1 class="header">Shapes</h1>
        <h5 class="subheader thin no-margin">Easily change the corners and shape of your components using these classes.</h5>
    </div>
    <div class="col xs-12 col-middle">
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="5"><span class="bold">Element Shapes</span</td>
                </tr>
                <tr>
                    <td><code class="inline">.shape-rounded</code></td>
                    <td>Add the <code class="inline">.shape-rounded</code> class to round the corners of an element.</td>
                    <td class="text-center"><span class="shape-rounded bg-light border-dark" style="display: inline-block; height: 50px; width: 50px;"></span></td>
                </tr>
                <tr>
                    <td><code class="inline">.shape-no-radius</code></td>
                    <td>Add the <code class="inline">.shape-no-radius</code> class to sharpen the corners of an element.</td>
                    <td class="text-center"><span class="shape-no-radius bg-light border-dark" style="display: inline-block; height: 50px; width: 50px;"></span></td>
                </tr>
                <tr>
                    <td><code class="inline">.shape-circular</code></td>
                    <td>Add the <code class="inline">.shape-circular</code> class to make an element circular.</td>
                    <td class="text-center"><span class="shape-circular bg-light border-dark" style="display: inline-block; height: 50px; width: 50px;"></span></td>
                </tr>
                <tr>
                    <td><code class="inline">.shape-pill</code></td>
                    <td>Add the <code class="inline">.shape-pill</code> class to make an element pill-shaped.</td>
                    <td class="text-center"><span class="shape-pill bg-light border-dark" style="display: inline-block; height: 25px; width: 50px;"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
