$border-radius: $base-border-radius-default;
$rounded-border-radius: 9999px;

$pagination-font-size-default: 0.9em;

$pagination-font-sizing-list:
(large, $pagination-font-size-default + 0.4em),
(medium, $pagination-font-size-default + 0.2em),
(small, $pagination-font-size-default - 0.2em);
