<div class="row">
    <div class="col xs-12">
        <h1 class="header">Alignment</h1>
        <h5 class="subheader thin no-margin">Use the <code class="inline">.text-left</code>, <code class="inline">.text-center</code>, and <code class="inline">.text-right</code> helper classes to easily align the text within your blockquote.</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <h3 class="text-left">Left-Aligned</h3>
        <blockquote class="text-left">
            <p>
                Etiam porttitor nunc eget varius pulvinar. Vivamus nisl risus, ornare et est in, rutrum egestas nisi. Cras vitae porta nisl. Morbi mollis eros dolor, eget convallis mauris condimentum varius. Duis dictum ipsum sit amet nunc vulputate, vitae porta sem ultricies.
            </p>
            <footer class="blockquote-footer">Left-Aligned Ipsum in <cite>Alignment</cite></footer>
        </blockquote>

        <h3 class="text-center">Center-Aligned</h3>
        <blockquote class="text-center">
            <p>
                Etiam porttitor nunc eget varius pulvinar. Vivamus nisl risus, ornare et est in, rutrum egestas nisi. Cras vitae porta nisl. Morbi mollis eros dolor, eget convallis mauris condimentum varius. Duis dictum ipsum sit amet nunc vulputate, vitae porta sem ultricies.
            </p>
            <footer class="blockquote-footer">Center-Aligned Ipsum in  <cite>Alignment</cite></footer>
        </blockquote>

        <h3 class="text-right">Right-Aligned</h3>
        <blockquote class="text-right">
            <p>
                Etiam porttitor nunc eget varius pulvinar. Vivamus nisl risus, ornare et est in, rutrum egestas nisi. Cras vitae porta nisl. Morbi mollis eros dolor, eget convallis mauris condimentum varius. Duis dictum ipsum sit amet nunc vulputate, vitae porta sem ultricies.
            </p>
            <footer class="blockquote-footer">Right-Aligned Ipsum in  <cite>Alignment</cite></footer>
        </blockquote>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;-- Left-Aligned --&gt;
&lt;blockquote class="text-left"&gt;
    &lt;p&gt;
        Etiam porttitor nunc eget varius pulvinar. Vivamus nisl risus, ornare et est in, rutrum egestas nisi. Cras vitae porta nisl. Morbi mollis eros dolor, eget convallis mauris condimentum varius. Duis dictum ipsum sit amet nunc vulputate, vitae porta sem ultricies.
    &lt;/p&gt;
    &lt;footer class="blockquote-footer"&gt;Left-Aligned Ipsum in &lt;cite&gt;Alignment&lt;/cite&gt;&lt;/footer&gt;
&lt;/blockquote&gt;

&lt;-- Center-Aligned --&gt;
&lt;blockquote class="text-center"&gt;
    &lt;p&gt;
        Etiam porttitor nunc eget varius pulvinar. Vivamus nisl risus, ornare et est in, rutrum egestas nisi. Cras vitae porta nisl. Morbi mollis eros dolor, eget convallis mauris condimentum varius. Duis dictum ipsum sit amet nunc vulputate, vitae porta sem ultricies.
    &lt;/p&gt;
    &lt;footer class="blockquote-footer"&gt;Center-Aligned Ipsum in  &lt;cite&gt;Alignment&lt;/cite&gt;&lt;/footer&gt;
&lt;/blockquote&gt;

&lt;-- Right-Aligned --&gt;
&lt;blockquote class="text-right"&gt;
    &lt;p&gt;
        Etiam porttitor nunc eget varius pulvinar. Vivamus nisl risus, ornare et est in, rutrum egestas nisi. Cras vitae porta nisl. Morbi mollis eros dolor, eget convallis mauris condimentum varius. Duis dictum ipsum sit amet nunc vulputate, vitae porta sem ultricies.
    &lt;/p&gt;
    &lt;footer class="blockquote-footer"&gt;Right-Aligned Ipsum in  &lt;cite&gt;Alignment&lt;/cite&gt;&lt;/footer&gt;
&lt;/blockquote&gt;</code></pre>
        </div>
    </div>
</div>
