<div class="row">
    <div class="col xs-12">
        <h1 class="header">Blockquotes</h1>
        <h5 class="subheader thin">Give credit where credit is due by using blockquotes.</h5>
        <div class="message orange mt-0">
            <div class="message-header">
                <p>Tip</p>
            </div>
            <div class="message-body">
                <p>Use the optional <code class="inline">author</code> attribute to specify the author of the quote.</p>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <h3>Example Text</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tortor lorem, scelerisque ut facilisis et, congue in nisl. Integer feugiat massa quis tempus lobortis. Suspendisse mattis ex quis tortor dignissim, quis semper nibh vehicula.</p>
        <blockquote author="Lorem Ipsum">Etiam porttitor nunc eget varius pulvinar. Vivamus nisl risus, ornare et est in, rutrum egestas nisi. Cras vitae porta nisl. Morbi mollis eros dolor, eget convallis mauris condimentum varius. Duis dictum ipsum sit amet nunc vulputate, vitae porta sem ultricies.</blockquote>
        <p>Quisque eget efficitur quam, sit amet tempor erat. Cras auctor, velit a faucibus fringilla, nisi massa dictum quam, volutpat varius turpis leo nec turpis. Curabitur a velit et dui suscipit pellentesque. Etiam et mattis nulla.</p>
        <br />
        <p>Vivamus lorem enim, sollicitudin ut euismod id, efficitur mollis dolor. Donec ipsum tortor, molestie id viverra sit amet, suscipit vel nunc. Curabitur commodo lobortis erat.</p>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;h3&gt;Example Text&lt;/h3&gt;

&lt;p&gt;...&lt;/p&gt;

&lt;blockquote author="Lorem Ipsum"&gt;Etiam porttitor nunc eget varius pulvinar. Vivamus nisl risus, ornare et est in, rutrum egestas nisi. Cras vitae porta nisl. Morbi mollis eros dolor, eget convallis mauris condimentum varius. Duis dictum ipsum sit amet nunc vulputate, vitae porta sem ultricies.&lt;/blockquote&gt;

&lt;p&gt;...&lt;/p&gt;

&lt;br /&gt;

&lt;p&gt;...&lt;/p&gt;</code></pre>
        </div>
    </div>
</div>
