<div class="row">
    <div class="col xs-12">
        <h1 class="header">Colors</h1>
        <h5 class="subheader thin no-margin">Blockquotes come in all of <a href="./colors.html">boba's colors</a>.</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <blockquote class="red" author="Red Ipsum">Etiam porttitor nunc eget varius pulvinar. Vivamus nisl risus, ornare et est in, rutrum egestas nisi. Cras vitae porta nisl.</blockquote>
        <blockquote class="green" author="Green Ipsum">Etiam porttitor nunc eget varius pulvinar. Vivamus nisl risus, ornare et est in, rutrum egestas nisi. Cras vitae porta nisl.</blockquote>
        <blockquote class="blue" author="Blue Ipsum">Etiam porttitor nunc eget varius pulvinar. Vivamus nisl risus, ornare et est in, rutrum egestas nisi. Cras vitae porta nisl.</blockquote>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;blockquote class="red" author="Red Ipsum"&gt;Etiam porttitor nunc eget varius pulvinar. Vivamus nisl risus, ornare et est in, rutrum egestas nisi. Cras vitae porta nisl.&lt;/blockquote&gt;
            
&lt;blockquote class="green" author="Green Ipsum"&gt;Etiam porttitor nunc eget varius pulvinar. Vivamus nisl risus, ornare et est in, rutrum egestas nisi. Cras vitae porta nisl.&lt;/blockquote&gt;

&lt;blockquote class="blue" author="Blue Ipsum"&gt;Etiam porttitor nunc eget varius pulvinar. Vivamus nisl risus, ornare et est in, rutrum egestas nisi. Cras vitae porta nisl.&lt;/blockquote&gt;</code></pre>
        </div>
    </div>
</div>