<div class="row">
    <div class="col xs-12">
        <h1 class="header">Colors</h1>
        <h5 class="subheader thin no-margin">Blockquotes come in all of <a href="./colors.html">boba's colors</a>.</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <blockquote class="red">
            <p>
                Etiam porttitor nunc eget varius pulvinar. Vivamus nisl risus, ornare et est in, rutrum egestas nisi. Cras vitae porta nisl.
            </p>
            <footer class="blockquote-footer">Red Ipsum from <cite>boba's color palette</cite></footer>
        </blockquote>
        <blockquote class="green" a>
            <p>
                Etiam porttitor nunc eget varius pulvinar. Vivamus nisl risus, ornare et est in, rutrum egestas nisi. Cras vitae porta nisl.
            </p>
            <footer class="blockquote-footer">Green Ipsum from <cite>boba's color palette</cite></footer>
        </blockquote>
        <blockquote class="blue" >
            <p>
                Etiam porttitor nunc eget varius pulvinar. Vivamus nisl risus, ornare et est in, rutrum egestas nisi. Cras vitae porta nisl.
            </p>
            <footer class="blockquote-footer">Blue Ipsum from <cite>boba's color palette</cite></footer>
        </blockquote>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;blockquote&gt;
    &lt;p&gt;
        Etiam porttitor nunc eget varius pulvinar. Vivamus nisl risus, ornare et est in, rutrum egestas nisi. Cras vitae porta nisl.
    &lt;/p&gt;
    &lt;footer class="blockquote-footer"&gt;Red Ipsum from &lt;cite&gt;boba's color palette&lt;/cite&gt;&lt;/footer&gt;
&lt;/blockquote&gt;

&lt;blockquote&gt;
    &lt;p&gt;
        Etiam porttitor nunc eget varius pulvinar. Vivamus nisl risus, ornare et est in, rutrum egestas nisi. Cras vitae porta nisl.
    &lt;/p&gt;
    &lt;footer class="blockquote-footer"&gt;Green Ipsum from &lt;cite&gt;boba's color palette&lt;/cite&gt;&lt;/footer&gt;
&lt;/blockquote&gt;

&lt;blockquote&gt;
    &lt;p&gt;
        Etiam porttitor nunc eget varius pulvinar. Vivamus nisl risus, ornare et est in, rutrum egestas nisi. Cras vitae porta nisl.
    &lt;/p&gt;
    &lt;footer class="blockquote-footer"&gt;Blue Ipsum from &lt;cite&gt;boba's color palette&lt;/cite&gt;&lt;/footer&gt;
&lt;/blockquote&gt;</code></pre>
        </div>
    </div>
</div>