<div class="row">
    <div class="col xs-12">
        <h4 class="header">Rounded</h4>
        <h6 class="subheader thin no-margin">Inputs can be pill-shaped.</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <form class="form-control" action="#" method="post">
            <div>
                <label class="" for="email">Default</label>
                <input class="rounded" type="email" name="" value="" placeholder="example@email.com">
            </div>
            <br />
            <div>
                <label class="text-red" for="email">Red</label>
                <input class="rounded red" type="email" name="" value="" placeholder="example@email.com">
            </div>
            <br />
            <div>
                <label class="text-green" for="email">Green</label>
                <input class="rounded green" type="email" name="" value="" placeholder="example@email.com">
            </div>
        </form>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;form class="form-control" action="#" method="post"&gt;
    &lt;label class="text-green" for="email"&gt; Green &lt;/label&gt;
    &lt;input class="rounded green" type="email" name="" value="" placeholder="example@email.com"&gt;
&lt;/form&gt;</code></pre>
        </div>
    </div>
</div>