@import 'constants';

@mixin tabs-base {
    user-select: none;
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

@mixin tabs-colors {
    @each $colorName, $color in $color-list {
        &.#{$colorName} {
            li {
                a {
                    &:hover {
                        border-bottom-color: $color;
                    }
                }
                &.active {
                    a {
                        border-bottom-color: $color;
                        color: $color;
                        &:hover {
                            background-color: $color;
                            color: $color-white;
                        }
                    }
                }
                &:hover {
                    background-color: $color;
                }
            }
            &.boxed {
                li {
                    &.active {
                        a {
                            color: $color;
                            border-color: $color;

                            &:hover {
                                color: $color-white;
                            }
                        }
                    }
                }
            }
        }
    }
}
