<div class="row">
    <div class="col xs-12">
        <h4 class="header">Active</h4>
        <h6 class="subheader thin no-margin">For an even more subtle effect, use the active classes to change the background color of your element only when someone someone clicks on it.</h6>
    </div>
    <div class="col xs-12 col-middle">
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="{{ (global_color_list_core | length) + (global_color_list_base | length) + 2 }}"><span class="bold">Active</span</td>
                </tr>
                <tr>
                    <td colspan="3">To change the background color when clicked, add a <code class="inline">.bg-active-{COLOR}</code> class.</td>
                </tr>
                {% for color in global_color_list_core %}
                <tr>
                    <td><code class="inline">.bg-active-{{ color }}</code></td>
                    <td>Add this class to make the background of an element {{ color }} when clicked.</td>
                    <td class="bg-active-{{ color }} text-active-white"><span>My background is {{ color }} when clicked!</span></td>
                </tr>
                {% endfor %}
                {% for color in global_color_list_base %}
                <tr>
                    <td><code class="inline">.bg-hover-{{ color }}</code></td>
                    <td>Add this class to make the background of an element {{ color }} when clicked.</td>
                    <td class="bg-active-{{ color }} {{ "text-active-white" if (color == "dark") or (color == "black") }}
                    {{ "bg-dark lighten-bg-2 text-white text-active-dark" if (color == "white") }}"><span>My background is {{ color }} when clicked!</span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
