<div class="row">
    <div class="col xs-12">
        <h4 class="header">Combinations</h4>
        <h6 class="subheader thin no-margin">Combine the various background helper classes to create the perfect element coloring.</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="bg-red bg-hover-green bg-active-blue text-white display-flex justify-content-center align-items-middle bold" style="height: 50px;">Red, Hover-Green, Active-Blue</div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt;div class="bg-red bg-hover-green bg-active-blue"&gt; Red, Hover-Green, Active-Blue &lt;/div&gt;</code></pre>
        </div>
    </div>
</div>