<div class="row">
    <div class="col xs-12">
        <h4 class="header">Hover</h4>
        <h6 class="subheader thin no-margin">For a more subtle effect, use the hover classes to change the background color of your element only when someone hovers/focuses on it.</h6>
    </div>
    <div class="col xs-12 col-middle">
        <table class="bordered">
            <tbody>
                <tr>
                    <td rowspan="{{ (global_color_list_core | length) + (global_color_list_base | length) + 2 }}"><span class="bold">Hover</span</td>
                </tr>
                <tr>
                    <td colspan="3">To change the background color on hover, add a <code class="inline">.bg-hover-{COLOR}</code> class.</td>
                </tr>
                {% for color in global_color_list_core %}
                <tr>
                    <td><code class="inline">.bg-hover-{{ color }}</code></td>
                    <td>Add this class to make the background of an element {{ color }} on hover.</td>
                    <td class="bg-hover-{{ color }} text-hover-white"><span>My background is {{ color }} on hover!</span></td>
                </tr>
                {% endfor %}
                {% for color in global_color_list_base %}
                <tr>
                    <td><code class="inline">.bg-hover-{{ color }}</code></td>
                    <td>Add this class to make the background of an element {{ color }} on hover.</td>
                    <td class="bg-hover-{{ color }} {{ "text-hover-white" if (color == "dark") or (color == "black") }}
                    {{ "bg-dark lighten-bg-2 text-white text-hover-dark" if (color == "white") }}"><span>My background is {{ color }} on hover!</span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
