<div class="row">
    <div class="col xs-12">
        <h1 class="header">Compatibility</h1>
        <h5 class="subheader thin">Boba was built with modern browsers in mind.</h5>
        <div class="message purple no-margin">
            <div class="message-header">
                <p>Compatibility</p>
            </div>
            <div class="message-body">
                <p>Boba uses autoprefixer to automatically generate browser-specific prefixes needed to support the latest two versions of each browser.</p>
            </div>
        </div> 
    </div>
    <div class="col xs-12 col-middle">
        <div>
            <table class="bordered">
                <tbody>
                    <tr>
                        <td class="bold text-center bg-dark text-white">Browser</td>
                        <td class="bold text-center bg-dark text-white">Supported Versions</td>
                    </tr>
                    <tr>
                        <td class="bold text-center">Internet Explorer</td>
                        <td class="bold text-white text-center bg-orange">10+</td>
                    </tr>
                    <tr>
                        <td class="bold text-center">Edge</td>
                        <td class="bold text-white text-center bg-green">Last 2</td>
                    </tr>
                    <tr>
                        <td class="bold text-center">Mozilla Firefox</td>
                        <td class="bold text-white text-center bg-green">Last 2</td>
                    </tr>
                    <tr>
                        <td class="bold text-center">Google Chrome</td>
                        <td class="bold text-white text-center bg-green">Last 2</td>
                    </tr>
                    <tr>
                        <td class="bold text-center">Safari</td>
                        <td class="bold text-white text-center bg-green">Last 2</td>
                    </tr>
                    <tr>
                        <td class="bold text-center">Opera</td>
                        <td class="bold text-white text-center bg-green">Last 2</td>
                    </tr>
                </tbody>
            </table>
            <p>Although most of boba is compatible with Internet Explorer 10+, some HTML5 / CSS3 features may not be fully supported.</p>
        </div>
    </div>
</div>
