<div class="row">
    <div class="col xs-12">
        <h4 class="header">Combinations</h4>
        <h6 class="subheader thin no-margin">Mix and match the <code class="inline">.narrow</code>, <code class="inline">.striped</code>, <code class="inline">.bordered</code>, <code class="inline">.hoverable</code>, and <code class="inline">.full-width-table</code> classes to create the perfect table.</h6>
    </div>
    <div class="col xs-12 md-6">
        <div class="full-width-table">
            <table class="hoverable narrow striped bordered">
                <caption>Table Caption</caption>
                <thead>
                    <tr>
                        <th>Table Header</th>
                        <th>Table Header</th>
                        <th>Table Header</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Table Row</td>
                        <td>Table Row</td>
                        <td>Table Row</td>
                    </tr>
                    <tr>
                        <td>Table Row</td>
                        <td>Table Row</td>
                        <td>Table Row</td>
                    </tr>
                    <tr>
                        <td>Table Row</td>
                        <td>Table Row</td>
                        <td>Table Row</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Table Footer</td>
                        <td>Table Footer</td>
                        <td>Table Footer</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="col xs-12 md-6">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;div class="full-width-table"&gt;
    &lt;table class="hoverable narrow striped bordered"&gt;
        &lt;caption&gt;Table Caption&lt;/caption&gt;
        &lt;thead&gt;
            &lt;tr&gt;
                &lt;th&gt;Table Header&lt;/th&gt;
                &lt;th&gt;Table Header&lt;/th&gt;
                &lt;th&gt;Table Header&lt;/th&gt;
            &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody&gt;
            &lt;tr&gt;
                &lt;td&gt;Table Row&lt;/td&gt;
                &lt;td&gt;Table Row&lt;/td&gt;
                &lt;td&gt;Table Row&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;Table Row&lt;/td&gt;
                &lt;td&gt;Table Row&lt;/td&gt;
                &lt;td&gt;Table Row&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;Table Row&lt;/td&gt;
                &lt;td&gt;Table Row&lt;/td&gt;
                &lt;td&gt;Table Row&lt;/td&gt;
            &lt;/tr&gt;
        &lt;/tbody&gt;
        &lt;tfoot&gt;
            &lt;tr&gt;
                &lt;td&gt;Table Footer&lt;/td&gt;
                &lt;td&gt;Table Footer&lt;/td&gt;
                &lt;td&gt;Table Footer&lt;/td&gt;
            &lt;/tr&gt;
        &lt;/tfoot&gt;
    &lt;/table&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>