<div class="row">
    <div class="col xs-12">
        <h4 class="header">Narrow</h4>
        <h6 class="subheader thin no-margin">Narrow the cell height using <code class="inline">.narrow</code></h6>
    </div>
    <div class="col xs-12 md-6">
        <table class="narrow">
            <caption>Table Caption</caption>
            <thead>
                <tr>
                    <th>Table Header</th>
                    <th>Table Header</th>
                    <th>Table Header</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Table Row</td>
                    <td>Table Row</td>
                    <td>Table Row</td>
                </tr>
                <tr>
                    <td>Table Row</td>
                    <td>Table Row</td>
                    <td>Table Row</td>
                </tr>
                <tr>
                    <td>Table Row</td>
                    <td>Table Row</td>
                    <td>Table Row</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Table Footer</td>
                    <td>Table Footer</td>
                    <td>Table Footer</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="col xs-12 md-6">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lttable class="narrow"&gt
    &ltcaption&gtTable Caption&lt/caption&gt
    &ltthead&gt
        &lttr&gt
            &ltth&gtTable Header&lt/th&gt
            &ltth&gtTable Header&lt/th&gt
            &ltth&gtTable Header&lt/th&gt
        &lt/tr&gt
    &lt/thead&gt
    &lttbody&gt
        &lttr&gt
            &lttd&gtTable Row&lt/td&gt
            &lttd&gtTable Row&lt/td&gt
            &lttd&gtTable Row&lt/td&gt
        &lt/tr&gt
        &lttr&gt
            &lttd&gtTable Row&lt/td&gt
            &lttd&gtTable Row&lt/td&gt
            &lttd&gtTable Row&lt/td&gt
        &lt/tr&gt
        &lttr&gt
            &lttd&gtTable Row&lt/td&gt
            &lttd&gtTable Row&lt/td&gt
            &lttd&gtTable Row&lt/td&gt
        &lt/tr&gt
    &lt/tbody&gt
    &lttfoot&gt
        &lttr&gt
            &lttd&gtTable Footer&lt/td&gt
            &lttd&gtTable Footer&lt/td&gt
            &lttd&gtTable Footer&lt/td&gt
        &lt/tr&gt
    &lt/tfoot&gt
&lt/table&gt</code></pre>
        </div>
    </div>
</div>