<div class="row">
    <div class="col xs-12">
        <h1 class="header">Column Alignment</h1>
        <h5 class="subheader thin no-margin">Vertically align columns within a row using the <code class="inline">.col-top</code>, <code class="inline">.col-middle</code>, and <code class="inline">.col-bottom</code> classes.</h5>
    </div>
    <div class="col xs-12 col-middle">
        <div class="row" style="height:200px">
            <div class="col col-top xs-4">
                <div class="bg-light text-center vertical-center-content" style="height:50px; border: 1px solid #d3d3d3">
                    .col-top
                </div>
            </div>
            <div class="col col-middle xs-4">
                <div class="bg-light text-center vertical-center-content" style="height:50px; border: 1px solid #d3d3d3">
                    .col-middle
                </div>
            </div>
            <div class="col col-bottom xs-4">
                <div class="bg-light text-center vertical-center-content" style="height:50px; border: 1px solid #d3d3d3">
                    .col-bottom
                </div>
            </div>
        </div>
    </div>
    <div class="col xs-12 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt;div class="row"&gt;
    &lt;div class="col col-top xs-4"&gt;
        &lt;div class="bg-light text-center vertical-center-content"&gt;
            .col-top
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="col col-middle xs-4"&gt;
        &lt;div class="bg-light text-center vertical-center-content"&gt;
            .col-middle
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="col col-bottom xs-4"&gt;
        &lt;div class="bg-light text-center vertical-center-content"&gt;
            .col-bottom
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>