<div class="row">
    <div class="col xs-12">
        <h1 class="header">Gapless Grid</h1>
        <h5 class="subheader thin no-margin">Add the <code class="inline">.gapless</code> class to a <code class="inline">.row</code> to remove the gaps between the columns.</h5>
    </div>
    <div class="col xs-12 col-middle">
        <div class="row">
            <div class="col xs-12">
                <h4 class="header thin">Gaps</h4>
            </div>
        </div>
        <div class="row">
            <div class="col xs-4">
                <div class="bg-red text-center vertical-center-content" style="height:50px">
                    .col .xs-4
                </div>
            </div>
            <div class="col xs-4">
                <div class="bg-green text-center vertical-center-content" style="height:50px">
                    .col .xs-4
                </div>
            </div>
            <div class="col xs-4">
                <div class="bg-blue text-center vertical-center-content" style="height:50px">
                    .col .xs-4
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col xs-12">
                <h4 class="header thin">Gapless</h4>
            </div>
        </div>
        <div class="row gapless">
            <div class="col xs-4">
                <div class="bg-orange text-center vertical-center-content" style="height:50px">
                    .col .xs-4
                </div>
            </div>
            <div class="col xs-4">
                <div class="bg-yellow text-center vertical-center-content" style="height:50px">
                    .col .xs-4
                </div>
            </div>
            <div class="col xs-4">
                <div class="bg-pink text-center vertical-center-content" style="height:50px">
                    .col .xs-4
                </div>
            </div>
        </div>
    </div>
    <div class="col xs-12 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;!-- A standard 3-column, gapless, responsive layout --&gt;
&lt;div class="row gapless"&gt;
    &lt;div class="col xs-12 sm-12 md-6 lg-4 xl-4"&gt;
        &lt;!-- Content here --&gt;
    &lt;/div&gt;
    &lt;div class="col xs-12 sm-12 md-6 lg-4 xl-4"&gt;
        &lt;!-- Content here --&gt;
    &lt;/div&gt;
    &lt;div class="col xs-12 sm-12 md-6 lg-4 xl-4"&gt;
        &lt;!-- Content here --&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>