<div class="row">
    <div class="col xs-12">
        <h1 class="header">Grid</h1>
        <h5 class="subheader thin">Grids provide the foundation you need to organize content.</h5>
        <div class="message blue">
            <div class="message-header">
                <p>Clarification</p>
            </div>
            <div class="message-body">
                <p>Use a <code class="inline">.row</code> element to hold up to 12 <code class="inline">.col</code> elements. Unsized column elements will automatically expand to fill a row.</p>
                <p>Set specific widths from 1-12 using <code class="inline">.[screen-size]-[width]</code> classes. More information on screen-sizes can be found on boba's <a href="./helpers.html" class="text-blue text-hover-green">helper page.</a></p>
            </div>
        </div>
    </div>
    <div class="col xs-12 col-middle">
        <div class="row">
            <div class="col xs-12 sm-12 md-1 lg-1 xl-1">
                <div class="bg-red text-center vertical-center-content" style="height:50px">
                    1
                </div>
            </div>
            <div class="col hide-sm">
                <div class="bg-dark text-white text-center vertical-center-content" style="height:50px">
                    .col
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col xs-12 sm-12 md-2 lg-2 xl-2">
                <div class="bg-orange text-center vertical-center-content" style="height:50px">
                    2
                </div>
            </div>
            <div class="col hide-sm">
                <div class="bg-dark text-white text-center vertical-center-content" style="height:50px">
                    .col
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col xs-12 sm-12 md-3 lg-3 xl-3">
                <div class="bg-yellow text-center vertical-center-content" style="height:50px">
                    3
                </div>
            </div>
            <div class="col hide-sm">
                <div class="bg-dark text-white text-center vertical-center-content" style="height:50px">
                    .col
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col xs-12 sm-12 md-4 lg-4 xl-4">
                <div class="bg-green text-center vertical-center-content" style="height:50px">
                    4
                </div>
            </div>
            <div class="col hide-sm">
                <div class="bg-dark text-white text-center vertical-center-content" style="height:50px">
                    .col
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col xs-12 sm-12 md-5 lg-5 xl-5">
                <div class="bg-teal text-center vertical-center-content" style="height:50px">
                    5
                </div>
            </div>
            <div class="col hide-sm">
                <div class="bg-dark text-white text-center vertical-center-content" style="height:50px">
                    .col
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col xs-12 sm-12 md-6 lg-6 xl-6">
                <div class="bg-blue text-center vertical-center-content" style="height:50px">
                    6
                </div>
            </div>
            <div class="col hide-sm">
                <div class="bg-dark text-white text-center vertical-center-content" style="height:50px">
                    .col
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col xs-12 sm-12 md-7 lg-7 xl-7">
                <div class="bg-indigo text-center vertical-center-content" style="height:50px">
                    7
                </div>
            </div>
            <div class="col hide-sm">
                <div class="bg-dark text-white text-center vertical-center-content" style="height:50px">
                    .col
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col xs-12 sm-12 md-8 lg-8 xl-8">
                <div class="bg-purple text-center vertical-center-content" style="height:50px">
                    8
                </div>
            </div>
            <div class="col hide-sm">
                <div class="bg-dark text-white text-center vertical-center-content" style="height:50px">
                    .col
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col xs-12 sm-12 md-9 lg-9 xl-9">
                <div class="bg-pink text-center vertical-center-content" style="height:50px;">
                    9
                </div>
            </div>
            <div class="col hide-sm">
                <div class="bg-dark text-white text-center vertical-center-content" style="height:50px">
                    .col
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col xs-12 sm-12 md-10 lg-10 xl-10">
                <div class="bg-white text-center vertical-center-content" style="height:50px; border: 1px solid #a9a9a9; box-sizing: border-box;">
                    10
                </div>
            </div>
            <div class="col hide-sm">
                <div class="bg-dark text-white text-center vertical-center-content" style="height:50px">
                    .col
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col xs-12 sm-12 md-11 lg-11 xl-11">
                <div class="bg-light text-center vertical-center-content" style="height:50px; border: 1px solid #d3d3d3; box-sizing: border-box;">
                    11
                </div>
            </div>
            <div class="col hide-sm">
                <div class="bg-dark text-white text-center vertical-center-content" style="height:50px">
                    .col
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col xs-12 sm-12 md-12 lg-12 xl-12">
                <div class="bg-black text-white text-center vertical-center-content" style="height:50px">
                    12
                </div>
            </div>
        </div>
    </div>
    <div class="col xs-12 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt;!-- A standard 3-column, responsive layout --&gt;
&lt;div class="row"&gt;
    &lt;div class="col xs-12 sm-12 md-6 lg-4 xl-4"&gt;
        &lt;!-- Content here --&gt;
    &lt;/div&gt;
    &lt;div class="col xs-12 sm-12 md-6 lg-4 xl-4"&gt;
        &lt;!-- Content here --&gt;
    &lt;/div&gt;
    &lt;div class="col xs-12 sm-12 md-6 lg-4 xl-4"&gt;
        &lt;!-- Content here --&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>