<div class="row">
    <div class="col xs-12">
        <h1 class="header">Row Justification</h1>
        <h5 class="subheader thin no-margin">Quickly set the horizontal alignment of all columns within a row</h5>
    </div>
</div>

<hr class="light" />
{% include "templates/docs/grid/row_justification/row_justify_left.njk" %}

<hr class="light" />
{% include "templates/docs/grid/row_justification/row_justify_center.njk" %}

<hr class="light" />
{% include "templates/docs/grid/row_justification/row_justify_right.njk" %}

<hr class="light" />
{% include "templates/docs/grid/row_justification/row_justify_stretch.njk" %}

<hr class="light" />
{% include "templates/docs/grid/row_justification/row_justify_space_around.njk" %}

<hr class="light" />
{% include "templates/docs/grid/row_justification/row_justify_space_between.njk" %}

<hr class="light" />
{% include "templates/docs/grid/row_justification/row_justify_space_evenly.njk" %}

    