<div class="row">
    <div class="col xs-12">
        <h1 class="header">Row Direction</h1>
        <h5 class="subheader thin no-margin">Quickly change the order and direction of columns in a row</h5>
    </div>
</div>

<hr class="light" />
{% include "templates/docs/grid/row_direction/row_direction_row.njk" %}

<hr class="light" />
{% include "templates/docs/grid/row_direction/row_direction_row_reverse.njk" %}

<hr class="light" />
{% include "templates/docs/grid/row_direction/row_direction_column.njk" %}

<hr class="light" />
{% include "templates/docs/grid/row_direction/row_direction_column_reverse.njk" %}

    