<div class="row">
    <div class="col xs-12">
        <h1 class="header">Row Alignment</h1>
        <h5 class="subheader thin no-margin">Quickly set the vertical alignment of all columns within a row</h5>
    </div>
</div>

<hr class="light" />
{% include "templates/docs/grid/row_alignment/row_align_top.njk" %}

<hr class="light" />
{% include "templates/docs/grid/row_alignment/row_align_center.njk" %}

<hr class="light" />
{% include "templates/docs/grid/row_alignment/row_align_bottom.njk" %}

<hr class="light" />
{% include "templates/docs/grid/row_alignment/row_align_stretch.njk" %}

<hr class="light" />
{% include "templates/docs/grid/row_alignment/row_align_space_around.njk" %}

<hr class="light" />
{% include "templates/docs/grid/row_alignment/row_align_space_between.njk" %}

<hr class="light" />
{% include "templates/docs/grid/row_alignment/row_align_space_evenly.njk" %}

    