<div class="row">
    <div class="col xs-12">
        <h1 class="header">Vertical Center Content</h1>
        <h5 class="subheader thin no-margin">Easily vertically center content within a column using the <code class="inline">.vertical-center-content</code> class.</h5>
    </div>
    <div class="col xs-12 col-middle">
        <div class="row">
            <div class="col xs-4">
                <div class="bg-red text-center vertical-center-content" style="height:100px">
                    .col .xs-4
                </div>
            </div>
            <div class="col xs-4">
                <div class="bg-green text-center vertical-center-content" style="height:200px">
                    .col .xs-4
                </div>
            </div>
            <div class="col xs-4">
                <div class="bg-blue text-center vertical-center-content" style="height:150px">
                    .col .xs-4
                </div>
            </div>
        </div>
    </div>
    <div class="col xs-12 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;div class="row"&gt;
    &lt;div class="col xs-12"&gt;
        &lt;div class="bg-green text-center vertical-center-content"&gt;
            .col .xs-12
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>