<div class="row">
    <div class="col xs-12">
        <h4 class="header">Main Content</h4>
        <h6 class="subheader thin ">The <code class="inline">sb-main-content</code> container is offset perfectly so that your main content leaves space for the sidebar.</h6>                         
    </div>
    <div class="col xs-12">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;!-- Add your main page content in this section --&gt;
&lt;div class="sb-main-content"&gt;    
    &lt;!-- This is how we format our main content --&gt;
    &lt;div class="section"&gt;
        &lt;div class="container"&gt;
            &lt;!-- Your content goes here --&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>