<div class="row">
    <div class="col xs-12">
        <h4 class="header">Scroll Region</h4>
        <h6 class="subheader thin ">Use the <code class="inline">sb-side-scroll-region</code> container to stick content to the top of the sidebar.</h6> 
        <div class="message blue">
            <div class="message-header">
                <p>Clarification</p>
            </div>
            <div class="message-body">
                <p>This section must be used within the <code class="inline">sb-side-navbar</code> section of the sidebar.</p>
                <p>When the sidebar content exceeds the page height, content within this region will be scrollable.</p>
            </div>
        </div>                         
    </div>
    <div class="col xs-12">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt;!-- Content in this section will be scrollable when the sidebar gets long enough --&gt; 
&lt;div class="sb-side-scroll-region"&gt;
    &lt;!-- A basic menu using accordions --&gt; 
    &lt;div class="accordion-menu"&gt;
        &lt;input type="checkbox" id="overview" name="accordion-checkbox"/&gt;
        &lt;label class="accordion-header" for="overview"&gt;
            Menu Header
        &lt;/label&gt;
        &lt;div class="accordion-body"&gt;
            &lt;ul class="accordion-submenu"&gt;
                &lt;li&gt;&lt;a href="#"&gt;Menu Item 1&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="#"&gt;Menu Item 2&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="#"&gt;Menu Item 3&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>