<div class="row">
    <div class="col xs-12">
        <h4 class="header">Sticky Region</h4>
        <h6 class="subheader thin ">Use the <code class="inline">sb-side-sticky-region</code> container to stick content to the top of the sidebar.</h6> 
        <div class="message blue">
            <div class="message-header">
                <p>Clarification</p>
            </div>
            <div class="message-body">
                <p>This section must be used within the <code class="inline">sb-side-navbar</code> section of the sidebar.</p>
                <p>When the sidebar content exceeds the page height, content within this region will stay fixed to the top of the sidebar.</p>
            </div>
        </div>                         
    </div>
    <div class="col xs-12">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt!-- Content in this section will stay fixed to the top of the sidebar --&gt 
&ltdiv class="sb-side-sticky-region"&gt
    &lt!-- For example, add your logo here --&gt 
    &lta href="#"&gtYour Logo Here&lt/a&gt
&lt/div&gt</code></pre>
        </div>
    </div>
</div>