<div class="row">
    <div class="col xs-12">
        <h4 class="header">Inverted</h4>
        <h6 class="subheader thin no-margin">The color of your button will appear on hover or click</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div>
            <button class="inverted">Default</button>
            <br />
            <button class="red inverted">Red</button>
            <button class="orange inverted">Orange</button>
            <button class="yellow inverted">Yellow</button>
            <button class="green inverted">Green</button>
            <button class="teal inverted">Teal</button>
            <button class="blue inverted">Blue</button>
            <button class="indigo inverted">Indigo</button>
            <button class="purple inverted">Purple</button>
            <button class="pink inverted">Pink</button>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltbutton class="green inverted"&gt Green &lt/button&gt</code></pre>
        </div>
    </div>
</div>