<div class="row">
    <div class="col xs-12">
        <h4 class="header">Outlined</h4>
        <h6 class="subheader thin no-margin">Progress bars become colored outlines when using the <code class="inline">.outlined</code> class.</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="progress">
            <div class="progress-bar outlined" style="width:50%">Outlined</div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;div class="progress"&gt;
    &lt;div class="progress-bar outlined" style="width:50%"&gt;Outlined&lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>