<div class="row">
    <div class="col xs-12">
        <h4 class="header">Striped</h4>
        <h6 class="subheader thin no-margin">Add a striped pattern to your progress bars using the <code class="inline">.striped</code> class.</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="progress">
            <div class="progress-bar striped" style="width:50%">Striped</div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;div class="progress"&gt;
    &lt;div class="progress-bar striped" style="width:50%"&gt;Striped&lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>