<div class="row">
    <div class="col xs-12">
        <h1 class="header">Containers</h1>
        <h5 class="subheader thin">Responsive containers to horizontally center your content.</h5>
        <div class="message blue m-0">
            <div class="message-header">
                <p>Clarification</p>
            </div>
            <div class="message-body">
                <p>Containers are used to wrap related blocks of content and horizontally center the content group within its parent.</p>
                <p>To ensure high readability on large displays, containers limit the max-width of its content to <code class="inline">1280px</code>.</p>
                <p>Use <a href="./sections.html">sections</a> to group related containers.</p>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="section bg-purple">
            <h3 class="text-white">Section 1</h3>
            <div class="container bg-purple lighten-bg-1 p-2">
                <h5 class="no-margin">Container 1</h5>
            </div>
            <div class="container bg-purple lighten-bg-2 p-2">
                <h5 class="no-margin">Container 2</h5>
            </div>
            <div class="container bg-purple lighten-bg-3 p-2">
                <h5 class="no-margin">Container 3</h5>
            </div>
        </div>
        <div class="section bg-orange">
            <h3 class="text-white">Section 2</h3>
            <div class="container bg-orange lighten-bg-1 p-2">
                <h5 class="no-margin">Container 4</h5>
            </div>
            <div class="container bg-orange lighten-bg-2 p-2">
                <h5 class="no-margin">Container 5</h5>
            </div>
            <div class="container bg-orange lighten-bg-3 p-2">
                <h5 class="no-margin">Container 6</h5>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;div class="section"&gt;
    &lt;div class="container"&gt;
        &lt;!-- Content here --&gt;
    &lt;/div&gt;

    &lt;div class="container"&gt;
        &lt;!-- Content here --&gt;
    &lt;/div&gt;

    &lt;div class="container"&gt;
        &lt;!-- Content here --&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>
