<div class="row">
    <div class="col xs-12">
        <h1 class="header">Containers</h1>
        <h5 class="subheader thin no-margin">Responsive containers to horizontally center your content.</h5>
    </div>
</div>
