{% extends "templates/layout.njk" %}
{% set page_title ="About" %}

{% block main %}
<div class="banner fullscreen bg-orange darken-bg-1">
    <div class="banner-body text-center">
        <div class="container">
            <h1 class="header text-white">Who are we?</h1>
            <h3 class="subheader thin text-white">Boba enthusiasts.</h3>
            <h5 class="thin text-white"><a href="https://github.com/iFallUpHill/boba" class="text-white text-hover-yellow lighten-text-hover-2" target="_blank">View on Github.</a></h5>
        </div>
    </div>
    <div class="banner-footer text-center">
        <h5 class="text-white">Built with ♥ in California by Jason and Andrew.</h5>
    </div>
</div>
{% endblock %}