{% extends "templates/layout.njk" %}
{% set page_title ="Download" %}

{% block main %}
<div class="banner large bg-purple">
    <div class="banner-body text-center">
        <div class="container">
            <h1 class="header text-white">Download?</h1>
            <h3 class="subheader thin text-white">Soon.</h3>
            <h5 class="thin text-white"><a href="https://github.com/iFallUpHill/boba" class="text-white text-hover-yellow lighten-text-hover-2" target="_blank">View on Github</a></h5>
        </div>
    </div>
</div>
<div class="banner large bg-indigo">
    <div class="banner-body text-center">
        <div class="container">
            <h1 class="header text-white">When?</h1>
            <h3 class="subheader thin text-white">Almost.</h3>
            <h5 class="thin text-white"><a href="https://github.com/iFallUpHill/boba" class="text-white text-hover-yellow lighten-text-hover-2" target="_blank">View on Github</a></h5>
        </div>
    </div>
</div>
<div class="banner large bg-blue">
    <div class="banner-body text-center">
        <div class="container">
            <h1 class="header text-white">Please?</h1>
            <h3 class="subheader thin text-white">Sit tight.</h3>
            <h5 class="thin text-white"><a href="https://github.com/iFallUpHill/boba" class="text-white text-hover-yellow lighten-text-hover-2" target="_blank">View on Github</a></h5>
        </div>
    </div>
</div>
{% endblock %}