{% extends "templates/layout.njk" %}
{% set page_title ="boba" %}

{% block main %}
<div class="banner large bg-red">
    <div class="banner-body text-center">
        <div class="container">
            <h1 class="header text-white">Welcome to boba!</h1>
            <h3 class="subheader thin text-white">The bubbliest CSS framework.</h3>
            <h5 class="thin text-white"><a href="https://github.com/iFallUpHill/boba" class="text-white text-hover-yellow lighten-text-hover-2" target="_blank">View on Github</a></h5>
        </div>
    </div>
</div>
<div class="banner large bg-green">
    <div class="banner-body text-center">
        <div class="container">
            <h1 class="header text-white">About boba!</h1>
            <h3 class="subheader thin text-white">Coming Soon!</h3>
            <h5 class="thin text-white"><a href="https://github.com/iFallUpHill/boba" class="text-white text-hover-yellow lighten-text-hover-2" target="_blank">View on Github</a></h5>
        </div>
    </div>
</div>
<div class="banner large bg-blue">
    <div class="banner-body text-center">
        <div class="container">
            <h1 class="header text-white">Who are we?</h1>
            <h3 class="subheader thin text-white">Boba enthusiats.</h3>
            <h5 class="thin text-white"><a href="https://github.com/iFallUpHill/boba" class="text-white text-hover-yellow lighten-text-hover-2" target="_blank">View on Github</a></h5>
        </div>
    </div>
</div>
{% endblock %}