// ------------------------------------------------- //
// --------------------  FLAGS  -------------------- //
// ------------------------------------------------- //

/* Note that none of these flags affect boba-core */

// Enable default color scheme 
$include-color-palette: true;

// Enable bg-{color}, text-{color}, and border-{color} helpers
// Requires color-palette
$include-color-helpers: true;

// Enable lighten/darken modifiers on color-helpers
// Requires color-palette and color-helpers
$include-color-shades: true;

// ------------------------------------------------- //
// ---------------------  END  --------------------- //
// ------------------------------------------------- //

// Core Imports
@import 'vendor/fonts';
@import 'vendor/normalize';
@import 'helpers/reset';

// Global Constants
@import 'helpers/constants';

// Alignment
@import 'helpers/alignment';

// Palette
@import 'helpers/colors';

// Typography
@import 'helpers/typography';

// Animations
@import 'helpers/animate';

// Grid Framework
@import 'components/grid/base';
// Navbar
@import 'components/nav/base';
// Messages
@import 'components/messages/base';
// Cards
@import 'components/card/base';
// Buttons
@import 'components/buttons/base';
// Forms
@import 'components/forms/base';
// Code
@import 'components/code/base';
