<div class="row">
    <div class="col xs-12">
        <h1 class="header">Sizes</h1>
        <h5 class="subheader thin no-margin">Tabs can be resized.</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="tabs small">
            <ul>
                <li class="active"><a>Small</a></li>
                <li><a>Tab 2</a></li>
                <li><a>Tab 3</a></li>
                <li><a>Tab 4</a></li>
            </ul>
        </div>
        <div class="tabs">
            <ul>
                <li class="active"><a>Default</a></li>
                <li><a>Tab 2</a></li>
                <li><a>Tab 3</a></li>
                <li><a>Tab 4</a></li>
            </ul>
        </div>
        <div class="tabs medium">
            <ul>
                <li class="active"><a>Medium</a></li>
                <li><a>Tab 2</a></li>
                <li><a>Tab 3</a></li>
                <li><a>Tab 4</a></li>
            </ul>
        </div>
        <div class="tabs large">
            <ul>
                <li class="active"><a>Large</a></li>
                <li><a>Tab 2</a></li>
                <li><a>Tab 3</a></li>
                <li><a>Tab 4</a></li>
            </ul>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;div class="tabs large"&gt;
    &lt;ul&gt;
        &lt;li class="active"&gt;&lt;a&gt;Large&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a&gt;Tab 2&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a&gt;Tab 3&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a&gt;Tab 4&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>