<div class="row">
    <div class="col xs-12">
        <h1 class="header">Tabs</h1>
        <h5 class="subheader thin no-margin">Tabs come in all colors</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="tabs">
            <ul>
                <li class="active"><a>Default</a></li>
                <li><a>Tab 2</a></li>
                <li><a>Tab 3</a></li>
                <li><a>Tab 4</a></li>
            </ul>
        </div>
        {% for color in global_color_list_core %}
        <div class="tabs {{ color }}">
            <ul>
                <li class="active"><a>{{ color | capitalize }}</a></li>
                <li><a>Tab 2</a></li>
                <li><a>Tab 3</a></li>
                <li><a>Tab 4</a></li>
            </ul>
        </div>
        {% endfor %}
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltdiv class="tabs green"&gt
    &ltul&gt
        &ltli class="active"&gt&lta&gtGreen&lt/a&gt&lt/li&gt
        &ltli&gt&lta&gtTab 2&lt/a&gt&lt/li&gt
        &ltli&gt&lta&gtTab 3&lt/a&gt&lt/li&gt
        &ltli&gt&lta&gtTab 4&lt/a&gt&lt/li&gt
    &lt/ul&gt
&lt/div&gt</code></pre>
        </div>
    </div>
</div>