@import 'styling';
@import 'helpers';

.cup {
	max-width: $desktop;
    width: 100%;
	margin: 0 auto;
}
.straw {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 1em;
    margin: -1em 0 0 -1em;

    .pearl {
        @include pearl-base;
    }

    /* Gutters */
    &.pearl-gapless {
        margin: 0;

        .pearl {
            padding: 0;
        }
    }
}

@each $suffix, $measurement in $resolution-dict {
	@include default-pearl-behavior(#{$suffix}, #{$measurement});
}
