@import 'styling';
@import 'helpers';

.container {
	max-width: $desktop;
    width: 100%;
	margin: 0 auto;
}
.row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 1em;
    margin: -1em 0 0 -1em;

    .col {
        @include col-base;
    }

    /* Gutters */
    &.gapless {
        margin: 0;

        .col {
            padding: 0;
        }
    }
}

@each $suffix, $measurement in $resolution-dict {
	@include default-col-behavior(#{$suffix}, #{$measurement});
}
