@import '../../helpers/constants';
@import 'helpers/gridConstants';

.cup {
	max-width: $desktop;
  width: 100%;
	margin: 0 auto;
}
.straw {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 1em;

  .boba {
    @include boba-base;

    @each $suffix in $resolution-suffixes {
      &.three-quarters-#{$suffix}, &.two-thirds-#{$suffix}, &.half-#{$suffix},&.one-third-#{$suffix}, &.one-quarter-#{$suffix} {
        flex: 0 0 100%;
      }
    }

  }

  /* Gutters */
  &.boba-gaps {
    margin: -1em 0 0 -1em;
    
    .boba {
      padding: 1em 0 0 1em;
    }
  }
}
