/* Alignment of 'straws' */
.straw-top {
	align-items: flex-start;
}
.straw-bottom {
	align-items: flex-end;
}
.straw-center {
	align-items: center;
}
.straw-justifyCenter {
	justify-content: center;
}
.straw-spaceAround {
	justify-content: space-around;
}

/* Alignment of 'pearl' */
.pearl-float {
	align-self: flex-start;
}

.pearl-tread {
	align-self: center;
}

.pearl-sink {
	align-self: flex-end;
}

