/* Alignment of 'row' */
.row-align-top {
	align-items: flex-start;
}
.row-align-bottom {
	align-items: flex-end;
}
.row-align-center {
	align-items: center;
}
.row-align-stretch {
	align-items: stretch;
}
.row-align-space-between {
	align-content: space-between;
}
.row-align-space-around {
	align-content: space-around;
}
.row-align-space-evenly {
	align-content: space-evenly;
}

.row-justify-left {
	justify-content: flex-start;
}
.row-justify-right {
	justify-content: flex-end;
}
.row-justify-center {
	justify-content: center;
}
.row-justify-stretch {
	justify-content: stretch;
}
.row-justify-space-between {
	justify-content: space-between;
}
.row-justify-space-around {
	justify-content: space-around;
}
.row-justify-space-evenly {
	justify-content: space-evenly;
}

.row {
	&.row-direction-row {
		flex-direction: row;
	}
	&.row-direction-row-reverse {
		flex-direction: row-reverse;
	}
	&.row-direction-column {
		flex-direction: column;
	}
	&.row-direction-column-reverse {
		flex-direction: column-reverse;
	}
}

/* Alignment of 'col' */
.col-top {
	align-self: flex-start;
}

.col-middle {
	align-self: center;
}

.col-bottom {
	align-self: flex-end;
}

/* Alignment of content inside a column */
.vertical-center-content {
	display: flex;
	justify-content: center;
	flex-direction: column;
}