<div class="row">
    <div class="col xs-12">
        <h4 class="header">Ordered List</h4>
        <h6 class="subheader thin no-margin">For sequential lists</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
		<ol>
			<li>Option 1</li>
			<li>Option 2</li>
			<ol>
				<li>Option A</li>
				<li>Option B</li>
				<li>Option C</li>
			</ol>
			<li>Option 3</li>
		</ol>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltol&gt
    &ltli&gtOption 1&lt/li&gt
    &ltli&gtOption 2&lt/li&gt
    &ltol&gt
        &ltli&gtOption 4&lt/li&gt
        &ltli&gtOption 5&lt/li&gt
        &ltli&gtOption 6&lt/li&gt
    &lt/ol&gt
    &ltli&gtOption 3&lt/li&gt
&lt/ol&gt</code></pre>
        </div>
    </div>
</div>
