<div class="row">
    <div class="col xs-12">
        <h4 class="header">Ordered List</h4>
        <h6 class="subheader thin no-margin">For sequential lists</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
		<ol>
			<li>Option 1</li>
			<li>Option 2</li>
			<ol>
				<li>Option A</li>
				<li>Option B</li>
				<li>Option C</li>
			</ol>
			<li>Option 3</li>
		</ol>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt;ol&gt;
    &lt;li&gt;Option 1&lt;/li&gt;
    &lt;li&gt;Option 2&lt;/li&gt;
    &lt;ol&gt;
        &lt;li&gt;Option 4&lt;/li&gt;
        &lt;li&gt;Option 5&lt;/li&gt;
        &lt;li&gt;Option 6&lt;/li&gt;
    &lt;/ol&gt;
    &lt;li&gt;Option 3&lt;/li&gt;
&lt;/ol&gt;</code></pre>
        </div>
    </div>
</div>
