<div class="w-100 p-2 border-box bg-dark display-flex align-content-center text-center">
	<div class="container">
	    <div class="row">
	    	<div class="col">
	    		<h6 class="thin text-white no-margin">Brewed with ♥ in California by <a href="https://github.com/iFallUpHill/" class="text-white text-hover-white text-active-white" target="_blank">Jason</a> and <a href="https://github.com/andrewjungg/" class="text-white text-hover-white text-active-white" target="_blank">Andrew</a>.</h6>
	    	</div>
	    </div>
	</div>
</div>