<div class="w-100 p-2 border-box bg-dark display-flex align-content-center text-center">
	<div class="container">
	    <div class="row">
	    	<div class="col">
	    		<h6 class="thin text-white no-margin">Brewed with ♥ in California by Jason and Andrew.</h6>
	    	</div>
	    </div>
	</div>
</div>