<div class="banner small bg-dark">
    <div class="banner-body text-center">
        <div class="container">
            <h5 class="thin text-white">Built with ♥ in California by Jason and Andrew.</h5>
        </div>
    </div>
</div>