<nav class="navbar sticky">
    <a href="/" class="logo">boba</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="right-menu">
        <li>
            <a href="/docs/"><span>Docs</span></a>
        </li>
        <li>
            <a href="/about.html"><span>About</span></a>
        </li>
        <li>
            <a href="/download.html"><span>Download</span></a>
        </li>
    </ul>
</nav>