<nav class="navbar fixed">
    <a href="/" class="navbar-brand">boba</a>
    <input class="navbar-menu-target" type="checkbox" id="navbar-menu-target" />
    <label class="navbar-menu-toggle" for="navbar-menu-target"><span class="navbar-icon"></span></label>
    <ul class="navbar-menu-items menu-items-right">
        <li>
            <a class="bold" href="/docs/">Documentation</a>
        </li>
        <li>
            <a class="bold" href="/docs/installation.html">Download</a>
        </li>
    </ul>
</nav>