<div class="row">
    <div class="col xs-12">
        <h4 class="header">Bordered</h4>
        <h6 class="subheader thin no-margin">Add a border around each pagination option using the <code class="inline">.bordered</code> class.</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="pagination bordered">
            <a class="cursor-pointer">&laquo;</a>
            <a class="cursor-pointer">1</a>
            <a class="cursor-pointer active">2</a>
            <a class="cursor-pointer">3</a>
            <a class="cursor-pointer">&raquo;</a>
        </div>
        {% for color in global_color_list_core %}
        <div class="pagination bordered {{ color }}">
            <a class="cursor-pointer">&laquo;</a>
            <a class="cursor-pointer">1</a>
            <a class="cursor-pointer active">2</a>
            <a class="cursor-pointer">3</a>
            <a class="cursor-pointer">&raquo;</a>
        </div>
        {% endfor %}
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;div class="pagination rounded green"&gt;
    &lt;a href="#"&gt; &laquo; &lt;/a&gt;
    &lt;a href="#"&gt; 1 &lt;/a&gt;
    &lt;a href="#" class="active"&gt; 2 &lt;/a&gt;
    &lt;a href="#"&gt; 3 &lt;/a&gt;
    &lt;a href="#"&gt; &raquo; &lt;/a&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>
