<div class="row">
    <div class="col xs-12">
        <h4 class="header">Bordered</h4>
        <h6 class="subheader thin no-margin">Pagination can have a bordered look</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="pagination bordered">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
        {% for color in global_color_list_core %}
        <div class="pagination bordered {{ color }}">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
        {% endfor %}
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;div class="pagination rounded green"&gt;
    &lt;a href="#"&gt; &laquo; &lt;/a&gt;
    &lt;a href="#"&gt; 1 &lt;/a&gt;
    &lt;a class="active" href="#"&gt; 2 &lt;/a&gt;
    &lt;a href="#"&gt; 3 &lt;/a&gt;
    &lt;a href="#"&gt; &raquo; &lt;/a&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>
