<div class="row">
    <div class="col xs-12">
        <h4 class="header">Combinations</h4>
        <h6 class="subheader thin no-margin">Mix and match <code class="inline">.rounded</code>, <code class="inline">.inverted</code>, and <code class="inline">.bordered</code> to create the perfect pagination</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div>
            <span>Rounded, Bordered, Default Pagination</span>
        </div>
        <br />
        <div class="pagination rounded bordered">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
        <br />
        <div>
            <span class="text-red">Inverted, Bordered, Red Pagination</span>
        </div>
        <br />
        <div class="pagination inverted bordered red">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
        <br />
        <div>
            <span class="text-green">Inverted, Rounded, Bordered, Green Pagination</span>
        </div>
        <br />
        <div class="pagination inverted bordered rounded green">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt!-- Rounded, Bordered, Default Pagination --&gt
&ltdiv class="pagination rounded bordered"&gt
    &lta href="#"&gt&laquo;&lt/a&gt
    &lta href="#"&gt1&lt/a&gt
    &lta class="active" href="#"&gt2&lt/a&gt
    &lta href="#"&gt3&lt/a&gt
    &lta href="#"&gt&raquo;&lt/a&gt
&lt/div&gt


&lt!-- Inverted, Bordered, Red Pagination --&gt
&ltdiv class="pagination inverted bordered red"&gt
    &lta href="#"&gt&laquo;&lt/a&gt
    &lta href="#"&gt1&lt/a&gt
    &lta class="active" href="#"&gt2&lt/a&gt
    &lta href="#"&gt3&lt/a&gt
    &lta href="#"&gt&raquo;&lt/a&gt
&lt/div&gt

&lt!-- Inverted, Rounded, Bordered, Green Pagination --&gt

&ltdiv class="pagination inverted bordered rounded green"&gt
    &lta href="#"&gt&laquo;&lt/a&gt
    &lta href="#"&gt1&lt/a&gt
    &lta class="active" href="#"&gt2&lt/a&gt
    &lta href="#"&gt3&lt/a&gt
    &lta href="#"&gt&raquo;&lt/a&gt
&lt/div&gt</code></pre>
        </div>
    </div>
</div>
