<div class="row">
    <div class="col xs-12">
        <h4 class="header">Inverted</h4>
        <h6 class="subheader thin no-margin">Pagination can have an inverted look (try hovering!)</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="pagination inverted">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
        <div class="pagination inverted red">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
        <div class="pagination inverted orange">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
        <div class="pagination inverted yellow">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
        <div class="pagination inverted green">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
        <div class="pagination inverted teal">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
        <div class="pagination inverted blue">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
        <div class="pagination inverted indigo">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
        <div class="pagination inverted purple">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
        <div class="pagination inverted pink">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltdiv class="pagination inverted green"&gt
    &lta href="#"&gt &laquo; &lt/a&gt
    &lta href="#"&gt 1 &lt/a&gt
    &lta class="active" href="#"&gt 2 &lt/a&gt
    &lta href="#"&gt 3 &lt/a&gt
    &lta href="#"&gt &raquo; &lt/a&gt
&lt/div&gt</code></pre>
        </div>
    </div>
</div>
