<div class="row">
    <div class="col xs-12">
        <h4 class="header">Rounded</h4>
        <h6 class="subheader thin no-margin">Pagination can have a rounded look</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="pagination rounded">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
        <div class="pagination rounded red">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
        <div class="pagination rounded orange">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
        <div class="pagination rounded yellow">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
        <div class="pagination rounded green">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
        <div class="pagination rounded teal">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
        <div class="pagination rounded blue">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
        <div class="pagination rounded indigo">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
        <div class="pagination rounded purple">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
        <div class="pagination rounded pink">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltdiv class="pagination rounded green"&gt
    &lta href="#"&gt &laquo; &lt/a&gt
    &lta href="#"&gt 1 &lt/a&gt
    &lta class="active" href="#"&gt 2 &lt/a&gt
    &lta href="#"&gt 3 &lt/a&gt
    &lta href="#"&gt &raquo; &lt/a&gt
&lt/div&gt</code></pre>
        </div>
    </div>
</div>
