<div class="row">
    <div class="col xs-12">
        <h1 class="header">Animations</h1>
        <h5 class="subheader thin no-margin">Use our <code class="inline">.hover-{effect}</code> classes to add an on-hover effect to your elements.</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
      <div>
        <button class="hover-grow red">Grow</button>
        <button class="orange hover-shrink">Shrink</button>
        <button class="yellow hover-float">Float</button>
        <button class="green hover-sink">Sink</button>
        <button class="blue hover-pulse">Pulse</button>
        <button class="indigo hover-hop">Hop</button>
        <button class="purple hover-bob">Bob</button>
      </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt;button class="red hover-grow"&gt;Grow&lt;/button&gt;
&lt;button class="orange hover-shrink"&gt;Shrink&lt;/button&gt;
&lt;button class="yellow hover-float"&gt;Float&lt;/button&gt;
&lt;button class="green hover-sink"&gt;Sink&lt;/button&gt;
&lt;button class="blue hover-pulse"&gt;Pulse&lt;/button&gt;
&lt;button class="indigo hover-bob"&gt;Bob&lt;/button&gt;
&lt;button class="purple hover-hang"&gt;Hang&lt;/button&gt;</code></pre>
        </div>
    </div>
</div>