<div class="row">
    <div class="col xs-12">
        <h1 class="header">Animations</h1>
        <h5 class="subheader thin no-margin">Use our <code class="inline">.hover-{effect}</code> classes to add an on-hover effect to your elements.</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
      <div>
        <button class="hover-grow red">Grow</button>
        <button class="orange hover-shrink">Shrink</button>
        <button class="yellow hover-float">Float</button>
        <button class="green hover-sink">Sink</button>
        <button class="blue hover-pulse">Pulse</button>
        <button class="indigo hover-hop">Hop</button>
        <button class="purple hover-bob">Bob</button>
      </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltbutton class="red hover-grow"&gtGrow&lt/button&gt
&ltbutton class="orange hover-shrink"&gtShrink&lt/button&gt
&ltbutton class="yellow hover-float"&gtFloat&lt/button&gt
&ltbutton class="green hover-sink"&gtSink&lt/button&gt
&ltbutton class="blue hover-pulse"&gtPulse&lt/button&gt
&ltbutton class="indigo hover-bob"&gtBob&lt/button&gt
&ltbutton class="purple hover-hang"&gtHang&lt/button&gt</code></pre>
        </div>
    </div>
</div>