<div class="row">
    <div class="col xs-12">
        <h1 class="header">Animations</h1>
        <h5 class="subheader thin no-margin">Add a <code class="inline">.hover-{EFFECT}</code> class to an element to easily give it an animation on hover.</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
      <div>
        <button class="hover-grow red mv-1">Grow</button>
        <button class="orange hover-shrink mv-1">Shrink</button>
        <button class="yellow hover-float mv-1">Float</button>
        <button class="green hover-sink mv-1">Sink</button>
        <button class="blue hover-pulse mv-1">Pulse</button>
        <button class="indigo hover-hop mv-1">Hop</button>
        <button class="purple hover-bob mv-1">Bob</button>
      </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;button class="red hover-grow"&gt;Grow&lt;/button&gt;
&lt;button class="orange hover-shrink"&gt;Shrink&lt;/button&gt;
&lt;button class="yellow hover-float"&gt;Float&lt;/button&gt;
&lt;button class="green hover-sink"&gt;Sink&lt;/button&gt;
&lt;button class="blue hover-pulse"&gt;Pulse&lt;/button&gt;
&lt;button class="indigo hover-bob"&gt;Bob&lt;/button&gt;
&lt;button class="purple hover-hang"&gt;Hang&lt;/button&gt;</code></pre>
        </div>
    </div>
</div>