<div class="row">
    <div class="col xs-12">
        <h4 class="header">Fixed</h4>
        <h6 class="subheader thin">Add the <code class="inline">.fixed</code> class to the navbar to make it fixed to the top of the page.</h6>
        <div class="message orange m-0">
            <div class="message-header">
                <p>Tip</p>
            </div>
            <div class="message-body">
                <p>A fixed navbar sits on top of the normal page content. Be sure to account for this!</p>
            </div>
        </div> 
    </div>
    <div class="col xs-12 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;nav class="navbar fixed"&gt;
    &lt;a href=# class="navbar-brand"&gt;boba&lt;/a&gt;
    &lt;input class="navbar-menu-target" type="checkbox" id="example-fixed" /&gt;
    &lt;label class="navbar-menu-toggle" for="example-fixed"&gt;&lt;span class="navbar-icon"&gt;&lt;/span&gt;&lt;/label&gt;
    &lt;ul class="navbar-menu-items"&gt;
        &lt;li&gt;
            &lt;a href=#&gt;&lt;span&gt;Category&lt;/span&gt;&lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a href=#&gt;&lt;span&gt;Category&lt;/span&gt;&lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a href=#&gt;&lt;span&gt;Category&lt;/span&gt;&lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/nav&gt;</code></pre>
        </div>
    </div>
</div>