<div class="row">
    <div class="col xs-12">
        <h4 class="header">Sticky</h4>
        <h6 class="subheader thin">Add the <code class="inline">.sticky</code> class to the navbar to make it stick to the top of the page.</h6>
        <div class="message blue m-0">
            <div class="message-header">
                <p>Clarification</p>
            </div>
            <div class="message-body">
                <p>The navbar will be treated as <code class="inline">position: relative;</code> until the user scrolls down the page at which point it will behave as <code class="inline">position: fixed;</code>.</p>
            </div>
        </div> 
    </div>
    <div class="col xs-12 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;nav class="navbar sticky"&gt;
    &lt;a href="#" class="navbar-brand"&gt;boba&lt;/a&gt;
    &lt;input class="navbar-menu-target" type="checkbox" id="example-sticky" /&gt;
    &lt;label class="navbar-menu-toggle" for="example-sticky"&gt;&lt;span class="navbar-icon"&gt;&lt;/span&gt;&lt;/label&gt;
    &lt;ul class="navbar-menu-items"&gt;
        &lt;li&gt;
            &lt;a href="#"&gt;&lt;span&gt;Category&lt;/span&gt;&lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a href="#"&gt;&lt;span&gt;Category&lt;/span&gt;&lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a href="#"&gt;&lt;span&gt;Category&lt;/span&gt;&lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/nav&gt;</code></pre>
        </div>
    </div>
</div>