<div class="w-100 p-4 border-box bg-tint-dark">
	<div class="container p-3 border-box">
	    <div class="row">
	        <div class="col xs-12 md-6">
		        <div class="message orange m-0">
				    <div class="message-header">
				        <p>What is boba?</p>
				    </div>
				    <div class="message-body">
                        <p>
                            Boba was born out of a frustration with other CSS design frameworks and seeks to create a balance between both completeness and minimalism. In fact, as a testament to goal, our entire website, including our documentation, is built entirely using boba's built-in classes.
                        </p>
                        <p>
                           It's also a delicious drink. Highly recommend. 
                        </p>
				    </div>
				</div>
		    </div>
	        <div class="col xs-12 md-6">
		        <div class="message orange m-0">
				    <div class="message-header">
				        <p>Is boba for you?</p>
				    </div>
				    <div class="message-body">
				        <p>
				        	Be it a smaller project or production-scale website, boba has all of the utilities and components that you need to get started quickly and efficiently. As a CSS-only framework, boba requires no JavaScript and is thus the perfect way to quickly enhance the design language of any application. 
                        </p>
                        <p>
                            Long story short, of course it is!
                        </p>
				    </div>
				</div>
		    </div>
	    </div>
	</div>
</div>
