<div class="w-100 p-4 border-box bg-purple">
	<div class="container p-3 border-box">
	    <div class="row">
	        <div class="col xs-12">
		        <div class="message orange m-0">
				    <div class="message-header">
				        <p>Is boba for you?</p>
				    </div>
				    <div class="message-body">
				        <p>Of course it is!</p>
				        <br />
				        <p>
				        	Be it a smaller project or production-scale website, boba has all of the utilities and components that you need to get started quickly and efficiently. In fact, this entire website, including our documentation, is built entirely using boba's built-in classes.
				        </p>
				    </div>
				</div>
		    </div>
	    </div>
	</div>
</div>