<div class="banner large bg-indigo">
    <div class="banner-body text-center">
        <div class="container">
            <h1 class="header text-white">Welcome to boba!</h1>
            <h4 class="subheader thin text-white">The bubbliest CSS framework.</h4>
            <div class="display-flex justify-content-center flex-wrap p-1">
                <a href="/docs/" class="button">Docs</a>
                <a href="/docs/installation.html" class="button">Download</a>
            	<a href="https://github.com/iFallUpHill/boba" class="button" target="_blank">Github</a>
            </div>
            <div class="display-flex justify-content-center flex-wrap">
                <span class="label orange">Current Version: {{ version_number }}</span>
            </div>
        </div>
    </div>
</div>