<div class="w-100 p-4 border-box bg-pink lighten-bg-1">
    <div class="container">
        <div class="row">
            <div class="col xs-12 sm-6 md-4">
                <div class="p-3 text-white">
                    <h3 class="text-white">Lightweight</h3>
                    <p>As lightweight as an empty cup of boba!<br />Just ~9KB gzipped.</p>
                    <p><a href="/docs/customize.html" class="text-white text-hover-indigo text-active-indigo darken-text-active-1">Learn More</a></p>
                </div>
            </div>
            <div class="col xs-12 sm-6 md-4">
                <div class="p-3 text-white">
                    <h3 class="text-white">Modular</h3>
                    <p>Pick and choose the components you want.<br />No pearls? No problem.</p>
                    <p><a href="/docs/customize.html" class="text-white text-hover-indigo text-active-indigo darken-text-active-1">Learn More</a></p>
                </div>
            </div>
            <div class="col xs-12 sm-6 md-4">
                <div class="p-3 text-white">
                    <h3 class="text-white">Semantic</h3>
                    <p>Intuitive class names for rapid development.<br />Less sugar, more ice!</p>
                    <p><a href="/docs/" class="text-white text-hover-indigo text-active-indigo darken-text-active-1">Learn More</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
