<div class="w-100 p-4 border-box bg-indigo">
	<div class="container">
	    <div class="row">
	        <div class="col xs-12 md-4">
	            <div class="card">
	                <div class="card-header borderless">
	                    <div class="card-header-title">
	                        Lightweight
	                    </div>
	                </div>
	                <div class="card-content">
	                    <p>
	                    	As lightweight as an empty cup of boba! 
	                    </p>
	                    <p>
	                    	Just ~8KB gzipped.
	                    </p>
	                </div>
	                <div class="card-footer align-items-left">
	                    <div class="card-footer-item">
							<a href="/docs/customize.html">Learn More</a>
						</div>
                    </div>	
	            </div>
	        </div>
	        <div class="col xs-12 md-4">
	            <div class="card">
	                <div class="card-header borderless">
	                    <div class="card-header-title">
	                        Modular
	                    </div>
	                </div>
	                <div class="card-content">
	                    <p>
	                    	Pick and choose the components you want.
	                    </p>
	                    <p>
	                    	No pearls? No problem.
	                    </p>
	                </div>
	                <div class="card-footer align-items-left">
	                    <div class="card-footer-item">
							<a href="/docs/customize.html">Learn More</a>
						</div>
                    </div>
	            </div>
	        </div>
	        <div class="col xs-12 md-4">
	            <div class="card">
	                <div class="card-header borderless">
	                    <div class="card-header-title">
	                        Semantic
	                    </div>
	                </div>
	                <div class="card-content">
						<p>
	                    	Intuitive class names for rapid development.
	                    </p>
	                    <p>
	                    	Less sugar, more ice!
	                    </p>
	                </div>
	                <div class="card-footer align-items-left">
	                    <div class="card-footer-item">
							<a href="/docs/customize.html">Learn More</a>
						</div>
                    </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>