<div class="banner bg-yellow darken-bg-2">
    <div class="banner-body text-center">
        <div class="container p-3 border-box">
            <h1 class="header text-white">Showcase</h1>
            <h5 class="subheader thin text-white mb-2">See what others are building with boba!</h5>
            <div class="row">
            	{% for site in showcaseSites %}
            	<div class="col xs-12 md-6 lg-4">
            		<a href="{{site.url}}" class="text-hover-orange">
            			<div class="card mb-0 border-none">
						    <div class="card-image">
						        <img src="./showcase/{{ site.screenshotName }}.jpg" alt="{{ site.name }}">
						    </div>
						    <div class="card-content">
	            				<h4>{{ site.name }}</h4>
						    </div>
						</div>
            		</a>
            	</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
