<div class="banner medium bg-blue">
    <div class="banner-body text-center">
        <div class="container">
            <h1 class="header text-white">Showcase</h1>
            <h5 class="subheader thin text-white">See what others are building with boba!</h5>
            <h6 class="thin text-white">Coming Soon!</h6>
        </div>
    </div>
</div>