<div class="w-100 p-4 border-box bg-indigo">
    <div class="container p-3 border-box">
        <div class="row">
            <div class="col xs-12">
                <h1 class="header text-white">Versions</h1>
                <h5 class="subheader thin text-white">Learn more about the three flavors of boba available.</h5>
            </div>
            <div class="col xs-12 md-4 col-top">
                <div class="message m-0">
                    <div class="message-header">
                        <p><span class="bold">boba-lite</span> (~10 KB gzip)</p>
                    </div>
                    <div class="message-body">
                        <p>The most basic version of boba.</p>
                        <p>Components do not have colored variations and no color utilities are included.</p>
                        <p>This version lets you use boba without the added bloat of our colors and color-helpers.</p>
                    </div>
                </div>
            </div>
            <div class="col xs-12 md-4 col-top">
                <div class="message blue m-0">
                    <div class="message-header">
                        <p><span class="bold">boba</span> (~22 KB gzip)</p>
                    </div>
                    <div class="message-body">
                        <p>The original version of boba.</p>
                        <p>Components have color variations and basic color utilities are included.</p>
                        <p>This version lets you use boba with our color palette as we envisioned it.</p>
                    </div>
                </div>
            </div>
            <div class="col xs-12 md-4 col-top">
                <div class="message pink m-0">
                    <div class="message-header">
                        <p><span class="bold">boba-extended</span> (~27 KB gzip)</p>
                    </div>
                    <div class="message-body">
                        <p>The most complete version of boba.</p>
                        <p>Components have color variations and all color utilities are included.</p>
                        <p>This version provides the most built-in flexibility when using boba's color palette.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
