<div class="row">
    <div class="col xs-12">
        <h1 class="header">Descriptions</h1>
        <h5 class="subheader thin">Semantically group related terms and details using description lists.</h5>
        <div class="message blue">
            <div class="message-header">
                <p>Clarification</p>
            </div>
            <div class="message-body">
                <p>The <span class="bold">description list</span> tag, <code class="inline">dl</code>, is used to define a definition list.</p>
                <p>Add a <span class="bold">description term</span> tag, <code class="inline">dt</code>, to represent a term to be defined.</p>
                <p>Use the <span class="bold">description details</span> tag, <code class="inline">dd</code>, after a <i>description term </i> to describe it. Note that a single definition may be used for multiple terms.</p>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <dl>
            <dt>Description Term 1</dt>
            <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
            <dt>Description Term 2</dt>
            <dt>Description Term 3</dt>
            <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
            <dt>Description Term 4</dt>
            <dt>Description Term 5</dt>
            <dt>Description Term 6</dt>
            <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
        </dl>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;button class="green"&gt; Green &lt;/button&gt;</code></pre>
        </div>
    </div>
</div>
