<div class="row">
    <div class="col xs-12">
        <h1 class="header">Styles</h1>
        <h5 class="subheader thin no-margin">Effortlessly change the look of your descriptions using these classes.</h5>
    </div>
</div>

<hr class="light" />
{% include "templates/docs/descriptions/styles/indented.njk" %}

<hr class="light" />
{% include "templates/docs/descriptions/styles/dividers.njk" %}

<hr class="light" />
{% include "templates/docs/descriptions/styles/combinations.njk" %}
