<div class="row">
    <div class="col xs-12">
        <h1 class="header">Images</h1>
        <h5 class="subheader thin no-margin">A set of helper classes to make working with images a breeze.</h5>                        
    </div>
</div>