<div class="row">
    <div class="col xs-12">
        <h1 class="header">Responsive</h1>
        <h5 class="subheader thin no-margin">Add the <code class="inline">.img-responsive</code> class to an image to make it automatically fit and scale within its parent container.</h5>
        <h6 class="subheader thin no-margin">(Try resizing the page!)</h6>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <img class="img-responsive" src="http://placehold.it/200x100" alt="Image">
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;img class="img-responsive" src="http://placehold.it/200x100" alt="Image"&gt;</code></pre>
        </div>
    </div>
</div>
