<div class="row">
    <div class="col xs-12">
        <h1 class="header">Responsive</h1>
        <h5 class="subheader thin no-margin">Add the <code class="inline">.img-responsive</code> class to an image to make it automatically fit and scale within its parent container.</h5>
        <h5 class="subheader thin no-margin">(Try resizing the page!)</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=200%C3%97100&w=200&h=100" alt="Image" class="img-responsive">
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt;img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=200%C3%97100&w=200&h=100" alt="Image" class="img-responsive"&gt;</code></pre>
        </div>
    </div>
</div>
