<div class="row">
    <div class="col xs-12">
            <h1 class="header">Body-Only</h1>
            <h5 class="subheader thin no-margin">Messages can be used without a header</h5>
            <h6 class="subheader thin no-margin">(If you're using messages in this way, consider using <a href="./notifications.html" class="text-blue">notifications</a> instead!)</h6>
        </div>
        <div class="col xs-12 md-6 col-middle">
            <div class="message">
                <div class="message-body">
                    <p>I'm a header-less message!</p>
                </div>
            </div>
        </div>
        <div class="col xs-12 md-6 col-middle">
            <div class="code-block">
                <pre class="code"><code data-lang="html">&lt;div class="message"&gt;
    &lt;div class="message-body"&gt;
        &lt;p&gt;I'm a header-less message!&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>