<div class="row">
    <div class="col xs-12">
        <h1 class="header">Messages</h1>
        <h5 class="subheader thin no-margin">Messages come in all colors</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="message">
            <div class="message-header">
                <p>Default Message</p>
            </div>
            <div class="message-body">
                <p>This is the default style if no styling is applied.</p>
            </div>
        </div>
        {% for color in global_color_list_core %}
        <div class="message {{ color }}">
            <div class="message-header">
                <p>{{ color | capitalize }} Message</p>
            </div>
            <div class="message-body">
                <p>Add a <code>.{{ color }}</code> class.</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltdiv class="message green"&gt
    &ltdiv class="message-header"&gt
        &ltp&gtGreen Message&lt/p&gt
    &lt/div&gt
    &ltdiv class="message-body"&gt
        &ltp&gtAdd a &ltcode&gt.green&lt/code&gt class&lt/p&gt
    &lt/div&gt
&lt/div&gt</code></pre>
        </div>
    </div>
</div>