<div class="row">
    <div class="col xs-12">
        <h1 class="header">Messages</h1>
        <h5 class="subheader thin no-margin">Messages come in all colors</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="message">
            <div class="message-header">
                <p>Default Message</p>
            </div>
            <div class="message-body">
                <p>This is the default style if no styling is applied.</p>
            </div>
        </div>
        <div class="message red">
            <div class="message-header">
                <p>Red Message</p>
            </div>
            <div class="message-body">
                <p>Add a <code>.red</code> class.</p>
            </div>
        </div>
        <div class="message orange">
            <div class="message-header">
                <p>Orange Message</p>
            </div>
            <div class="message-body">
                <p>Add an <code>.orange</code> class.</p>
            </div>
        </div>
        <div class="message yellow">
            <div class="message-header">
                <p>Yellow Message</p>
            </div>
            <div class="message-body">
                <p>Add a <code>.yellow</code> class.</p>
            </div>
        </div>
        <div class="message green">
            <div class="message-header">
                <p>Green Message</p>
            </div>
            <div class="message-body">
                <p>Add a <code>.green</code> class.</p>
            </div>
        </div>
        <div class="message teal">
            <div class="message-header">
                <p>Teal Message</p>
            </div>
            <div class="message-body">
                <p>Add a <code>.teal</code> class.</p>
            </div>
        </div>
        <div class="message blue">
            <div class="message-header">
                <p>Blue Message</p>
            </div>
            <div class="message-body">
                <p>Add a <code>.blue</code> class.</p>
            </div>
        </div>
        <div class="message indigo">
            <div class="message-header">
                <p>Indigo Message</p>
            </div>
            <div class="message-body">
                <p>Add an <code>.indigo</code> class.</p>
            </div>
        </div>
        <div class="message purple">
            <div class="message-header">
                <p>Purple Message</p>
            </div>
            <div class="message-body">
                <p>Add a <code>.purple</code> class.</p>
            </div>
        </div>
        <div class="message pink">
            <div class="message-header">
                <p>Pink Message</p>
            </div>
            <div class="message-body">
                <p>Add a <code>.pink</code> class.</p>
            </div>
        </div>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltdiv class="message green"&gt
    &ltdiv class="message-header"&gt
        &ltp&gtGreen Message&lt/p&gt
    &lt/div&gt
    &ltdiv class="message-body"&gt
        &ltp&gtAdd a &ltcode&gt.green&lt/code&gt class&lt/p&gt
    &lt/div&gt
&lt/div&gt</code></pre>
        </div>
    </div>
</div>