<div class="row">
    <div class="col xs-12">
        <h1 class="header">Messages</h1>
        <h5 class="subheader thin no-margin">Messages come in all of <a href="./colors.html">boba's colors</a>.</h5>
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="message">
            <div class="message-header">
                <p>Default Message</p>
            </div>
            <div class="message-body">
                <p>This is the default style if no styling is applied.</p>
            </div>
        </div>
        {% for color in global_color_list_core %}
        <div class="message {{ color }}">
            <div class="message-header">
                <p>{{ color | capitalize }} Message</p>
            </div>
            <div class="message-body">
                <p>This message uses the <code>.{{ color }}</code> class.</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col xs-12 md-6 col-middle">
        <div class="code-block">
            <pre class="code"><code class="language-html">&lt;div class="message green"&gt;
    &lt;div class="message-header"&gt;
        &lt;p&gt;Green Message&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class="message-body"&gt;
        &lt;p&gt;Add a &lt;code&gt;.green&lt;/code&gt; class&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>
    </div>
</div>