<div class="row">
    <div class="col xs-12">
        <h1 class="header">Styles</h1>
        <h5 class="subheader thin no-margin">Change the look of your messages with ease</h5>
    </div>
</div>

<hr class="light" />
{% include "templates/docs/messages/styles/bordered.njk" %}

