<div class="row">
    <div class="col xs-12">
        <h1 class="header">Alignment</h3>
        <h5 class="subheader thin no-margin">Nav menu items can be justified to the left by replacing <code class="inline">.right-menu</code> with <code class="inline">.left-menu</code></h5>
    </div>
    <div class="col xs-12 col-middle">
        <nav class="navbar">
            <a href=# class="logo">boba</a>
            <input class="menu-btn" type="checkbox" id="justify-nav" />
            <label class="menu-icon" for="justify-nav"><span class="navicon"></span></label>
            <ul class="left-menu">
                <li>
                    <a href=#><span>Category</span></a>
                </li>
                <li>
                    <a href=#><span>Category</span></a>
                </li>
                <li>
                    <a href=#><span>Category</span></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col xs-12 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltnav class="navbar"&gt
    &lta href=# class="logo"&gtboba&lt/a&gt
    &ltinput class="menu-btn" type="checkbox" id="justify-nav" /&gt
    &ltlabel class="menu-icon" for="justify-nav"&gt&ltspan class="navicon"&gt&lt/span&gt&lt/label&gt
    &ltul class="left-menu"&gt
        &ltli&gt
            &lta href=#&gt&ltspan&gtCategory&lt/span&gt&lt/a&gt
        &lt/li&gt
        &ltli&gt
            &lta href=#&gt&ltspan&gtCategory&lt/span&gt&lt/a&gt
        &lt/li&gt
        &ltli&gt
            &lta href=#&gt&ltspan&gtCategory&lt/span&gt&lt/a&gt
        &lt/li&gt
    &lt/ul&gt
&lt/nav&gt
&ltdiv class="below-fixed-nav"&gt
    Content Here!
&lt/div&gt</code></pre>
        </div>
    </div>
</div>