<div class="row">
    <div class="col xs-12">
        <h1 class="header">Alignment</h3>
        <h5 class="subheader thin no-margin">Navbar menu items can be justified to the right by adding the <code class="inline">.menu-items-right</code> class to the <code class="inline">.navbar-menu-items</code> element.</h5>
    </div>
    <div class="col xs-12 col-middle">
        <nav class="navbar">
            <a href=# class="navbar-brand">boba</a>
            <input class="navbar-menu-target" type="checkbox" id="example-justify" />
            <label class="navbar-menu-toggle" for="example-justify"><span class="navbar-icon"></span></label>
            <ul class="navbar-menu-items menu-items-right">
                <li>
                    <a href=#><span>Category</span></a>
                </li>
                <li>
                    <a href=#><span>Category</span></a>
                </li>
                <li>
                    <a href=#><span>Category</span></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col xs-12 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&lt;nav class="navbar"&gt;
    &lt;a href=# class="navbar-brand"&gt;boba&lt;/a&gt;
    &lt;input class="navbar-menu-target" type="checkbox" id="example-justify" /&gt;
    &lt;label class="navbar-menu-toggle" for="example-justify"&gt;&lt;span class="navbar-icon"&gt;&lt;/span&gt;&lt;/label&gt;
    &lt;ul class="navbar-menu-items menu-items-right"&gt;
        &lt;li&gt;
            &lt;a href=#&gt;&lt;span&gt;Category&lt;/span&gt;&lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a href=#&gt;&lt;span&gt;Category&lt;/span&gt;&lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a href=#&gt;&lt;span&gt;Category&lt;/span&gt;&lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/nav&gt;</code></pre>
        </div>
    </div>
</div>