<div class="row">
    <div class="col xs-12">
        <h1 class="header">Alignment</h1>
        <h5 class="subheader thin no-margin">Painlessly align menu items within the navbar.</h5>
    </div>
</div>

<hr class="light" />
{% include "templates/docs/navbar/alignment/right_aligned.njk" %}
<hr class="light" />
{% include "templates/docs/navbar/alignment/combinations.njk" %}
