<div class="row">
    <div class="col xs-12">
        <h1 class="header">Colors</h3>
        <h5 class="subheader thin no-margin">Navbars come in all colors</h6>
    </div>
    <div class="col xs-12 col-middle">
        <nav class="navbar red">
            <a href=# class="logo">boba</a>
            <input class="menu-btn" type="checkbox" id="red-nav" />
            <label class="menu-icon" for="red-nav"><span class="navicon"></span></label>
            <ul class="right-menu">
                <li>
                    <a href=#><span>Category</span></a>
                </li>
                <li>
                    <a href=#><span>Category</span></a>
                </li>
                <li>
                    <a href=#><span>Category</span></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col xs-12 col-middle">
        <nav class="navbar orange">
            <a href=# class="logo">boba</a>
            <input class="menu-btn" type="checkbox" id="orange-nav" />
            <label class="menu-icon" for="orange-nav"><span class="navicon"></span></label>
            <ul class="right-menu">
                <li>
                    <a href=#><span>Category</span></a>
                </li>
                <li>
                    <a href=#><span>Category</span></a>
                </li>
                <li>
                    <a href=#><span>Category</span></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col xs-12 col-middle">
        <nav class="navbar yellow">
            <a href=# class="logo">boba</a>
            <input class="menu-btn" type="checkbox" id="yellow-nav" />
            <label class="menu-icon" for="yellow-nav"><span class="navicon"></span></label>
            <ul class="right-menu">
                <li>
                    <a href=#><span>Category</span></a>
                </li>
                <li>
                    <a href=#><span>Category</span></a>
                </li>
                <li>
                    <a href=#><span>Category</span></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col xs-12 col-middle">
        <nav class="navbar green">
            <a href=# class="logo">boba</a>
            <input class="menu-btn" type="checkbox" id="green-nav" />
            <label class="menu-icon" for="green-nav"><span class="navicon"></span></label>
            <ul class="right-menu">
                <li>
                    <a href=#><span>Category</span></a>
                </li>
                <li>
                    <a href=#><span>Category</span></a>
                </li>
                <li>
                    <a href=#><span>Category</span></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col xs-12 col-middle">
        <nav class="navbar teal">
            <a href=# class="logo">boba</a>
            <input class="menu-btn" type="checkbox" id="teal-nav" />
            <label class="menu-icon" for="teal-nav"><span class="navicon"></span></label>
            <ul class="right-menu">
                <li>
                    <a href=#><span>Category</span></a>
                </li>
                <li>
                    <a href=#><span>Category</span></a>
                </li>
                <li>
                    <a href=#><span>Category</span></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col xs-12 col-middle">
        <nav class="navbar blue">
            <a href=# class="logo">boba</a>
            <input class="menu-btn" type="checkbox" id="blue-nav" />
            <label class="menu-icon" for="blue-nav"><span class="navicon"></span></label>
            <ul class="right-menu">
                <li>
                    <a href=#><span>Category</span></a>
                </li>
                <li>
                    <a href=#><span>Category</span></a>
                </li>
                <li>
                    <a href=#><span>Category</span></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col xs-12 col-middle">
        <nav class="navbar indigo">
            <a href=# class="logo">boba</a>
            <input class="menu-btn" type="checkbox" id="indigo-nav" />
            <label class="menu-icon" for="indigo-nav"><span class="navicon"></span></label>
            <ul class="right-menu">
                <li>
                    <a href=#><span>Category</span></a>
                </li>
                <li>
                    <a href=#><span>Category</span></a>
                </li>
                <li>
                    <a href=#><span>Category</span></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col xs-12 col-middle">
        <nav class="navbar purple">
            <a href=# class="logo">boba</a>
            <input class="menu-btn" type="checkbox" id="purple-nav" />
            <label class="menu-icon" for="purple-nav"><span class="navicon"></span></label>
            <ul class="right-menu">
                <li>
                    <a href=#><span>Category</span></a>
                </li>
                <li>
                    <a href=#><span>Category</span></a>
                </li>
                <li>
                    <a href=#><span>Category</span></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col xs-12 col-middle">
        <nav class="navbar pink">
            <a href=# class="logo">boba</a>
            <input class="menu-btn" type="checkbox" id="pink-nav" />
            <label class="menu-icon" for="pink-nav"><span class="navicon"></span></label>
            <ul class="right-menu">
                <li>
                    <a href=#><span>Category</span></a>
                </li>
                <li>
                    <a href=#><span>Category</span></a>
                </li>
                <li>
                    <a href=#><span>Category</span></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col xs-12 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltnav class="navbar green"&gt
    &lta href=# class="logo"&gtboba&lt/a&gt
    &ltinput class="menu-btn" type="checkbox" id="green-nav" /&gt
    &ltlabel class="menu-icon" for="green-nav"&gt&ltspan class="navicon"&gt&lt/span&gt&lt/label&gt
    &ltul class="right-menu"&gt
        &ltli&gt
            &lta href=#&gt&ltspan&gtCategory&lt/span&gt&lt/a&gt
        &lt/li&gt
        &ltli&gt
            &lta href=#&gt&ltspan&gtCategory&lt/span&gt&lt/a&gt
        &lt/li&gt
        &ltli&gt
            &lta href=#&gt&ltspan&gtCategory&lt/span&gt&lt/a&gt
        &lt/li&gt
    &lt/ul&gt
&lt/nav&gt</code></pre>
        </div>
    </div>
</div>