<div class="row">
    <div class="col xs-12">
        <h1 class="header">Colors</h3>
        <h5 class="subheader thin no-margin">Navbars come in all colors</h6>
    </div>
    {% for color in global_color_list_core %}
    <div class="col xs-12 col-middle">
        <nav class="navbar {{ color }}">
            <a href=# class="navbar-brand">boba</a>
            <input class="navbar-menu-target" type="checkbox" id="example-{{ color }}" />
            <label class="navbar-menu-toggle" for="example-{{ color }}"><span class="navbar-icon"></span></label>
            <ul class="navbar-menu-items menu-items-right">
                <li>
                    <a href=#><span>Category</span></a>
                </li>
                <li>
                    <a href=#><span>Category</span></a>
                </li>
                <li>
                    <a href=#><span>Category</span></a>
                </li>
            </ul>
        </nav>
    </div>           
    {% endfor %}
    <div class="col xs-12 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltnav class="navbar green"&gt
    &lta href=# class="navbar-brand"&gtboba&lt/a&gt
    &ltinput class="navbar-menu-target" type="checkbox" id="example-green" /&gt
    &ltlabel class="navbar-menu-toggle" for="example-green"&gt&ltspan class="navbar-icon"&gt&lt/span&gt&lt/label&gt
    &ltul class="navbar-menu-items menu-items-right"&gt
        &ltli&gt
            &lta href=#&gt&ltspan&gtCategory&lt/span&gt&lt/a&gt
        &lt/li&gt
        &ltli&gt
            &lta href=#&gt&ltspan&gtCategory&lt/span&gt&lt/a&gt
        &lt/li&gt
        &ltli&gt
            &lta href=#&gt&ltspan&gtCategory&lt/span&gt&lt/a&gt
        &lt/li&gt
    &lt/ul&gt
&lt/nav&gt</code></pre>
        </div>
    </div>
</div>