<div class="row">
    <div class="col xs-12">
        <h1 class="header">Fixed</h3>
        <h5 class="subheader thin no-margin">Add the<code class="inline">.fixed</code> class to the navbar to make it stick to the top</h6>
        <span>(Don't forget to add the <code class="inline">.below-fixed-nav</code> class to the element directly beneath the navbar to ensure proper spacing from the top of the page!)</span>
    </div>
    <div class="col xs-12 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltnav class="navbar fixed"&gt
    &lta href=# class="logo"&gtboba&lt/a&gt
    &ltinput class="menu-btn" type="checkbox" id="example" /&gt
    &ltlabel class="menu-icon" for="example"&gt&ltspan class="navicon"&gt&lt/span&gt&lt/label&gt
    &ltul class="right-menu"&gt
        &ltli&gt
            &lta href=#&gt&ltspan&gtCategory&lt/span&gt&lt/a&gt
        &lt/li&gt
        &ltli&gt
            &lta href=#&gt&ltspan&gtCategory&lt/span&gt&lt/a&gt
        &lt/li&gt
        &ltli&gt
            &lta href=#&gt&ltspan&gtCategory&lt/span&gt&lt/a&gt
        &lt/li&gt
        &ltli&gt
            &lta href=#&gt&ltspan&gtCategory&lt/span&gt&lt/a&gt
        &lt/li&gt
        &ltli&gt
            &lta href=#&gt&ltspan&gtCategory&lt/span&gt&lt/a&gt
        &lt/li&gt
    &lt/ul&gt
&lt/nav&gt
&ltdiv class="below-fixed-nav"&gt
    Content Here!
&lt/div&gt</code></pre>
        </div>
    </div>
</div>