<div class="row">
    <div class="col xs-12">
        <h1 class="header">Navbar</h1>
        <h5 class="subheader thin no-margin">A purely css, responsive navbar</h5>
    </div>
    <div class="col xs-12 col-middle">
        <nav class="navbar">
            <a href=# class="logo">boba</a>
            <input class="menu-btn" type="checkbox" id="example-nav" />
            <label class="menu-icon" for="example-nav"><span class="navicon"></span></label>
            <ul class="right-menu">
                <li>
                    <a href=#><span>Category</span></a>
                </li>
                <li>
                    <a href=#><span>Category</span></a>
                </li>
                <li>
                    <a href=#><span>Category</span></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col xs-12 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltnav class="navbar"&gt
    &lta href=# class="logo"&gtboba&lt/a&gt
    &ltinput class="menu-btn" type="checkbox" id="example-nav" /&gt
    &ltlabel class="menu-icon" for="example-nav"&gt&ltspan class="navicon"&gt&lt/span&gt&lt/label&gt
    &ltul class="right-menu"&gt
        &ltli&gt
            &lta href=#&gt&ltspan&gtCategory&lt/span&gt&lt/a&gt
        &lt/li&gt
        &ltli&gt
            &lta href=#&gt&ltspan&gtCategory&lt/span&gt&lt/a&gt
        &lt/li&gt
        &ltli&gt
            &lta href=#&gt&ltspan&gtCategory&lt/span&gt&lt/a&gt
        &lt/li&gt
    &lt/ul&gt
&lt/nav&gt</code></pre>
        </div>
    </div>
</div>