<div class="row">
    <div class="col xs-12">
        <h1 class="header">Sticky</h3>
        <h5 class="subheader thin no-margin">Add the <code class="inline">.sticky</code> class to the navbar to make it stick to the top of the page.</h6>
    </div>
    <div class="col xs-12 col-middle">
        <div class="code-block">
            <pre class="code"><code data-lang="html">&ltnav class="navbar sticky"&gt
    &lta href=# class="logo"&gtboba&lt/a&gt
    &ltinput class="menu-btn" type="checkbox" id="sticky-nav" /&gt
    &ltlabel class="menu-icon" for="sticky-nav"&gt&ltspan class="navicon"&gt&lt/span&gt&lt/label&gt
    &ltul class="right-menu"&gt
        &ltli&gt
            &lta href=#&gt&ltspan&gtCategory&lt/span&gt&lt/a&gt
        &lt/li&gt
        &ltli&gt
            &lta href=#&gt&ltspan&gtCategory&lt/span&gt&lt/a&gt
        &lt/li&gt
        &ltli&gt
            &lta href=#&gt&ltspan&gtCategory&lt/span&gt&lt/a&gt
        &lt/li&gt
    &lt/ul&gt
&lt/nav&gt</code></pre>
        </div>
    </div>
</div>