@import 'constants';
@import 'styling';

.accordion-menu {
    > input {
        clip: rect(1px, 1px, 1px, 1px);
        position: absolute !important;

        &:focus + .accordion-header {
            outline: -webkit-focus-ring-color auto 5px; 
            
            @-moz-document url-prefix() { 
                outline: #ffffff dotted 1px;
            }
        }
    }

	> input:checked ~ {
        & .accordion-body {
			max-height: $accordion-menu-max-height;
		}
	}

	.accordion-header {
		@include accordion-menu-header-base;
	}

	.accordion-body {
		@include accordion-menu-body-base;
	}

    .accordion-menu {
        .accordion-header {
            margin-bottom: 0;
            padding: 0;
        }

        .accordion-body {
            margin-bottom: 0;

            ul {
                &.accordion-submenu {
                    margin-top: 0.5em;
                    margin-bottom: 0;

                    li {
                        &:last-child, &:only-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
