$accordion-menu-max-height: 30em;
$accordion-menu-default-vpadding: 0.2em;
$accordion-menu-default-hpadding: 0.3em;
$accordion-menu-header-default-margin: 0.2em;
$accordion-submenu-default-vpadding: 0.2em;
$accordion-submenu-default-hpadding: 1.4em;
$accordion-submenu-default-margin: 0em;