$accordion-menu-max-height: 30em;
$accordion-menu-default-vpadding: 0.25em;
$accordion-menu-default-hpadding: 0.25em;
$accordion-menu-header-default-margin: 0.25em;
$accordion-submenu-item-padding: 0.4em 0 0.1em;
$accordion-submenu-outer-hpadding: 1.25em;
$accordion-submenu-default-body-padding: 0.25em;
$accordion-submenu-default-margin: 0em;
$accordion-submenu-item-default-margin: 0.25em;
