@import 'constants';

@mixin accordion-menu-header-base {
	display: inline-block;
	padding: $accordion-menu-default-vpadding $accordion-menu-default-hpadding $accordion-menu-default-vpadding 0;
	cursor: pointer;
	margin-bottom: $accordion-menu-header-default-margin;
}

@mixin accordion-menu-body-base {
	margin-bottom: $accordion-menu-header-default-margin;
	overflow: hidden;
	max-height: 0;
	transition: max-height .3s ease-in-out;

	ul {
		&.accordion-submenu {
            margin-top: 0;
			margin-bottom: $accordion-submenu-default-margin;
			padding-left: $accordion-submenu-outer-hpadding;			
			list-style: none;

			li {
				padding: $accordion-submenu-item-vpadding $accordion-submenu-item-hpadding;
				cursor: pointer;
				margin: 0 0 $accordion-submenu-item-default-margin;
			}
		}
	}
}
